[2019-08-27 14:35] #706 closed

[2019-08-28 05:07] regahawlery opened #1017 "Regahawlery"
Regahawlery **here

- [ ] Thanks** for reporting an issue, to help us file this efficiently we made this

template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our
sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about ho

[2019-08-28 17:30] kgodey opened #1018 "Update issue template for cc.org"
- Improve template.
- Remove tagging individual people.

[2019-08-28 19:23] ericsteuer opened #1019 "Storing large files for download"
Hi, we want to create a page where we would offer high quality file downloads of things like the art that was created for the 2019 summit, so that people can download and use it to make new things, print their own stuff, etc. Seems like the file size limit on cc.org is pretty small -- where should we host larger stuff that we would make available to the public for download?

[2019-08-29 00:05] hugosolar opened #1021 "Remove optimizely script"

[2019-08-29 13:51] #305 closed

[2019-08-29 14:37] sarahpearson opened #1022 "Update references to CC0 URI to https for consistency"
**Describe the bug**
Someone reported through Freshdesk that there are inconsistencies in how CC lists the URI for CC0. Sometimes it is http and sometimes https. They found this confusing.

**To Reproduce**
For example, the cc0 chooser (https://creativecommons.org/choose/zero/) shows the URI as "http://creativecommons.org/publicdomain/zero/1.0/" but the preview version of it shows the https-URI as

[2019-08-29 16:44] #1021 closed

[2019-08-30 13:02] ericsteuer opened #1023 ""Related News" module on cc.org displays a strange line break"
For instance at the bottom of https://creativecommons.org/about/bassel-khartabil-fellowships-memorial-fund/

"RELATE
D NEWS"

<img width="953" alt="Screen Shot 2019-08-30 at 6 01 27 AM" src="https://user-images.githubusercontent.com/8919762/64022777-c7d10380-caeb-11e9-8871-2b61a8ae9682.png">

[2019-08-30 14:01] hugosolar commented on #1023
There was a problem with our new self hosted fonts paths.
It's fixed now

[2019-08-30 14:01] #1023 closed

[2019-08-30 15:29] #300 closed

[2019-09-03 16:52] kgodey commented on #1018
No longer relevant.

[2019-09-03 16:52] #1018 closed

[2019-09-05 05:12] bryan21Lee commented on #1019
I want my shit fixed back to factory. None of this BS to get my info and I want a name of who did this or where the info was going.

[2019-09-16 17:29] ericsteuer opened #1025 "Word breaks / line breaks in blog post titles"
A really annoying thing about the CC blog is that words in post titles often break in the middle

Here's an example:
https://creativecommons.org/2019/09/04/creative-commons-for-educators-and-librarians/

Here's another:
https://creativecommons.org/2019/09/05/welcome-creative-commons-team/

Sometimes I force a line break by adding a break tag, but it feels like this isn't a thing that typically hap

[2019-09-20 02:51] #1004 closed

[2019-09-20 04:09] marianagvalente commented on #1004
Thanks!

Em qui, 19 de set de 2019 às 23:51, Timid Robot Zehta <
notifications@github.com> escreveu:

--
__________________________________
Mariana Giorgetti Valente
www.internetlab.org.br

[2019-09-20 13:55] TimidRobot opened #1026 "Need lightweight self-contained HTML error pages"
## Issue Description

We need lightweight self-contained HTML error pages that use the Creative Commons brand.
- should use CC [vo·cab·u·lar·y](https://opensource.creativecommons.org/cc-vocabulary/)
- should be simple and informative
- must be completely self-contained (all assets inlined)
- must be small (must not exceed 1.43MB)
- may provide instructions or next steps

For use on hosts:
- **403

[2019-09-20 16:38] ericsteuer opened #1027 "Update secondary menu in nav bar on license and chooser pages"
I made some updates to the "secondary menu" that runs across the nav bar on the site (added "Newsletter" and re-ordered/shortened the names of the other items:
<img width="475" alt="Screen Shot 2019-09-19 at 2 05 31 PM" src="https://user-images.githubusercontent.com/8919762/65343590-2ee15580-db8a-11e9-904c-04f9717b39a1.png">

@TimidRobot pointed out that these changes need to be made separately on

[2019-09-24 13:56] sarahpearson opened #1028 "Investigate italics in Section 2a5 of English legal code (version 4)"
**Describe the bug**
It appears that part of the 4.0 legal code (Section 2a5) in English is incorrectly appearing in italics. I'm not sure when or how this change occurred.

For example, see Section 2a5 of https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode. It appears to be the case in all six licenses.

**Screenshots**
I've attached a screenshot.
![Screen Shot 2019-09-24 at 8 47 51 AM](h

[2019-09-24 21:40] ericsteuer commented on #1027
Thank you. Is that something I would be able to update myself? I'm not understanding where/how to do that from reading the page linked to.

[2019-09-26 16:03] claudioruiz opened #1029 "Create a different template for guest authors"
We welcome guest authors to the CC blog. When there's a guest author, [this is the way it's displayed](https://creativecommons.org/author/spencerhyman/) if you look for the author's name in Google.

![image](https://user-images.githubusercontent.com/390030/65704738-7457c400-e05d-11e9-914b-b7a3c9ed590d.png)

That's confusing in 2 ways:

1. Just looking at that page, it's not clear for the audience

[2019-09-29 12:24] eroux opened #1030 "make canonical URIs more visible on the website"
It seems that the idea of using CC license URIs to refer to them is gaining ground as a (good) idea. See for instance the [rights](https://iiif.io/api/presentation/3.0/#rights) statements of IIIF Presentation API 3.0.

My concern is that because canonical URIs are not very explicit on the website and the RDF versions are not very obvious to find (which is normal), users might start to refer to lic

[2019-10-02 14:07] ifylala commented on #1025
I would be appreciate if this task is assigned to me so I fix it. I look forward to hearing from you.

[2019-10-02 14:46] hugosolar commented on #1025
Hey @ifylala go ahead if you like to work in this issue

[2019-10-02 15:06] ifylala commented on #1025
Thanks so much @hugosolar

[2019-10-04 14:19] FlaviaKebirungi opened #1031 "Spelling error on the "Contributing Code" page of the creative commons website"
**Describe the bug**
There is a spelling error on the "Contributing Code" Page on the creative commons website (https://opensource.creativecommons.org/contributing-code/)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://opensource.creativecommons.org'
2. Click on 'contributing code in the top menu'
3. Scroll down to 'section  titled "Proposing a new issue"'
4. See typing error

[2019-10-04 14:56] ericsteuer opened #1032 "Remove "Teach" from Education/OER Resources menu"
A page from a very old version of the CC site (https://creativecommons.org/about/program-areas/education-oer/education-oer-resources/teach/) got incorrectly nested under the current site's "Program areas > Education / OER > Education / OER Resources".

The page is no longer relevant, so I unpublished it. But the URL for it is now redirecting to this old blog post: https://creativecommons.org/2006/

[2019-10-05 07:38] alexiaOkarabi commented on #1026
Would love to work on this issue, please how do i go about it

[2019-10-07 21:44] kgodey commented on #1026
@alexiaOkarabi Please post whatever questions you have about the work here. We've posted the details that we think are relevant to the issue in the issue description but it's possible we've missed something – however we don't know what those are unless you ask us more detailed questions.

[2019-10-07 23:20] ericsteuer opened #1033 "cc.org/blog ordering of posts + displaying dates"
hi, re: https://creativecommons.org/blog/

blog posts on this page display in this order:
1 hero post
then 4 featured posts
then all posts, from most to least recent

the effect of this ordering has always struck me as odd. if you go to this page, i feel you would expect to see a more straightforward view, with the most recent news at the top. i understand having Hero and Featured hierarchy for ho

[2019-10-08 08:23] alexiaOkarabi commented on #1026
@kgodey okay ma. Please would love to know how to run the development environment for the site such that i can see the changes when i make them. Have cloned and read the readme file but cant find where it is written on how to run the dev environment.

[2019-10-08 14:22] ericsteuer opened #1034 "Image compression on CreativeCommons.org // Profile Pictures"
Hello, I am trying to update the Profile Photo for Bilal (before 2023-09-27: ~~https://creativecommons.org/author/bilalranderee/~~, as of 2023-09-27: https://creativecommons.org/person/bilalranderee/) because the way it currently displays is low-res / low quality / blurry

But no matter how high quality of a version of the image I upload, it downgrades/compresses it so that it looks crummy

Can we

[2019-10-08 14:29] ericsteuer opened #1035 "Remove "Articles by:" from Team/bio breadcrumbs"
Sorry if "breadcrumbs" isn't the right word for this

It would be good to remove "Articles by:" from each person's bio page (for example, in: Creative Commons > About CC > Team > Articles by: Hugo Solar" (see image attached)

Most people don't write Articles for the site, and so this is confusing/misleading. And even for people who do write posts for the site, it would be better for these to be pr

[2019-10-08 14:29] ericsteuer commented on #1035
cc @victoriaheath

[2019-10-08 16:52] kgodey commented on #1026
There is no development environment here, we want some static, standalone HTML pages independent of any other project. We put the issue in this repo because this is the repo in which we put all our general issues. it doesn't have to do with the code of this repository.

@TimidRobot, how do you want the code delivered?

[2019-10-08 17:01] alexiaOkarabi commented on #1026
@kgodey Okay thanks.

[2019-10-08 18:32] alexiaOkarabi commented on #1026
![404](https://user-images.githubusercontent.com/54441526/66422703-0c609080-ea02-11e9-8c80-723dbfdb8514.png)
@kgodey I have dis for the 404 error code. it weighs about 520kb.

[2019-10-08 19:42] alexiaOkarabi commented on #1026
![403](https://user-images.githubusercontent.com/54441526/66427409-c4df0200-ea0b-11e9-85f2-40414970b4d9.png)
I have also come up with this for 403 which is 3.3kb.

[2019-10-09 04:01] alexiaOkarabi commented on #1026
@TimidRobot  Okay

[2019-10-09 18:47] khyati18 commented on #1034
Hello, I am outreachy applicant.I can work on this issue ?

[2019-10-09 18:48] khyati18 commented on #1032
Can I work on this ?

[2019-10-09 22:32] kgodey commented on #1034
This issue is not marked "help wanted" and is not suitable for external contribution.

[2019-10-09 22:32] kgodey commented on #1032
This issue is not marked "help wanted" and is not suitable for external contribution.

[2019-10-10 03:32] sarahpearson commented on #1028
This looks correct to me. Let's make sure @peterspdx signs off since this is a change/correction to the English legal code.

[2019-10-11 00:28] kgodey commented on #1012
This also affects BY-ND, we got a report of it in Freshdesk. https://creativecommons.org/licenses/by-nd/3.0/de/

[2019-10-11 00:30] kgodey commented on #1007
Since we cannot reproduce this, I haven't received further reports, and we're redesigning this, I'm going to close this issue.

[2019-10-11 00:31] #1007 closed

[2019-10-11 00:58] kgodey commented on #1015
tagging @brenoferreira

[2019-10-11 06:55] 5ervant commented on #1015
Setting it as an inner HTML like the following will do the work:

    <div
      className="license"
      dangerouslySetInnerHTML={{
        __html: `
          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">{/* CHILD ELEMENT */}</a>.
        `
      }}
    />

[2019-10-11 06:55] #1015 closed

[2019-10-11 18:35] ericsteuer commented on #1025
FYI here's another example of this:

https://creativecommons.org/2019/10/11/robin-mckennas-gift-documentary-opens-today/

<img width="740" alt="Screen Shot 2019-10-11 at 11 32 14 AM" src="https://user-images.githubusercontent.com/8919762/66675779-e4984500-ec1a-11e9-9971-e73ac1934a13.png">

FWIW, this doesn't ever happen on the news/blog post main page (https://creativecommons.org/blog/)

thanks

[2019-10-11 18:40] ericsteuer opened #1036 "Photos for blog posts often get cropped in strange ways when featured"
The way that photos that accompany blog posts render when they show up as previews on either CC's homepage or on https://creativecommons.org/blog/ is often not ideal -- more often than not, the way they are automatically cropped cuts out heads or other critical parts of the image. Some examples attached
<img width="720" alt="Screen Shot 2019-10-11 at 11 35 30 AM" src="https://user-images.githubuse

[2019-10-13 12:50] ifylala commented on #1025
I tried this url but it didn't break.

[2019-10-13 14:51] alexiaOkarabi commented on #1026
@TimidRobot  please should I design pages for each of the 10XX errors?

[2019-10-13 16:11] alexiaOkarabi commented on #1026
![10xx](https://user-images.githubusercontent.com/54441526/66718493-79966c00-eddc-11e9-9219-f3b7d9c9c023.png)
@TimidRobot Please is something like this okay?

[2019-10-14 13:54] alexiaOkarabi commented on #1026
@TimidRobot Okay Let me send you the designs I have on slack. Should I send through direct messages or on the general channel

[2019-10-14 20:16] ericsteuer opened #1037 "Replace "tweak" with "adapt" on cc.org/licenses"
Change the four instances of the word "tweak" to "adapt" on https://creativecommons.org/licenses/ (per Diane's request)

Not sure why, but I am not able to make edits to this page myself when I am logged into the site

[2019-10-14 20:20] ericsteuer opened #1038 "Change popup language on attribution icon on cc.org/choose"
On https://creativecommons.org/choose/

Current popup language when you scroll on the Attribution icon is "You must attribute the work in the manner specified by the author or licensor."

This should be changed to:

"You must give appropriate credit to the licensor in a reasonable manner."

<img width="634" alt="Screen Shot 2019-10-14 at 1 18 09 PM" src="https://user-images.githubusercontent.com/8

[2019-10-14 20:23] ericsteuer opened #1039 "Change popup language on ND icon at cc.org/choose"
On https://creativecommons.org/choose/

The current language when you scroll on the ND icon is "The licensor permits others to copy, distribute and transmit only unaltered copies of the work -- not derivative works based on it."

Please change to:

"The licensor permits others to copy, distribute and transmit the work provided that any alterations you may make do not constitute an adaptation."

<i

[2019-10-14 21:33] ericsteuer opened #1040 "Remove "Team" from cc.org profile pages of users who are not on staff, board, or advisory board"
This may require a discussion outside of GitHub

But I noticed that anyone who has a user profile on cc.org also has a public facing profile page (e.g. https://creativecommons.org/author/alessandro/) with "Creative Commons > About CC > Team >" above their bio and photo (if they have one).

This is confusing, and my feeling is that only current CC staff, board, and advisory council profiles should

[2019-10-17 12:31] hugosolar commented on #1025
@ifylala only happens on WebKit.
We should force the title to avoid hyphenation using CSS

[2019-10-21 11:42] georgehari commented on #865
We now have a CC0 translation in Spanish, so we should point to https://creativecommons.org/publicdomain/zero/1.0/legalcode.es in the 4.0 licenses.

[2019-11-07 13:04] azaroth42 commented on #1030
Also please consider:  https://github.com/creativecommons/cc.licenserdf/issues/7

Which would update the license URIs to use https for all three layers.

[2019-11-08 17:01] fbennets opened #1042 "Links to German 2.0 and 3.0 ports are broken on German deeds"
**Describe the bug**
The links to the German 2.0 and 3.0 ports of all licences are broken in the German deeds. This is an urgent issue, as under German law this could render all the licenses of CC 2.0 DE and 3.0 DE currently in use legally ineffective.
There have been bug reports about the German 3.0 BY and similar issues.

**To Reproduce**
Steps to reproduce the behavior:

Go to any German deed o

[2019-11-11 20:13] #990 closed

[2019-11-12 20:18] peterspdx commented on #1028
Signed off. Please deploy. Will be documented on legal code errata page.

[2019-11-12 23:05] #1028 closed

[2019-11-14 11:10] Carla-los12OS opened #1045 "Stone Temple Pilots- Core"
Thanks for reporting an issue, to help us file this efficiently we made this
template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our
sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2019-11-14 12:53] #1045 closed

[2019-11-18 00:32] foomin10 commented on #746
Has been fixed. There is nothing I want to claim.

[2019-11-18 00:32] #746 closed

[2019-11-19 16:39] erick-co opened #1047 "Looks like it is in `creativecommons/cc.engine`:[`/cc/engine/templates/includes/cc_site_header.html`](https://github.com/creativecommons/cc.engine/blob/master/cc/engine/templates/includes/cc_site_header.html)"
Looks like it is in `creativecommons/cc.engine`:[`/cc/engine/templates/includes/cc_site_header.html`](https://github.com/creativecommons/cc.engine/blob/master/cc/engine/templates/includes/cc_site_header.html)

_Originally posted by @TimidRobot in https://github.com/creativecommons/creativecommons.org/issues/1027#issuecomment-534547455_

[2019-11-19 17:20] #1047 closed

[2019-11-25 04:02] notosapien opened #1048 "Incorrect link to the License chooser page"
There's a typo for the link to the license chooser at Creative Commons Wiki:
https://wiki.creativecommons.org/wiki/Copyright_and_CC_for_grant_recipients#Step_3:_Select_Your_License

chose > choose

[2019-11-25 19:02] kgodey commented on #1048
Thanks for reporting this. It's been fixed.

[2019-11-25 19:02] #1048 closed

[2019-11-26 21:07] #1027 closed

[2019-11-26 21:09] #1037 closed

[2019-11-26 21:09] #1038 closed

[2019-11-26 21:09] #1039 closed

[2019-11-26 21:23] #939 closed

[2019-12-02 22:14] LeChasseur commented on #1042
This is a serious issue. People aren't able to look into the concrete license obligations since the link from https://creativecommons.org/licenses/by/3.0/de/ to the license text ("Lizenztext") is dead:
https://creativecommons.org/licenses/by/3.0/de/legalcode.de.
I hope this can be prioritised.
Thanks in advance!

[2019-12-03 08:30] mzeinstra opened #1049 "Translation issue – Dutch translation"
Hi,

I just noticed that the 4.0 translation, that I was responsible for, has a small error.

In article 1(c) of the licenses we translate 'Effective Technological Measures'  as 'Doeltreffende Technische Maatregelen' which translates to "Effective Technical Measures"

In the relevant article 2(4-5) we used a correct translation "Doeltreffende Technologische Maatregelen".

[code]

@peterspdx is it

[2019-12-03 14:12] LeChasseur commented on #1042
Some additional information that might be helpful:
It depends on the language on https://creativecommons.org/licenses/by/3.0/de/ whether or not the link works. If you use the English version (https://creativecommons.org/licenses/by/3.0/de/deed.en) the link to the license text is fine.
It is important that the landing page is https://creativecommons.org/licenses/by/3.0/de/legalcode since many (offl

[2019-12-03 21:17] peterspdx commented on #1049
We're evaluating a policy change that would allow us to change small errors in official translations of 4.0 (not the English, however) rather than noting on the errata page (https://wiki.creativecommons.org/wiki/Legalcode_errata). If you'd like it on the errata page right away, we can accommodate that. Otherwise, we should have a decision on the policy shortly. Let us know.

[2019-12-04 08:37] mzeinstra commented on #1049
Let's work it in into the errata. How about:

**Dutch translation - Effective Technological Measures**
In the Dutch translation of the 4.0 license suite 'Effective Technological Measures' has been translated in two different ways.

Article 1(c) provides the definition of the term 'Effective Technological Measures'. This has been erroneously translated to 'Doeltreffende Technische Maatregelen' whic

[2019-12-04 22:53] sarahpearson commented on #1049
Done! [](https://wiki.creativecommons.org/wiki/Legalcode_errata#Dutch_official_translation)

[2019-12-05 00:27] peterspdx commented on #1049
Thanks @sarahpearson . Closing out the issue. @mzeinstra let us know if there's anything else for the time being.

[2019-12-05 00:27] #1049 closed

[2019-12-05 19:15] LeChasseur commented on #1042
Thanks for checking. As said before: this is crucial from a legal point of you.  Thanks!

[2019-12-06 01:16] kgodey commented on #1042
This is a high priority for us to fix, however, it will take some time because we need to resolve underlying infrastructural issues with https://github.com/creativecommons/cc.engine to be able to fix this.

[2019-12-06 18:12] hugosolar commented on #1032
Seems to be a cache related issue becaue I can't see the option anymore. closing this issue.

[2019-12-06 18:12] #1032 closed

[2019-12-06 21:33] hugosolar commented on #1035
This is part of the settings of the `Breadcrumb NavXT Settings` in the miscellaneous tab.
Now you can see only the name.

<img width="1255" alt="Screen Shot 2019-12-06 at 6 30 11 PM" src="https://user-images.githubusercontent.com/894708/70357794-87092900-1856-11ea-8d8a-40a868c72dc2.png">

[2019-12-06 21:33] #1035 closed

[2019-12-09 12:28] LeChasseur commented on #1042
I understand that there is a bug in the engine. Unfortunately, I'm not a developer and I cannot help here. Would it be possible to include (statically) a redirect from https://creativecommons.org/licenses/by/3.0/de/legalcode.de to https://creativecommons.org/licenses/by/3.0/de/legalcode?

[2019-12-10 19:43] TimidRobot opened #1050 "Create new Staging CC Engine hosting"
## Issue Description
Create new Staging CC Engine hosting. Based on:
- [dev2019](https://github.com/creativecommons/creativecommons.org/tree/dev2019) branch of creativecommons/creativecommons.org (see README for links to the children repositories)
- [creativecommons/sre-salt-prime](https://github.com/creativecommons/sre-salt-prime)

We need a fully functional stage environment to move forward with

[2019-12-11 13:39] hugosolar commented on #1033
"featured news" widget removed and date added to the entries list
![Screen Shot 2019-12-11 at 10 38 46 AM](https://user-images.githubusercontent.com/894708/70626100-8a0f6b00-1c02-11ea-9c91-b2c4bd7bc65b.png)

[2019-12-11 16:04] Chealer opened #1051 "French: "Cette page existe aussi dans les langues suivantes""
Pages such as [CC BY's](https://creativecommons.org/licenses/by/4.0/deed.fr) are offered in several languages. In French, the language chooser has the following label:

This label is followed by the option "français", which is in fact the default value. This looks strange (in English, this would read "This page is also available in the following languages").

The English version is:

...which woul

[2019-12-11 16:22] Chealer opened #1052 "What’s New in 4.0: "ready-to-use around the world, without porting" link anchor broken"
Section "A more global license" of [the _What’s New in 4.0_ page](https://creativecommons.org/version4/) contains:

"ready-to-use around the world, without porting" is a link to https://wiki.creativecommons.org/Frequently_Asked_Questions#What_if_CC_licenses_have_not_been_ported_to_my_jurisdiction.3F

That URL works, but not its anchor. Yet the target section still exists: https://creativecommons.o

[2019-12-12 02:10] kgodey commented on #1052
Thanks for reporting this. I've fixed it.

[2019-12-12 02:10] #1052 closed

[2019-12-12 02:21] Chealer commented on #1052
My pleasure. Thanks to you, that fixed it indeed.

[2019-12-12 02:21] kgodey commented on #1051
Our translations are crowdsourced via https://www.transifex.com/creativecommons/public/. I've updated this particular translation according to your suggestion (thank you!) and it should sync with the website in the next day automatically.

If you have the time, I'd encourage you to directly contribute to French translations via Transifex :)

[2019-12-12 02:29] kgodey commented on #1033
I think it would be good to remove leading 0s from the date @hugosolar. It should just say "December 9, 2019".

[2019-12-12 03:04] kgodey commented on #1051
Looks like the translation has synced: https://github.com/creativecommons/cc.i18n/commit/5af479a2fb707e6bd017f228550379d9c0a2ce9d. Closing this issue.

[2019-12-12 03:04] #1051 closed

[2019-12-12 14:40] jennryn commented on #1033
Hi all,

Not sure if anyone else is experiencing this, but I was looking at my blog
posts and realized not all are listed anymore. Here are two that do not
come up under my name:
https://creativecommons.org/2018/05/15/certificates-updates/
https://creativecommons.org/2018/04/14/announcing-open-registration-for-cc-certificates/

Maybe some have been lost in the shuffle for others too?

Best,
Jennry

[2019-12-12 18:55] claudioruiz opened #1053 "Public Domain Mark does not show buttons"
![image](https://user-images.githubusercontent.com/390030/70740040-02efef00-1cf7-11ea-8daf-8153af329ddb.png)

[2019-12-12 20:46] kgodey commented on #1033
Reopening issue so we can investigate @jennryn's issue.

[2019-12-13 12:48] ericsteuer commented on #1019
usually between 3 and 5mb

On Thu, Dec 12, 2019 at 8:18 PM Timid Robot Zehta <notifications@github.com>
wrote:

[2019-12-13 13:43] hugosolar opened #1054 "No pagination in author post list"
## Describe the bug
Related to [Jennryn's comment](https://github.com/creativecommons/creativecommons.org/issues/1033#issuecomment-565033947)
The authors page doesn't have pagination and it seems to be hidden in favor of infinite scrolling set up which isn't working either.

## To Reproduce
Steps to reproduce the behavior:
1. Go to [Jennryn's profile](https://creativecommons.org/author/jennryncrea

[2019-12-13 13:45] hugosolar commented on #1033
Jennryn's issue isn't related to this
I create a new issue to fix that problem: #1054
I'll keep this issue open until I fix the date format pointed by @kgodey

[2019-12-13 15:14] #1025 closed

[2019-12-13 15:29] #1033 closed

[2019-12-13 17:31] Chealer commented on #1051
Thank you kgodey, that did fix the issue. However, a space should be kept before each colon in French.

[2019-12-13 18:30] Chealer opened #1055 "Requests for piwik.js (Matomo) time out"
Pages (at least https://creativecommons.org/licenses/by/4.0/deed.fr ) use a piwik.js file which has been failing to load for at least 2 days. This does not cause any defect visible as a user, but causes pages to only show as loaded after the HTTP request timed out. The URL is https://stats.creativecommons.org/piwik/piwik.js

This happens at least in Mozilla Firefox 71.0 and Google Chrome 78.0, on

[2019-12-14 01:43] hugosolar opened #1056 "Integrate Google Tag Manager and disable Monster insight plugin"

[2019-12-15 17:22] peterspdx commented on #960
@sarahpearson Please move this forward for publication.

[2019-12-16 06:52] clauder12 opened #1057 "Sheneta Mitchell/Janet Ramos Amber Hall"
Thanks for reporting an issue, to help us file this efficiently we made this
template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our
sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2019-12-16 18:07] #1019 closed

[2019-12-16 18:49] #1057 closed

[2019-12-16 18:50] claudioruiz commented on #1040
Related with this, if you go visit [this URL](https://creativecommons.org/author/tvolcreativecommons-org/), there's nothing there showing that Tim is no longer part of the team. We should come out with a way to address that that is less confusing.

[2019-12-16 18:59] sarahpearson commented on #960
Pull request submitted: https://github.com/creativecommons/creativecommons.org/pull/1058

[2019-12-16 18:59] #960 closed

[2019-12-16 22:33] #1055 closed

[2019-12-16 22:33] #1056 closed

[2019-12-17 01:23] Chealer opened #1059 "French: "Donate Now" (Faites un don Maintenant) label overflows button"
The orange donation box at the bottom left of pages (such as https://creativecommons.org/licenses/by/4.0/deed.fr ) has a label ("Faites un don Maintenant") excessively long for its button in French. The last letters are invisible, as can be seen in the following screenshot:
![CC don](https://user-images.githubusercontent.com/486141/70955823-22ad4d00-2040-11ea-86a4-b9fcb46b78a4.PNG)

Multiple solut

[2019-12-17 17:47] gusjang69 commented on #1059
chattchaii69@gmail.com

[2020-01-01 00:46] aryan111233 opened #1062 "Broken link"
## Describe the bug
A clear and concise description of what the bug is.

## To Reproduce
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '...'
3. Scroll down to '...'
4. See error

## Expected behavior
A clear and concise description of what you expected to happen.
405 404 403 400 500
## Screenshots
If applicable, add screenshots to help explain your problem.
![Screenshot_2020-01-01-05

[2020-01-02 18:59] TimidRobot opened #1063 "add_cc4_links.py is unreliable and inconsistent"
## Describe the bug
`add_cc4_links.py` (current version [564146d](https://github.com/creativecommons/creativecommons.org/blob/564146dbea464eec988709485783b92391d84fa2/tools/add_cc4_links.py) as of 2020-01-02) is unreliable and inconsistent. It appends a link for the language specified in the command line argument. This means that the languages are ordered arbitrarily and if a translation branch is

[2020-01-03 15:19] #1029 closed

[2020-01-03 15:19] #1040 closed

[2020-01-03 15:20] hugosolar commented on #1029
About the 404 issue, I'm going to create a separate ticket

[2020-01-03 15:23] hugosolar commented on #1040
- I change the breadcrumb by making a relationship between the non-staff author and the blog
- Remove the extra information below the avatar when user is a guest

For instance:
![Screen Shot 2020-01-03 at 12 13 26 PM](https://user-images.githubusercontent.com/894708/71731440-83e86500-2e23-11ea-8a50-1d273dc78c92.png)

[2020-01-03 15:47] hugosolar opened #1064 "no 404 template for authors"
## Describe the bug
If you go to a random author URL (say, [this](https://creativecommons.org/author/asdadeasdadasdasdasdasdasddasd/)), it does not show a 404 page but a very odd page of "Articles by: Jennie Rose Halperin"

[2020-01-06 18:05] #1062 closed

[2020-01-08 19:02] vmbrasseur opened #1065 "Please enable the IRCCloud Slack plugin"
## Problem Description
The CC Certification course uses a Slack channel for communication. I already have 8 other Slacks I have to pay attention to daily for work purposes. This is a massive burden and Slack does not provide a good way to manage it. Thankfully, IRCCloud does. With it I can follow all of the channels (and PMs) on all of the Slacks I need to be on as well as all of the IRC channels,

[2020-01-09 15:31] #1053 closed

[2020-01-13 22:11] sarahpearson commented on #829
Moved: https://creativecommons.org/legal-code-defined/

[2020-01-13 22:11] #829 closed

[2020-01-15 06:53] robmyers commented on #829
:tada:

[2020-01-16 16:55] #1050 closed

[2020-01-17 13:04] mzeinstra commented on #1042
The temporary fix is to change the URL in transifex and remove the .de postfix.

I did this for the Netherlands to have both the 3.0 and 4.0 online. The only drawback is that for the 4.0 the  Dutch Deed page refers to the English legalcode page.

I would much prefer this being changed for the german as well, having an additional click (to go from english legal code to german code) far outweighs no

[2020-01-17 16:14] fbennets commented on #1042
Thanks for the active discussion, a quick temporary fix as suggested by @mzeinstra would be great for the moment!

[2020-01-17 16:49] kgodey commented on #1042
@mzeinstra thanks for the tip, I've implemented it for the German translation and it's live now. I have not fixed it for any of the other jurisdictions yet.

[2020-01-30 22:38] #853 closed

[2020-01-30 23:28] peterspdx commented on #853
When this is fixed, it needs to be documented on the errata page. I'm sure
it will be if not already, but dates are important. Just mentioning here to
be doubly thorough.

On Thu, Jan 30, 2020 at 2:38 PM Timid Robot Zehta <notifications@github.com>
wrote:

[2020-01-31 16:06] sarahpearson commented on #853
Yes, this was done at the time of the fix. (
https://wiki.creativecommons.org/wiki/Legalcode_errata)

On Thu, Jan 30, 2020 at 5:28 PM Diane Peters <notifications@github.com>
wrote:

[2020-01-31 16:48] #870 closed

[2020-01-31 17:14] TimidRobot opened #1074 "Japan 2.0 legalcode link to "Unofficial English Translation" that does not exist (404)"
## Describe the bug
Japanese 2.0 and 2.1 legalcode link to non-existent "Unofficial English Translation"

## To Reproduce
Browse to any one of the following pages:
- 2.1
  - [CC BY-NC-ND 2.1 - Japan](https://creativecommons.org/licenses/by-nc-nd/2.1/legalcode.jp)
  - [CC BY-NC-SA 2.1 - Japan](https://creativecommons.org/licenses/by-nc-sa/2.1/legalcode.jp)
  - [CC BY-NC 2.1 - Japan](https://creativ

[2020-01-31 17:32] TimidRobot opened #1075 "CC BY-ND 4.0 legalcode Norwegian translations contains broken link to deed"
## Describe the bug
Legalcode contains a broken link (missing second slash (`/`)):
[code]

## To Reproduce
1. Browse to [CC BY-ND 4.0 - Norwegian](https://creativecommons.org/licenses/by-nd/4.0/legalcode.no)
2. Scroll to bottom
3. Click on `« Tilbake til sammendraget (Commons Deed)` link
    - Note that some browsers augment the link so that it works

## Expected behavior
Source should be:
[code]

[2020-01-31 17:50] TimidRobot opened #1077 "Link to English in "CC BY-SA 4.0 - Norwegian" lanugage footer is wrong"
## Describe the bug
Link to English is wrong:
[code]

## To Reproduce
1. Browse to [CC BY-SA 4.0 - Norwegian](https://creativecommons.org/licenses/by-sa/4.0/legalcode.no#languages)
2. Click on "English" within footer language list
   - result is 404

## Expected behavior
Link to English should be:
[code]

[2020-01-31 17:53] #1075 closed

[2020-01-31 17:54] #1063 closed

[2020-01-31 17:54] #1077 closed

[2020-01-31 21:54] mmoreshead opened #1078 "Paypal error on donation page for recurring donation"
On this donation page https://us.netdonor.net/page/6650/donate/1/

If you choose "Monthly" and try to pay with Paypal, you get this error:

"PayPal Billing Agreement is required for the PayPal Gateway but was not passed in."

I think this page may help:

https://developer.paypal.com/docs/api/quickstart/create-billing-agreement/

but I can't make sense of it to fix it myself.

(There's a donor who

[2020-02-01 10:55] peterspdx commented on #1074
Delete the link to the unofficial English translation. No idea why that is there or why it would be necessary. To my knowledge, CC has never had a policy of linking to unofficial translations of ported licenses. This is an aberration. Easiest is to simply remove the link at the bottom of the various 2.0 Japanese ported licenses rather than track down and re-link.

Second, there should only be 6 li

[2020-02-10 12:53] fakoor opened #1079 "Install Mediawiki Extensions: InputBox, Gadgets and VE"
## Problem Description

There are a number of useful MediaWiki extensions that are not enabled in this wiki. The suggested list includes:

- [Extension:InputBox](https://www.mediawiki.org/wiki/Extension:InputBox), Allows to setup forms in contexts that user input is needed, such as facilities for searching through existing case studies before submitting new one as an example.
- [Extension:Gadgets]

[2020-02-14 19:59] fakoor opened #1081 "Fix Homepage in Wiki Tab of this repository"
The [Wiki Tab](https://github.com/creativecommons/creativecommons.org/wiki) of this GitHub repository is not clear enough to describe what it is going present .

It appears that it lists some steps in order to setup MediaWiki and its MariaDB which probably has been carried out for [wiki.creativecommons.org](wiki.creativecommons.org) some time ago .

Suggested fix:

- The Homepage be renamed to Ins

[2020-02-15 13:25] fakoor opened #1082 "Review CC Wiki's Privacy policy"
The Privacy policy page is by default referenced from all MediaWiki pages. In CC wiki It  was missing, Hence I created an initial version and referenced the relevant terms such as terms of use and master privacy policy.

I wanted to request a peer review to be performed on it and possibly increase its protection level in order to prevent unwanted changes if desired.

The page to review is located

[2020-02-15 13:32] fakoor commented on #1081
Please view [My Fork](https://github.com/fakoor/creativecommons.org/wiki) of the wiki to see it in action

[2020-02-18 22:11] sarahpearson commented on #1082
Thank you for flagging this! I've reviewed and made a couple of changes.

[2020-02-18 22:11] #1082 closed

[2020-02-19 18:18] peterspdx commented on #1074
Diane is asking CC Japan team for history over both the inclusion of a link to the unofficial translations at the bottom of 2.0 Japan ported licenses, and why the 2.0 Japan ported suite consists of 11, not 6.

[2020-02-19 21:55] annatuma opened #1083 "Find and List Five Sites Using Web Monetization [Outreachy Contribution Task]"
_Note, this task is for applicants of the Outreachy internship, and will remain open until the contribution period for Outreachy concludes. Multiple people may complete this task._

##  Description
Please read up on Web Monetization: https://webmonetization.org/

Then, find five sites using Web Monetization technology. For instance, this could be a blog that uses Coil to receive streaming payments

[2020-02-19 21:57] annatuma opened #1084 "Describe Web Monetization [Outreachy Contribution Task]"
_Note, this task is for Outreachy applicants, and will remain open until the contribution period for Outreachy concludes. Multiple people may complete this task._

##  Description
In your own words, please describe your understanding of web monetization, how it works, and what some of the opportunities and challenges are, to individual implementation and broader adoption. Post your submission as a

[2020-02-20 00:17] kgodey commented on #1078
Debugging so far:
I had to add the "PayPal Billing Agreement" field as described here: https://engagingnetworks.support/knowledge-base/pay-via-paypal-recurring-payments/ to the form on the "Donate with aCCelerators" page located here: https://us.e-activist.com/index.html#pages. I added it as a hidden field.

Now I'm getting a different error, "This transaction has failed as there has been an error

[2020-02-20 00:35] kgodey commented on #1078
@mmoreshead I think I need access to our Paypal account.

[2020-02-20 18:05] mmoreshead commented on #1078
Maybe we can do a thing where we're on a hangout and I screenshare?

[2020-02-20 18:27] kgodey commented on #1078
@mmoreshead I'm not sure that will work, I don't even know what exactly I'm looking for or where it is, I need to poke around to find the developer-focused logs that PayPal is getting from Engaging Networks.

[2020-02-20 18:34] mmoreshead commented on #1078
Ok, once I confirm it's ok with Whitney I'll figure out how to share on lastpass.

[2020-02-20 21:08] #1081 closed

[2020-02-21 20:25] kgodey commented on #1078
thanks @mmoreshead

[2020-02-23 19:25] Mahelaa commented on #53
If this issue is still active i would like to tackle this!

[2020-02-24 15:48] sarahpearson commented on #865
To make this change, is the best solution to create a new branch and make the change in the Spanish file? I think this is a question for @TimidRobot.

[2020-02-24 17:24] kgodey commented on #53
We're actually building a new version of the chooser here: https://github.com/creativecommons/cc-chooser, this should go there. It also needs to be reviewed by our product team since all UI changes go through them now, so this isn't ready for work.

[2020-02-25 09:22] fakoor opened #1086 "MediaWiki scheduled jobs are not run"
It appears that the jobs that maintain some aspect of MediaWiki such as populating categories and refreshing the caches has not been run for a long time.

Examples of issue:

- The [active users](https://wiki.creativecommons.org/wiki/Special:ActiveUsers) cache, is more than two years old.
- I created this [Category](https://wiki.creativecommons.org/wiki/Category:Summits) some days ago. It is not y

[2020-02-25 21:28] #1074 closed

[2020-02-25 22:05] #865 closed

[2020-02-26 17:08] cristomathew commented on #1083
1. **AdSense** is one of the free website monetization platforms that uses a simple way to earn money by placing ads on your website.The Google monetization website reviews the ads to ensure they are of high quality and relevant to your audience, even when viewed on smartphones and tablets.Google uses its technology to serve advertisements based on website content, the user's geographical location

[2020-02-26 21:49] annatuma commented on #1083
Thanks @cristomathew, it seems the ticket description may not have been clear. You're describing five providers of online monetization, e.g. through advertising, which isn't quite what we were after. I've updated the ticket, and encourage you to submit another response.

[2020-02-27 00:19] kgodey commented on #1078
@mmoreshead any update here?

[2020-03-02 14:30] Atanda1 commented on #1059
I'll like to to work on this issue.

[2020-03-02 14:47] kgodey commented on #1059
This issue is not ready for work.

[2020-03-02 14:48] Atanda1 commented on #1059
Okay, thanks.

On Mar 2, 2020 15:47, "Kriti Godey" <notifications@github.com> wrote:

[2020-03-03 12:19] musicpanda opened #1088 "More options in license"
As maintainer of the index of freely downloadable classical music (www.classiccat.net) I have a rather good overview of the lack of success of the CC license in that field. Occasionally sites arise that use such licenses. But they stay marginal and disappear again after some time.

Recently I noticed that some photo sharing sites such as Unsplash and Pexels have a model that seems to work. I speci

[2020-03-03 15:44] mjprince commented on #1036
@kgodey
Please do you validate this issue?
If Yes, then I would like to work on this.

[2020-03-05 15:34] #1016 closed

[2020-03-05 17:28] CynthiaPeter commented on #1083
@annatuma I was wondering if I could pick this issue up and submit my contributions as soon as possible.

[2020-03-05 17:31] cristomathew commented on #1083
If I am not this is an open for all type issue.

[2020-03-05 21:33] annatuma commented on #1083
As indicated in the ticket description, this task will remain open until the contribution period for Outreachy concludes. Multiple people may complete this task. Please submit your contributions as comments to this ticket.

[2020-03-06 08:59] miracle-E commented on #1083
https://www.cinnamon.video
https://ebonus.gg
https://www.stedas.hr
https://flood.enclavegames.com
https://www.blogmarketingacademy.com

https://www.cinnamon.video : Cinnamon is a platform for video creators and their fans. This platform allows content creators to be paid or rewarded for every second viewed. The website uses a coil technology. With a $5 coil subscription, subscribers can enjoy cont

[2020-03-06 09:24] nocodes commented on #1083
1. [**Simmer**](https://simmer.io/) makes use of web monetization to allow game developers monetize their games without any hassle. They allow game developers use any of the available web monetization receivers as their payment pointer. They allow users make use of coil as their web monetization provider. They provide game developers with a simple UI to just input their payment pointer/web monetiz

[2020-03-06 18:15] snunnington commented on #962
Hi i'm an Outreachy intern can I look at this?

[2020-03-07 12:00] nehasangeetajha commented on #1064
hey @hugosolar , could u please explain this issue like what are we trying to find?

[2020-03-07 12:32] samraslam20 commented on #1084
**What is website monetization?**
Website monetization is the process of making revenue from traffic coming to the website having website monetization enabled. At this moment the most popular way to make money with the help of web monetization is with PPC - pay per click and CPI/CPM - cost per impression. Different providers act as web-masters in placing advertisements or an extension on websites

[2020-03-07 14:44] nehasangeetajha commented on #1084
**Web Monetization:**
Web Monetisation, in very simple terms, refers to the process of monetization using a website i.e. monetizing using traffic on a website. While the process of monetization can be challenging and complex, the concept is rather simple and clear. Web monetization is a process of making revenue from the traffic coming to the website having website monetization enabled. It is the

[2020-03-07 15:17] samraslam20 commented on #1083
1) **Audienceplay**
Audienceplay monetizes or targets your audience anywhere and everywhere beyond your website.
Audienceplay is among the Website Monetization Platforms that hold great perks for the website owners and publishers.
**Technology**
AudiencePlay allows you to monetize in two ways:
**Identity records:** The hashed Email id or hashed mobile number information that you pass to audiencepl

[2020-03-07 15:20] samraslam20 commented on #962
hy iam outreachy intern ..can i work with you..

[2020-03-07 15:22] samraslam20 commented on #1083
plzz give me another task ...iam exited to work with you

[2020-03-07 15:23] samraslam20 commented on #1084
give me another task ...iam exited to work with you...

[2020-03-07 15:58] Sabakalsoom commented on #1084
**Web Monetization:**

Web Monetization basically alludes to _making cash from the web_. It is a proposed standard making it simpler for makers, engineers and so on to bring in cash on the web. It works by changing over existing traffic on the web to income, as program API permitting the instalment stream from the client to the site proprietor consequently to their administrations.

Following are

[2020-03-07 20:14] CynthiaPeter commented on #1083
Five sites that use Web Monetization

Five Sites Using Web Monetization

TiffanyHayden.blog provides quality information to finance industries and professionals to help them understand Blockchain technology in simple terms.
How she makes use of web monetization: Tiffany makes use of Coil which is a web monetization provider that uses the Interledger protocol for micropayments. All she had to do wa

[2020-03-08 03:35] Yuanhendri commented on #1084
**What is Web Monetization. How it works.**
Basically, Web Monetization refers to make money from a website. Let’s say if you own a website and you can connect advertisers and other companies with his audience. (visitors/reader). And you can charge the companies for this privilege. How much money you are going to make all depend on how well you can take advantage of the opportunities available to

[2020-03-08 17:53] nehasangeetajha commented on #1083
1. **Audience play** monetizes or targets your audience anywhere and everywhere beyond your website. Audience play is among the Website Monetization Platforms that hold great perks for the website owners and publishers.

2. **Simmer** makes use of web monetization to allow game developers to monetize their games without any hassle. They allow game developers to use any of the available web monetiz

[2020-03-08 19:13] CynthiaOmovoiye commented on #465
Hi,
My name is Cynthia Omovoiye. I am an applicant for Outreachy internship may 2020. I have come across this issue on your project list and would like to know if this issue is compatible with the outreachy internship contribution stage. If yes, please can you guide me on what is expected of me on this issue, so I can make my contribution to it. Thank you for your assistance.

[2020-03-09 09:23] ritulsriva commented on #1084
Monetization of websites is nothing but working on websites in a way that you make money. You can monetize your website by advertisements or selling anything through it. But advertising based business models are past their prime. Ads take up processing power , violate your privacy and manipulate users. Users have started using ad blockers. In order to continue the web business , we need a neutral

[2020-03-09 11:28] ritulsriva commented on #1083
1.  https://www.cinnamon.video/ - This website makes you upload video content for free and charges you to view the content . It is a platform that helps the content creators monetize their work.To monetize evey second of content watched, their model implements a Web Monetization Provider. Web monetization providers use Interledger protocol to redistribute funds based on the amount of time you spen

[2020-03-09 12:00] miracle-E commented on #1084
**Web monetization**

Website monetization is the process of making revenue from traffic coming to the website having website monetization enabled.
The two most important metrics that matter to a web publisher looking to monetize their site is "Fill Rate", or the % of inventory where ads can be shown by a partner advertising network, and eCPM, which is the effective cost per thousand impression do

[2020-03-09 12:08] mercyikpe commented on #1054
Hello @hugosolar
with this task cc.org/blog ordering of posts + displaying dates #1033 marked closed.
Does it mean this task 1054 is closed?
If not, I would like to work on it.

[2020-03-09 12:32] hugosolar commented on #1054
Hello @mercyikpe, It's not related to the closed issued you're refering, but also think this issue it's not that simple because it's a bug shich only happens in production and it's related with the infinite scroll provided by jetpack. Sorry but this issue it's not ready for contribution :(

[2020-03-09 12:39] hugosolar commented on #1064
This is a weird bug that happens only in production, I don't know if it's related to apache configuration or a wordpress plugin messing with the permalinks but this is not happening in my local development website. the expected behavior here should be a 404 page.

[2020-03-10 08:54] Saank commented on #1084
**Web Monetization**
As the term itself may let one guess, web monetization is the process of earning revenues from the existing traffic being sent to a particular website. Or in layman terms, think of the website owner as a salesperson, who has the ability to connect advertisers and other companies with his audience in various ways. Website owners will, of course, charge companies for this advant

[2020-03-10 15:45] CHIKELUJANEUCHENNA commented on #1084
Website monetization is basically the process of earning money from a particular website or blog by using it as an advertising platform for companies with content and offers relative to that site. Let for example you own a website and you are succeeding in making money off that website, thus you already know a thing or more about monetization. The process of monetization can be challenging and com

[2020-03-10 15:49] CHIKELUJANEUCHENNA commented on #1084
**Website Monetization**
Website monetization is basically the process of earning money from a particular website or blog by using it as an advertising platform for companies with content and offers relative to that site. Let for example you own a website and you are succeeding in making money off that website, thus you already know a thing or more about monetization. The process of monetization c

[2020-03-10 16:47] alexadejumo commented on #1084
**Description Of Web Monetization**

Web Monetization is no longer a myth, it's has come to stay! It is an alternative revenue model for the web and simply means the perspective of applying open source and open standards to payments. **Web Monetization is a proposed browser API (Application Programming Interface) that uses ILP (Interledger Protocol) micropayments to earn money from a particular we

[2020-03-10 21:59] Ujsilvia commented on #1083
Hi, please can I write and contribute on this?

[2020-03-11 01:14] Aspie96 commented on #1088
A license like that does exist but has been revoked.
The problem is that this kind of license ultimately is more restrictive than it looks. It is "almost" free but very much not free.

[2020-03-11 02:16] StephNdevo commented on #1083
Can i I write and contribute in this?

[2020-03-11 04:19] nocodes commented on #1083
Hi @Ujsilvia and @StephNdevo , this is an open for all issue so go ahead and contribute

[2020-03-11 15:17] evans407 commented on #1084
**Web Monetization Description**
With web monetization, content creators don’t need advertising to be rewarded. websites can now be monetized using the Interledger Protocol micropayments framework. This is however, made possible through a set of Application Programming Interface (API) computer commands that provides continuous automatic micropayments from browsers. Making it easier to browse a web

[2020-03-11 15:27] evans407 commented on #1083
**1. Website
USHAHIDI**

https://ushahidi.com

**Description**
Ushahidi which translate to “testimony” in Swahili, was developed to map reports of violence in 2008. Ushahidi is a social enterprise that provides software and services to numerous sectors and civil society to help improve the bottom up flow of information.

**Technology**
Ushahidi uses Coil. Coil is integrated onto their website usin

[2020-03-11 20:57] kgodey commented on #465
Sorry, this issue was marked "help wanted" a while back and not reviewed. We will not be making this change since we're working on a new version of the license generation code.

[2020-03-11 21:09] kgodey commented on #962
Sorry, this was marked "help wanted" a while ago and not re-reviewed recently. This is not suitable for community contribution right now.

[2020-03-11 22:56] Ujsilvia commented on #1084
Website monetization is the process of converting existing traffic being sent to a particular website into revenue or simply put the act of monetizing /using one's traffic pull in a website for profit.

Web monetization is used by:
Website Owners
SEO Masters
Ad Networks, Brokers
Domainers
Social Media Marketers
Plugins / Extensions

How it works:
There are a lot of tools for monetizing websites vi

[2020-03-12 10:59] Saank commented on #1083
1. **Imgur.com**
https://imgur.com/
Imgur is one of the largest image hosting services on the Internet. It's one of the easiest ways to find the funniest, most innovative and inspiring images, GIFs, and visual stories served up in an endless stream of bite-sized fun.
**Technology**
Subscribers will be charged $5 per month by Coil and it will then be distributed among creators according to per seco

[2020-03-12 16:32] M-Alichia commented on #1084
**Brief description of web monetization**
 Web monetization is a new propose way for users to automatically pay content creators (blogger, Youtuber, etc.) small amount of money in real-time, without interacting with subscription services and advertisements while preserving their privacy. This is possible with the help of a browser API that uses an open suite of protocol for connecting ledgers of a

[2020-03-12 17:49] Emuohwo commented on #1084
Web Monetization
Monetization of products and services is not a new concept. It is as old a man. With the evolution of the internet, the quest for monetization of products and services has taken a new approach through which creators of contents can now rewarded for their efforts in a more efficient and effective way. These contents include but not limited to: games, articles, tutorials, websites,

[2020-03-13 00:18] ibeth-cyn commented on #1083
1. **Cinnamon:** Cinnamon is a video platform that allows creators to upload their videos and get paid. Content creators who are registered on the platform and upload videos to the site are paid for every second watched. Fans, on the other hand, pay a $5 monthly subscription to access every content on the platform. Examples of contents present on the platform are vlogs, gaming, movies, documentari

[2020-03-13 13:57] Janetsomehow commented on #1084
Web monetization  is an alternative revenue model for the Web. It allows Websites to earn revenue from users without:
- Requiring users to sign-up to a subscription
- Needing to deliver content/services through 3rd-party platforms
-   Advertising
It is a proposed browser API that uses ILP (Interledger Protocol) micro-payments to monetize a site.
 It can be provided through a poly-fill or an extens

[2020-03-13 20:46] annatuma commented on #1084
Thank you everyone for your contributions. I have used a thumbs up icon on the answers that are on the right track to answering the question, and explaining this new technology.

It is very important to understand the difference between Web Monetization specifically, and website monetization generally. I invite those without a thumbs up on their answer to make edits and let me know when they have

[2020-03-13 21:15] annatuma commented on #1083
Thanks everyone for your contributions.

If you see a thumbs up on your post, that means it's on the right track. If you see a confused face, you're either not on the right rack, or you've remixed the answers of other folks in this ticket. While we love remix here at CC, for the purposes of this contribution we want to see what _you_ have to say, and how you evaluate the value being given to users

[2020-03-14 04:24] Saank commented on #1083
@annatuma Here is the link for the news
https://www.cointrust.com/news/coil-facilitates-web-monitization-of-wikipedia-through-xrp

[2020-03-14 16:18] CynthiaPeter commented on #1084
**What is Web Monetization:**
Web monetization is a simple process of paying publishers, content creators, bloggers, and YouTubers for their content on websites or blogs in real-time through a gateway( an  API that uses Interledger Protocol). This involves a direct means of allowing users or subscribers to make small streams of payments to content creators when they subscribe to a web monetization

[2020-03-15 09:27] kaymomin commented on #1084
### **Web Monetization:**
Web Monetization is an all-inclusive standard that permits a site to demand opportune revenue by converting existing traffic being sent to a particular website into a micropayments installment stream. It's a method of generating income for publishers, content creators and developers without bothering site visitors with irritating notices. For a website like **Creative Com

[2020-03-15 10:29] kaymomin commented on #1083
## 1. [**XRP Tipbot**](https://www.xrptipbot.com/)
XRP Tip Bot is a bot that enables users on Reddit, Twitter, and Discord to send Ripple XRP to each other through Reddit comments/tweets. To start tipping XRP, you have to deposit XRP to your XRPTipBot-account first. Once you have XRP (**cryptocurrency**) in your tipping account you can start tipping!

**_Technology_**
XRP is a cryptocurrency.

##

[2020-03-15 13:41] Janetsomehow commented on #1083
### Sludgefeed
[sludgefeed](https://sludgefeed.com/)
Sludgefeed is a website that provides readers with the latest news in Cryptocurrency, Tech, Gaming, Startups, Esports… and anything else online. Sludgefeed sifts through the noise and FUD to deliver in-depth analysis and coverage on blockchain projects, crypto market news, esports events and more
**Technology**
sludgefeed uses coil
**Additional

[2020-03-15 21:33] Ujsilvia commented on #1084
Hi, i have made some corrections to my work and hope its good.
Thank you...

[2020-03-15 22:25] ibeth-cyn commented on #1084
Broadly speaking, web monetization is the process of converting website visits or audience actions on a page into revenue. For a good while in the development of the web, there were no industry-wide accepted and reviewed standards for web monetization. Web monetization happened in silos, private tech companies, for instance, Google, Facebook, Twitter, YouTube, monetized their sites through paid Ad

[2020-03-17 17:39] lily-dev commented on #1084
**What is Web Monetization**
Web Monetization has been implemented in various forms. Some content creators have used Google AdSense, affiliate marketing, data monetization, paid subscriptions and run advertisements to be able to generate more income from their websites.

A different way of paying content creators is by the use of an API to make direct payments to the websites from users as they en

[2020-03-17 22:57] ericsteuer opened #1089 "Reduce the size of the video on cc.org/licenses"
@cablegreen would like the size of the video at the top of https://creativecommons.org/licenses/ to be reduced.

I'm unable to make this change because this page is one I don't have to permission to edit.

I think the standard Vimeo embed size of width=640 height=480 would be fine

I chatted with @TimidRobot who explained that this page is part of "ccEngine," which is why I don't have access to it

[2020-03-18 11:49] CHIKELUJANEUCHENNA commented on #1084
Hi, kindly find below the corrections i made on my work, hope it's good.
Website monetization is basically the process of earning money from a particular website or blog by using it as an advertising platform for companies with content and offers relative to that site. Let for example you own a website and you are succeeding in making money off that website, thus you already know a thing or more a

[2020-03-18 11:52] CHIKELUJANEUCHENNA commented on #1084
Hi, kindly find bellow the corrections i made on my work, hope it's good.
Website monetization is basically the process of earning money from a particular website or blog by using it as an advertising platform for companies with content and offers relative to that site. Let for example you own a website and you are succeeding in making money off that website, thus you already know a thing or more

[2020-03-18 14:39] kgodey commented on #1089
@ericsteuer We'd need to move that page to WordPress in order to make it editable by you; it is not part of WordPress at the moment. It is currently part of the old license infrastructure that we are looking to replace this year. The contents of the page are stored directly in the source code, so editing it requires editing the source code of https://github.com/creativecommons/cc.engine

Please do

[2020-03-18 15:25] alexadejumo commented on #1083
### 1. [Hackernoon.com](https://hackernoon.com/)

**Description**
Hackernoon is a tech blog who prides itself with in-depth stories from the first-person perspective from the best tech professionals. Hacker Noon delivers an independent tech blog with honest and unfettered stories and opinions written by real tech professionals, with 7,000+ contributing writers, 200,000+ daily visitors and 8,000,00

[2020-03-18 16:25] lily-dev commented on #1083
1. Chatty Mango.
https://chattymango.com/
**About**
Chatty Mango is a website that offers unique plugins for websites as per their needs.
**Technology used**
They use the Flattr service to receive micropayments.
**Value-added to subscribers**
Chatty Mango offers free software to any user, its primary goal is to use Flattr to generate more income for the developer

2. Prompts
https://prompts.daveru

[2020-03-18 18:59] sarahpearson commented on #1088
Thanks for the suggestion. We will keep your ideas in mind going forward. CC has no immediate plans for new versions of the license along those lines, but we have seen people use the CC's NonCommercial licenses and then grant permissions to use for commercial purposes under particular circumstances (such as the circumstances you describe above).

[2020-03-18 18:59] #1088 closed

[2020-03-18 22:05] ericsteuer opened #1090 "Replace current cc.org/licenses page with a Wordpress page?"
Hi

https://creativecommons.org/licenses/ is currently on ccEngine

We would like to be able to edit this page (and other pages with explanatory content)

After talking to @kgodey, it sounds like one way to make this possible would be to replace the current page with one on Wordpress

Please let me know if you have any questions

[2020-03-18 22:07] ericsteuer commented on #1090
See also: https://github.com/creativecommons/creativecommons.org/issues/1089

[2020-03-18 22:51] Ujsilvia commented on #1083
stackabuse.com
Stack Abuse is a website for helping programmers increase their knowledge in the areas of web development, machine learning, and data science using free tutorials, courses, course reviews, and more. Our high quality content helps teach both beginners and experienced programmers alike, guiding them through cutting edge, and often difficult-to-learn, topics like machine learning and t

[2020-03-19 16:21] CHIKELUJANEUCHENNA commented on #1083
•	**Cinnamon:** It’s a platform that helps content creators better pursue their careers by monetizing their content. It monetizes every second of content watched through web monetization mode. The web monetization providers’ uses interledger protocol to redistribute funds based on the amount of time users spend on different content. It displays no ads, therefore user can enjoy content without wast

[2020-03-20 06:30] M-Alichia commented on #1083
**sallylait.com**
The blog is making use of web monetization to received payment from coil subscribers who access it. With the help of a monetization meta tag place at the head section of the blog, coil knows exactly in which stronghold wallet the site earnings should be deposited, since the creator wallet provider is Stronghold.

**Js13kgames.com**
Js13kgames.com uses web monetization to received

[2020-03-20 11:38] simran0117 commented on #1084
**Introduction**
The estimated amount of digital data creation in 2020 is 50 Zettabytes, 5*10^22 bytes. Millions of people are involved in creating, publishing and publicizing this content, (blogs, educational websites, e-commerce websites, video streaming, etc.) and no doubt it has become an essential and irreplaceable part of our information consumption cycle. Any website that is hosted to the p

[2020-03-23 16:11] Ujsilvia commented on #1083
please @annatuma  are these the only things to write o for the contributory phase?any other things we need to write on?

[2020-03-23 19:01] ericsteuer opened #1091 "Replace favicon on CC.org"
The favicon on our site is low quality -- it displays worse in certain browsers (like Firefox, which this screenshot is from). Can we upgrade and update?

<img width="388" alt="Screen Shot 2020-03-23 at 11 56 58 AM" src="https://user-images.githubusercontent.com/8919762/77353200-c83a2180-6cfd-11ea-8559-eb862feb37a8.png">

cc @victoriaheath

[2020-03-24 13:08] Praise-dev commented on #1084
@annatuma Can I work on this for the contribution stage?

[2020-03-24 13:10] Praise-dev commented on #1083
Hello @annatuma can I please work on this for the contribution stage?

[2020-03-25 01:44] CynthiaPeter commented on #1084
@Praise-dev I think for the contribution stage, this issue is open to all.
 So go ahead and contribute. Goodluck man.

[2020-03-25 18:51] mskiani commented on #1090
i would like to create a license page. I am open  to contributing in your repositories

[2020-03-26 14:44] #1089 closed

[2020-03-26 16:49] kgodey commented on #1090
@mskiani this issue is marked "CC staff only", it's not suitable for community contribution.

[2020-03-27 10:20] Inshu1 commented on #1084
**Web monetization**

**Introduction**

As the name suggests Web monetization is a form of monetization, refers to the act by which a website generates measurable economic benefits from its users by providing them prime benefits. It’s a good way of making money from a website. In exchange for payments from the user, websites can provide the user with a "premium" experience, such as allowing access

[2020-03-27 13:11] hugosolar commented on #1089
Video size reduced
<img width="1133" alt="Screen Shot 2020-03-27 at 10 10 52 AM" src="https://user-images.githubusercontent.com/894708/77759298-4440ac00-7013-11ea-8146-20d64d84eda2.png">

[2020-03-30 20:26] annatuma commented on #1084
Thank you everyone for new or edited contributions. They have been reviewed.

[2020-03-30 20:41] annatuma commented on #1083
Thank you everyone for your contributions.

As a reminder, the only two issues specific to Web Monetization for the Outreachy contribution period are this one and https://github.com/creativecommons/creativecommons.org/issues/1084

These will remain open for the duration of the contribution period. @Praise-dev you are welcome to make submissions still.

[2020-03-31 06:47] Inshu1 commented on #1083
1. **Momentum Plus**: https://momentumdash.com/plus?utm_source=extension&utm_medium=organic&utm_campaign=themeColour
They are setting up their own Web monetization wallet for receiving payments using <meta> tag that tells Web Monetization providers how to pay them.
Currently, momentum doesn’t allow many features. With this upgrade, they allow us to-do integrations, add your own photos, quotes & ma

[2020-03-31 18:26] TimidRobot opened #1092 "Test new.creativecommons.org as a pending replacement of creativecommons.org"
# Short Ask

Please click around [new.creativecommons.org](https://new.creativecommons.org) so that we can have as many eyes as possible on it before it becomes creativecommons.org :heart:

[2020-04-01 07:46] musicpanda commented on #1088
The main use I see for music is in video's, on radio and as samples. In neither case the CC licenses work.

Many video's on Youtube are short and don't have a credits section. If there is any text it is meant to engage the visitor, not to be some attribution legalese that doesn't interest him. In radio too attribution is a problem. Can you imagine the presenter saying "you heard ... by ... that wa

[2020-04-02 19:56] Praise-dev commented on #1084
**WEB MONETIZATION**

Ever since the advent of the web by Sir Tim Berners-Lee in 1989, it has grown tremendously over the years and still growing with a rate of a million daily new users, it wasn’t long before people started thinking of ways to make money off the web. Hence the term, “web monetization”.
Web monetization is simply the various ways web publishers convert their web traffic into reven

[2020-04-03 06:18] simran0117 commented on #1083
**1. XRP Tipbot**
It allows users to send money via tweets and Reddit comment threads, in the form of the cryptocurrency XRP. XRP Tipbot basically helps users maintain a wallet of a kind, set-up a payment pointer, receive payments.

Source: https://blog.daudr.me/future-of-web-monetization/
**2. Cinnamon**
http://cinnamon.video/
Cinnamon is a content creation and sharing platform, backed by Ripple

[2020-04-03 12:37] Praise-dev commented on #1083
1.	[Enclave Games](http://enclavegames.com/)
An Indie game development studio focused on developing mobile games with HTML and CSS. They offer help to web game authors in the challenges of monetization allowing authors to be paid instantly and directly in the browser through the stream of payments using coil. Furthermore, Enclave Games host competitions like the “[js13kGames competition](https://j

[2020-04-03 12:37] Praise-dev commented on #1083
1.	[Enclave Games](http://enclavegames.com/)
An Indie game development studio focused on developing mobile games with HTML and CSS. They offer help to web game authors in the challenges of monetization allowing authors to be paid instantly and directly in the browser through the stream of payments using coil. Furthermore, Enclave Games host competitions like the “[js13kGames competition](https://j

[2020-04-03 22:29] Praise-dev commented on #1084
**Web Monetization**

Before the advent of web monetization, the web suffered a flood of advertising and corrupt business models. Transferring money across the web has also been an overdue exclusion from the web platform.

Content creators usually wait for months to be paid by publishers or even get cheated in their pay. This delay in payment or the possibility of being cheated on brought about th

[2020-04-04 11:20] tasbihaasim commented on #1084
**What is Web Monetization?**

In the simplest words, Web monetization is a process of demanding continuous stream of small payments from the users who visit a website. For a very long time, the only way websites were able to make money was by Advertisements. Advertisements are a great revenue generator but can annoy users quickly and even drive them away from the website. Most users have even sta

[2020-04-04 15:15] tasbihaasim commented on #1083
Websites that make use of Web Monetization:
•	**Js13kgames**: https://js13kgames.com
It is a website for HTML and JavaScript game developers to produce games and put it up for audience to play. The games are monetized and game developers then get paid via coil every time a user visits website and chooses to play their game. Developers are even encouraged to play each other’s games to show addition

[2020-04-05 04:15] eshu99 commented on #1084
**Web Monetization-**

Website monetization is the process of making revenue from traffic coming to the website having website monetization enabled. At this moment the most popular way to make money with the help of web monetization is with PPC - pay per click and CPI/CPM - cost per impression. Different providers act as webmasters in placing advertisements or an extension on websites to benefit f

[2020-04-05 06:22] eshu99 commented on #1083
**Websites that use web monetization-**

**1. USHAHIDI-**

**Website description-**
Ushahidi is an open source software application, and a non-profit technology company with staff in nine countries whose mission is to help marginalized people raise their voice and those who serve them to listen and respond better.The organisation uses the concept of crowdsourcing for social activism and public acc

[2020-04-05 07:05] Praise-dev commented on #1084
Hello @annatuma, I've made my contributions on both tickets two days ago. Please, kindly review.

[2020-04-05 10:08] AriB98 commented on #1083
**Websites that make use of Web Monetization**

**Cinnamon** [https://www.cinnamon.video/](url)
•	Cinnamon is a subscription based video sharing platform where content creators can upload videos and get paid for it.
•	Cinnamon makes use of web monetization via Coil. This means both content creators and content users have coil accounts. The users use coil to pay a subscription fee of $5 to gain acc

[2020-04-05 16:04] Abosnd02 commented on #1092
35177729+Abosnd02@users.noreply.github.com

[2020-04-06 08:06] Hanny247 commented on #1084
Outreachy Project's Contribution: What is Web Monetization by Hannah Okon Anwana
Web Monetization (WM) is the process of earning revenue from a website by converting existing traffic being sent to a website into revenue or form of currency. It can also be simply seen as a process of earning money from a particular website or blog through the means of using it as an advertising site for companies w

[2020-04-06 08:08] Hanny247 commented on #1084
Outreachy Project's Contribution: What is Web Monetization by Hannah Okon Anwana

Web Monetization (WM) is the process of earning revenue from a website by converting existing traffic being sent to a website into revenue or form of currency. It can also be simply seen as a process of earning money from a particular website or blog through the means of using it as an advertising site for companies

[2020-04-06 15:16] satakshigarg commented on #1084
Web Monetization provides websites with a way to collect multiple small payments from users in exchange for consuming the site's content and/or services. Traditional payment networks operate independently from each other. Sending value is easy only if the sender and recipient have accounts on the same network, but it can be slow and expensive if they have accounts on different networks. Interledge

[2020-04-06 16:13] #1092 closed

[2020-04-06 16:43] kgodey opened #1094 "Migration to new creativecommons.org infrastructure"
## Issue Description

On Thursday 2020-04-09 between 14:00 and 14:30 PDT, I will be migrating part of the creativecommons.org infrastructure to new hosting.

The lb/dispatcher and the ccEngine hosts will be replaced.

### Migration Process
- [x] Disable automated `cc.i18n` updates
- [x] Pause monitoring
- [x] Update URL Dispatch host to return 503 for legacy creativecommons.org hosts
- [x] Update

[2020-04-06 18:41] AriB98 commented on #1084
**What is web monetization?**

Website monetization, simply put, is the process of turning traffic being sent to a website into revenue. Some of the most widely known ways of monetizing a website include pay per click (PPC) and cost per impression (CPI/CPM) advertising.  Some examples of this include websites using Google AdSense. Social media providers such as YouTube allow content creators place

[2020-04-07 00:04] rithyaga02 commented on #1084
Outreachy's Project Contribution
Web Monetization
The process of converting existing traffic being sent to a particular website is named as Wb Monetization. Different providers act as a webmaster in placing advertisements or an extension on website to benefit from the traffic the site gets. In real time it pays the creators through an API in which Interledger protocol micropayments to monetize a w

[2020-04-07 11:24] ruthstern commented on #1084
@annatuma Greetings, everyone and my name is Ruth and I am Creole form Hamburg, North Germany. I am an Outreachy applicant and the last 4 weeks have been a living hell here in Germany. I sincerely hope for everyone that their family and relatives are safe and wish you all the best. Unfortunately, I was not as lucky, my entire community broke down to say the least. Below, I have my application prop

[2020-04-07 13:10] ruthstern commented on #1083
Websites web monitezation.
Below,  I shortly want to outline five companies that are using coil s monetizing system to support their online presence.
These are **wikipedia.org, technology, Ushahidi.com and Coilexplore and my favourite,the beautiful blog contentme. from my home country Germany.**

All these **five** companies have made use of the alternative payment method offered by the company co

[2020-04-07 13:30] oyoloye commented on #1084
### **Outreachy's Project Contribution | What is Web Monetization? | Oluseyi Yoloye**

**Brief Description:**
Web monetization in layman's terms is the process in which money is made from the web; website visits are converted to revenue. Before development practices became more popular, there wasn't any industry-wide standard for web monetization. Web monetization happened across companies like Tw

[2020-04-07 15:33] HiraAfzal1 commented on #1084
**Web Monetizaton:**
Monetization basically refers to turning non-revenue generating thing into a profit generating one. Web Monetization is a process through which website owner can generate revenue from its website traffic.

**How Web monetization works?**
For a website owner to earn a consistent amount from a website/blog through web monetization,the website has to have some existing traffic ba

[2020-04-07 15:50] oyoloye commented on #1083
**Five Sites Using Web Monetization [Outreachy Contribution Task] | Oluseyi Yoloye**
_The following five sites are specific to Google AdSense._

_**What is Google AdSense?**_
Google AdSense is a website monetization platform that implements a snippet of Javascipt code to generate revenue. Adsense uses its propierty software to place advertisements based on variables generally seen when you click o

[2020-04-07 15:51] MerKedes commented on #1084
**Web Monetization: What is it and how it works**
After lots of contemplation, you finally decide to bring your big idea to the world. Writing your blog in your little journal is great and all but no one else is experiencing it, so you launch a website. Now sharing your wise words is wonderful but at the end of the day we’ve all got to eat so it’s time to turn that blog into a money maker. But how

[2020-04-07 20:18] annatuma commented on #1084
Thanks to everyone for their submission. Because the application period has passed, we are now reviewing final proposals, and are no longer accepting contributions on this task.

[2020-04-07 20:18] #1084 closed

[2020-04-07 20:19] annatuma commented on #1083
Thanks to everyone for their submission. Because the application period has passed, we are now reviewing final proposals, and are no longer accepting contributions on this task.

[2020-04-07 20:19] #1083 closed

[2020-04-08 18:54] ericsteuer opened #1095 "Mystery Wordpress post drafts surfacing in "All Posts" view"
Starting earlier this week, a ton of (very) old draft posts started showing up in the "All Posts" view in our WordPress. We use this view to queue posts up and work on them collaboratively before they launch, so the inability to quickly see what's in the queue complicates things.

Any idea why this happened? Any idea what a good solution might be? cc @victoriaheath

<img width="1073" alt="Screen S

[2020-04-09 16:28] cablegreen opened #1096 "Delete: taa@creativecommons.org"
This is a list for an old, retired project.

Could you please delete: taa@creativecommons.org  ?

Thank you!

[2020-04-09 20:51] TimidRobot opened #1097 "HTTP license URLs return 521 instead of 301"
## Describe the bug
HTTP license URLs return 521 instead of 301. This appears to be true for all HTTP license URLs (deed, legalcode, RDF).

The issue is obscured by modern browsers, which assume/fallback to HTTPS.

HTTP license URL example (using [HTTPie](https://httpie.org/) – command line HTTP client):
[code]
[code]

HTTPS license URL example:
[code]
[code]

## Expected behavior
HTTP URLs should

[2020-04-10 11:14] IRDonch opened #1098 "Plaintext licenses disappeared"
## Describe the bug
There used to be plaintext versions of the CC licenses on the website, but now they're gone.

## To Reproduce

### 4.0
1. Go to [Plaintext versions of Creative Commons 4.0 licenses - Creative Commons](https://creativecommons.org/2014/01/07/plaintext-versions-of-creative-commons-4-0-licenses/)
2. Click on the links in the blog post:
   - [BY 4.0 (plaintext)](https://creativecomm

[2020-04-13 15:25] #1097 closed

[2020-04-14 17:29] TimidRobot opened #1099 "creativecommons.org/licenses/index.rdf no longer available"
## Describe the bug
1. [Migration to new creativecommons.org infrastructure · Issue #1094 · creativecommons/creativecommons.org](https://github.com/creativecommons/creativecommons.org/issues/1094) was brought live
2. [creativecommons.org/licenses/index.rdf](https://creativecommons.org/licenses/index.rdf) is no longer available (404).

## To Reproduce
Attempt to load [creativecommons.org/licenses/i

[2020-04-14 17:48] #1099 closed

[2020-04-15 18:37] #1098 closed

[2020-04-16 08:26] rcarreres opened #1101 "<iframe> embedded not working"
Hi,

Yesterday we noticed that the submit functionality in our DSpace repository was not working just in "Choose your license" step, where the user can choose his Creative Commons license. We use an <iframe> to show the Creative Commons form, but suddenly this form doesn't show any response. I saw in Javascript console this error:

Load denied by X-Frame-Options: https://creativecommons.org/choose

[2020-04-17 16:27] hugosolar commented on #1095
My guess with this is there may have been a brute force attack to those old accounts in order to gain access to the WordPress backend but those accounts only have subscriber access which is the lowest privilege set of WordPress so there's nothing to worry about.

### What has been done
- I remove users roles to those accounts in order to restrict any kind of privileges for those users

### Next st

[2020-04-18 18:12] rcarreres commented on #1101
Hi,
The problem si gone! Thank you so much!

[2020-04-22 13:28] #1101 closed

[2020-04-23 18:24] #1094 closed

[2020-04-28 12:50] kgodey opened #1103 "License URLs not working for Taiwanese jurisdiction legal code"
I received an email reporting this:

[2020-05-17 16:12] peterspdx opened #1106 "Deeds & Choosers Polish translation contains faulty language assumption for legalcode links"
## Describe the bug
On the Polish CC BY 3.0 Poland deed page ([Creative Commons — Uznanie autorstwa 3.0 Polska — CC BY 3.0 PL](https://creativecommons.org/licenses/by/3.0/pl/
)), there is a link attached to the word “licencja” which leads to the following non-working (`HTTP/1.1 404 Not Found`) URL:
https://creativecommons.org/licenses/by/3.0/pl/legalcode.pl

It seems that the proper link should be

[2020-05-20 21:38] 0842854175 opened #1109 "RichShop TH"
## Problem Description

## Solution Description

## Alternatives

## Additional context

[2020-05-21 20:45] #1109 closed

[2020-05-21 21:23] tarkowski commented on #1106
Hi, what is the typical time to fix this sort of bug? I'm asking because I signalled this issue to Diane (thank you @peterspdx for submitting the ticket) - upon request from the Polish Ministry of Digital Affairs which uses CC licenses across the Polish gov.pl public administration service and sees the faulty link as a critical issue. I hope that this can be fixed relatively quickly, thank you!

[2020-05-22 08:32] mathemancer opened #1111 "Properly capitalize language footer autonyms"
## Describe the bug

The language footer autonyms (words by which languages refer to themselves) are sometimes not properly capitalized ('properly' here means proper within the grammar of the self-referring language in question).

Also, the capitalization differs in different parts of the site (see screenshots below, and check 'italiano').

## Expected behavior

Wherever we are using autonyms in t

[2020-05-22 14:33] kgodey commented on #1111
Thank you for filing this @mathemancer

[2020-05-22 15:15] sarahpearson commented on #1111
I agree that the capitalization is inconsistent, but our process to-date has to been to rely on whatever form the translation team specifies. I'm open to changing how we handle this, however! I have no strong opinions either way.

[2020-05-22 21:46] #1106 closed

[2020-05-22 22:25] #846 closed

[2020-05-22 22:33] #1103 closed

[2020-05-22 22:39] #643 closed

[2020-05-22 22:44] #623 closed

[2020-05-22 22:51] #1042 closed

[2020-05-22 23:00] #1012 closed

[2020-05-22 23:03] #732 closed

[2020-05-22 23:06] #749 closed

[2020-05-22 23:09] #93 closed

[2020-05-22 23:22] #92 closed

[2020-05-22 23:26] #924 closed

[2020-05-22 23:52] #915 closed

[2020-05-22 23:53] #1003 closed

[2020-05-26 14:36] victoriaheath opened #1114 "Fix CC license button images on webpage"
I was notified by a user that the CC license button images on this page are not appearing.

https://creativecommons.org/choose/results-one?license_code=by-sa&jurisdiction=igo&version=3.0&lang=en

[2020-05-26 19:50] #670 closed

[2020-05-26 20:38] #946 closed

[2020-05-26 21:50] #54 closed

[2020-05-26 21:57] #764 closed

[2020-05-29 18:25] ayamws opened #1116 "RTL support is broken for chooser"
Hey.

the Arabic URL is not working at all:
https://creativecommons.org/choose/?lang=ar

Thanks

[2020-06-02 14:43] brigittevezina opened #1117 "Add text to website FAQ page"
Hi,

I'd like to add a new question to the FAQ page: https://creativecommons.org/faq/

The new question should appear as a separate bullet in the "Rights other than copyright" section, right after this question:
"How are publicity, privacy, and personality rights affected when I apply a CC license?"

The text to be inserted is here and has been approved for online posting: [FAQ - Difference betwee

[2020-06-02 19:08] #1116 closed

[2020-06-04 14:14] sarahpearson opened #1119 "Remove unofficial version of CC0 legal code online"
## Describe the bug
When I googled "CC0 legal code" to quickly get to the link to the CC0 legal code, the first result was this very strange URL and version of legal code with yellow highlighting: https://creativecommons.org/publicdomain/zero/1.0/legalcode#:~:text=Certain%20owners%20wish%20to%20permanently,works%2C%20reuse%20and%20redistribute%20as

## To Reproduce
1. Go to https://creativecommons

[2020-06-04 17:55] #1119 closed

[2020-06-04 17:58] sarahpearson commented on #1119
How mystifying! Thanks for looking into it!

[2020-06-04 18:31] peterspdx commented on #1119
Indeed, because by fluke I highlighted, copy and pasted that exact language
last time I visited the legal code. Weird, indeed!

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Thu, Jun 4, 2020 at 10:58 AM Sarah Pearson <notifications@github.com>
wrote:

[2020-06-12 13:49] annatuma opened #1124 "Integrate Web Monetization on Select Pages"
We're going to start the first phase of experimenting with Web Monetization.

The tag needs to be put in the `<head>` of the website, and is
`<meta name="monetization" content="$ilp.uphold.com/edR8erBDbRyq">`

For CC.org, we'll do these three pages initially:
https://creativecommons.org/about/program-areas/arts-culture/arts-culture-resources/legalmusicforvideos/
https://creativecommons.org/share-y

[2020-06-12 13:53] annatuma commented on #1124
@hugosolar Coil does have a WordPress plugin for this:
https://wordpress.org/plugins/coil-web-monetization/

I don't know if it's preferred to use the plugin, or code this directly into the `<head>`. Also, if this is something that I can do (e.g. by installing the plugin and making settings) I am happy to help with this, but I defer to you.

[2020-06-12 14:08] kgodey commented on #1124
We probably do not want to use the plugin; integrating web monetization directly will allow us to support all web monetization providers, not just Coil.

[2020-06-15 16:10] #1117 closed

[2020-06-15 20:13] TimidRobot opened #1125 "[Meta] Support "main" as a default branch name"
## Description
This ticket tracks the variety of changes required to support `main` as a *default branch* name for the [`creativecommons`](https://github.com/creativecommons) and [`cc-archive`](https://github.com/cc-archive) GitHub organizations.

## Rationale

([1.1. Master-slave - Terminology, Power and Oppressive Language](https://tools.ietf.org/id/draft-knodel-terminology-00.html#rfc.section.1

[2020-06-16 14:39] #1114 closed

[2020-06-18 16:50] TimidRobot opened #1126 "The cc4 translation tools are inadequate"
## Description
The cc4 translation tools are inadequate (specifically the cc4 python tools for the "tech process" portion of the translation process).
- If excerpt/snippet comments have been stripped, but content is current, then `prep_cc4_code.py` will insert them in the wrong location
- The two scripts (`prep_cc4_code.py` and `update_cc4_includes.py`) should be combined and refactored (much like

[2020-06-26 12:50] hugosolar commented on #1124
Yes! I agree with @kgodey, I added a PR with a short function that should do the trick

[2020-06-29 15:02] #1124 closed

[2020-07-02 14:43] #1126 closed

[2020-07-07 18:08] santisoler opened #1130 "Make translated license texts available in plain text files"
## Problem

Currently, only the English version of the CC licenses are available in plain text:
https://github.com/creativecommons/creativecommons.org/tree/master/docroot/legalcode

## Description

Would be nice to have all legal codes formatted in plain text along with their HTML versions.

## Additional context

I've created a personal repository to make easier to add CC licenses to GitHub repos

[2020-07-08 22:10] nossa481 commented on #1086
Quero cancelar

[2020-07-09 16:25] sarahpearson opened #1132 "Add new question and answer to FAQ page"
We have a new q&a to add to the FAQ page: https://creativecommons.org/faq/

The text, which has been approved by Legal, is in this doc: https://docs.google.com/document/d/1c40Z7hUwIaRtRLnu7vMDIxNMB7_lo70fxH9RFFB-0Cs/edit?ts=5f0715c7

The question should go at the end of the Using Licensed Material section of questions (https://creativecommons.org/faq/#using-licensed-material)

Please let me know i

[2020-07-09 16:26] #1132 closed

[2020-07-15 17:14] TimidRobot opened #1133 "The Public Domain Mark (PDM) is available at two URLs (no canonical URL)"
## Description
The Public Domain Mark (PDM) is available at two URLs (no canonical URL):

## Reproduction
1. https://creativecommons.org/publicdomain/mark/1.0/
   - ✅ **Correct**
2. https://creativecommons.org/licenses/mark/1.0/
   - ❌ **Incorrect:** it is not a license and there is no legalcode for it.

## Expectation
There should be a single canonical URL for the PDM. Other URLs should redirect

[2020-07-15 17:18] peterspdx commented on #1133
Completely agree. We were very specific about not having the PDM or CCO, for that matter, at a domain that had /licenses a part of them. Neither of them are licenses. @TimidRobot

[2020-07-16 13:43] asmaloney opened #1135 "Spelling mistake in CC BY 3.0 license"
## Description

There is a spelling mistake in the CC BY 3.0 license.

## Reproduction

https://creativecommons.org/licenses/by/3.0/legalcode

In the **5. Representations, Warranties and Disclaimer** section:

_MERCHANTIBILITY_ should be _MERCHANTABILITY_.

## Screenshots

<img width="731" alt="Screen Shot 2020-07-16 at 09 40 22 AM" src="https://user-images.githubusercontent.com/391371/87678147-99

[2020-07-17 18:52] Lovegill5 commented on #1135
I want to close this

[2020-07-17 18:54] Lovegill5 commented on #1133
I want close also I promise not take staff

[2020-07-27 15:49] kgodey opened #1136 "Broken link on BY-NC license page"
Email from user:

[2020-07-27 21:19] kgodey commented on #1078
@mmoreshead I lost track of this issue, I tried debugging this one again and I don't even see a PayPal option on the donate form anymore. Should I close this issue?

[2020-07-27 21:25] mmoreshead commented on #1078
Paypal is still an option on the donate page (you don't get it until half way through the process). I'll leave it to Jami and Moumita to decide if this is important or not.

All I know is, yes we still take paypal but you can't currently set up a recurring monthly donation that comes from one's paypal account. I also know that we are moving to classy now and not sure if that possibly solves this o

[2020-07-27 21:31] kgodey commented on #1078
@mmoreshead it used to be an option on step 2 but now I only see a credit card processing form, no PayPal. I'll follow up with Jami and Moumita.

Moving to Classy might fix this because the problem is on Engaging Networks.

[2020-07-27 21:31] kgodey commented on #1078
@mmoreshead never mind, I found the PayPal option.

[2020-07-27 21:35] kgodey commented on #1078
@mmoreshead I can't view the PayPal password on LastPass so I can't sign in, could you allow me to view the password when you share it? thanks!

[2020-07-27 21:40] kgodey commented on #1078
Debugging notes for myself:

Error according to EN's failed transaction log is:

It looks like I'll need to enable stuff in our PayPal account to get it to work.

[2020-07-28 18:33] kgodey commented on #1078
I have access to the PayPal creds in LastPass now, but the password isn't working and I still can't sign in. @mmoreshead is investigating, will leave in "waiting for third-party" until she gets back to me.

[2020-07-30 17:09] kgodey opened #1138 "Te Reo Māori deeds are not linked from the language drop down list"
Email from user:

[2020-08-03 17:12] caovanhoi12 opened #1139 "quảng cáo"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [x] I would be interested in resolving this bug.

[2020-08-03 17:43] #1139 closed

[2020-08-04 16:16] victoriaheath opened #1140 "Urgent: Unable to upload images onto Wordpress"
I keep receiving an error when trying to upload new images into CC.org's media library (see screenshot).
<img width="760" alt="Screen Shot 2020-08-04 at 12 12 08 PM" src="https://user-images.githubusercontent.com/54586130/89317847-f8021a00-d64b-11ea-9a69-6bd3d4ac6a5d.png">

I think we have exceeded our limits for images on the site. I'm not sure, but we'll need to get this sorted out rather quickl

[2020-08-04 17:48] sarahpearson commented on #1135
Documented on errata page here: https://creativecommons.org/legal-code-errata/

[2020-08-04 17:48] #1135 closed

[2020-08-06 06:52] pemo11 opened #1141 "Invalid reCAPTCHA response when trying to subscribe to CC newsletter"
I am not able to subscribe to the CC newsletter:

1. Subscribe to CC newsletter
2. Type in e mail address
3. Select options
4. Select I am not a robot
5. Select Submit

Result is always Invalid reCAPTCHA response.

When using IE I was presented the usual picture box but same result.

Peter

[2020-08-06 16:04] kgodey commented on #1140
This is fixed.

[2020-08-06 16:04] #1140 closed

[2020-08-09 12:27] javedmalikpk opened #1142 "Facebook Page Posts"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2020-08-10 04:20] oddhack opened #1143 "Degender legal text of CC0-1.0"
## Problem
CC0-1.0 refers to "he or she" in its text. This is not inclusive and may trigger tools used for automated checking of e.g. the [AOSP Coding with Respect](https://source.android.com/setup/contribute/respectful-code) policies.

## Description
Replace "he or she" with "they" or other gender-neutral pronoun, or rewrite the language more extensively to avoid pronouns.

## Alternatives
Since

[2020-08-10 09:49] annatuma opened #1144 "Investigate Analytics Code Change on 2019-12-18"
## Problem

There appears to have been a change with our Google Analytics implementation on 2019-12-18 on CreativeCommons.org, which impacted both the main site and the deed/license pages.

## Description

On 2019-12-18, our Pageviews doubled, and our bounce rate dropped from 60%-ish on CC.org and 80%-ish on the license pages, down to single digits.

On 2020-06-04, this change appears to have been

[2020-08-10 14:44] #1142 closed

[2020-08-12 15:28] TimidRobot opened #1145 "Update IRC/Slack bot name to better communicate what it does"
## Problem
Currently, the bot on IRC is named `ccbot`, which gives no indication that it is acting as an IRC/Slack relay.

Thank you @ircpresident for reporting this issue!

## Additional context
- [IRC - CC Public Wiki](https://wiki.creativecommons.org/wiki/IRC)
- [Slack - CC Public Wiki](https://wiki.creativecommons.org/wiki/slack)

[2020-08-12 17:32] sarahpearson opened #1146 "Stage corrected Dutch 4.0 translations"
## Description
As discussed on the Legal/Tech call, we need to delete the existing Dutch 4.0 branch and create a new branch from the main repository. From there, we should stage the following correction to all six files:

_Section 1 incorrectly translates “Effective Technological Measures” as “Doeltreffende Technische Maatregelen”; this should read “Doeltreffende Technologische Maatregelen” as it

[2020-08-12 17:38] sarahpearson opened #1147 "Stage corrected German 4.0 translation"
## Description
As discussed, please delete the existing German 4.0 branch and make a new branch from the main repository. From there, we should stage the following correction to all six files:

_Section 3a1B imprecisely translates “indicate if You modified” as “angeben, ob Sie das”; this should read “angeben, falls Sie das”_

Once the new files are on the staging site, I will send to the translati

[2020-08-13 16:09] #1146 closed

[2020-08-13 16:27] TimidRobot opened #1148 "Ensure HTML Head, Site Header, and Site Footer are reflected site-wide"
## Problem

The [creativecommons.org](https://creativecommons.org) website is made up of various components. The navigation elements fall out of sync, degrading the user experience.

While the legalcode currently uses HTML snippets, the other components are less modular.

## Description

Ensure HTML Head, Site Header, and Site Footer are reflected site-wide (ex. pull from new WordPress endpoint an

[2020-08-14 15:35] mmoreshead commented on #1143
I'd happily help with this if there's anything I can do.

[2020-08-14 15:55] sarahpearson commented on #1143
We are planning to update the errata page to include reference to this as an error in CC0. We will also update translation documentation to make it clear to translation teams that they should use gender neutral terminology when translating CC0 wherever possible.

In the long term, we have flagged this for future versions of CC0.

[2020-08-14 16:37] ryancdotorg commented on #1143
The changes required for the English language licenses appear to be trivial, and I've provided updated versions. The translations should be updated where possible as well, but I'm unable to do that myself.

[2020-08-15 00:58] oddhack commented on #1143
Thanks for being so receptive to making this change! FWIW I took a look at other CC materials and commented in #1149.

[2020-08-17 16:49] kgodey commented on #1095
Closing this since there's a ticket for further investigation.

[2020-08-17 16:49] #1095 closed

[2020-08-18 16:02] ericsteuer opened #1150 "(Easy) French FAQ translation update / change"
On this page: https://creativecommons.org/faq/fr/ at the very bottom is says: "Support for this French translation was provided by Open Data Institute as part of the OD4D program. Translation by Dr Pierre El Khoury (CC Lebanon Legal Lead)."

@Juliabrungs and @peterspdx would like this line of text to be deleted. I'm unable to do it myself because the page is not on Wordpress.

Thanks!

[2020-08-18 16:25] peterspdx commented on #1150
Hum. Who and where is that page hosted? The URI says it's our website.

Second point would be, why wouldn't it be hosted on Word Press?

Third point, the FAQs are going to change in the not-too-distant future. If we control it, then what if we just hide it for now. We'll be developing some plan at some point in the future for translations of website pages. To my knowledge, this translation isn't a

[2020-08-18 16:28] ericsteuer commented on #1150
I don't know why certain pages aren't on Wordpress. None of the license pages are on Wordpress either. It's always been this way. Yes, it's our website. But it's not on the same publishing system as other content. Which makes changes to these pages a tech project instead of an Eric project.

[2020-08-18 18:57] kgodey commented on #1150
The FAQ content is hosted in this repo: https://github.com/creativecommons/faq/

It is on our roadmap to move these to WordPress but we probably won't be able to get to that in 2020.

[2020-08-18 18:58] kgodey commented on #1150
We will, however, make this change to the FAQs :)

[2020-08-24 18:25] TimidRobot opened #1151 "includes/total.css is empty and should be removed along with all references to it"
## Description

`includes/total.css` is empty and should be removed along with all references to it

## Reproduction
- `creativecommons/creativecommons.org`: [`docroot/includes/total.css`](https://github.com/creativecommons/creativecommons.org/blob/master/docroot/includes/total.css)
- `creativecommons/new-creativecommons.org`: [`docroot/includes/total.css`](https://github.com/creativecommons/new-c

[2020-08-25 21:18] TimidRobot opened #1153 "BY-SA 4.0 pt has one more definition than BY-SA 4.0 en"
## Description
BY-SA 4.0 pt has one more definition than BY-SA 4.0 en

This issue was reported by @dpoirier

## Reproduction

- https://creativecommons.org/licenses/by-sa/4.0/legalcode.en
  - 1.m:
    <img width="632" alt="Screen Shot 2020-08-25 at 14 16 16" src="https://user-images.githubusercontent.com/691322/91228796-af370180-e6dd-11ea-9bb7-a345861c0c6b.png">
- https://creativecommons.org/licen

[2020-08-26 17:36] #1148 closed

[2020-08-30 19:58] mzeinstra commented on #499
Closing issue as no longer relevant.

[2020-08-30 19:58] #499 closed

[2020-08-31 19:13] hugosolar commented on #1141
This was already notified here: creativecommons/tech-support#635 (private repo)
the problem seems to be the url on the website, the correct URL should be this one

https://us.e-activist.com/page/6747/subscribe/1

this was already updated on the website
thank you for flagging this!

[2020-08-31 19:13] #1141 closed

[2020-09-03 12:49] madhhuurrii commented on #1151
Hii , can u please guide me in solving this issue as i am a beginner @TimidRobot

[2020-09-04 22:35] avats-dev commented on #1151
Hi @madhhuurrii , welcome to the CC community. Thanks for showing your interest. :+1:

---

Now, as @TimidRobot has mentioned above that `includes/total.css` is empty, there is no point of keeping the file then. And it has been referenced also in some files, and those are also needed to be removed. So, a possible workflow could be to:

- basic setup
  - fork the [repo](https://github.com/creativec

[2020-09-05 01:05] madhhuurrii commented on #1151
Thank you so much for the help!!

[2020-09-05 01:56] avats-dev commented on #1151
Looking forward to your PR...:rocket:

[2020-09-05 04:59] madhhuurrii commented on #1151
Thank you for guiding me @avats-dev , i have successfully created my PR , hope it gets merged!!

[2020-09-05 05:17] avats-dev commented on #1151
Hey @madhhuurrii , nice work. You have to duplicate these works in [new](https://github.com/creativecommons/new-creativecommons.org) repo too, and open a PR there.

Thanks for your contribution :tada: !

[2020-09-10 15:37] kgodey commented on #949
This is not relevant with the new design coming in the next couple of months.

[2020-09-10 15:37] #949 closed

[2020-09-10 15:38] kgodey commented on #1054
This is not relevant with the new design coming in the next couple of months.

[2020-09-10 15:38] #1054 closed

[2020-09-10 15:38] kgodey commented on #994
This is not relevant with the new design coming in the next couple of months.

[2020-09-10 15:38] #994 closed

[2020-09-10 15:38] kgodey commented on #926
This is not relevant with the new design coming in the next couple of months.

[2020-09-10 20:27] sarahpearson commented on #1143
Updated errata page here: https://creativecommons.org/legal-code-errata/

[2020-09-11 02:20] madhhuurrii commented on #1151
@TimidRobot Yup! will do the work.

[2020-09-14 12:42] sarahpearson commented on #1143
@TimidRobot, first of all, thank you so much for catching this because it makes me realize I forgot about this for the two recent corrected translations! I have now put the wheels in motion for that. (Portuguese, German)

On this one, the CC0 error is slightly different because so far, we haven't actually changed the legal code. Historically, for errors that we have not been able to correct, we ha

[2020-09-16 02:18] sTaufiqullah opened #1156 "[src/cc_catalog_airflow/dags/provider_api_scripts/common/storage/image.py](url)"
[src/cc_catalog_airflow/dags/provider_api_scripts/common/storage/image.py](url)
[src/cc_catalog_airflow/dags/provider_api_scripts/flickr.py](url),
[src/cc_catalog_airflow/dags/provider_api_scripts/wikimedia_commons.py](url)

_Originally posted by @sTaufiqullah in https://github.com/creativecommons/cccatalog/issues/502#issuecomment-693128140_

[2020-09-16 19:12] #1156 closed

[2020-09-17 21:05] sarahpearson commented on #1147
@TimidRobot, here is the language from the translation team to add to the header:

Ein Fehler in dieser Übersetzung wurde am 26. August 2020 korrigiert.

Thank you!

[2020-09-22 19:01] #1151 closed

[2020-09-23 14:47] #1147 closed

[2020-09-23 14:47] #1153 closed

[2020-09-24 15:59] TimidRobot opened #1159 "CC BY-NC-ND 4.0 and CC-ND 4.0 Dutch legalcode translations have a HTML formatting mistake in Section 3(a)"
## Description
CC BY-NC-ND 4.0 and CC-ND 4.0 Dutch translations have a HTML formatting mistake in Section 3(a). In English, the last parapgraph in Section 3(a)(1) follows item 3(a)(1)(C). In the Dutch translation, instead of being a tailing paragraph in 3(a)(1), it is a new item: 3(a)(2).

## Reproduction
- CC BY-NC-ND 4.0
  - English (en): [Creative Commons — Attribution-NonCommercial-NoDerivativ

[2020-09-29 19:03] chinmaikaveti2001 commented on #1091
Hi!...sir can u please assign this issue to me..?

[2020-09-30 16:58] kgodey commented on #1091
@chinmaikaveti2001 this issue is not open for outside contributors.

[2020-10-02 18:55] dhruvkb opened #1180 "Add some work progress emojis to Slack"
## Problem
Sometimes the only replies to a thread on Slack are regarding the status of the work, such as acknowledging that you've seen the message or indicating that the intended action is in progress. Sending messages for these statuses is cumbersome, causes notifications that might not be necessary and fill up the thread.

## Description
Emojis for simple status updates like the following shoul

[2020-10-02 20:23] zackkrida commented on #1180
loosely in our internal code review slack, we use the following system:

- ✅ Code review approved
- Merged by the PR author
![image](https://user-images.githubusercontent.com/6351754/94966513-1d1ed780-0499-11eb-8025-fa333254a457.png)
- 💬 Comments added, PR author needs to review

[2020-10-03 01:12] dhruvkb commented on #1180
In my regular work workspace, the admins imported the same icons for requested changes, merged, closed etc. from GitHub. This ticket is more about regular work stuff not necessarily related to code and review.

[2020-10-05 19:03] pljhu9 opened #1181 "Take a look at the [build](https://github.com/creativecommons/cccatalog-api/runs/1169852206) and see what commands are failing. You can also run the tests locally and see which step is failing"
Take a look at the [build](https://github.com/creativecommons/cccatalog-api/runs/1169852206) and see what commands are failing. You can also run the tests locally and see which step is failing

_Originally posted by @aldenstpage in https://github.com/creativecommons/cccatalog-api/pull/626#issuecomment-702265894_

[2020-10-06 04:55] Yashs911 commented on #1136
Hi, @kgodey. I would like to work on this issue. Can you please guide me in which file do I need to make the changes?

[2020-10-12 09:21] Yashs911 commented on #940
@kgodey I would like to work on this issue. Do I just need to change HTTP to https?
![license](https://user-images.githubusercontent.com/64412143/95729283-4cec8d00-0c9a-11eb-80c2-b679aa58a395.JPG)

[2020-10-12 15:12] #1180 closed

[2020-10-12 19:07] #1181 closed

[2020-10-16 16:12] kgodey commented on #1136
Sorry, I didn't see this. Perhaps @TimidRobot can help.

[2020-10-16 16:12] kgodey commented on #940
tagging @TimidRobot to answer the question.

[2020-10-19 18:10] TimidRobot opened #1183 "Wrong Work reference in CC BY-SA 3.0 Unported"
## Description
From  @dpoirier on Slack:

## Screenshots

<img width="734" alt="Screen Shot 2020-10-19 at 10 59 35" src="https://user-images.githubusercontent.com/691322/96494167-d3edb800-11fa-11eb-8ad3-f3383af8bb4a.png">

## Resolution

- [x] I would be interested in resolving this bug.

[2020-10-23 16:54] kgodey commented on #1078
I'm closing this since we're moving to Classy.

[2020-10-23 16:54] #1078 closed

[2020-10-27 21:37] #1183 closed

[2020-10-31 16:29] jonassmedegaard opened #1185 "continue to redirect to non-CC licenses"
This is neither a bug nor a feature request, but a request to maintain status quo:

A comment in the configuration of the main website questions the relevancy of keeping the redirects to external licenses:
 https://github.com/creativecommons/creativecommons.org/blob/89e4045870326769cd209adf82456728d371ff7c/config/default-ssl.conf#L176

Please do: Those URIs are in widespread use, e.g. embedded int

[2020-10-31 16:32] jonassmedegaard commented on #1185
To make this issue actionable, I propose to simply replace the comment with a note emphasizing the importance ot keeping those redirects due to their active use in the wild.

[2020-10-31 18:54] dhruvkb commented on #305
Linking to the [CC fonts](https://github.com/creativecommons/vocabulary/tree/master/packages/fonts) package for future reference.

[2020-10-31 18:57] dhruvkb commented on #198
Related to:
- creativecommons/index-dev-env#69.

[2020-10-31 19:09] dhruvkb opened #1186 "'Apparel' misspelled on CC Store"
## Description
The word 'apparel' is misspelled on the [CC Store](https://creativecommons.org/about/store/).

## Reproduction

1. Visit the CC Store.
2. See error.

## Expectation
The correct spelling 'apparel' should be used. It is actually used in the subsequent button.

## Screenshots

![Screenshot 2020-11-01 at 12 35 44 AM](https://user-images.githubusercontent.com/16580576/97787846-99145880-1

[2020-10-31 19:16] dhruvkb opened #1187 "Link to Vocabulary from the Downloads page"
## Problem
The downloads page provides icons and badges for use in different media. [CC Vocabulary](https://cc-vocabulary.netlify.app) is a convenient way to include these icons on the web so it should be linked to from that particular page.

## Description
Linking to Vocabulary would give developers the information that Vocabulary is an easier alternative to embed these icons as vector graphics o

[2020-10-31 20:51] pranavvp10 commented on #1186
Hi @dhruvkb  can I work on this?

[2020-10-31 20:56] dhruvkb commented on #1186
Sure @pranavvp10, please do

[2020-11-01 11:20] pranavvp10 commented on #1186
Hi @dhruvkb  actually I'm a starter to open source. I couldn't find the html file (../about/store)

[2020-11-01 13:47] dhruvkb commented on #1186
@pranavvp10 I don't know how the site is put together either. Maybe @TimidRobot knows and can help you out.

[2020-11-03 20:21] Phuker opened #1197 "Cloudflare CDN issue in China: Assets from mirrors.creativecommons.org can not be loaded"
## Description

Button & icon images in mirrors.creativecommons.org can not be loaded, blocked by Cloudflare captcha. The settings in Cloudflare CDN might be inappropriate.

*I'm not sure whether here is the right place to report this problem, if it's not then I'm sorry.*

## Reproduction

1. Create a simple HTML file with these contents:

[code]
2. Open a incognito private window in your browser

[2020-11-04 15:35] ericsteuer commented on #1186
Thanks - done!

[2020-11-04 15:35] #1186 closed

[2020-11-05 16:52] #1185 closed

[2020-11-10 06:53] devangmukherjee commented on #967
@dhruvkb @kgodey I would like to work on this, can you please assign it to me?

[2020-11-10 07:53] dhruvkb commented on #967
@devangmukherjee you can work on it.

See @kgodey's comment about not being able to formally "assign" it to you. You can still submit a PR.

[2020-11-11 19:35] devangmukherjee commented on #967
@dhruvkb thank you, can you please tell me where can I find the code for this? there so many html files in legalcodes I can't find the "selected license" text and ```CHOOSER.CALL``` function.

[2020-12-01 20:22] Ythan opened #1190 "License deed pages have malformed comment appearing above header"
All of the license deed pages have a malformed comment which is appearing above the header:

`!-- Google Tag Optimize --> `

Example URLs:
https://creativecommons.org/licenses/by/4.0/
https://creativecommons.org/licenses/by-sa/4.0/
https://creativecommons.org/licenses/by-nd/4.0/
https://creativecommons.org/licenses/by-nc/4.0/
https://creativecommons.org/licenses/by-nc-sa/4.0/
https://creativecommo

[2020-12-02 14:59] kgodey commented on #1190
thanks for reporting this, @Ythan, we're on it.

[2020-12-02 16:09] #1190 closed

[2020-12-03 17:14] zackkrida opened #1191 "Fix hash `#` escaping in donation redirect"
Currently `creativecommons.org/donate` is meant to redirect to `https://www.classy.org/give/313412#!/donation/checkout`, but there is an issue where the `#` character is escaped to `%23`:

| Label | URL |
| --- | --- |
| expected: | `https://www.classy.org/give/313412#!/donation/checkout` |
| actual: | `https://www.classy.org/give/313412#!/donation/checkout` |

Possible fixes:

I don't know enough

[2020-12-04 14:10] #1191 closed

[2020-12-07 17:46] vishu2435 commented on #1187
I want to take up this issue but where is that page

[2020-12-07 17:53] vishu2435 commented on #967
is this issue open now can you assign this to me

[2020-12-07 19:04] dhruvkb commented on #967
@vishu2435 you can work on it.

See [the comment above](https://github.com/creativecommons/creativecommons.org/issues/967#issuecomment-515258193) that explains why we cannot formally "assign" it to you but you can submit a PR.

[2020-12-08 05:50] vishu2435 commented on #967
@dhruvkb but where is its html or js file i cant find it niether in docroot

[2020-12-08 05:52] dhruvkb commented on #967
Sorry but I have no knowledge of this project or how to resolve this issue in particular.

[2020-12-08 06:01] vishu2435 commented on #967
I am a first time contributer can you give me some issue in which you can guide me . if you can help. I wanted to solve this one but i am unable to find files

[2020-12-08 06:10] dhruvkb commented on #967
You should check out the [Issue Finder](https://opensource.creativecommons.org/contributing-code/issue-finder/) to find issues that are in your domain of experience.

[2020-12-16 15:21] prsndp commented on #956
I would like to contribute to this issue.

[2020-12-16 16:31] dhruvkb opened #1193 "Pagination icons broken in the blog"
## Description
The 'previous page' and 'next page' icons are broken in the blog section of the website.

## Reproduction

1. Visit the [blog](https://creativecommons.org/blog/).
2. Scroll to bottom.
4. See boxes in place of icons.

## Expectation
The 'previous page' (&larr;) and 'next page' (&rarr;) icons should be there.

## Screenshots
<img width="823" alt="Screenshot 2020-12-16 at 9 56 58 PM" s

[2020-12-17 05:30] ArloJamesBarnes opened #1194 "Use of 'language turnstile' icon for translation switching inappropriate for a Creative Commons site, replacement needed"
## Description

A resource used on the Creative Commons site should not violate CC best practices; however as I will show below, the 'language turnstile' icon currently in use on the site does violate them.

## Reproduction

1. Visit a CC legal instrument summary page, for example https://creativecommons.org/publicdomain/zero/1.0 (my favourite).
2. Observe text at the top of the page: "This page i

[2020-12-20 19:18] frappelatte28 commented on #1193
Hey! Can I start working on this issue?

[2020-12-21 01:11] dhruvkb commented on #1193
Sure @frappelatte28. Please do.

[2020-12-21 08:46] frappelatte28 commented on #1193
@dhruvkb I have just started here. It would be helpful if I could get an installation guide for this repo.

[2020-12-21 10:28] dhruvkb commented on #1193
I'm not well aware of how this project works myself, so I'll just tag in @TimidRobot who might be able to help with that.

[2020-12-21 13:16] frappelatte28 opened #1195 "Toggle button of "cc-global-header" in the home page is not completely visible."
## Description
Toggle button of "cc-global-header" in the home page is not completely visible.
## Reproduction
1. Go to [Home](https://search.creativecommons.org/) page.
2. On the top-right side 'the explore button' is not visible completely.

## Expectation

## Screenshots
![CC-BUG-1](https://user-images.githubusercontent.com/64382399/102780078-580b1a00-43bb-11eb-9b6b-9e1b7071cd28.gif)

## Enviro

[2020-12-21 13:21] frappelatte28 commented on #1195
@TimidRobot
I would love to solve this issue. It would be great if you guide me on how to setup the project.

[2020-12-26 14:51] nmenon commented on #1065
Example: https://osselc.slack.com/apps/A7DL60U5D-irccloud

FAQ on how to:  https://www.irccloud.com/faq#faq-slack

[2021-01-05 05:04] 2001asjad commented on #967
Hello, I would love to work on this issue as it would get me started with this org.
But can you just please guide me like which files to look?
Thank You

[2021-01-05 05:53] dhruvkb commented on #967
@2001asjad since we are moving to the new [CC Chooser](https://github.com/creativecommons/chooser) very soon, I think your efforts would be better utilised there.

[2021-01-05 13:37] HarshitMeda commented on #1193
@dhruvkb can I work on this bug? it looks like an easy fix, will be great as a first issue for me.

[2021-01-05 14:29] HarshitMeda commented on #1193
For some reason I am unable to find the html file which has rendered this blog page. Any idea where is it?

[2021-01-06 05:00] dhruvkb commented on #1193
@HarshitMeda I don't have knowledge of how this site is built, so unfortunately I cannot provide any help. You might consider picking a different issue from our [Issue Finder](https://opensource.creativecommons.org/contributing-code/issue-finder/).

[2021-01-06 18:50] hugosolar commented on #1193
So sorry for that but this repo/website isn't open source friendly. this is a WordPress install but the current theme lives in another repo and it's kind of confusing. I hope in the future could have proper documentation so people can contribute without blockers. For now, I'll take this issue. Thanks to everyone for your interest in solving the problem 😄

[2021-01-15 14:27] #1193 closed

[2021-01-19 18:16] TimidRobot opened #1196 "Cookies Notice"
## Description

## Reproduction
https://creativecommons.org/creative-commons-cookies-notice/

## Expectation

## Screenshots

## Environment
N/A

## Additional context

[2021-01-19 19:55] zackkrida commented on #1196
Emailed `meh@love.com` the following on 1-19-2020:

A public issue will be created pending their response.

[2021-01-20 22:12] zackkrida commented on #1196
@TimidRobot We should implement this. It will require a content change in the WordPress backend for cc.org. No code changes are necessary.

[2021-01-21 18:56] sarahpearson commented on #1196
Changed link to https://knowcookies.com. Thanks everyone!

[2021-01-21 18:56] #1196 closed

[2021-02-09 16:54] #962 closed

[2021-02-09 17:00] awayshops commented on #962
Please reopen - Facebook will not listen to me. They might listen to you!

*Retail Technology is Accelerating. Chart a new course.*
[image: Company logo] <https://awayshops.com/>

AwayShops <http://awayshops.com/>
*James Whalen*
Executive Director
(508) 240-4228 <5082404228>
[image: -]

On Tue, Feb 9, 2021 at 9:54 AM Timid Robot Zehta <notifications@github.com>
wrote:

[2021-02-09 18:45] david-a-wheeler commented on #1194
Another option is the material "language" icon (looks like a globe), here: https://material.io/resources/icons/?style=baseline

[LibreTranslate](https://libretranslate.com/) has an icon, I don't know if it's specific to them.

[2021-02-10 02:20] zackkrida commented on #1194
Hi @ArloJamesBarnes, hugely appreciate you bringing this to our attention. We'll be updating cc.org in Q1 of this year with a revised design, and will be switching to a new language chooser that _doesn't_ use the offending icon. I'll leave this ticket open until that work is completed. Thank you!

## New Icon

<img width="341" alt="2021-02-09-140" src="https://user-images.githubusercontent.com/635

[2021-02-10 02:38] david-a-wheeler commented on #1194
Another option is the current [Font Awesome language symbol (solid format)](https://fontawesome.com/icons/language?style=solid). On first look that appears to be under a [free license](https://fontawesome.com/license/free), though I'm not a lawyer so someone would need to check that.

[2021-02-10 23:21] ArloJamesBarnes commented on #1194
Any icon with an appropriate license would complete this issue; but as long as the project is choosing, other criteria might be considered. A Korean acquaintance of mine also criticised the OP icon as seemingly equating ㅊ and A, despite no phonological overlap. あ and A make more sense as there is such overlap. A globe indicates transcending boundaries (such as the language barrier), but is only ex

[2021-02-11 00:01] david-a-wheeler commented on #1194
@ArloJamesBarnes - excellent catch, [translate](https://material.io/resources/icons/?icon=translate&style=baseline) might be a much better icon than language.

[2021-02-16 11:07] CapriciousRebel commented on #956
Hello, Is this issue still open? I would like to work on this one.

[2021-02-16 20:57] zackkrida commented on #956
@CapriciousRebel you are welcome to work on this, but we will be launching an **updated** version of the chooser very soon and this issue will no longer be relevant.

[2021-02-17 19:05] jodeebrowm opened #1198 "Malformed plain text in CC-BY-ND 4.0 and CC-BY-SA 4.0"
## Description
Malformed plain text, best described by the diff of the pull request.

[2021-02-18 04:00] jodeebrowm opened #1200 "CC 4.0 plain text licenses: third level numbering in lower case but referencing in upper case"
## Description
The CC 4.0 plain text licenses use lower characters (a, b, ...) in the third level of the numbering, e.g. Section 2(a)(1) or 2(a)(5), but the internal references use upper case letters (A, B, ...), e.g. Section 2(a)(6) or Section 3(a)(3).  This is inconsistent and potentially misleading.

The HTML versions of the license text does consistently use upper cases across all third level

[2021-02-20 08:10] RiyaJ2311 opened #1201 "[BUG] Image not fit properly in the article's panel"
**What is the growth opportunity you want to see solved?**
 [The organization](https://creativecommons.org/) is the most easily accessible and is considered as the most reliable [source](https://www.smartinsights.com/user-experience/website-design/what-is-the-importance-of-web-design-for-your-audience/#:~:text=A%20well%2Ddesigned%20website%20can,navigate%20your%20website%20with%20ease.).
![image](

[2021-02-24 12:33] RiyaJ2311 opened #1202 "[BUG] Images for blogs get cropped and creates unsymmetry"
**Description**
On the website of Creative Commons, I was navigating then realized the issue in the blog image
![image](https://user-images.githubusercontent.com/48223671/108999651-988f5880-76c8-11eb-8139-8ce1cd1890d5.png)
The red marked square shows the bug, I am talking about.
The complete space is not utilized, the bottom spaces are left empty.

**Expected Behaviour**
Utilizing the complete spa

[2021-03-11 02:19] yrrahsilieb opened #1203 "Feature/problem"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [x] I would be interested in implementing this feature.

[2021-03-11 07:42] yrrahsilieb commented on #936
I'm sorry I Don't know how

[2021-03-11 07:48] yrrahsilieb opened #1204 "Bug report"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-03-11 08:51] yrrahsilieb opened #1205 "Bug report"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-03-11 16:00] #1203 closed

[2021-03-11 16:02] #1204 closed

[2021-03-11 16:03] #1205 closed

[2021-03-21 18:47] jodeebrowm commented on #1200
Should I combine these changes with the ones in pull request #1198 ? So we only break licensee et al once.

[2021-05-02 12:47] stevenjoezhang commented on #1197
Is it possible to publish an official package containing cc button & icon images to npm? In this way, users will be able to load images through CDN providers such as jsdelivr or unpkg

[2021-05-02 14:53] obulat commented on #1197
The assets are part of the Vocabulary package, and you can actually use them through jsdelivr /unpkg. Here you can find some more information: https://cc-vocabulary.netlify.app/?path=/docs/vocabulary-usage--page

[2021-05-02 15:03] stevenjoezhang commented on #1197
Thanks very much! I have confirmed that the badge can be loaded like this
[code]

[2021-05-15 18:50] BlessedExtacy89 opened #1207 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-05-19 21:11] #1159 closed

[2021-05-20 21:05] ericsteuer opened #1208 "Need help updating "The Growing Commons" section on cc.org homepage"
The text "1.6 billion works and counting." on https://creativecommons.org/ in "The Growing Commons" section should read "2.0 billion works and counting." I've spent a bunch of time trying to figure out how to make this update, but I have no idea where the content is so that I can edit it. Going to the edit area for the homepage doesn't do it -- it's pulling this content in from somewhere else.

[2021-05-20 23:03] #1208 closed

[2021-06-23 18:14] Jessicayuen105 opened #1209 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-06-25 13:34] mzeinstra opened #1210 "License CC BY-NC-ND 4.0 offline"
It seems that the CC BY-NC-ND legaltext.nl is no longer loading from CC's servers. See attached image.

URL: https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode.nl

<img width="1726" alt="Screenshot 2021-06-25 at 15 31 37" src="https://user-images.githubusercontent.com/5627431/123432458-b4e5c800-d5ca-11eb-923c-1071096028ce.png">

[2021-06-26 14:12] BilouMaster opened #1211 "License infos in SVG file?"
Hello, my question is not about the website but lincensing in general...

I was wondering if it was possible to license an SVG file/code, and if my method was correct:

[code]

What do you think of this solution? I am not used to metadata and RDF things...

Thank you!

[2021-06-26 14:50] BilouMaster commented on #1211
Maybe it could be simplified?

[code]

or even ?

[code]

[2021-06-28 14:52] #1210 closed

[2021-07-13 22:16] nana6956 commented on #1200
g

[2021-07-19 11:55] Jayman2000 opened #1212 "[Bug] Legal Code Defined excludes most of CC0"
## Description
According to [Legal Code Defined](https://creativecommons.org/legal-code-defined/),

The only part of CC0 that acts as a license is its Public License Fallback. As a result (based on the definition provided by Legal Code Defined), most of CC0 is not part of its legal code and is not "legally-operative".

## Expectation
I would expect that sections 1–4 of CC0 would be a part of its l

[2021-08-01 19:08] Jayman2000 commented on #1143
[The deed](https://creativecommons.org/publicdomain/zero/1.0/) is also gendered. It says “The person who associated a work with this deed has dedicated the work to the public domain by waiving all of _his or her_ rights to the work worldwide under copyright law[…]”

[2021-08-01 20:09] Jayman2000 opened #1213 "[Bug] Proposed CC0 1.1 contains invalid encoding declaration"
## Description

According to [the HTML Standard](https://html.spec.whatwg.org/multipage/), a [`meta`](https://html.spec.whatwg.org/multipage/semantics.html#meta) element can have its [`http-equiv`](https://html.spec.whatwg.org/multipage/semantics.html#attr-meta-http-equiv) attribute set to [`content-type`](https://html.spec.whatwg.org/multipage/semantics.html#attr-meta-http-equiv-keyword-content-t

[2021-08-01 20:20] Jayman2000 opened #1214 "[Bug] Proposed CC0 1.1 has non-conforming align attribute"
## Description

According to [the HTML Standard](https://html.spec.whatwg.org/multipage/), [the `align` attribute must not be used on `p` elements](https://html.spec.whatwg.org/multipage/obsolete.html#non-conforming-features). [The proposed CC0 1.1](https://github.com/creativecommons/creativecommons.org/blob/cc0-1-1-proposed/docroot/legalcode/zero_1.1.html) uses the `align` attribute on a `p` elem

[2021-08-01 21:05] Jayman2000 opened #1215 "[Bug] Proposed CC0 1.1 contains error from CC0 1.0"
## Description

[The proposed CC0 1.1](https://github.com/creativecommons/creativecommons.org/blob/cc0-1-1-proposed/docroot/legalcode/zero_1.1.html)’s Section 4(b) says “the present or absence of errors”. [It should say “the presence or absence of errors”.](https://creativecommons.org/legal-code-errata/)

## Reproduction

1. [Download the proposed CC0 1.1.](https://github.com/creativecommons/creat

[2021-08-02 00:35] Jayman2000 opened #1216 "[Bug] The Trademark Policy is gendered"
## Description

[The Creative Commons Trademark Policy](https://creativecommons.org/policies/#trademark) says “[…]the creator has applied a Creative Commons license to her work.” For consistency with #1143, the word “her” should be replaced with the word “their”.

## Resolution

- [x] I would be interested in resolving this bug.

[2021-08-05 08:13] brylie commented on #1211
@BilouMaster the markup above looks correct.

Related question:

- https://opendata.stackexchange.com/questions/3981/how-to-embed-licenses-within-svg

[2021-08-05 08:13] #1211 closed

[2021-08-08 22:53] SamB opened #1217 "[Bug] Trademark Policy uses term "contrast ratio" without defining it"
## Description
The [Trademark Policy](https://creativecommons.org/policies/#trademark) says:

But what ratio do you mean? For web use, do we &hellip;

1. &hellip; just add up the 8-bit RGB components of each color and then divide?
2. &hellip; realize that the amount of illumination corresponding to those RGB components isn't actually linear, but something much closer to [sRGB](https://en.wikipedia

[2021-08-12 10:49] Jayman2000 opened #1218 "[Feature] Dedicate the rest of the legal tools’ text to the public domain"
## Problem

I would like to use CC0 to help me dedicate some of my software to the public domain. I would like to include a copy of CC0 with my software since [that’s recommended](https://wiki.creativecommons.org/wiki/CC0_FAQ#May_I_apply_CC0_to_computer_software.3F_If_so.2C_is_there_a_recommended_implementation.3F). Parts of CC0 are legal code, so parts of CC0 were dedicated to the public domain u

[2021-09-03 16:49] weyyserabut opened #1219 "issues close"
Thanks for reporting an issue, to help us file this efficiently we made this
template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our
sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2021-09-04 19:52] jodeebrowm commented on #1200
Any update on this? As said before, I'm willing to provide a PR but I'm still waiting for an answer on whether to combine this with #1198 / #1199.

[2021-09-16 05:44] Cvv5 opened #1220 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2021-09-16 05:44] #1220 closed

[2021-09-16 05:45] Cvv5 opened #1221 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2021-09-16 05:46] #1221 closed

[2021-10-08 05:32] AhmedShah63 opened #1222 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-10-12 17:41] faxfoxbaxbox opened #1223 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2021-10-13 14:42] #1223 closed

[2021-11-10 06:14] zeeshan206 opened #1226 "[Feature] <FOTOPEDIA is not exists, Closed>"
## Problem

## Description

Dear Creative commons, in the section of OERs, there is mentioned " Fotopedia " . According to web search and Wikipedia the fotopedia platform has been closed. It is requested that please omit the information about fotopedia. Thank you.
## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-01-01 20:07] nejdevyslovit opened #1227 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-01-02 10:12] Bretcan commented on #1227
How when I didn’t know

[2022-01-02 10:15] Bretcan commented on #1227
And I live in Nashville Tennessee

[2022-01-12 18:34] sarahpearson opened #1228 "Create redirect to updated CC Legal Database"
## Problem
The top search result on Google when you search for CC-related cases is this outdated CC wiki page: https://wiki.creativecommons.org/wiki/Case_Law

## Description
Can we create a redirect from that page to the updated repository at https://legaldb.creativecommons.org/. Thanks!

[2022-01-12 20:20] nejdevyslovit opened #1229 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-01-12 20:20] nejdevyslovit opened #1230 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-01-30 07:19] WENSHENGYOU opened #1231 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-02-15 20:12] sarahpearson commented on #1216
Corrected. Thank you!

[2022-02-15 20:12] #1216 closed

[2022-02-26 10:12] fpesari opened #1232 "[Feature] Add in FAQ: using music samples released under the CC BY-SA"
## Problem
Recently, on the web, there's been some discussion about compliance with the CC BY-SA in the case of music samples.

This discussion sprung from [this post](http://virtualplaying.com/virtual-playing-orchestra/comment-page-3/#comment-703) (and [related video](https://www.youtube.com/watch?v=xvowEZqgflw)) by popular libre software vlogger @unfa and initially concerned the [Virtual Playing

[2022-03-01 10:19] mzeinstra commented on #943
No longer relevant, since new deed page design.

(cleaning up my open issues).

[2022-03-01 10:19] #943 closed

[2022-03-01 11:43] fazzaa321 commented on #1232
j

[2022-03-12 14:40] ArloJamesBarnes commented on #1194
Any update on this?

[2022-04-09 08:52] Hima88888888 commented on #1232
[]()

[2022-04-28 16:55] #1125 closed

[2022-05-11 19:56] #1145 closed

[2022-05-11 20:22] #1065 closed

[2022-05-29 23:55] sueka opened #1235 "Translation issue in legalcode (ja)"
Should I fix this on GitHub or Transifex?

## Description

I found small errors in the Japanese translations of the BY* 4.0 licenses.

## Expectation

I think the following line should be as follows.

https://github.com/creativecommons/creativecommons.org/blob/441dbca29eda310d53bad954ded2c11acaa80cc2/docroot/legalcode/by_4.0_ja.html#L256

[code]

The same is true for

- docroot/legalcode/by-nc-nd_

[2022-05-30 00:00] sueka commented on #1235
Not `priority: high`..

[2022-06-27 18:39] #1235 closed

[2022-06-27 18:40] #1198 closed

[2022-07-14 16:09] yaxollum opened #1239 "[Bug] Incorrect link on Use & remix page"
## Description
There is an issue with the following section on the [Use & remix](https://creativecommons.org/use-remix/) page:

On the last line, the CC BY-ND 2.0 text is linked to the wrong license - CC BY 2.0 (https://creativecommons.org/licenses/by/2.0/). It should be linked to https://creativecommons.org/licenses/by-nd/2.0/

## Reproduction

1. Visit https://creativecommons.org/use-remix/
2. C

[2022-07-15 07:09] jodeebrowm commented on #1200
@TimidRobot  I've created a pull request for this: https://github.com/creativecommons/creativecommons.org/pull/1240.

Hopefully, this brings this a step closer to being resolved.

[2022-07-15 17:48] #1239 closed

[2022-07-23 05:11] sozidateli opened #1241 "[Feature] <Replace this with actual title>"
## Problem

## Description

## Alternatives

## Additional context

## Implementation

- [ ] I would be interested in implementing this feature.

[2022-08-06 11:56] Jayman2000 commented on #1218
I’m now realizing that this problem is worse than I originally thought. The part of [“CC’s Licensing Statement for Content and Software Code”](https://creativecommons.org/policies#licensing%20statement) that makes content available under CC BY 4.0 says (emphasis mine)

The “text of Creative Commons legal tools” is explicitly mentioned as something that isn’t available under CC BY 4.0. Since CC0 is

[2022-08-10 20:21] drhrdr commented on #1187
@kgodey #97

[2022-08-10 20:21] drhrdr opened #1243 "[Bug] <Replace this with actual title>"
## Description

## Reproduction

1.
2.
3.
4. See error.

## Expectation

## Screenshots

## Environment

 - Device: (_eg._ iPhone Xs; laptop)
 - OS: (_eg._ iOS 13.5; Fedora 32)
 - Browser: (_eg._ Safari; Firefox)
 - Version: (_eg._ 13; 73)
 - Other info: (_eg._ display resolution, ease-of-access settings)

## Additional context

## Resolution

- [ ] I would be interested in resolving this bug.

[2022-08-11 21:43] mindspillage commented on #1218
All of the text that appears on the pages containing CC licenses and legal tools should be released to the public domain under CC0. (The licensing statement was written prior to clarifying which elements on those pages are and are not legal code!) The policies page has now been clarified to state that all accompanying notices on these pages are also released under CC0. Does this resolve your issue

[2022-08-12 01:26] Jayman2000 commented on #1218
Pretty much. I would only change one thing:

since CC0 isn’t a license.

[2022-08-30 18:01] xolotl opened #1246 "[Bug] CC post author has no avatar"
## Description
Creative Commons, the generic organizational author on the CC website, which is credited as the author of organizational posts, has no avatar.

## Reproduction
1. Visit a post authored by creative-commons (eg, https://creativecommons.org/2022/08/30/press-release-new-four-year-4-million-open-climate-campaign/)
4. See lack of avatar.

## Expectation
The Creative Commons author should

[2022-08-31 07:11] xolotl commented on #1246
I attempted to address this by adding an email address to the CC guest user for which there is a gravitar (communications@creativecommons.org), but still no avatar is showing on CC posts.

[2022-08-31 07:48] xolotl commented on #1246
Here's [a good example post](https://creativecommons.org/2022/06/22/here-are-four-key-takeaways-from-evaluating-the-cc-certificate/) that includes both a regular WP user as an author (Jennryn Wetzler) and a guest user (Jonathan Poritz). The guest users don't seem to have the right gravatar img src for their avatars.

[2022-08-31 13:27] possumbilities commented on #1246
@xolotl there's a chance that the `simple-local-avatars` plugin is why the Gravatar route is failing, and may be the cause of it failing in general since these two plugins have overlapping functionality changes.

[2022-09-01 04:47] jamesbraza opened #1247 "[Feature] Getting Started Section of README.md"
## Problem

I am trying to make a blog website hosted via GitHub Pages with a CC BY-SA 4.0 license.

[`santisoler/cc-licenses`](https://github.com/santisoler/cc-licenses/blob/8887424b2a1f1a78fca7efbcc2cd5fd4b1998812/LICENSE-CC-BY-SA) has a `LICENSE` file available for individuals to copy and add to their respective repos.  However, https://github.com/santisoler/cc-licenses/issues/9 is currently op

[2022-09-01 06:55] xolotl commented on #1246
@possumbilities yes, hm... There is also a field in on guest authors specifically for avatars and the image their appears on their profile page, but not in their "byline" on posts. I see there is the Creative Commons Author plugin that may be in play also. As both Simple Local Avatars and Co-Authors Plus have updates, there might also be new behaviors if all was updated. A bit of a knot to untangl

[2022-09-01 13:46] #1247 closed

[2022-09-01 15:56] jamesbraza commented on #1247
Thank you for the detailed response @TimidRobot, and good to know about use of CC licenses for software.  Cheers!

[2022-09-08 22:10] ricarocokecom opened #1248 "Launch my actual channel 5 potentially 29-30-31 lease thanks!?"
## Problem
<!--  From another facebook.com messenger sos sorry if you dont agree with everything Can't do whatsapp at the moment or never so I'll message here so do you do multiplex contracts and a sky freeview cards please for downloading my videos from youTube and adjusting them at the same time whenever I want and if I ever want to what about arial satulites and be able to Launch my channels 5

[2022-09-08 22:17] ricarocokecom opened #1249 "[Launching 5 channels potentialy on 29-30-31 october 2022 please thanks already posted the same!?>"
## Problem
<!--  From another facebook.com messenger sos sorry if you dont agree with everything Can't do whatsapp at the moment or never so I'll message here so do you do multiplex contracts and a sky freeview cards please for downloading my videos from youTube and adjusting them at the same time whenever I want and if I ever want to what about arial satulites and be able to Launch my channels 5

[2022-09-19 19:58] Jayman2000 opened #1250 "[Feature] Use smart apostrophes and smart quotes in legal code"
## Problem

[According to the Unicode Standard, “2019 __’__ is preferred for apostrophe”.](https://www.unicode.org/charts/PDF/U0000.pdf#page=4) [The standard also says ‘preferred characters in English for paired quotation marks are 201C __“__ & 201D __”__’.](https://www.unicode.org/charts/PDF/U0000.pdf#page=3) U+2019 is sometimes called the “smart apostrophe”, and U+201C and U+201D are sometimes c

[2022-10-04 17:19] SuperlyEvilDog opened #1251 "[Bug] Search Error"
I am having an issue while searching where I am unable to search the Openverse image repository.

## Reproduction
1. Type anything into search bar
2. Hit enter
3. Page refreshes and search is not completed
4. See error.

## Expectation
I was hoping to be able to use the website to search like I usually do.

## Screenshots
Not attaching screenshot since it is just an empty search bar

## Environmen

[2022-10-25 22:41] ryancdotorg commented on #1143
Hey all, I was just wondering where we're at with this? No activity on it in about two years, and at least for the English version it seems like a straightforward change that everyone's agreed on.

[2022-11-04 17:29] #1251 closed

[2022-11-21 22:38] ohneEigenschaften opened #1253 "[Bug] Typo in Swedish translation"
## Description
The Swedish version at https://creativecommons.org/licenses/?lang=sv contains a typo.
The word "verktig" should be written "verktyg"

## Reproduction
1. go to https://creativecommons.org/licenses/?lang=sv
2. See error.

## Expectation
change "verktig" to "verktyg"

## Additional context
the issue was raised by Tor-Björn Fjellner[tobi@fjellner.com]

## Resolution
- [ ] I would be int

[2022-11-21 23:16] tobifjellner commented on #1253
PR created: https://github.com/tobifjellner/cc.i18n/pull/1

[2022-11-21 23:18] tobifjellner commented on #1253
It looks as if the PR is formally against a different project, but I don't see it in https://github.com/creativecommons/cc.i18n/pulls

[2022-11-22 16:28] #1253 closed