[2018-01-05 22:10] peterspdx commented on #732
@robmyers or @georgehari will have to fix this. Agree that it should be. Thanks @little-wow for clarifying all of the breaks.

[2018-01-06 01:01] robmyers commented on #732
We don't have 2.5 fr legalcode in Git, only 2.0 and 3.0 . Search in the page here for 2.0_fr, 2.5_fr and 3.0_fr to confirm this:

https://github.com/creativecommons/creativecommons.org/tree/master/docroot/legalcode

The 3.0 are currently working for me, e.g.:

https://creativecommons.org/licenses/by-nc/3.0/legalcode.fr

If anyone is still having trouble with the 3.0 licenses, please can they provi

[2018-01-07 19:04] ArgyroNe7 commented on #732
Hello @robmyers,
About the non-working 2.5 licenses, here is an example:
https://creativecommons.org/licenses/by/2.5/legalcode.fr
which I accessed through this page:
https://creativecommons.org/licenses/by/2.5/deed.fr
by clicking in the "licence" link.

Here are all the broken links:
https://creativecommons.org/licenses/by/2.5/legalcode.fr
https://creativecommons.org/licenses/by-nc/2.5/legalcode.f

[2018-01-07 19:10] ArgyroNe7 commented on #732
Continuing:
Now about the 3.0 licenses, I access them through the pages:
https://creativecommons.org/licenses/by-nd/3.0/fr/
(respectives to each licences in both 2.5 and 3.0 cases, of course)

Here are the links that are 404'd again to me:
https://creativecommons.org/licenses/by-nd/3.0/fr/legalcode.fr
https://creativecommons.org/licenses/by-nc-nd/3.0/fr/legalcode.fr
https://creativecommons.org/lic

[2018-01-08 18:00] robmyers commented on #732
Thank you for providing this information.

There are two different bugs here.

## 1

The French 2.5 deeds do not have accompanying French legalcode documents. I am not sure whether this means that we should not display the French 2.5 deeds or whether they should link to the un-ported licenses. @peterspdx what is the correct approach here?

## 2

The French 3.0 deeds *do* have ported legalcode docu

[2018-01-08 18:46] robmyers commented on #718
After discussing with comms., I added a notice to the Wiki page, which seems to be the most official document we have for the scraper.

I also moved the scraper code to the /cc-archive/ project on GitHub.

The Scraper is no more.

[2018-01-08 18:46] #718 closed

[2018-01-08 20:17] paul2keller commented on #718
can you provide a link to the wiki page?

[2018-01-08 20:42] robmyers commented on #718
The wiki page is here -

https://wiki.creativecommons.org/wiki/Metadata_Scraper

[2018-01-09 07:37] ArgyroNe7 commented on #732
Glad to have contributed through this @robmyers. I'll look forward about the 2.5 possible availability.

[2018-01-11 14:18] peterspdx commented on #732
On bug #1, the 2.5 French deeds should link to the 2.5 English unported licenses. That's useful for Francophones who are using any 2.5 licenses and want to read the human readable summary in their preferred language.

On bug #2:
- There are no official translations of the 3.0 unported licenses (some unofficial exist, but CC does not serve those because they have not been vetted, proofed for accura

[2018-01-11 16:06] eclairsinaporn opened #733 "Cc"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-01-11 22:27] little-wow commented on #685
@mmoreshead Just giving a ping on this because I can't edit this page :)

[2018-01-11 22:28] #725 closed

[2018-01-11 22:29] #687 closed

[2018-01-11 22:29] #672 closed

[2018-01-12 17:35] robmyers commented on #685
The FAQ is not in WordPress, it's stored in a separate Git repo here:

https://github.com/creativecommons/faq

It's a static site to help track changes and facilitate translation. We have to be very careful when changing it but I *think* fixing a broken link is OK. I'll need to deploy any changes.

[2018-01-16 11:23] peterspdx opened #735 "update /policies page on main website"
Update text on https://creativecommons.org/policies to conform with edits submitted by @peterspdx to account for misc changes plus launch of CCGN membership site.

Archive effective version prior to making changes, and note at bottom of page as with earlier versions of the page.

Changes are contained in document: Policies changes (Oct 1, Nov 8, Jan 16), shared via email.

Assigned to @little-wow

[2018-01-16 14:17] mmoreshead opened #736 "Missing .txt legalcode version of CC BY 3.0 IGO"
From info@:

Hi,

Looking for the text version of the CC BY IGO (3.0).
In theory, it should be here:
https://creativecommons.org/licenses/by/3.0/igo/legalcode.txt

As is the case (for example) with CC BY 4.0:
https://creativecommons.org/licenses/by/4.0/legalcode.txt

However that just bounces to a HTML version of the document,
which isn't useful for our purposes.

Any chance of getting that fixed

[2018-01-16 15:48] justinclift commented on #736
Looking at this repo, it appears all of the licence formats (html/text) are in this directory:

https://github.com/creativecommons/creativecommons.org/tree/master/docroot/legalcode

I can convert the html version to text, and make a Pull Request on GitHub to include it.
(eg straight conversion, no wording changes **at all**)

Would that be acceptable?

I really just need a plain txt *reference* I

[2018-01-18 13:02] little-wow opened #737 "Spanish page is insecure and down"
https://es.creativecommons.org/

Does not work. Is there a translation of our homepage that someone can use?

[2018-01-18 13:34] claudioruiz commented on #737
we haven't any Spanish translation to the CC page, as far as I know.

[2018-01-18 13:53] little-wow commented on #737
According to the Wiki, this was the site for CC Spain.

[2018-01-18 13:53] little-wow commented on #737
So maybe it's just confusion?

[2018-01-18 13:55] claudioruiz commented on #737
I have no idea about this website. If it was CC Spain website, you should reach out Ignasi Labastida (ilabastida@ub.edu).

[2018-01-18 14:07] peterspdx commented on #737
Yup, for some reason the Spanish main page is down. @claudioruiz do you want to contact Ignasi? He would know (and isn't on this thread that I can tell).

[2018-01-22 15:11] georgehari opened #738 "Staging server down"
The staging server URL https://legalcode.legal.creativecommons.org/ is down for at least 12 days.

[2018-01-22 19:16] robmyers commented on #738
Eek! Investigating...

[2018-01-22 19:36] robmyers commented on #738
It's back.

[2018-01-22 20:04] CheyenneFMA opened #739 "freemusicarchive.org Licensing Tool 503'ing"
When trying to use the integrated freemusicarchive.org license chooser, I get this:
![screen shot 2018-01-22 at 11 47 45 am](https://user-images.githubusercontent.com/9011511/35241474-6d639ebe-ff6b-11e7-817d-0d3209d92898.png)

Text:

Error 503 Service Unavailable
Service Unavailable

Guru Meditation:
XID: 34867138

Varnish cache server

I have tried to access this tool using Chrome [https://aboutm

[2018-01-22 22:03] robmyers commented on #739
It's back now.

Thank you for reporting this!

[2018-01-22 22:03] #739 closed

[2018-01-24 20:27] robmyers opened #740 "There Is Some Weirdness in WordPress with Posts with Titles using British English Spelling"
Some historical articles have the ~~correct~~ other spelling of license as "licence" in their permalinks, but WordPress is rewriting this to "license" before searching the database for them. It therefore does not find them, as their permalinks do not match the rewritten version.

e.g.:

https://creativecommons.org/2015/07/13/new-translations-cc-4-0-licenses-now-available-in-te-reo-maori-and-japane

[2018-01-25 16:43] mzeinstra opened #741 "CSS seems to be broken on https://creativecommons.org/about/downloads/"
All icons on the downloads page seem to be one long list, I don't believe this is what it should look like.

See https://creativecommons.org/about/downloads/

And I think it should look more like:
https://web.archive.org/web/20160108162902/https://creativecommons.org/about/downloads/

Also the page gives a 503 when trying to load resources from https://staging.creativecommons.org/wp-content/upload

[2018-01-26 11:18] mzeinstra opened #742 "profile pages on network leads to back-end wordpress"
I went to https://network.creativecommons.org/members/
Logged in
an click on profile

I expected to see a profile page (as I did a couple of days ago), but was redirected to Wordpress backend. Is this the current workflow?
![image](https://user-images.githubusercontent.com/5627431/35437489-ea5c73d0-0292-11e8-81a8-1ceb211e7f0c.png)

[2018-01-29 22:44] little-wow commented on #735
done

[2018-01-29 22:44] #735 closed

[2018-01-29 22:46] little-wow commented on #706
Going through bugs and want to check @robmyers do you want to do this through redirects or through copying the pages over?

[2018-01-29 23:04] gho87 opened #743 "Some big icons not appearing at the "Choose a license" page?"
I went to the ["Choose a license" page](https://creativecommons.org/choose/). I found the icons at the "Selected License" panel invisible (but clickable). I sampled some others, but the icons are also invisible.

![selected license 1](https://user-images.githubusercontent.com/35939662/35539235-9ec65df8-0505-11e8-8a7c-4a4186bf530d.png)
![selected license 2](https://user-images.githubusercontent.com

[2018-01-31 01:28] robmyers opened #744 "Mailing List Subscribe Popover Refers to Staging"
Point it to Live.

Why is it pointing to staging?

[2018-01-31 01:39] robmyers commented on #744
This didn't show up until Staging was having problems.

I've fixed staging, copied over the file, and everything is happy now.

[2018-01-31 01:39] #744 closed

[2018-01-31 16:58] alekstrust opened #745 "Wrong language in API response"
Hi!
When submitting a request to https://api.creativecommons.org/rest/1.5/license/standard/get?locale=es&commercial=n&derivatives=n&jurisdiction= the response is Attribution-NonCommercial-NoDerivatives 4.0 Internacional (notice the use of English and Spanish).

It should be Atribución-NoComercial-SinDerivar 4.0 Internacional

[code]

It does not happen when the parameters are different.

[2018-02-01 19:40] claudioruiz commented on #737
Ignasi says the problem is when you try to access over HTTPS. When you force HTTP, it works.
The website is hosted in ibiblio and he said he contacted @robmyers while ago about it. I don't know how we can help him out.

[2018-02-03 15:28] foomin10 opened #746 "Deadlink in Japanese page"
https://creativecommons.org/licenses/by-sa/3.0/deed.ja

This Japanese page contains deadlink that is in “これは人が読んでわかりやすいようにしたライセンスの要約です。”

[2018-02-03 15:33] foomin10 commented on #746
Source

[code]

Probably ‘href="legalcode"’ is correct.

[2018-02-05 21:53] dunn opened #748 "license pages do not respond to Accept headers"
**Expected Behavior**

Sending an `Accept` header with the desired content-type (e.g., RDF) should result in CC returning the RDF for a license, rather than the HTML:

[code]

**Actual Behavior**

The server ignores the `Accept` header and returns HTML.

This is a separate issue from https://github.com/creativecommons/creativecommons.org/issues/542; in that case it was a separate URL that was down

[2018-02-06 00:34] robmyers commented on #748
I've checked the code and we do not currently implement this behaviour.

Currently, the rdf files are treated as distinct documents rather than different content types for the same document. Since the rdf is not simply a different marking-up of the same text, I think it is reasonable to keep them as distinct documents.

[2018-02-06 22:12] ArgyroNe7 opened #749 "Licenses legal text 404'd: Developing Nations 2.0"
Hello,
I went to the french deed page of the Developing Nations 2.0 licence, here:
https://creativecommons.org/licenses/devnations/2.0/deed.fr

and tried to access to the legal code, by clicking on the "licence" link, in the phrase "C'est un résumé (et non pas un substitut) de la licence. Avertissement."

The "licence" link redirected me to this page: https://creativecommons.org/licenses/devnation

[2018-02-06 22:49] dunn commented on #748
If we want RDF, should we just be appending `/rdf` to the URIs?

Out of curiosity, was this behavior implemented at some point in the past?  At least one RDF library uses the non-RDF URIs, apparently assuming sending the `Accept` headers will work: https://github.com/curationexperts/oargun/blob/master/lib/oargun/vocabularies/cclicenses.rb

[2018-02-07 08:14] mzeinstra commented on #748
I believe I remember that there was some content negotiation as some point in the past. The reason that I believe this was the case is twofold.
1. you recommend it in section 5.2 of the ccrel primer.
2. Over at rightsstatements.org a lot of the insights of CC have been mimicked and that platform has content negotiation.

Also I would argue the RDF is the same document as the deed, not as the legal

[2018-02-07 15:50] escowles commented on #748
👍 to adding support for content negotiation.  I think the RDF and HTML are different formats of the same information, and the fact that the RDF subject URI is the same as the HTML URI supports this view.

[2018-02-15 06:02] gho87 opened #750 "legalcode pages of CC BY Canada versions 2.0 and 2.5 not found"
I went to https://creativecommons.org/licenses/by/2.5/ca/ (CC BY 2.5 Canada) and clicked both English and French licenses:
* https://creativecommons.org/licenses/by/2.5/ca/legalcode.en
* https://creativecommons.org/licenses/by/2.5/ca/legalcode.fr

Both are "Not Found", i.e. probably no longer working(?).

Same for https://creativecommons.org/licenses/by/2.0/ca/ (CC BY 2.0 Canada):
* https://creati

[2018-02-16 23:00] pornpailin commented on #748
Note

[2018-02-20 11:21] Raj2032 opened #751 "I am not able to submit my ideas (website error)!"
https://creativecommons.org/use-remix/ideas/

In this link, when I click on the submit button, I am getting an error message that states that cookies are not enabled. I have enabled my cookies and I have used different browsers but the same issue persists.

Please take a look at the image of this error.
https://i.stack.imgur.com/o1b99.png

[2018-02-21 08:44] gho87 commented on #555
It works right now, but there is another issue here: https://github.com/creativecommons/creativecommons.org/issues/743

[2018-02-21 13:18] georgehari opened #752 "Aragonese language not listed in footer + some parts still in English"
A community member lets me know that he finished the Aragonese translation of the deed.

1. It's online at https://creativecommons.org/licenses/by-sa/4.0/deed.an etc., but **the language is not listed in the footer**.

2. Some parts are still in English, e.g. "You do not have to comply with the license...", although the **translation is completed and reviewed** on Transifex, for some time.

[2018-02-22 17:47] ericsteuer opened #753 "CC GN vouching request"
i just received a global network vouching request

when i click on the link to approve the request, i am brought to the typical page asking me to log in with my ccid (attached)
<img width="963" alt="screen shot 2018-02-22 at 9 46 00 am" src="https://user-images.githubusercontent.com/8919762/36554898-60c8c0e6-17b5-11e8-9315-185a012901f1.png">

when i hit "log in," nothing happens. i'm just brought

[2018-02-22 17:51] ericsteuer commented on #753
btw i'm using chrome (Google Chrome is up to date // Version 64.0.3282.167)

[2018-02-22 17:52] robmyers commented on #753
If you force-reload the page it should work out that you are logged in.

I thought I had fixed this, I will take a look. Thank you for catching this!

[2018-02-22 17:53] ericsteuer opened #754 "CC GN vouching request email"
this language is in the email that comes when you get a vouching request. shouldn't be "her" but "them," no?

"This person believes you can recognize her as an active contributor to the Creative Commons movement. That means you personally know her, you personally know her work and you can say to your peers you support this person be part of the CC Network community."

[2018-02-22 18:11] robmyers commented on #754
I agree. We are talking about a specific individual here rather than a generic example, so on balance I believe there is a stronger case for using singular they.

[2018-02-22 18:26] #555 closed

[2018-02-22 18:31] robmyers commented on #743
Thank you for catching this!

[2018-02-22 18:31] #743 closed

[2018-02-22 18:32] robmyers opened #755 "Migrate Icons For Chooser Out Of Old cc-wp-theme"
We should be able to remove the old creativecommons.org theme but the chooser relies on assets within it, notably the license icons.

Update the new theme with any missing assets and then change the path in the chooser code.

[2018-02-23 01:07] robmyers commented on #753
Nope, this was the one place this wasn't fixed.

Fixed in 8f0b8ee of commoners.

[2018-02-23 01:07] #753 closed

[2018-02-23 12:38] gho87 opened #756 "Link to legalcode of CC BY-SA 3.0 Nederland broken and needs replacement"
I went to https://creativecommons.org/licenses/by-sa/3.0/nl/, clicked https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode.nl [which is hyperlinked as "licentie" (license)], and was directed to "Not found" page.

I think the link was supposed to go to https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode

the ".nl" should be removed from "legalcode".

[2018-02-25 10:37] sweekarbhushan opened #757 "Unofficial Facebook page under Creative common"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1. I am from the marketing team of Cafe Bahar & Restaurant - since 1973, po

[2018-02-25 10:39] sweekarbhushan commented on #757
The Official business page - www.facebook.com/cafebaharhyd/
![new](https://user-images.githubusercontent.com/36812981/36640509-3037ff58-1a46-11e8-9998-24847b4feeab.JPG)

[2018-02-25 10:58] gho87 commented on #757
Did you contact them as seen at this page: https://www.facebook.com/pg/cafebaharhyd/about/?ref=page_internal

Moreover, this isn't something that Creative Commons can handle, can it?

[2018-02-27 16:40] georgehari opened #758 "Issues with the Chooser in French"
1. People reported that sometimes the chooser is 404. I encountered several 503 errors, here is one of them:

Error 503 Service Unavailable
Service Unavailable
Guru Meditation:
XID: 152031785
Varnish cache server

2. Links to licenses from the page https://creativecommons.org/choose/?lang=fr, in the phrase "Ce(tte) œuvre est mise à disposition selon les termes de la Licence Creative Commons ..." a

[2018-02-27 20:08] sweekarbhushan commented on #757
Hi,

Am the admin for the current Official page of the business (
www.facebook.com/pg/cafebaharhyd
<https://www.facebook.com/pg/cafebaharhyd/about/?ref=page_internal>) and
when i had a long talk with facebook support team they said the unofficial
page is created by creative common/wikipedia so hence they also do not have
the access to this unofficial page nor we can claim it.

Firstly, we request

[2018-02-27 21:18] gho87 commented on #757
This Github is for bug corrections and technical issues, not content. Have you gone to https://creativecommons.org/about/contact/ yet? They can help you more.

[2018-02-28 00:58] kentvuong33 commented on #756
My want donation but my bank is nothing now

[2018-02-28 10:45] sweekarbhushan commented on #757
Hi,

I hope you are able to see this information to contact GitHub for such
issue in the contact of creative commons.

However i have raised this issue everywhere possible but did not get any
response except yours. It would be great if you can help us or redirect us
to get this resolved.

Please find the screenshot.

Thanks

On Wed, Feb 28, 2018 at 2:49 AM, gho87 <notifications@github.com> wrote:

[2018-02-28 21:38] gho87 commented on #757
I am starting to believe that this is a copyright or trademark issue. As said before, there is nothing that Creative Commons can do about this.

If you have contacted that user responsible for the unofficial page, but that turns out unsuccessful, then you may want to report the unofficial page to Facebook for copyright or trademark infringements. Please see the below pages:
* https://www.facebook.

[2018-03-03 05:51] gho87 commented on #625
There is https://creativecommons.org/licenses/by-nc-sa/4.0/deed.fr which is what you were looking for. It works.

[2018-03-03 05:54] #756 closed

[2018-03-06 23:56] robmyers commented on #758
1. I've just updated the monitoring for the chooser server and flushed the cache, that should help with this. The 404 is weird, as you point out we more usually get 503s. Any more information we can get on this would be helpful.

2. The 4.0 licenses are not ported and so the Transifex string we use to link to them links to the canonical URL for the International version, which is in English. For m

[2018-03-07 00:23] robmyers commented on #750
This has now been fixed. Thank you for reporting it!

[2018-03-07 00:23] #750 closed

[2018-03-07 00:26] robmyers commented on #757
@gho87 is correct (thank you for your help @gho87 !), Creative Commons is not the author of these pages, just of the licenses, so @sweekarbhushan you will have to contact Facebook directly.

[2018-03-07 00:26] #757 closed

[2018-03-07 00:27] robmyers commented on #751
Confirmed.

@little-wow should we take this form down or talk to our Civi support about it?

[2018-03-07 01:20] robmyers commented on #749
Thank you for reporting this!

The deed.fr link now works (this was the same issue as #750 ).

The "license" link is an error - there are no localised legalcodes for the DevNations license. Older versions of the deed do not have this error:

https://web.archive.org/web/20070710201432/http://creativecommons.org:80/licenses/devnations/2.0/deed.fr

The last version without this error captured by arch

[2018-03-07 01:31] robmyers commented on #745
Thank you for reporting this!

We have that string translated on Transifex but the translations on the API server haven't been updated in a long time.

I am working on updating the code that is used by the API but not the API code itself at the moment. I will see if there is anything I can do later.

[2018-03-07 01:55] robmyers commented on #742
The link in the menu on the page goes to:

https://network.creativecommons.org/wp-admin/users.php?page=bp-profile-edit

We would need to generate a link of the format:

https://network.creativecommons.org/members/robcreativecommons-org/profile/edit/group/1/

to go to the profile edit page, or drop the /edit... to go to the profile page.

I don't know what changed. :-/

[2018-03-07 01:58] robmyers commented on #741
Looks like this is something that was in the old theme but not the new one.

The heart issue was in the pop-over. That has been fixed.

[2018-03-07 02:02] robmyers commented on #727
/license/ historically redirected to /choose/ . That behaviour has been restored.

[2018-03-07 02:02] #727 closed

[2018-03-07 02:03] robmyers commented on #706
If we are moving stuff off the wiki we should move it over (and replace the wiki page with a link to it).

[2018-03-07 02:04] #705 closed

[2018-03-07 02:04] #702 closed

[2018-03-07 02:04] #696 closed

[2018-03-07 02:19] robmyers commented on #694
Thank you for reporting this.

/licenses/zero/ is incorrect, it's /publicdomain/zero/ .

There is a redirect for this in the webserver config but it was broken (along with the one for /licenses/CC0...).

I have now fixed this.

[2018-03-07 02:19] #694 closed

[2018-03-07 02:21] robmyers commented on #689
Thank you for reporting this!

I have fixed Let's Encrypt on this server. The certificate is now good.

[2018-03-07 02:21] #689 closed

[2018-03-07 02:21] robmyers commented on #686
Looks good now.

[2018-03-07 02:21] #686 closed

[2018-03-07 02:25] #685 closed

[2018-03-07 02:27] robmyers commented on #685
Thank you for reporting this!

This issue has now been fixed.

[2018-03-07 02:27] #678 closed

[2018-03-07 02:31] robmyers commented on #681
This is intentional behaviour to help people copy the metadata block correctly.

I agree that it's frustrating when one wishes to copy only part of it, but that's the less common case and we can always copy it to a text editor to extract the required section.

[2018-03-07 02:31] #681 closed

[2018-03-07 02:33] robmyers commented on #664
@pa-w I think you fixed this?

[2018-03-07 02:35] robmyers commented on #660
This is because we don't have the sidebar to constrain the column width and therefore the image size.

@robinpuga is this something that could be fixed simply?

[2018-03-07 02:36] robmyers commented on #653
@janeatcc can you check this with current safari ? If it's still b0rked I'll take a look.

[2018-03-07 02:38] robmyers commented on #648
Replacing with #758.

[2018-03-07 02:38] #648 closed

[2018-03-07 02:39] #635 closed

[2018-03-07 02:41] robmyers commented on #630
Eek! We don't have enough strings translated for that in Transifex but it's being displayed because the legalcode *is* translated.

We'll need people to translate the strings on Transifex to fix this.

[2018-03-07 02:43] robmyers commented on #629
This was chosen when we switched to login.creativecommons.org and needed to not overwrite people's existing identities on the Wiki when reconciling them with the new logins.

Unless we start using the wiki more seriously again I'm not inclined to fix this, although I do agree they are not the nicest looking names.

[2018-03-07 02:43] #629 closed

[2018-03-07 02:44] robmyers commented on #625
Thank you @gho87 !

[2018-03-07 02:44] robmyers commented on #625
I've added the License Link Problem tag as the information above is useful for that issue.

[2018-03-07 02:45] #595 closed

[2018-03-07 02:46] #576 closed

[2018-03-07 02:48] robmyers commented on #573
Done.

[2018-03-07 02:48] #573 closed

[2018-03-07 02:49] robmyers commented on #543
Thank you for reporting this!

This was fixed with the move to Let's Encrypt on stats.cc .

[2018-03-07 02:49] #543 closed

[2018-03-07 02:49] #532 closed

[2018-03-07 02:49] #521 closed

[2018-03-07 02:50] #525 closed

[2018-03-07 02:50] #518 closed

[2018-03-07 02:53] robmyers commented on #474
Done.

[2018-03-07 02:53] #474 closed

[2018-03-07 02:53] #450 closed

[2018-03-07 02:55] #367 closed

[2018-03-07 02:55] #368 closed

[2018-03-07 02:55] #369 closed

[2018-03-07 02:55] #370 closed

[2018-03-07 02:55] #371 closed

[2018-03-07 02:55] #372 closed

[2018-03-07 02:55] #373 closed

[2018-03-07 02:55] #374 closed

[2018-03-07 02:55] #375 closed

[2018-03-07 02:55] #376 closed

[2018-03-07 02:55] #377 closed

[2018-03-07 02:55] #378 closed

[2018-03-07 02:55] #379 closed

[2018-03-07 02:55] #380 closed

[2018-03-07 02:55] #381 closed

[2018-03-07 02:55] #382 closed

[2018-03-07 02:55] #383 closed

[2018-03-07 02:55] #384 closed

[2018-03-07 02:55] #385 closed

[2018-03-07 02:55] #409 closed

[2018-03-07 02:55] #440 closed

[2018-03-07 02:55] #476 closed

[2018-03-07 02:55] #486 closed

[2018-03-07 02:55] #491 closed

[2018-03-07 02:56] robmyers commented on #353
Current design is now orange and yellow.

[2018-03-07 02:56] #353 closed

[2018-03-07 02:56] #340 closed

[2018-03-07 02:57] robmyers commented on #5
This was fixed.

[2018-03-07 02:57] #5 closed

[2018-03-07 02:57] robmyers commented on #4
The chooser designed was changed, so this is no longer an issue.

[2018-03-07 02:57] #4 closed

[2018-03-07 02:58] #14 closed, assigned to rheaplex

[2018-03-07 03:00] robmyers commented on #758
See also #469 .

[2018-03-07 03:02] robmyers commented on #626
Fixed.

[2018-03-07 03:02] #626 closed

[2018-03-07 03:03] robmyers commented on #585
Fixed.

[2018-03-07 03:03] #585 closed

[2018-03-07 03:05] robmyers commented on #758
And #97 .

[2018-03-07 03:07] #52 closed

[2018-03-07 03:08] robmyers commented on #13
The new template fixes this.

[2018-03-07 03:08] #13 closed

[2018-03-07 03:09] robmyers commented on #6
This was all fixed.

[2018-03-07 03:10] #6 closed

[2018-03-07 03:11] robmyers commented on #56
Done.

[2018-03-07 03:11] #56 closed

[2018-03-07 03:13] #86 closed

[2018-03-07 03:13] robmyers commented on #86
These were fixed or redirected.

[2018-03-07 03:14] #324 closed

[2018-03-07 03:16] #445 closed

[2018-03-07 03:17] robmyers commented on #235
This now redirects.

[2018-03-07 03:17] #235 closed

[2018-03-07 03:18] #713 closed

[2018-03-07 08:08] sweekarbhushan commented on #757
Yes! I did that initially before getting here! but facebook customer support has clearly mentioned that as visible in the unofficial page that it has been created & licensed by wiki/cc/freebase. From there i started my journey till here.

[2018-03-07 11:48] Chealer commented on #681
Thanks @robmyers,
It could be intentional, except the selection should then encompass the whole text as soon as the primary button is pushed, not just when it is released (as happens after one has tried to select a fragment once).

Other avenues to fix while still being very friendly with those who want the whole code:

1. Make "Copy this code" a button to select all
2. Simply make the code zone l

[2018-03-07 12:40] georgehari commented on #758
1. No screenshots, but the page is good now. I will ask for screenshots if the problem persists.
2. I think it's important for the users to have a clear idea of where they go if they click on a link, so I would say go ahead and alter the code for this case and the similar ones.

[2018-03-07 12:50] georgehari commented on #749
It makes sense, but are you sure that the string

`This is a human-readable summary of (and not a substitute for) the <a href="legalcode" class="fulltext">license</a>.`

from Transifex propagates to https://creativecommons.org/licenses/devnations/2.0/deed.fr?

I added .fr to the link in the translation on Transifex last week, now it's:

`C'est un résumé (et non pas un substitut) de la <a href="leg

[2018-03-07 15:41] little-wow commented on #751
Let's just take the form down. If folks want to submit their ideas, they can email us at info@

[2018-03-07 15:41] #751 closed

[2018-03-07 16:42] robmyers commented on #85
We changed the chooser layout so this was no longer an issue.

[2018-03-07 16:42] #85 closed

[2018-03-07 16:44] robmyers commented on #113
Thank you that's awesome!

[2018-03-07 16:44] #113 closed

[2018-03-07 16:45] #214 closed

[2018-03-07 16:49] robmyers commented on #226
@peterspdx I can get a list of names from WordPress, we can guess who's who, and I can make the changes.

[2018-03-07 16:49] #245 closed

[2018-03-07 16:50] #271 closed

[2018-03-07 16:51] #289 closed

[2018-03-07 16:52] #284 closed

[2018-03-07 16:53] #277 closed

[2018-03-07 16:54] robmyers commented on #741
See also #273 .

[2018-03-07 16:55] #260 closed

[2018-03-07 16:55] #250 closed

[2018-03-07 16:58] robmyers commented on #246
We are looking at revising the database system, so this is no longer relevant.

[2018-03-07 16:58] #246 closed

[2018-03-07 16:58] #509 closed

[2018-03-07 16:58] #508 closed

[2018-03-07 16:59] #507 closed

[2018-03-07 17:00] robmyers commented on #288
Change this to a redirect. See #507 .

[2018-03-07 17:00] #322 closed

[2018-03-07 17:01] #355 closed

[2018-03-07 17:32] robmyers commented on #447
We'll hopefully be replacing this soon.

[2018-03-07 17:32] #447 closed

[2018-03-07 17:33] #453 closed

[2018-03-07 17:41] robmyers commented on #462
Fixed.

[2018-03-07 17:41] #462 closed

[2018-03-07 17:44] robmyers commented on #634
@mmoreshead let's discuss this offline.

[2018-03-07 17:46] robmyers commented on #510
@little-wow I'm checking old tickets. Is this still an issue?

[2018-03-07 17:46] #511 closed

[2018-03-07 17:56] robmyers commented on #749
The translations are delayed - I was on vacation last week and I was hoping to use the current strings as a test of a new webhook based deploy but I will deploy them now.

[2018-03-07 18:32] robmyers commented on #498
Which SVGs does this refer to?

[2018-03-07 18:32] #484 closed

[2018-03-07 18:47] peterspdx commented on #226
@robmyers sounds perfect, thanks.

[2018-03-07 20:40] robmuh commented on #498
Sorry, don't even remember filing this.

[2018-03-07 21:04] #498 closed

[2018-03-08 08:54] mzeinstra commented on #741
Alright, then maybe it is not broken.

I would then argue that CC has a look at the layout of the page again, this does not provide a good overview of whats available.

[2018-03-08 10:11] mzeinstra commented on #689
Great!

Now you probably also want to add redirect on the root of https://stats.creativecommons.org/ to https://creativecommons.org/ to remove your default debian page. :)

[2018-03-08 10:17] mzeinstra opened #762 "Change robot.txt on creativecommons.net or scrap the site"
Creativecommons.net now redirects to creativecommons.org. however its content is still being indexed by search engines and available if you have a direct link like: https://creativecommons.net/r/paul/works/

I suggest removing the site and redirect all traffic to .org or change the robot.txt to stop it indexing the site.

[2018-03-08 10:18] mzeinstra commented on #694
Unsure where I found that url last year, a google search actually shows some documents from CC-NL that refer to it.

[2018-03-08 20:28] robmyers commented on #694
Yes it's in our redirects so we should handle it (by sending the user to the correct page).

We have a few like that. :-)

[2018-03-09 19:35] robmyers commented on #752
The delay in translations being pulled was responsible for 2. This has now been fixed.

I don't know why it's not in the footer, it should be caught automatically. I will investigate.

[2018-03-10 04:44] gho87 opened #763 "Some links at FAQ page broken and need to be fixed/replaced"
The FAQ page (https://creativecommons.org/faq/) has some or many broken links.

* Broken link: https://creativecommons.org/faq/#What_is_copyright_and_why_does_it_matter
  - Source: "[What does 'Some Rights Reserved' mean?](https://creativecommons.org/faq/#what-does-some-rights-reserved-mean)" section and "[What are Creative Commons licenses?](https://creativecommons.org/faq/#what-are-creative-comm

[2018-03-12 18:55] robmyers opened #764 "CC0 deed links are listing weirdly"
I think this is because we have too many zh[_-]* translations, some of which we need for CC0, some of which we need for the licenses.

[2018-03-12 19:00] Dmitriy11111 commented on #764
I realized,waiting for further instructions!

Отправлено с iPhone

[2018-03-13 18:01] radiofreeterry opened #765 "Summit WP site needs updating of base WP version + two plugins"
There are flags for required updates to the base WP version as well as two other plugins.

And while you're there, could you please have a peek at https://summit.creativecommons.org/sessions2018/ to make sure I updated the Sched Embed plugin coding properly? Seems to be working fine, but no one ever gave me any awards for programming so I want to make sure I haven't broken something else in the pr

[2018-03-13 18:16] radiofreeterry opened #766 "Request for <target="_blank"> attribute in Summit WP site menu item"
The item "Travel Wiki" in the secondary menu takes the user away from the Summit WP site. It would be better if this menu item opened in a new tab instead. Is that possible? I don't see it as a setting in the menu editor, and I don't see anywhere I can edit the HTML of the menu to add the <target="_blank"> attribute. Please let me know if it is possible to make this happen with this menu item. Tha

[2018-03-14 05:51] gho87 opened #767 "Version 2.5 India port licenses skipping term 1c"
Version 2.5 India licenses have "a" through "j" in Definitions section, but they seem to have skipped term/condition 1c (i.e. "c" in Definitions section), though this has been long since 2007/2008
* CC BY: https://creativecommons.org/licenses/by/2.5/in/legalcode
  - Old capture: https://web.archive.org/web/20070701170841/https://creativecommons.org/licenses/by/2.5/in/legalcode
  - New capture: htt

[2018-03-14 16:17] radiofreeterry opened #769 "Request for help with Summit WP site page template"
I can't figure out how to arrange the sponsor logos on the page https://summit.creativecommons.org/sponsors/ into a grid or pyramid. As far as I know I'm using the same page template from last year, when it was apparently possible (or so reports Development). Any insight, or pointers to instructions, would be welcome. Thanks!

[2018-03-14 17:03] mmoreshead commented on #766
FYI - I changed the name of this menu to Toronto because I didn't think Travel Wiki did it any justice.

[2018-03-14 17:53] robmyers commented on #769
It's not a grid in the archive.org view of the page.

I've created a grid, it won't work in older browsers, they'll see the same as last year.

If adding any new images, carefully wrap them up in a div as you can see in the page source.

[2018-03-14 17:56] robmyers commented on #766
It is possible (which pleasantly surprised me), I have learnt -

https://richwp.com/open-wordpress-menu-links-in-new-window/

I've added the rel tag to the link using this method. :-)

[2018-03-14 17:56] #766 closed

[2018-03-14 19:53] radiofreeterry commented on #769
Thanks for this change. The lower level only has two logos and appears justified left, rather than centered beneath the rows with 3. Is it possible for a row with 2 to be centered?

[2018-03-14 19:57] radiofreeterry commented on #769
OK now I broke it somehow. All I did was change the contact info at the bottome!

[2018-03-14 19:58] radiofreeterry commented on #769
I have closed the page so you won't be locked out

[2018-03-14 19:58] radiofreeterry commented on #769
And by "broken it" I mean the logos are no longer showing up in the cells you made.

[2018-03-14 20:03] robmyers commented on #769
The visual editor inserted <br /> tags into the style block, which broke it.

I've removed them and structured the style block so that shouldn't happen again.

The images are now gridded again.

[2018-03-14 20:03] #769 closed

[2018-03-15 22:45] phakaporns opened #770 "Dgv"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-03-16 00:10] #770 closed

[2018-03-16 00:21] robmyers commented on #765
Done, and looks good.

Thank you!

[2018-03-16 00:21] #765 closed

[2018-03-19 19:49] little-wow opened #771 "Certificates.cc.org redirect?"

[2018-03-19 19:53] little-wow commented on #771
Alternatively, we can use the Summit theme....

[2018-03-19 19:55] little-wow opened #772 "Payment processing for Cert"
A few options as I see it:
1. Civi dashboard like for summit (but possibly lots of custom dev work?)
2. Using Eventbrite and connecting Eventbrite to Mailchimp
3. Routing people through the donate page

Any other options that you can think of?

[2018-03-19 19:58] robmyers commented on #771
certs.cc is going to be the BuddyPress site I think, and we have the theme for that. If we want main-site-themed information at /certs we should certainly create that there but we shouldn't redirect.

[2018-03-19 19:59] robmyers commented on #772
Donate goes to civi so those are related. :-)

We used PayPal invoices for the beta but that won't scale.

[2018-03-19 20:08] little-wow commented on #772
I vote for Eventbrite with a Mailchimp integration and bypassing Civi altogether atm.

[2018-03-19 21:43] little-wow opened #773 "Looking for JQuery in all the wrong places"
Gravity forms on the donate page is broken when typing in a custom amount.

![screen shot 2018-03-19 at 5 43 09 pm](https://user-images.githubusercontent.com/7093838/37624008-0b6f555a-2b9d-11e8-9440-03717c195a76.png)
![Uploading Screen Shot 2018-03-19 at 5.43.20 PM.png…]()

[2018-03-19 21:44] little-wow opened #774 "Gravity forms breaks on custom amount"
Gravity forms on the donate page is broken when typing in a custom amount.

![screen shot 2018-03-19 at 5 43 09 pm](https://user-images.githubusercontent.com/7093838/37624008-0b6f555a-2b9d-11e8-9440-03717c195a76.png)
![screen shot 2018-03-19 at 5 43 20 pm](https://user-images.githubusercontent.com/7093838/37624012-0d3cc64c-2b9d-11e8-8d49-f77795b6a8a0.png)

[2018-03-19 22:07] robmyers commented on #774
The conditional code module in Gravity Forms is trying to call jQuery as "$". This isn't supported in our WordPress setup.

It's not CloudFlare that's causing this (some people reported similar problems with a CloudFlare feature enabled, but we don't use that).

Investigating further.

[2018-03-19 22:08] robmyers commented on #773
I prefer this title. :-D

[2018-03-19 22:09] little-wow commented on #773
haha "hold title" got copied!

[2018-03-19 22:09] #773 closed

[2018-03-19 22:15] robmyers commented on #774
It was the same fix as this - https://github.com/creativecommons/new-creativecommons.org/commit/f6aedb696ee1c03069a4e2959f3157b02dfed73d

I've added a patch to the project as a reminder.

[2018-03-19 22:16] robmyers commented on #774
Fixed in 31197adba04ed07cd07f304abb230c7d7e6548d9

[2018-03-19 22:19] robmyers commented on #774
Fix has been deployed and tested.

You may need to force-refresh the page for it to work.

Thank you for reporting this!

[2018-03-19 22:19] #774 closed

[2018-03-23 16:18] robmyers commented on #772
Oh the other option would be GravityForms. We need various fields of information and Gravity or Civi would be good for that.

But I do agree that Eventbrite looks good. I will double check its capabilities.

[2018-03-23 17:08] robmyers commented on #772
Yes Eventbrite has all the functions we need.

@little-wow Do we have a cc Eventbrite account or should we set one up for this and get it into the password manager?

[2018-03-23 17:09] robmyers commented on #772
Collecting information from attendees -

https://www.eventbrite.ca/support/articles/en_US/How_To/how-to-collect-information-from-all-event-attendees

Spreadsheet export -

https://ewh.ieee.org/r6/scv/sps/eventbrite2listserver.html

Invitation-only tickets (if needed) -

https://www.eventbrite.com/support/articles/en_US/How_To/how-to-set-up-invitation-only-events

[2018-03-23 19:19] mmoreshead commented on #772
We do have an eventbrite account.  it's connected to events@creativecommons.org which I *think* is an alias for development@ -- anyway, I get the emails connnected to it in Freshdesk.

[2018-03-23 20:53] robmyers commented on #772
Cool! As soon as @jennryn can see issues we can co-ordinate with them. Thank you!

[2018-03-25 04:06] gho87 opened #776 "German deeds of v4.0 licenses not linking to German legalcode"
The German deed of CC BY-SA 4.0 (https://creativecommons.org/licenses/by-sa/4.0/deed.de) does not link "Lizenz" to https://creativecommons.org/licenses/by-sa/4.0/legalcode.de

Instead, the link is https://creativecommons.org/licenses/by-sa/4.0/legalcode

Same for other below licenses:

CC BY 4.0 (https://creativecommons.org/licenses/by/4.0/deed.de).
* Expected: https://creativecommons.org/licenses

[2018-03-26 16:47] little-wow commented on #771
So creativecommons.org/certificates can be a CC Certs landing page? What do you think?

[2018-03-26 16:48] little-wow commented on #771
Basically looking for a place to put a marketing page.

[2018-03-26 16:48] little-wow commented on #754
Was this resolved?

[2018-03-26 16:59] jennryn commented on #772
Using the CC eventbright account sounds good. And the options for info collection work for me!

[2018-03-26 17:02] jennryn commented on #771
Is there any way to migrate the current info on the cert.cc.org page to a diff web page labeled as "archive of CC Cert development" or something like that? The diff web page could be creativecommons.org/certificates. That way we can keep marketing updates, registration and eventually modules all on the certs.cc.org page, using it as a one-stop shop.

[2018-03-26 17:14] robmyers commented on #754
I've just done this. Thank you for the reminder!

[2018-03-26 17:14] #754 closed

[2018-03-26 17:16] robmyers commented on #776
@georgehari I can never remember which way is correct.

[2018-03-26 17:17] robmyers commented on #767
@peterspdx @sarahpearson Is this something we should change or is it baked in?

[2018-03-26 17:19] robmyers commented on #701
Everyone I've spoken to regards this as A Very Good Thing to Do. How should we revisit it?

[2018-03-26 17:21] little-wow commented on #701
Once we get the OK from @Scott-CC @jayaw  to move forward on CRM project we will be able to.

[2018-03-27 12:58] georgehari commented on #776
The link should go to **legalcode.de**. I changed that on [Transifex](https://www.transifex.com/nkinkade/CC/translate/#de/deeds-choosers), it should go live Monday if the script works correctly.

[2018-03-27 16:07] jennryn commented on #771
@little-wow : I put in possible urls next to the different content items for the Cert page. LMK what you think.

[2018-03-27 22:29] jennryn opened #777 "mail merge to get names on CC Certificate template"
@robmyers Is there a way to get "graduated" Cert Beta group participants' names on the Certificate template we've created and mail merge to email them their certificates? If there's a nifty way to do this, great! If not, I'll manually enter everyone's names on individual Certificate pdf docs and email them their unique copies. We won't have the list of participant names till after the course ends

[2018-03-28 14:06] little-wow opened #778 "Can we put Wordable on the site to better convert GDocs?"
https://www.wordable.io/
Thanks much!

[2018-03-29 15:33] radiofreeterry opened #779 "Display of "supporting" and "inkind" sponsors on Summit WP site isn't working"
I added a new sponsor logo and URL (Intellus Learning) to the list of supporting sponsors, replicating the coding as exactly as I could, but I seem to have broken the layout: https://summit.creativecommons.org/sponsors

[2018-03-29 16:42] robmyers commented on #779
The visual editor had mangled things.

I moved the CSS to the custom CSS field of the style editor so the visual editor doesn't upset that again, and I reworked the HTML on the page to add the correct classes and remove some formatting that was getting in the way.

It is all good now.

[2018-03-29 16:42] #779 closed

[2018-03-29 17:55] robmyers commented on #778
What are the specific features of GDocs that support collaborative drafting?

I'm not trying to be obtuse - I can guess but I don't want to try to work out how to do the wrong thing based on a well-meaning but incorrect assumption on my part. :-)

[2018-03-29 18:16] little-wow commented on #778
When I write a blog post (or anyone writes a blog post for that matter,) they write it in Google Docs rather than emailing text documents back and forth. Problem is Google Docs adds all sorts of weird markup when you copy and paste and also doesn't allow you to just copy images wholesale, so I run it through an html cleaner and then have to either screenshot or make a folder with the downloaded im

[2018-03-29 20:12] robmyers commented on #778
WordPress supports commenting on drafts. This would support a workflow within our CMS without having to worry about formatting issues or re-importing images -

https://en.support.wordpress.com/writing-helper/request-feedback/

[2018-03-30 13:47] little-wow commented on #778
Okay! I'm going to close this ticket but I don't think that anyone is going to start using Wordpress to write blog posts, unfortunately.

[2018-04-01 17:11] radiofreeterry opened #780 "Request for link to open in new tab on Summit WP site"
I have added a link to the Delta Hotel website in the third paragraph of text on the Summit WP main landing page (https://summit.creativecommons.org/). This was because one user expressed some confusion about which Delta Hotel was hosting Summit. Can this link please be made to open in a new tab? Thank you!

[2018-04-01 17:19] robmyers commented on #780
If you add target="_blank" to the <a> tag for the link it will have that
effect.

On Sun, Apr 1, 2018, 10:11 AM radiofreeterry, <notifications@github.com>
wrote:

[2018-04-01 17:45] radiofreeterry commented on #780
I wasn't sure if that would work, and was thinking of the other method you discovered for making the menu item do that. But the method you suggest is now working find in this context. Thanks!

[2018-04-01 17:45] #780 closed

[2018-04-02 00:27] Chealer opened #781 ""Copy this code [...]" boxes: Actual selection may differ from previewed selection"
If I go to https://creativecommons.org/choose/?lang=en and try selecting - for example - a URL in the "Copy this code to let your visitors know!" textarea, the previewed selection matches the fragment I'm trying to select, but when I release the primary mouse button, it turns out the actual selection is the whole textarea's content.

In report #681, Rob Myers stated that it was intentional that th

[2018-04-03 04:29] peterspdx commented on #767
This cannot be changed since it's legal code. However, it is merely a typo. For some reason, c was skipped. It should be added to the errata page here: https://wiki.creativecommons.org/wiki/Legalcode_errata

@robmyers, can you please take care of that? That page can only be edited by staff persons. Thanks.

[2018-04-03 17:15] little-wow commented on #778
Can I reopen this because I just got another GDoc without proper photo attribution in my inbox? Thx

[2018-04-03 18:17] robmyers commented on #778
Can you email me a couple of particularly challenging GDoc links so I can evaluate options (on Staging)? As with any proprietary software I'm happy to install it if it's the only way of doing the best thing but a) we need to make sure it works and b) I want to see if there's a better alternative.

[2018-04-03 18:38] radiofreeterry opened #782 "Problem with sponsor link on Summit WP page"
Each of the logos on the Summit WP sponsors page has a link to that sponsor's website.

The link for Tophat was missing, so I edited into the correct field in the embedded logo file and updated the page.

The link for Tophat should go to "http://www.tophat.com/marketplace". But when you click it, you are instead re-directed to "https://summit.creativecommons.org/sponsors/www.tophat.com/marketplace

[2018-04-03 20:36] little-wow commented on #778
sure!

[2018-04-03 21:10] robmyers commented on #782
Cannot recreate. Did you fix this?

[2018-04-03 21:16] radiofreeterry commented on #782
OK that's downright weird. It's happening in Chrome, where I'm logged in and seeing it in Preview mode. But it isn't happening in Firefox, where I'm not logged in.

[2018-04-03 21:17] radiofreeterry commented on #782
OK, now it's not happening in Chrome. Maybe I need to get more sleep. But I swear it was really happening!!

[2018-04-04 13:56] little-wow commented on #777
I can chime in here and say this will probably have to be manual.

[2018-04-04 15:05] jennryn commented on #772
I posted this in slack, but wanted to share it here:  Cable and I were wondering if there was an ETA on Salesforce?  Currently, we're getting charged an extra $18/ticket via Eventbrite, and don't want to be using that stop-gap measure longer than needed.  Would it be safe to say that we can switch registration/payment systems by or before the beginning of Q4?

[2018-04-04 15:07] jennryn opened #783 "calendar page for Cert"
Hey @robmyers Is there a way to make a calendar instead of events list on the page: http://certificates.creativecommons.org/calendar/ ?

Thank you!

[2018-04-04 19:58] jennryn opened #784 "admin account for Cert pressbooks & registration page"
Here is my reposting from Slack:

Hey Rob and Jennie: I'm editing the Cert pressbooks content and have a q: it looks like there is a "Registration" page which links to eventbrite (not the CC Cert tickets). I can't find the "Registration" page listed in the Pages section to make edits. Any idea where I can find it & edit it?

Also, Rob, can you make me an admin in the Pressbooks account so I can ad

[2018-04-05 05:16] #776 closed

[2018-04-05 13:23] sarahpearson opened #786 "once Russian 4.0 is live, run script to add language to list on all published translations"
The language should be listed as русский (note lowercase).

[2018-04-06 21:05] robmyers commented on #784
You are now an admin. Jennie is an editor.

The menu entry for "Registration" is here:

https://certificates.creativecommons.org/wp-admin/nav-menus.php

If you click on the little triangle at the right of the "Registration" menu entry there it will show you the details so you can edit them:

![image](https://user-images.githubusercontent.com/21746/38444285-956a0cc8-39a3-11e8-9ffc-71a27a0a1b74.png)

[2018-04-06 21:05] #784 closed

[2018-04-06 21:14] robmyers commented on #783
There is! I have installed a plug-in we can use to assemble a calendar.

[2018-04-06 21:14] #783 closed

[2018-04-06 21:28] robmyers commented on #782
Web browsers can play up when they know we really need them to behave.

Do report if you see this again, it may indicate a problem somewhere further along the pipe.

[2018-04-06 21:28] #782 closed

[2018-04-07 11:37] jennryn commented on #784
Thank you!

On Fri, Apr 6, 2018 at 5:05 PM, Rob Myers <notifications@github.com> wrote:

--
Jennryn Wetzler
Assistant Director of Open Education
Creative Commons

   - Join: CC Open Education Platform
   <https://creativecommons.org/2017/09/05/invitation-join-cc-open-education-platform/>
   - Tw: @jennrynw
   - Sign up: CC newsletter
   <https://creativecommons.org/about/contact/newsletter>

[2018-04-08 11:29] jennryn opened #787 "Make Certificates.creativecommons.org public on 4/12"
@robmyers @little-wow Per meeting on Friday, can you guys make the Cert pages public on 4/12?

[2018-04-09 13:57] jennryn opened #788 "Cert pages available from certificates.creativecommons.org"
Hey @robmyers @little-wow:
1) Is there a way to make the following Cert pages accessible from certificates.creativecommons.org by the end of today? It's fine by me if they are in a second menu bar or whatever you recommend. I just want to make sure folks can see these options:
-FAQ
-What is next for the Certificate program?
-Certificate Graduates
That way, folks will know of/be able to access all

[2018-04-09 13:58] jennryn commented on #788
Just figured out #2!  Scratch that off the list. : D

[2018-04-09 18:02] robmyers commented on #786
Done! Note that р is not p, so it appears later in the language list than one might expect.

[2018-04-09 18:02] #786 closed

[2018-04-15 15:21] robmyers opened #789 "Pull CCSearch Translations from Transifex"
It's not currently clear how to do this cleanly.

[2018-04-15 15:35] georgehari commented on #789
I thought that the script that pulls-up the new translated strings of the deeds does that for Search too. So I will check my archives for people who asked me about this recently and I will let you know what other Search translations have to be pushed on the website.

[2018-04-16 15:42] xolotl commented on #762
Ensure redirects handle edge cases like https://creativecommons.net/join%20

[2018-04-17 19:06] lynkuboiak opened #790 "bsg"
nap tien
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing t

[2018-04-23 09:11] georgehari opened #793 "PT translation branch not published"
I created a branch from the master, to stage the Portuguese translations, but it doesn't show up.

[2018-04-23 17:15] #790 closed

[2018-04-23 17:17] robmyers commented on #790
@lynkuboiak We are not general GitHub support, if that is what you are asking? You can reach them here -

https://github.com/contact

Or if you'd like to support us that's great, just let us know how you'd like to.

Thank you!

[2018-04-23 18:37] janeatcc opened #794 "Create new repo for sotc 2017"
Please! So I can upload google's data for the report

[2018-04-23 18:38] janeatcc commented on #794
eg. https://github.com/creativecommons/sotc-2017

[2018-04-23 18:48] robmyers commented on #793
This was an exciting new problem with Let's Encrypt, which we use for the https certs on staging.

This has now been fixed, and the Protuguese legalcode now displays.

[2018-04-23 18:50] robmyers commented on #794
Created! Staff have admin rights so you should be good to go.

[2018-04-24 18:13] lynkuboiak commented on #781
681

[2018-04-24 18:13] lynkuboiak commented on #781
681

[2018-04-24 22:32] lynkuboiak opened #795 "#790"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-04-25 08:49] cproof commented on #749
This issue also exists for the German and translation, where
https://creativecommons.org/licenses/by/3.0/de/ throws a 404 for the linked https://creativecommons.org/licenses/by/3.0/de/legalcode.de
and
https://creativecommons.org/licenses/by/3.0/at/ throws a 404 for the linked https://creativecommons.org/licenses/by/3.0/at/legalcode.de

[2018-04-25 16:33] robmyers opened #796 "3.0 de legalcodes links problem"
From @cproof on #749 :

This issue also exists for the German and translation, where
https://creativecommons.org/licenses/by/3.0/de/ throws a 404 for the linked https://creativecommons.org/licenses/by/3.0/de/legalcode.de
and
https://creativecommons.org/licenses/by/3.0/at/ throws a 404 for the linked https://creativecommons.org/licenses/by/3.0/at/legalcode.de

[2018-04-25 16:33] robmyers commented on #749
@cproof Thank you for reporting this! I'm going to split that out to a separate issue here - #796

[2018-04-25 16:37] robmyers commented on #749
@georgehari We have three issues:

1. There isn't a French Devnations 2.0 legalcode, so we should 404 that.
2. The Devnations 2.0 deed shouldn't link to a legalcode.fr.
3. I need to fix what happens for ported (rather than merely translated) licenses with a single language translation.

Please can you take a look at 2 again and see if there is something sensible we can do?

[2018-04-26 13:27] georgehari commented on #749
2. Yes, at https://creativecommons.org/licenses/devnations/2.0/deed.fr, the word "licence" links to a 404 page and it shouldn't - https://creativecommons.org/licenses/devnations/2.0/legalcode.fr. Can you please remove the link?
Also, in the same page, instead of "Pays en voie de développement License", it should be "Licence pays en voie de développement"

[2018-04-28 13:49] lynkuboiak commented on #224
224

[2018-05-01 18:01] #625 closed

[2018-05-04 10:40] tigermuda83 opened #798 "Submit"
SubmitThanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the

[2018-05-06 13:12] georgehari opened #799 "Create the Basque branches"
I created the 1st version of 4.0 BY-NC-SA Basque and staged it in the cc4-eu-legalcode branch. Please check if the file at https://cc4-eu-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.eu is visible.

The same goes for the branch cc0-eu-legalcode (no file staged there yet).

[2018-05-07 06:31] Longvimol opened #800 "Creativecommons"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-05-08 12:26] Eld0r commented on #796
confirmed
the file extension 'dot + language code' aren't necessary in the language sub folders.
but there is a file with this 'extension' in the root folder.

https://creativecommons.org/licenses/by/3.0/de/ should link to one of these:
https://creativecommons.org/licenses/by/3.0/de/legalcode or
https://creativecommons.org/licenses/by/3.0/legalcode.de

exact same for many more languages (I checked

[2018-05-09 19:50] #800 closed

[2018-05-09 19:50] #798 closed

[2018-05-09 19:50] #795 closed

[2018-05-10 01:01] robmyers commented on #799
This has proven more involved than expected due to a certbot upgrade.

I am working on it...

[2018-05-10 18:32] robmyers commented on #799
Certbot is fixed.

[2018-05-10 18:33] robmyers commented on #799
Thanks to http://somethingabout.ru/post/certbot-unicodedecodeerror-ascii-codec-cant-decode-byte

[2018-05-10 18:34] robmyers commented on #799
I can't see legalcode.eu . Investigating.

[2018-05-10 18:53] robmyers commented on #799
The cc0-eu-legalcode site is good.

[2018-05-10 19:06] robmyers commented on #799
Previous versions were _es_eu , they are displaying OK but the _eu one isn't.

[2018-05-10 19:06] robmyers commented on #799
OK fixed!

Thank you for your patience.

[2018-05-10 19:06] #799 closed

[2018-05-11 06:40] Longvimol opened #802 "Creativecommons"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-05-13 21:33] MuhdNurHidayat opened #803 "Is it intended that Malay translations on the website be declared as "Malaysian language"?"
The link to every Malay translations are written as "Bahasa Malaysia" ([Malaysian Language](https://en.wikipedia.org/wiki/Malaysian_language)) instead of the usual "Bahasa Melayu" ([Malay Language](https://en.wikipedia.org/wiki/Malay_language)). Is this really the intended behaviour, especially when the language code seemed to be <code>ms</code> (Malay) and not <code>ms_MY</code> (Malaysian)?

![i

[2018-05-14 21:27] little-wow opened #804 "Redirect sotc.creativecommons.org to stateof.creativecommons.org"
Thank you!

[2018-05-15 05:32] georgehari commented on #803
So, your proposal is to change the name of the language in the footer to Bahasa Melayu?

[2018-05-15 16:19] MuhdNurHidayat commented on #803
Depends on the original translators, like which translation are they actually been working on?

IMO, if it's really Malay (Malaysia) then "Bahasa Malaysia" should be keep but language code need to change to `ms_MY`.

Instead, if it's really a general Malay language which could be understood easily by Malay speakers without problems not only in Malaysia but also in other countries (mainly Brunei an

[2018-05-19 03:54] muidlatif commented on #803
Hi George @georgehari
Referring to our email conversation, thank you for sharing the issue.

Hi Hidayat @MuhdNurHidayat
Thanks for pointing out of the current naming convention for supposedly 'Malay Language' or 'Bahasa Malaysia' instead of 'Malaysian Language'.

We hope in future you could be one of the volunteer translators for Creative Commons projects, especially in translation of English to B

[2018-05-22 05:32] #803 closed

[2018-05-22 05:38] #788 closed

[2018-05-22 05:40] #772 closed

[2018-05-23 12:59] mmoreshead opened #805 "Chooser Plugin Issue"
Hey, I got this message from someone in freshdesk:

=========

We are using the Creative Commons License Chooser-plugin (https://wiki.creativecommons.org/wiki/LicenseChooser.js) for some time in our publication repository MPG.PuRe. Since the beginning of April the License Chooser stopped working. When we try to open the URL, the API is returning PHP code. Has something changed in the CC License Ch

[2018-05-25 18:33] chuynano commented on #805
Chuybomo123@gmail.com

[2018-05-25 18:33] chuynano commented on #805
Chuybomo123@gmail.com

[2018-05-25 18:34] chuynano commented on #805
<?php
ob_start("ob_gzhandler");
/**
 * NOTE: Don't be fooled by the extension.  This gets intepreted by the PHP
 * interpreter.  That way I can dispatch based on the query string.
 *
 * See .htaccess for how to configure it for php5.
 */
require_once('accept-to-gettext.inc.php');
require_once("phphelpers.php");

$supported_gettext_languages = list_languages();

/* Prepare for internationalization.

[2018-05-25 19:08] robmyers commented on #805
This was fixed but has regressed. :-( I will take a look. Thank you for reporting it.

[2018-05-26 15:02] Chealer commented on #781
@georgehari why was this report closed? I still get inconsistent behavior on Firefox 52.8.0.

[2018-05-26 15:30] georgehari commented on #781
It works in Chrome. You didn't specify you are using Firefox.

[2018-05-26 18:31] Chealer commented on #781
@georgehari I did not specify that I use Firefox, but this issue is not specific to Firefox. It also happens with Internet Explorer and Chrome (still with Chrome 66). Which Chrome version do you use?

In any case, when closing a ticket, one should indicate how the issue was fixed, or what suggests that it has been fixed.

Thanks for reopening

[2018-05-29 23:36] robmyers commented on #805
This has now been fixed again. The script should render OK now.

[2018-05-29 23:36] #805 closed

[2018-06-02 00:00] janeatcc opened #807 "Freshdesk access"
Any chance I could get access to the repository of incoming info@ requests for usability research?

[2018-06-02 00:01] mmoreshead commented on #807
Sure thing, Jane.  I'll add you as an agent now. Let me know if you have questions.

[2018-06-02 00:04] #807 closed

[2018-06-05 13:14] jennryn opened #809 "CC Certificate: Canvas not emailing"
@robmyers

It looks like the Canvas instance you created is still not letting us send out emails/invitations to people. Everyone I tried to invite yesterday has a "pending" next to their username, including my email to my personal address (adding myself as a student to test functionality). I never received the email in my personal email inbox or junk mail, and it's been about 24 hours.

Here's whe

[2018-06-06 12:32] jennryn opened #810 "Review the Pressbooks content for the Cert"
Hey @little-wow:

Would you have time to review the content I've uploaded for the Cert in Pressbooks (sometime between 6/11-6/15th)?

I have the second module 6 to finish this week, but wanted to get a second set of eyes on everything before it's ready for the classes next month.

Thank you!!

Jennryn

[2018-06-07 13:43] anyotherway opened #811 "ABUSIVE CONTENT"
https://search.creativecommons.org site is a page full of scams with all IMAGE searches leading to SIGN IN ACCESS to download image content or lacking image access. This is exactly as spastic as the unnecessary new Google 'image search' so-called 'copyright protection' that turns Image search into Web search. If not Google hiding images, all other image searches on search.creativecommons.org are S

[2018-06-07 21:45] jennryn opened #812 "CC Certificate: Request for Page on certificates.creativecommons.org for pressbooks w/ hypothesis enabled"
@robmyers:  Can you set up a page on certificates.creativecommons.org for the hypothesis-enabled Pressbooks content by 6/13?

gratefully,
Jennryn

[2018-06-07 22:16] robmyers commented on #811
Heya @anotherway .

search.creativecommons.org is being replaced by our new search system, you can see a preview of the kind of thing we are working on at https://ccsearch.creativecommons.org/

In the meantime, which sites linked to via the options in search.creativecommons.org require a sign-in to access? I've just checked and I can't find any.

Thank you for your help in this matter.

[2018-06-07 22:19] robmyers commented on #809
This may in part be due to this:

![image](https://user-images.githubusercontent.com/21746/41129260-1c280b3c-6a66-11e8-95ac-64d8efe55567.png)

[2018-06-07 22:21] robmyers commented on #809
@jennryn Publishing then re-sending seems to be working. Let me know if you've received an email?

[2018-06-08 13:21] sarahpearson opened #814 "add Lithuanian to the list of translations in the footer"
Once the translations are live [(cc0](https://github.com/creativecommons/creativecommons.org/pull/808) and [4.0](https://github.com/creativecommons/creativecommons.org/pull/813)), please add Lietuvių to the list at the footer of all published translations with a link. Let me know if you have any questions. Thank you!

[2018-06-08 18:54] robmyers commented on #809
Done. We had to publish the course. I Have Learned.

[2018-06-08 18:54] #809 closed

[2018-06-08 19:26] #814 closed

[2018-06-09 01:03] robmyers commented on #812
Closing as duplicate of https://certificates.creativecommons.org/cccertedu/

[2018-06-09 01:03] #812 closed

[2018-06-11 20:37] little-wow commented on #493
Hey @fmann @robinpuga So now I can't use the Image Cropper at all? I'll add a screenshot in a moment

[2018-06-14 00:31] robmyers commented on #811
Closing due to lack of response

[2018-06-14 00:31] #811 closed

[2018-06-15 02:02] little-wow opened #815 "Formatting issues in Certs Pressbooks"
1. Centered images don't center correctly. Images generally don't align well.
2. Textboxes are not showing up
3. Titles are low contrast with the rest of the text in terms of color
4. Text looks very small

[2018-06-18 13:07] sarahpearson opened #818 "Add português to the language list of all published translations"
Once the 4.0 translation of Portuguese is live, please add português to the footer of all published translations. Thanks!

[2018-06-19 16:07] ericsteuer opened #819 "favicon on deed and license pages looks pixelated"
compared to other pages across cc.org, the favicon on deed and license pages looks pretty pixelated / blurry

i.e. https://creativecommons.org/licenses/by/4.0/

here is a screen grab of two tabs open in my browser. one is cc by 4.0 deed page and the other is the cc homepage:
<img width="184" alt="screen shot 2018-06-19 at 8 59 25 am" src="https://user-images.githubusercontent.com/8919762/41609527-

[2018-06-19 20:28] #818 closed

[2018-06-20 16:21] peterspdx opened #820 "Create three new pages off https://creativecommons.org/about/program-areas/legal-tools-licenses/"
https://creativecommons.org/about/program-areas/legal-tools-licenses/reversionary-rights

https://creativecommons.org/about/program-areas/legal-tools-licenses/author-addenda

https://creativecommons.org/about/program-areas/legal-tools-licenses/springing-licenses

@sarahpearson @robmyers

Text will be forthcoming for the pages.

[2018-06-20 22:59] robmyers commented on #634
@mmoreshead This seems to have become higher priority again? Let's look at it when I'm back next week?

[2018-06-22 11:52] little-wow commented on #819
changed the dimensions to 512x512, should be fixed?

[2018-06-22 11:53] little-wow opened #822 "Can't register with CCID"
https://twitter.com/Fiona_Bradley/status/1008925309247238144

Thanks!

[2018-06-24 12:05] cablegreen opened #823 "Gmail Offline Mail Security Setting"
Hi Rob:

It looks like we need one more admin change on the security settings for offline CC Gmail.

On my personal Gmail account - I can download and view attachments offline. I cannot do so on my CC Mail account. Having access to my mail attachments offline is really helpful.

**Settings for CC Account say:**

Security: | Logging out of my Google account will remove locally stored dataFiles will

[2018-06-25 12:31] peterspdx opened #824 "German 3.0 and 2.0 legal code down"
The German versions of the legal code for at least v3 and v2.0 are down: https://creativecommons.org/licenses/by-nd/2.0/de/legalcode.de. This is the link given in the Deeds (see e.g.: https://creativecommons.org/licenses/by-nd/2.0/de/deed.de) so the connection between the license notice, the Deed and the legal code is broken.

[2018-06-25 13:32] little-wow opened #825 "Set up SPF records for Engaging Networks Emails"
http://support.engagingnetworks.net/spf-records

[2018-06-25 13:36] little-wow opened #826 "SSL credentials for donate.creativecommons.org in Egnyte"
I think we'll need a new SSL cert to assist with Engaging Networks Setup, see: https://basecamp.com/2604761/projects/15544382/todos/356443179
http://support.engagingnetworks.net/ssl-certificates

[2018-06-25 17:38] georgehari commented on #824
Hi!

The links are wrong. The correct links:
https://creativecommons.org/licenses/by-nd/2.0/deed.de - the deed
https://creativecommons.org/licenses/by-nd/2.0/legalcode.de - the license

https://creativecommons.org/licenses/by-nd/3.0/deed.de - the deed
https://creativecommons.org/licenses/by-nd/3.0/legalcode.de - the license

Where did you find these linked from?

On the other hand, why don't you u

[2018-06-26 16:14] little-wow commented on #822
Another bug: https://twitter.com/kadesatracy/status/1011640003527696385

[2018-06-26 17:50] mmoreshead commented on #634
Yes please, whenever you're ready!

[2018-06-27 13:44] little-wow commented on #643
https://twitter.com/DavidBruant/status/1011921056880300032 This is still an issue

[2018-06-27 16:54] robmyers commented on #643
:-( Thank you for bumping this.

[2018-06-27 17:30] robmyers commented on #823
Heya Cable.

I've disabled "Force deletion of offline data on log out of Google account", which should have the desired effect.

I reserve the right to re-enable it should our revised document retention or other policies require it. :-)

[2018-06-27 17:30] #823 closed

[2018-06-27 17:32] robmyers commented on #822
I contacted them via email.

[2018-06-27 17:32] #822 closed

[2018-06-29 19:31] peterspdx commented on #820
Thanks @robmyers!  Please leave open. @sarahpearson and I will close as we initially populate each page. Appreciated.

[2018-06-29 19:58] sarahpearson opened #829 "move this wiki page to the main site"
Diane would like this page from the wiki (https://wiki.creativecommons.org/wiki/Legal_code) moved to the main CC site. It is a canonical explanation of what constitutes unchangeable legal code.

Thanks!

[2018-06-29 20:29] robmyers commented on #634
We have moved the list!

[2018-06-29 20:29] #634 closed

[2018-06-29 20:30] mmoreshead commented on #634
Transfer complete, @robmyers  is the best!

[2018-06-29 22:19] robmyers commented on #826
We use CloudFlare for our ssl frontend. I'll see if I can get a secondary certificate to send to EN, or if not I'll send them our main one but if there's a data breach at EN we'll have to make sure to update the certificate on all our servers that use it.

[2018-06-29 22:22] robmyers commented on #825
I have updated our spf and sent a test email.

We should be good for EN emails now.

[2018-06-29 22:22] #825 closed

[2018-06-30 00:18] #664 closed

[2018-07-02 13:14] little-wow opened #830 "API certificate is expired"
https://twitter.com/CamOpenAccess/status/1013699902038257664

expired July 1

[2018-07-02 15:04] sarahpearson commented on #820
The springing licenses page is now populated. I'll add links to the final report and Berkman memo once completed.

[2018-07-03 22:13] robmyers commented on #829
Do we have a url on the main site in mind for this?

[2018-07-03 22:15] peterspdx commented on #829
Up to @sarahpearson , we may need to create a sentence or phrase on the main license explanation pages where a link could then be inserted.

[2018-07-09 19:30] ericsteuer opened #832 "translation tool and language looks wonky"
the language chooser (translation tool) and accompanying language are appearing on pages flush to the left, when they should be on the right

https://creativecommons.org/licenses/by/4.0/
<img width="721" alt="screen shot 2018-07-09 at 12 28 58 pm" src="https://user-images.githubusercontent.com/8919762/42471737-b10c5976-8373-11e8-9242-e3dcf4002055.png">

[2018-07-09 19:31] robmyers commented on #832
@robinpuga Is this some css I didn't merge?

[2018-07-09 19:34] robmyers commented on #819
We don't specify the Apple (etc.) icon in the Python templates.

Doing so won't alter the meaning of the pages, so we can copy the relevant code from the WordPress theme to the Python templates.

[2018-07-09 19:52] little-wow commented on #832
While we're here, the slider to the left has a weird scroll to it on my 18" screen

[2018-07-09 20:01] little-wow commented on #819
Rob, the WP one was fixed

[2018-07-09 20:05] robmyers commented on #819
It should have been OK since the New Site deployment? The Python site gets its image and style assets from the WordPress site but we have to tell browsers where to look, and I don't think the Python site does atm. I could be wrong (or people's browsers could be being smarter than me...) :-) .

[2018-07-09 20:06] robmyers commented on #832
@little-wow Eek! Which browser/version and can you grab a GIF of it?

[2018-07-09 22:03] robinpuga commented on #832
Looking into it. Seems correct on our dev site: http://dev.cc.affinitybridge.com/licenses/by/4.0/
Will get back to you asap.

[2018-07-09 22:20] robinpuga commented on #832
@robmyers We think it's related to the /includes/deed4.css file. On our server the file isn't minified and seems to be working. On the production server it looks like the file is minified https://creativecommons.org/includes/deed4.css

Is it possible we missed a step in deployment?

[2018-07-10 07:45] altrugon commented on #832
@little-wow The behaviour of the scroll is normal and necessary, the container of the slider has a maximum height of 70% of the viewport, in order to display all the content on not so tall screens we need the scrollbar, here is the piece of code that is doing that:

[code]

What you are experiencing here is that you are watching the site on a wide screen with a narrow height, and unfortunately on

[2018-07-10 07:53] altrugon commented on #832
The language chooser (translation tool), is wrongly aligned because is missing CSS code, please take a look to the screen-shots below from dev and prod site:

![cc_-_dev](https://user-images.githubusercontent.com/398069/42496502-22f7725c-83db-11e8-8ce2-20c2408e9064.png)

![cc_-_prod](https://user-images.githubusercontent.com/398069/42496639-93edc560-83db-11e8-8852-c14be6b6615d.png)

[2018-07-10 20:19] robmyers commented on #832
@robinpuga CloudFlare minifies our css, that is probably what you are seeing there.

[2018-07-10 20:19] robmyers commented on #832
(Yes this can occasionally cause issues. :-) )

[2018-07-10 20:20] robmyers commented on #832
@altrugon is this something the update script should have added, or have I missed a step or broken something? Should I just add style="text-align: right;" to any <div> of class language-selector-inner ?

[2018-07-10 21:29] altrugon commented on #832
@robmyers you don't have to add any CSS code at all, all the CSS code you need is already in the repository since this is working on the dev site. The minify CSS is irrelevant as long as you keep the same order, but you are missing CSS code. Please make sure all the CSS code from deed4.css is on the production site.

[2018-07-11 08:57] mzeinstra opened #833 "Chooser information boxes do not work in 'wordy' languages"
The Creative Commons License Chooser's information pop-ups do not work properly in other languages like Basque or Dutch (https://creativecommons.org/choose/?lang=nl). This happens on my 1440 x 900 screen.

The Dutch translation is longer than the English version essentially pushing the text below the fold, but no scrolling is possible. See screenshot

![image](https://user-images.githubusercontent

[2018-07-12 16:47] ericsteuer opened #835 "errors in code on new license/legal code pages"
i got a private message in slack about a couple of code errors that are showing up on the new legal code pages. the user was viewing in chrome. see attached.
![image](https://user-images.githubusercontent.com/8919762/42647331-89a424da-85b8-11e8-849f-c821f19b0b07.png)

[2018-07-12 18:10] little-wow commented on #835
I'm getting different errors in console, but they look like SEO errors to me.

[2018-07-12 18:23] little-wow opened #836 "Feature request on deeds: improve print.css"
https://twitter.com/m_andrasch/status/1017471879135842304

[2018-07-12 18:24] #810 closed

[2018-07-12 18:34] robinpuga commented on #836
Thanks. We've ticketed internally and will update here when we've got the fix committed.

[2018-07-13 00:09] robmyers commented on #835
skip-link-focus-fix is in the TwentySixteen WordPress theme and can be accessed OK.

The second one is weird, I don't *think* we should be saving any data blobs. @robinpuga ?

[2018-07-13 00:19] robmyers commented on #832
Fixed in new-creativecommons.org commit 7982bf2 .

You may need to thoroughly clear your browser cache for this to take effect.

@altrugon Thank you for diagnosing this and @ericsteuer thank you for reporting it!

[2018-07-13 00:19] #832 closed

[2018-07-13 15:33] little-wow opened #837 "Data export for new CRM transition"
We need CSV exports of:
Eventbrite Data
Shopify Data
Kickstarter Data

Will work with Rob to get these out of the systems, set up, and sent to Jake

[2018-07-13 18:46] little-wow commented on #837
It is urgent-adjacent – I can probably do it myself, just wanted to give you head's up

[2018-07-13 18:47] mmoreshead commented on #837
Perhaps I can help with something here? What data do you need?

[2018-07-13 19:06] robmyers commented on #837
I'm not sure I have access to all those.

@mmoreshead do you have access to shopify and eventbrite? And thank you for offering!

@sarahpearson do you have access to Kickstarter data?

I can assist if needed, it's just the access part. :-)

And @sarahpearson and @peterspdx are we OK to export and reconcile this data?

[2018-07-13 19:07] mmoreshead commented on #837
Yup, I have shopify and eventbrite access.

[2018-07-13 19:54] little-wow commented on #837
I have access to all of these too! I have to investigate how to pull and standardize the data from the platforms.

[2018-07-13 19:55] mmoreshead commented on #837
Currently only Scott and I have eventbrite access so I'll have to pull whatever you need for you.

[2018-07-13 20:03] little-wow commented on #837
RIGHT. I forgot about that. We'll coordinate!

On Fri, Jul 13, 2018 at 3:55 PM Mari Moreshead <notifications@github.com>
wrote:

--
Jennie Rose Halperin
Communications Manager
Creative Commons
pronouns: she/her/hers
@little_wow
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2018-07-13 20:19] little-wow opened #838 "Investigate SEO issues with subdomains"
Best practice for SEO says to use subfolders rather than subdomains, but for CC historically, subdomains have been a method of organizing the site (see: **search**.creativecommons.org, **ccsearch**.creativecommons.org, **network**.creativecommons.org, etc.)

"Search engines keep different metrics for domains than they do for subdomains, so even though Google itself has stated that — from a ranking

[2018-07-13 22:48] robmyers commented on #833
Heya Maarten.

I'm sorry about this. Thank you for reporting it. It looks like it's been like this since the redesign.

@robinpuga is this something you can look at?

[2018-07-14 00:05] robmyers commented on #830
This was fixed but I forgot to close it. :-(

[2018-07-14 00:05] #830 closed

[2018-07-14 00:09] robmyers commented on #826
I can create a CloudFlare Origin Certificate, will that do?

We're already using one on the current donate server.

[2018-07-16 12:54] little-wow commented on #826
Sorry, should have closed this ticket – can you get our SSL credentials and put them in Egnyte? That's all we need :) Thanks!

[2018-07-18 13:20] mzeinstra opened #839 "License introduction page needs a serious update (including donation bug)"
I was working on policy document and I linked to this https://creativecommons.org/licenses/ page. Upon reviewing this needs a serious update to be able to be readable for first time visitors.

For one the video cannot be resized or seen on vimeo (next to that it is very old).

Reviewing the code it seems that the license where once  a nice table but that has been removed with the style update, mak

[2018-07-18 19:38] little-wow opened #840 "Share your CC Work Plugin"
We want to run a campaign in the fall to better gather CC resources that Cert participants and communities have made. This is a placeholder ticket to explore gallery plugins and widgets.

[2018-07-18 19:45] jennryn commented on #840
Sounds good. Adding @cablegreen for awareness too, since he is also instructing with Tim and me.

[2018-07-19 07:22] mzeinstra commented on #839
Thanks Rob

For me it could probably redirect to https://creativecommons.org/share-your-work/licensing-types-examples/licensing-examples/

However that would mean that there is no page on the technological infrastructure of the licenses anymore.

Also I believe that once played a role as the main page for the machine readable infrastructure. You might have broken some linked data links. I could al

[2018-07-19 08:29] mzeinstra commented on #839
Found it. Creativecommons.org/licenses/ should have some content negotiation with a machine readable link to Creativecommons.org/licenses/index.rdf, which in turn delivers: https://github.com/creativecommons/cc.licenserdf/blob/master/cc/licenserdf/rdf/index.rdf

I believe that content negotiation is broken.

[2018-07-19 16:26] brinerustle opened #841 "Bad certificates on local websites: **.creativecommons.org"
Bad certificate on:

it.creativecommons.org
es.creativecommons.org
fr.creativecommons.org

strangely enough, some seem to work, such as:

de.creativecommons.org

![chrome](https://user-images.githubusercontent.com/643789/42956720-0240d0be-8b81-11e8-9885-c848f8d98f45.png)
![firefox](https://user-images.githubusercontent.com/643789/42956721-025cb11c-8b81-11e8-89d6-928736474c99.png)

@robmyers @littl

[2018-07-19 18:19] robmyers commented on #841
Thank you for reporting this! I will look into it.

[2018-07-19 18:32] robmyers commented on #839
We need the /licenses/ page to be a one-sheet for the licenses, I think. It's Very Old Content but it's translated nicely.

Forgive me for asking but do you remember anything else about the content negotiation setup? This isn't an area I am an expert in and there isn't anything on the wiki.

Thank you.

[2018-07-19 18:34] robmyers opened #842 "Mark License Javascript as Free Software"
The JS we supply in the Python section of the site (under /licenses/ ) is Free Software (this is an observation not a declaration), so it would be nice to mark it as such:

https://www.gnu.org/software/librejs/free-your-javascript.html

[2018-07-19 18:48] mzeinstra commented on #839
I'm also not an expert. I can point you to Mark Matienzo at Stanford and Antoine Isaac at Europeana who are very versed in this.

But this is what I looked at earlier today. Have a look at the source of a deed page (CC BY 4.0 in my case). there is a link there:

[code]

Which is what you would want as well on the /licenses/ page. but you want

[code]

You can then let your code request the rdf+xml

[2018-07-20 20:30] robinpuga commented on #833
Wow, that is big and breaking the layout.  Our team can take a look on Monday.

[2018-07-23 13:12] little-wow opened #843 "State of the Commons 2016 isn't working"
https://stateof.creativecommons.org/2016/

Console isn't helpful for me – all special characters

[2018-07-23 17:16] robmyers commented on #843
When I got there some images were missing, I restored them.

How is it now?

[2018-07-23 17:19] little-wow commented on #843
<img width="1231" alt="screen shot 2018-07-23 at 1 17 13 pm" src="https://user-images.githubusercontent.com/7093838/43092369-01b43dbe-8e7b-11e8-87d5-2a185866dc6f.png">

[2018-07-23 17:19] little-wow commented on #843
I disabled all external plugins

[2018-07-23 18:03] robmyers commented on #843
My logged-in-for work browser session loads it perfectly. My phone and a session on a server don't.

This is interesting in a bad way.

[2018-07-23 18:08] little-wow commented on #843
Works for me logged in as well

[2018-07-23 18:17] robmyers commented on #843
Try now? I think the object cache in w3-total-cache was corrupted.

[2018-07-23 18:18] little-wow commented on #843
Works!

[2018-07-23 18:18] #843 closed

[2018-07-23 18:18] robmyers commented on #843
Yay! Thank you for catching this!

[2018-07-24 08:09] mzeinstra opened #844 "CC achieved nothing significant since 2009?"
I'm writing policy recommendations about open heritage. When referring to aspect of Creative Commons I'd like find up to date pages. This page has not been updated in almost 10 years: https://creativecommons.org/about/history/

Please update or remove the milestones so I can point to an updated history of CC.

[2018-07-24 09:12] altrugon commented on #835
The `skip-link-focus-fix.js` error was due to an extra line of code left behind on the copy/paste procedure from the website theme. I have solved the issue by removing the line below:

`<script type='text/javascript' src='//wp-content/themes/twentysixteen/js/skip-link-focus-fix.js'></script>`

From `creativecommons.org/tools/legalcode-includes/html-head.html` and then run the `update_cc4_includes.

[2018-07-24 10:11] altrugon commented on #833
We just need to add a maximum height and control the overflow, you can see a working fix on the attached screen-shot below:

![choose_a_license](https://user-images.githubusercontent.com/398069/43131593-4fefda0e-8f31-11e8-840d-c16b79bc97e0.png)

I was going to do it myself, but it seems this page is somehow "special" and couldn't find it as a regular WP page, also all the code for this page is inl

[2018-07-24 10:22] mzeinstra commented on #833
I believe it is part of this: https://github.com/creativecommons/cc.engine/tree/master/cc/engine/templates/chooser_pages

That refers to two css files you could adopt, those are hosted by the Wordpress install as I understand the code.

[2018-07-24 10:48] altrugon commented on #833
Yes @mzeinstra you are right, and here is where the code needs to be inserted:

https://github.com/creativecommons/cc.engine/blob/master/cc/engine/templates/chooser_pages/interactive_chooser.html#L671

I haven't been around this area of the code and when I inserted those 2 lines nothing happened at all. I'm not sure if extra steps are needed but just in case I left the solution on branch `feature/

[2018-07-24 14:32] little-wow commented on #844
Hi Maarten – thanks for pointing that out! We've taken down the page for now and will be updating it in the upcoming future.

[2018-07-25 12:50] little-wow opened #845 "Link to store is wrong in FAQ"
https://creativecommons.org/faq/#i-love-creative-commons.-how-can-i-help

Should be .org not .net

[2018-07-25 13:06] #845 closed

[2018-07-26 10:00] peterspdx opened #846 "German 4.0 license links"
The link "Lizenz" in the German translation of the Deed called "Attribution 3.0 Unported (CC BY 3.0)" leads to the ported German legal text., same for the other license types. The links in the German deeds should lead to the German language 4.0 legal text.

@robmyers  @georgehari

[2018-07-28 08:13] georgehari commented on #846
I changed the link in Transifex to point to **/4.0/legalcode.de**.

[2018-07-31 20:11] jennryn opened #848 "certificates@creativecommons.org email address"
@robmyers : can you make a certificates@creativecommons.org email address for admins? This would help us field logistics emails. Right now the admins would be Mari and me, but I'd need to add more before 2019. Thanks!

[2018-07-31 20:33] mmoreshead opened #849 "Platform no longer an open platform displayed on page"
Someone sent a note to info@:

I just wanted to point out that on your "Share Your Work" page you have a link to what used to be Boundless. However, since Boundless has ceased operations it appears that their site name was purchased, and the link now goes to a 'marriage-based greencard application' service - which is definitely not an open platform :)

----------

 @robmyers @little-wow

[2018-08-03 02:01] Aaron-M opened #850 "Incorrect guidance on CC-BY-NC-ND 3.0 NZ Version"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

On these pages https://creativecommons.org/licenses/by-nc-nd/3.0/nz/ and https://creativecommons.org/licenses/by-nd/3.0/nz/
I believe ther

[2018-08-05 18:32] bunthonn opened #851 "This work is licensed under the Creative Commons Attribution-ShareAlike 3.0 Unported License. To view a copy of this license, visit http://creativecommons.org/licenses/by-sa/3.0/ or send a letter to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA."
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-08-05 18:34] bunthonn commented on #851
Bugs track problems or errors.

[2018-08-06 14:37] little-wow commented on #849
fixed. Bummer about Boundless.

[2018-08-06 14:37] #849 closed

[2018-08-07 17:11] robmyers commented on #851
Hi there!

I'm not quite sure what you are asking, can you provide more information?

Thank you.

[2018-08-08 15:59] sarahpearson commented on #829
How about we add the following on the About Licenses page: "CC has committed to maintaining the legal code of its licenses completely unchanged after publication. See here [LINK to new page] for an explanation of what is considered legal code and what is not."

I don't really have any strong opinions about the URL for the new page. Maybe something like https://creativecommons.org/licenses/whatisle

[2018-08-08 16:29] peterspdx commented on #829
A small tweak to the sentences Sarah provided:

"CC maintains the legal code of each license version, port (pre 4.0), and official translation unchanged after publication. See here [LINK to new page] for an explanation of what is and is not considered legal code."

I feel slightly strongly that the URL not be a question. How about:

https://creativecommons.org/licenses/defininglegalcode
or
https:/

[2018-08-08 20:07] sarahpearson commented on #829
Sounds good.

[2018-08-09 07:51] peterspdx opened #853 "Fix mis-formatting in 4.0 licenses"
https://creativecommons.org/licenses/by/4.0/legalcode

Section 2a5A and 2a5B (and 2a5C in the SA licenses) should not be italicized. Should appear in standard text.

Viewed using Safari Version 11.1.2 (11605.3.8.1)

@robmyers @pa-w @sarahpearson

[2018-08-09 16:02] sarahpearson commented on #850
Thank you for reporting this. You are right that it is slightly confusing in light of that nuanced difference between versions 3.0 and 4.0. CC's historical policy has been to have a single deed that works for all versions of the particular license. In some cases, like this one, it made drafting a bit difficult. Here, we felt that the language chosen is technically true for all versions of the ND l

[2018-08-09 16:02] #850 closed

[2018-08-09 18:49] robmyers commented on #833
I have merged the fix into cc.engine and deployed. We now get a scrollbar on the popover if the text would overflow.

[2018-08-09 18:49] #833 closed

[2018-08-09 18:56] robmyers commented on #835
I have merged and deployed the fix (thank you @altrugon !).

Loading the page now gives me no errors in the console.

@ericsteuer can you check this and see if the other errors were indeed related?

Thank you everyone!

[2018-08-16 12:40] mzeinstra commented on #692
Can we fix this? It has been almost 6 months since I reported that second logo left to non-commercial has a duplicate image.

It seems to occur when the NC wants to display the currency of the area (e.g. Euro or the Japanese Yen) in the old design but the dollar in the new design.

It is due to this file: https://github.com/creativecommons/creativecommons.org/blob/master/docroot/includes/jurisdict

[2018-08-16 18:27] robmyers commented on #692
@robinpuga was this a conscious decision? I forget.

[2018-08-16 18:47] mzeinstra commented on #692
I think it was never taken as a feature for the new designs of the new deed pages and is an artifact of the older ones. I like the feature, but I can imagine that it overcomplicates. I suggest removing the reference to that css file on the deed page and create a feature request to re-introduce these icons based on their respective currency.

[2018-08-23 03:10] Irwanddrummer opened #855 "https://drive.google.com/file/d/1KlkgxJ3xUoJLfRfsT9JXpLrxeP8EnS-n/view?usp=drivesdk"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-08-23 13:35] #855 closed

[2018-08-23 16:34] little-wow opened #856 "Mask the CRM URL with our Donate Page"
When our CRM goes up, we'll need to mask the URL for the EN. To do September 5

[2018-08-28 17:29] dunn commented on #748
Any further consideration about (re)adding this behavior?

[2018-08-28 18:02] robmyers commented on #856
Mask the crm with https://creativecommons.org/donate/ ?

Do EN have any documentation for this so I can make sure I'm doing what is expected? I searched but couldn't find any.

[2018-08-29 18:59] mmoreshead opened #859 "Remove content on form"
https://creativecommons.org/donate  on the donate form here, can you remove the part that says "Contributions at $10,000 and above will be recognized on our public list of supporters with the individual or company name and a website link"

Thank you!

[2018-08-29 21:16] robmyers commented on #859
Is it the whole part or just the "and a website link"?

[2018-08-30 12:32] mmoreshead commented on #859
Just the "and a website link".

You were right!

[2018-08-31 04:03] jiaxinxuan opened #860 "Taiwan is not a country，it is a province of China！"
https://upload.cc/i1/2018/08/31/HRUkuM.png

[2018-09-02 09:57] Vipadasangkaew commented on #856
WASHINGTON—U.S. Citizenship and Immigration Services (USCIS) announced today that current beneficiaries of Temporary Protected Status (TPS) under Somalia’s designation who want to maintain their status through the 18-month extension period ending on March 17, 2020, must re-register between August 27, 2018 - October 26, 2018.

Re-registration procedures, including how to renew employment authorizat

[2018-09-03 07:07] mzeinstra opened #861 "Broken link on the policies page"
On: https://creativecommons.org/policies

There is a section called 'Chapter Social Media Accounts' which has a broken link to github: https://github.com/creativecommons/global-network-strategy/blob/master/docs/chapters-guidelines.md.

[2018-09-03 12:59] claudioruiz commented on #861
fixed. thanks for that!

[2018-09-03 12:59] #861 closed

[2018-09-03 13:02] mzeinstra commented on #861
Missed one, under 'Chapter Website Content' ;)

[2018-09-04 14:39] little-wow opened #862 "Remove Privacy Policy update at header"
Is is time yet to remove this reminder?

[2018-09-04 15:43] #336 closed

[2018-09-04 15:52] robmyers commented on #531
We are moving away from Civi so this is no longer an issue.

[2018-09-04 15:52] #531 closed

[2018-09-04 16:07] sarahpearson commented on #862
Yes, thank you!

[2018-09-06 21:09] robmyers commented on #862
Done!

[2018-09-06 21:09] #862 closed

[2018-09-07 11:59] little-wow opened #864 "Broken link on CC0 page"
"Use this license" returns a 404 https://creativecommons.org/publicdomain/zero/1.0/

https://creativecommons.org/choose/results-one?license_code=CC0&amp;jurisdiction=&amp;version=1.0&amp;lang=en

[2018-09-07 18:37] robmyers commented on #860
We are not using that donation form any more.

[2018-09-07 18:37] #860 closed

[2018-09-07 18:59] robmyers commented on #864
Try now?

[2018-09-08 12:52] georgehari opened #865 "404 link in the Spanish 4.0 licenses"
In the Spanish translations of licenses, such as https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.es, the link from "CC0 de Dedicación al Dominio Público" should point to https://creativecommons.org/publicdomain/zero/1.0/legalcode, not to https://creativecommons.org/publicdomain/zero/1.0/legalcode.es, until CC0 is translated into Spanish.

[2018-09-10 13:53] sarahpearson commented on #865
How did this slip through? I can't believe I missed it. To fix it, I think we'll just need to fix the file on the staging server and then I'll submit a new pull request. Can you please fix the html on staging @georgehari? Thanks.

[2018-09-11 13:32] georgehari commented on #865
Done - https://github.com/creativecommons/creativecommons.org/commit/70782399c7b49be700370b5a7deb18b14aced97f. It should be up when https://legal.creativecommons.org is back online.

[2018-09-11 13:47] sarahpearson commented on #865
Thanks, @georgehari! Once the staging server is back up, I'll take a look and submit a new pull request. Keeping this ticket open until then so it's tracked.

[2018-09-11 15:10] aldenstpage opened #866 "Donate page redirect breaks due to trailing slash"

[2018-09-12 09:05] mzeinstra opened #867 "Subscription to newsletter form might be broken"
I filled in my companies mail address in the newsletter form here: https://creativecommons.org/about/contact/newsletter/

I got the following error message:
![image](https://user-images.githubusercontent.com/5627431/45414443-adeca580-b67b-11e8-89b8-93c84638391b.png)

Might be that the newsletter subscription is broken.

[2018-09-12 16:17] sarahpearson commented on #865
Submitted a pull request for the corrected files.

[2018-09-12 16:56] sarahpearson commented on #846
This appears to be fixed by George, so I'm closing the ticket.

[2018-09-20 00:08] mmoreshead commented on #864
This is still broken, got an email from someone from info@:

On this page https://creativecommons.org/publicdomain/zero/1.0/

at the bottom it says "use the license" and gives a link. This link is dead:

400 Bad Request
The server could not comply with the request since it is either malformed or otherwise incorrect.

One or more query values were bad.

[2018-09-20 13:44] sarahpearson opened #870 "Broken formatting on the Polish BY 4.0 translation"
As you can see at this link (https://creativecommons.org/licenses/by/4.0/legalcode.pl), the formatting is off on this particular translation. I assume it happened during the redesign launch.

This is typically something Rob would handle, so I will assign @aldenstpage for now. It's also possible that Affinity Bridge might be able to help. @ericsteuer do you know if they have access and/or willingne

[2018-09-21 19:27] ericsteuer commented on #870
Thanks for this, @sarahpearson. I'm adding @mackh and @robinpuga from AB to take a look.

[2018-09-24 14:38] little-wow commented on #867
Hi Maarten, the link on that page is fixed and was shortly after you submitted this comment :)

[2018-09-24 14:38] #867 closed

[2018-09-24 14:39] little-wow commented on #866
This is still broken on certain licenses pages – probably change all license redirects to donate.creativecommons.org, no?

[2018-09-24 14:46] aldenstpage commented on #870
It looks as though somebody copied and pasted HTML from the 3.0 translation into 4.0, creating the mashed up page we see now. I will look into this.

[2018-09-24 14:49] little-wow opened #872 "CSR certificate for action.creativecommons.org"
We'd like to use action.creativecommons.org as our base URL for donations and advocacy.

CSR request is in Alden's email.

[2018-09-24 15:31] peterspdx commented on #870
Thx Alden!

Sent from my iPhone

[2018-09-24 15:37] aldenstpage commented on #866
This ought to be resolved now. Some static content had the bad donor URL instead of using `donate.creativecommons.org` like I would have expected.

[2018-09-24 15:37] #866 closed

[2018-09-25 13:02] aldenstpage opened #873 "Legal staging site is down"

[2018-09-25 13:03] aldenstpage commented on #873
The server keeps dying every few days because apache2 isn't cleaning up its semaphores. I've set up a cron job to clean up semaphores and then restart apache2 daily.

[2018-09-25 13:03] #873 closed

[2018-09-25 13:07] aldenstpage opened #874 "Gain control over mailing lists"

[2018-09-25 16:54] janeatcc opened #875 "WP post doesn't show numbered lists"
See https://creativecommons.org/2018/09/25/findings-from-the-discovery-phase-of-cc-usability/ where ordered list (nine insights) look like bullets

[2018-09-25 16:55] little-wow opened #876 "Change Whois Lookup admin"
Our site admin is still listed as @mattl on whois

Screenshot below

<img width="654" alt="screen shot 2018-09-25 at 12 55 11 pm" src="https://user-images.githubusercontent.com/7093838/46029741-43e3ef80-c0c2-11e8-8772-7254a8d630c0.png">

[2018-09-25 18:01] aldenstpage commented on #874
I will be receiving access to the email server by tomorrow.

[2018-09-27 15:29] aldenstpage commented on #874
Resolved

[2018-09-27 15:29] #874 closed

[2018-09-27 19:18] mmoreshead opened #877 "add two new people to the audit@ list"
Hey Alden, I need to add to email addresses to the mailing list that is audit@cc.org - the sooner the better if you're able. Let me know when you're ready and I'll send you their email addresses.

Thanks!
Mari

[2018-09-28 13:46] mmoreshead commented on #877
Thanks Alden!

[2018-09-28 13:46] #877 closed

[2018-09-28 20:18] #856 closed

[2018-09-28 20:18] #851 closed

[2018-09-28 20:19] little-wow commented on #840
Closing for now due to lack of staff interest in project

[2018-10-01 18:38] mmoreshead opened #878 "broken link in license (Dutch)"
From info@

  | Legal code missing.  At https://creativecommons.org/licenses/by/3.0/nl/, the link to the legal code from the word "licentie" points to https://creativecommons.org/licenses/by/3.0/nl/legalcode.nl - which responds with 404 Not Found error.
-- | --

[2018-10-02 13:41] sarahpearson opened #880 "Add Latvian to language list of all published 4.0 translations"
Once the Latvian 4.0 license translation is live, please add latviski (not capitalized) to the language list of all published translations with a link to the relevant license. I believe there is a script for this. Thank you!

[2018-10-02 13:48] sarahpearson opened #882 "Add Basque to the 4.0 language list of all published translations"
Once the Basque 4.0 translation is published, please add euskara (not capitalized) to the language list of all published 4.0 translations with a link. Thank you!

[2018-10-02 13:53] sarahpearson opened #884 "Add Basque to the language list of all published CC0 translations"
Once the Basque CC0 translation is live, please add euskara (not capitalized) to the language list at the footer of all published CC0 translations. Thank you!

[2018-10-04 06:04] georgehari opened #888 "Wrong anchor name tag in English legal codes"
In the new style of all legal codes, it should be:
**<a name="languages"></a>Additional languages available**
instead of
_<a name="languages">Additional languages available</a>_

[2018-10-04 14:51] jennryn commented on #840
@little-wow I could be confused, but I thought we were waiting for you to reschedule a call you canceled (to explain what you were looking for on this). Happy to learn more and help how I can.

[2018-10-05 15:18] #880 closed

[2018-10-05 15:18] #882 closed

[2018-10-05 15:18] #884 closed

[2018-10-05 16:35] #859 closed

[2018-10-05 16:39] little-wow commented on #840
I discussed with a few people and there wasn't a lot of momentum, and then the departure of Rob made it difficult to set up, so I'm tabling until we have someone to do the tech work on it.

[2018-10-05 16:39] #840 closed

[2018-10-15 14:33] little-wow opened #889 "German CC BY-SA 3.0 license links to 4.0"
See twitter:
https://twitter.com/mpoessel/status/1051173246412972032

and deed: https://creativecommons.org/licenses/by-sa/3.0/deed.de

[2018-10-15 14:43] little-wow commented on #889
Bug is a bit more widespread than just there: https://twitter.com/mpoessel/status/1051843831417712640

[2018-10-15 22:06] janeatcc opened #890 "Main CC web page pointing to search.cc.org"
@little-wow alerted me to the fact that the main page on cc.org that points to CC search still is connected to search.cc.org (and not beta ccsearch.org): https://creativecommons.org/use-remix/

Thoughts on whether this should remain this way for now, and we review again in 2019, given that the beta only searches images?

cc: @aldenstpage @pa-w @sebworks @sclachar @sarahpearson

[2018-10-16 12:19] #889 closed

[2018-10-16 15:52] aldenstpage commented on #890
We should certainly link to CC image search somewhere on the front page, but people still need to find search.cc.org until we can fully replace it. I can't see us doing that until we have indexed a more complete catalog, including other content types besides images.

[2018-10-16 16:47] janeatcc commented on #890
Yeah, I think I agree.

Beta ccsearch is linked from search.cc.org. Not sure if there's a place to link to it on the main site. Maybe just on that same page say we have a beta CC search and link to it underneath the main one? thoughts @little-wow ?

[2018-10-16 17:42] little-wow commented on #890
I think that's too much. I'm not sure what benefit search.cc.org has over ccsearch.creativecommons.org, but I don't feel like anyone is going to complain about that link going away and it could be a way to drive users to the new search and also improve SEO

[2018-10-16 19:59] janeatcc commented on #890
Then I think we should keep status quo for now until search team is comfortable with replacing search.cc.org with the beta.

[2018-10-17 12:50] mmoreshead commented on #864
this is still broken. Any chance @TimidRobot can help?

[2018-10-29 23:52] little-wow opened #892 "Broken link on licenses"
Dashed, underlined links don't work, as per twitter: https://twitter.com/jaydisc/status/1057046001406554112

[2018-11-06 23:37] peterspdx commented on #243
phone on contact page doesn't have any identifying info such as "you've reached Creative Commons, please leave a message". Someone needs to update that with a human voice and identifying information, and ensure someone is checking the phone every few days.

[2018-11-07 00:04] mmoreshead commented on #243
Hi @peterspdx -- this is on me. Let me see why they changed the outgoing message.

Fully guilty of not checking the messages for the last two weeks, please follow up on email if there was something in particular.

[2018-11-07 00:12] #243 closed

[2018-11-08 08:17] brinerustle commented on #841
No one has been assigned to this since september 7th. Anyone?

[2018-11-15 18:52] robmyers commented on #892
That code probably pre-dates Safari... :-)

[2018-11-15 18:53] robmyers commented on #876
It's me on some of the others... :-)

[2018-11-15 18:56] robmyers opened #895 "IRC/Slack Bridge Is Not Working"
Heya.

Mindspillage reports that the IRC/Slack bridge from #creativecommons to #general is not currently working.

The irc channel doesn't require Voice any more so it's not that. Either the Slack integration needs checking or the box on ByteMark running the bridge code needs investigating.

It's conceivable that I did something during the spam flood earlier in the year that affected this, if so m

[2018-11-15 21:53] #895 closed

[2018-11-20 12:12] georgehari opened #896 "CC0 German branch not visible"
https://cc0-de-legalcode.legal.creativecommons.org/ is not visible. I created the branch from the master but I know from Rob that you have to do something manually on the server until the new branch becomes visible.
Related: #897
@sarahpearson @peterspdx

[2018-11-20 12:30] georgehari opened #897 "Visibility of branch CC Spanish (Castellano)"
I created the branch cc0-es-legalcode, please make sure the future staged file will be visible.
Related: #896
@sarahpearson @peterspdx

[2018-11-29 08:45] georgehari opened #898 "New template for translations"
We just received the Slovenian translations for 4.0. The team produced the 6 HTML files based on the present template. This is the first translation that follows the new template, so we need to know where does the code start and where it ends.

I guess these parts should be removed from the HTML files of translations and they will be added later when the files are pushed live:

## 1

[code]

## 2

[2018-11-29 22:48] peterspdx opened #900 "Broken formatting on the IGO 3.0 ported licenses (English, French, Arabic)"
The IGO 3. ported licenses are currently published in three languages: English, French, and Arabic. Formatting needs to be changed to new formatting for all licenses. Same issue as is happening with Polish BY 4.0 and all 6 Greek 4.0 translations. @sarahpearson @aldenstpage @TimidRobot

English
- https://creativecommons.org/licenses/by/3.0/igo/legalcode
- https://creativecommons.org/licenses/by-nc/

[2018-12-03 14:04] sarahpearson opened #901 "Formatting still broken on the Greek 4.0 translations"
Filing a ticket so this doesn't get lost now that Timid Robot is out for a week. Seemed it was fixed on the staging server, so I think it's just a matter of making those same changes live when they return.

(cc @peterspdx @georgehari @aldenstpage)

[2018-12-12 08:07] #896 closed

[2018-12-12 08:07] #897 closed

[2018-12-12 15:50] #901 closed

[2018-12-25 13:36] ednix opened #904 "XSS Vulnerability in CC0 Waiver form and possibly elsewhere [SECURITY]"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

https://creativecommons.org/choose/zero/waiver

Please tell us the steps to reproduce the problem, if needed:

1. Go to the URL https://cr

[2018-12-25 17:32] haugeto420 opened #905 "Kewl"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-12-27 15:59] Phakaporn1233 opened #906 "Chb"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2018-12-30 19:00] ednix commented on #904
Imagine if we lived in a world where people who are members of the Creative Commons organisation actively responded to security issues on the issue tracker. Maybe there is a license to do this?

[2018-12-30 19:45] robmyers commented on #904
The code in this section of the site is old enough that it predates XSS as a serious concern.

Wrapping the relevant GET request field access in cc.engine/cc/engine/chooser/views.py with a Python 2.7+ HTML stripping function (BeautifulSoup or a regex, to taste) would address the issue.

[2018-12-30 19:48] robmyers opened #907 "Issue Template Needs Updating :-)"
Heya!

The issue template currently ends with this text:

```Finally, we're going to put someone's name here, so they get alerted to the new issue and can assign it to the right person. @robmyers @little-wow```

It should be updated to remove me and add a more up-to-date contact. :-)

[2018-12-30 19:54] robmyers commented on #904
And/or striptags in the Jinja templates, as the Request objects tend to be passed to them fairly atomically.

[2018-12-30 20:46] ednix commented on #904
Thank you for responding! Makes sense.

[2018-12-31 08:02] georgehari commented on #738
It's down again. I noticed that today.

@sarahpearson @peterspdx

[2019-01-02 17:56] #905 closed

[2019-01-02 17:56] #906 closed

[2019-01-02 20:34] kgodey commented on #904
@robmyers thank you!

@ednix thank you for reporting this! I apologize for not responding sooner, CC was on shutdown from Dec 24-Jan 1. We do take security seriously and we'll figure out a process for escalating security issues reported during breaks.

[2019-01-02 21:31] kgodey opened #908 "Testing urgent label, please ignore."
Please ignore this issue.

[2019-01-02 21:37] #908 closed

[2019-01-02 21:49] kgodey commented on #907
@robmyers thanks for reporting! We've updated the template to remove you. I'm watching the repo and I get emails about any new issues that are created so I did not explicitly add myself.

[2019-01-02 21:49] #907 closed

[2019-01-03 15:34] georgehari commented on #738
https://legal.creativecommons.org is working again. Thanks!

[2019-01-03 15:34] #738 closed

[2019-01-07 14:49] philip-muench opened #909 "Rest API certificate expired"
The certificate of the REST API has expired on Jan. 1st 2019. Right now, this service is unusable. Try https://api.creativecommons.org/rest/1.5/details?license-uri=http://creativecommons.org/licenses/by/4.0

[2019-01-07 19:02] aldenstpage commented on #909
Thanks for bringing this to our attention, I've fixed the issue. There was a problem with the cronjob set up to take care of renewal; we are taking steps to ensure this is the last time this happens.

[2019-01-07 19:19] #909 closed

[2019-01-08 18:53] little-wow commented on #313
Reopening and reassigning this issue because the chooser link is still broken. cc @TimidRobot @kgodey

[2019-01-09 20:17] little-wow opened #910 "Revisiting CC Welcome Bot"
Due to increasing spam in CC Slack, let's reopen the discussion of how to greet people entering the channel.

I propose a DM using Simeon and Soohyun's text to all new users that welcomes them, lays ground rules, and dissuades spammers.

I wonder if there's also a way for Hubot to grant new users cascading privileges until they do something – send a post, something? In any case, let's use this thr

[2019-01-13 21:58] tvol opened #911 "pngs for CC0 and public domain mark files broken links on /downloads page"
https://creativecommons.org/about/downloads/

https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/publicdomain.png
https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/cc-zero.png
https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/publicdomain.png
https://mirrors.creativecommons.org/presskit/buttons/80x15/svg/cc-zero.png

[2019-01-15 18:15] kgodey commented on #778
Assigning to @little-wow to get staff consensus and decide how to proceed and moving to "needs more info".

[2019-01-15 18:20] #837 closed

[2019-01-15 18:22] #517 closed

[2019-01-15 18:23] #438 closed

[2019-01-15 18:23] #701 closed

[2019-01-15 18:24] #826 closed

[2019-01-15 18:33] #515 closed

[2019-01-15 18:45] little-wow commented on #273
I've been cleaning this page up but don't know what the status of Free Cultural Works is. @peterspdx ?

[2019-01-16 00:12] tvol opened #912 "license test API doesn't handle https://"
Dunno where this issue belongs, but sending along here a note I received from Mark at Internet Archive who asked me to pass on to the relevant people at CC...

–––––––––

The call to the license information API with an HTTPS license:
https://api.creativecommons.org/rest/dev/details?license-uri=https://creativecommons.org/licenses/by-nc-sa/2.0/ returns
<error>
<id>invaliduri</id>
<message>Invalid l

[2019-01-16 02:45] robmyers commented on #764
This is the version of the page that I would have been looking at:

https://web.archive.org/web/20180309133206/https://creativecommons.org/publicdomain/zero/1.0/

I assume I'm noting something about the translations at the bottom having links to Chinese translations that don't exist as legalcode files but do exist as .po files / Transifex projects. Apart from the language names being the old ones

[2019-01-16 13:11] little-wow commented on #273
Okay, that was all I needed! Thanks, Diane.

[2019-01-16 16:46] kgodey commented on #912
@tvol I'll put this in our next sprint starting Tuesday, I assume you need this fixed before the event on the 25th?

[2019-01-16 17:32] tvol commented on #912
@kgodey no it's unrelated. i just got to chatting with the guy and mentioned i worked for CC and he said "oh i've got something for you!"

[2019-01-16 17:34] kgodey commented on #912
oh okay, thanks. I'm not going to definitely prioritize getting it done next week then.

[2019-01-24 10:04] mzeinstra commented on #741
Happy to see that the first table of https://creativecommons.org/about/downloads/ is working again. The second table could still use some work.

[2019-01-24 12:44] peterspdx commented on #764
Thanks @robmyers

@georgehari Can you please take a look at this issue and share any information you may have? We do have translations of CC0 into Simplified Chinese and Traditional Chinese that are live. Thanks.

[2019-01-25 16:50] rlafuente opened #913 "Integrate Business Toolkit WP site"
Hi!

We were directed by Simeon to open a ticket here in order to track and deal with the implementation of the CC Business Toolkit mini-site, which is a Wordpress-based site.

We just need directions on how to pass you the files and database -- just let us know your preferred way and workflow and we'll go with that. Thanks!

[2019-01-28 14:24] #244 closed

[2019-01-28 14:31] #471 closed

[2019-01-28 14:33] little-wow commented on #550
This appears to be fixed @sarahpearson can you check?

[2019-01-28 14:34] #455 closed

[2019-01-28 14:39] little-wow commented on #427
Not sure what this is – @ryanmerkley @peterspdx can we close?

[2019-01-28 14:40] little-wow commented on #300
Still open on iPhone 8

[2019-01-28 14:43] #278 closed

[2019-01-28 14:46] little-wow commented on #557
Let's rethink this page entirely.

[2019-01-28 15:37] sarahpearson commented on #550
Appears fixed to me, too. Will close the ticket. Thanks!

[2019-01-28 15:37] #550 closed

[2019-01-29 08:52] georgehari commented on #764
From the page footer at https://creativecommons.org/publicdomain/zero/1.0/:
- the link deed.zh goes to https://creativecommons.org/publicdomain/zero/1.0/deed.zh (and from here the link to the legal code goes to https://creativecommons.org/publicdomain/zero/1.0/legalcode.zh-Hans)
- the deed.zh_TW goes to https://creativecommons.org/publicdomain/zero/1.0/deed.zh_TW (and from here the link to the leg

[2019-01-29 17:39] kgodey commented on #288
We no longer reference this URL anywhere AFAIK so I'm closing this issue.

[2019-01-29 17:39] #288 closed

[2019-01-29 23:18] kgodey commented on #913
Hello! We've added this to our queue of work and we'll update here when we're ready for the files and database. It will probably take a couple of weeks; all CC staff are attending an in-person retreat next week and we're swamped.

[2019-01-30 00:04] peterspdx opened #914 "fix internal page link on staff page so links to individuals work"
E.g., http://creativecommons.org/staff#dianepeters goes to top of the page only, not to my particular profile.

[2019-01-30 01:00] kgodey opened #915 "Error with French license 2.0 link"
Reported via email to info@creativecommons.org
---
There is an error on the following link
https://creativecommons.org/licenses/by-nc-nd/2.0/fr/

In french, when you press on the licence link you are redirect to
https://creativecommons.org/licenses/by-nc-nd/2.0/fr/legalcode.fr
and this is a 404 error 🙂

It should be
https://creativecommons.org/licenses/by-nc-nd/2.0/fr/legalcode

[2019-02-04 19:14] ericsteuer commented on #911
The problem here is that the sub-sub-sub-sub-directory is wrong -- should be /png/ not /svg/ -- i can fix

[2019-02-06 17:20] ericsteuer opened #916 "Heart logo on Downloads page"
i'd like to offer the cc heart logo as a png, svg, and eps in both black and red on https://creativecommons.org/about/downloads

will work on this soon

[2019-02-07 15:55] georgehari opened #917 "Russian translation dissapearing from Transifex"
Here is an issue described by a dedicated Transifex collaborator for Russian:

"I'm an employee (content manager and translator in the CC Russia project) of the Institute of the Information Society (Russia's CC affiliate in 2010-2018) and also a long-term volunteer in CC and relevant free-content projects. By the way the Institute as a private NGO has financial problems and I am on vacation. I hav

[2019-02-07 16:28] simeonoriko opened #918 "Change Global Affiliate Network link on CC.org homepage to network.cc.org"
This is a thing for @little-wow

Please change the "Global Affiliate Network" text at the top the CC homepage to "Creative Commons Global Network" and link it to http://network.creativecommons.org

<img width="1440" alt="screenshot 2019-02-07 at 11 21 09" src="https://user-images.githubusercontent.com/389670/52426092-54be5c00-2acb-11e9-89a3-81d2ab9d8837.png">

Thanks.

[2019-02-07 17:22] ericsteuer commented on #916
[cc_heart.zip](https://github.com/creativecommons/creativecommons.org/files/2841980/cc_heart.zip)

@little-wow would you get these on the /about/downloads page of the site sometime soon? i had the heart logo re-drawn so that it's available in black and red as high res (png, svg, eps files for each)

copying @ryanmerkley and @mmoreshead so they know we're adding these

[2019-02-11 14:33] little-wow commented on #918
Should be done. (Give it about an hour to update.) We lost the little icon, but I think that's okay.

[2019-02-11 15:57] little-wow commented on #916
Noting that I will do this 2/12/2019

[2019-02-11 16:06] little-wow opened #919 "Asking users why they want to join Slack"
In order to address Spam, we've had a bit of a gate proposed. Opening this ticket to discuss.

I propose a short text that says "Why do you want to join CC's Slack?" and posted on slack-signup.creativecommons.org

[2019-02-11 19:50] ericsteuer commented on #919
fine with me. i'm not familiar with best practices on how to properly gate slack, but that sounds reasonable.

[2019-02-12 17:00] little-wow commented on #916
done. I also finished the tables on the downloads page.

[2019-02-12 17:00] #916 closed

[2019-02-12 17:20] kgodey commented on #741
This was fixed by @little-wow.

[2019-02-12 17:20] #741 closed

[2019-02-12 20:58] kgodey commented on #917
Assigning to Sarah to gather more info, we will triage afterwards.

[2019-02-12 20:58] sarahpearson commented on #917
@georgehari Do you think the problem is just that the language coordinator for Russian hasn't approved the translation? If so, please go ahead and grant the approval to make this translation live. Or is the problem something bigger?

[2019-02-13 09:39] simeonoriko commented on #918
Was hoping to keep the little icon as it called attention to it but if we can't get it back, that's ok.

Minor change: can the text read "Creative Commons Global Network" instead of just "Global Network"?

Is that's too much, how about "CC Global Network"?

[2019-02-13 09:41] simeonoriko commented on #919
Will it be a required question + does that mean we have to manually approve every person who requests to join?

[2019-02-13 14:55] mmoreshead opened #922 "Button on downloads page shows dollars then downloads EU"
From the CC Certificate Slack channel:  "I am trying to find By-NC and BY-NC-SA svg  with US dollars not EU symbol. When I went to downloads page-https://creativecommons.org/about/downloads the image shows dollars then downloads EU. "

===================

Finally, we're going to put someone's name here, so they get alerted to the new
issue and can assign it to the right person. @little-wow

[2019-02-13 14:59] mmoreshead opened #923 "where are the source code & assets for this animation?"
From the CC Certificate channel:

"Does anyone know where to get the code for this animation? https://labs.creativecommons.org/2011/demos/license-layers/ I would like to use it in our libguide. The links in the attribution indicating where to get the code are dead. © 2011, Creative Commons, Nathan Yergler, Alex Roberts. Licensed to the public under CC BY 3.0 Unported. Creative Commons logo used un

[2019-02-13 15:07] little-wow commented on #923
Tag @peterspdx @ericsteuer

[2019-02-13 15:07] little-wow commented on #922
This should be fixed!

[2019-02-13 15:07] #922 closed

[2019-02-13 15:08] little-wow commented on #919
I think yes, and let's try manual approval for a few weeks and see if it's overwhelming. Is that okay? It's not a massive number of people.

[2019-02-13 15:21] simeonoriko commented on #919
I'm ok with manual approvals.

[2019-02-13 15:24] little-wow commented on #919
@TimidRobot when do you think you can get this on your sprint? I am pretty sure it entails:

1. Setting up an approvals email address or mailbox that admins can access
2. Disabling auto-approve on slack-signup.creativecommons.org
3. Adding mandatory question "Why do you want to sign up for Slack?" to landing page
4. Sending all approvals to inbox

Admins can set up an approval schedule to reduce w

[2019-02-13 17:47] ericsteuer commented on #923
I don't know the origin of this animation nor have I ever seen source files. But coincidentally, I recently had a static version of it re-drawn by an illustrator so it would be high res enough to be used in the CC Cert book that the ALA and CC are working on. Hopefully it can be of some use here:

https://drive.google.com/open?id=1ZXA40a6nxE-kz8-CQL41UqtZIxdsxJZC

and in grey:
https://drive.google

[2019-02-13 18:11] ericsteuer commented on #923
Also, @little-wow, at one point, Cable had asked for this graphic to go on the /downloads page of cc.org. If you think there's an elegant way to make it available there for people, will you please add it?

[2019-02-13 19:38] kgodey commented on #919
This issue is in the active sprint so that the discussion can be resolved and the issue can be consolidated with https://github.com/creativecommons/tech-support/issues/16, the work for this will not be done this week. https://github.com/creativecommons/tech-support/issues/16 is currently scheduled to be done in the next month.

(I meant to add this note when I moved this to the active sprint, sorr

[2019-02-14 00:23] little-wow commented on #918
So I'm not sure how to get the icon back because I had to change the link type to an external link and I think the icon came from it being an internal link. We can ask the dev team to return it if you think it's essential?

I changed the menu – see how it looks when it updates.

[2019-02-14 00:46] little-wow commented on #923
It's on the downloads page. I also added the attribution.

[2019-02-14 00:46] #923 closed

[2019-02-14 10:39] georgehari commented on #917
I'm not sure what the problem is, it seems like a human error. Anyway, I made the user language coordinator, so he can review the new translation.

[2019-02-14 17:04] kgodey commented on #917
It doesn't seem like there's anything for tech to do here so I'll close this ticket.

[2019-02-14 17:04] #917 closed

[2019-02-15 12:15] rlafuente commented on #913
Hey again! Any ETA on this?

[2019-02-15 18:45] kgodey commented on #913
Not yet, sorry. We're currently working on the CC chapter websites and we'll set up this mini-site once we get the initial version of those up and running.

[2019-02-19 03:22] gho87 opened #924 "404 on non-English 1.0 legalcode pages (e.g. French)"
Multiple non-English legalcode pages are considered not found.

For example, CC BY 1.0 (in French): https://creativecommons.org/licenses/by/1.0/deed.fr
Legalcode: https://creativecommons.org/licenses/by/1.0/legalcode.fr

It's not the only language and license. Other non-English legalcode links for version 1.0 licenses are also no longer working, i.e. redirected to "Not Found" (404) page.

[2019-02-19 17:51] kgodey commented on #890
Closing this since we're not ready to make the switch.

[2019-02-19 17:51] #890 closed

[2019-02-20 18:22] #919 closed

[2019-02-21 13:48] #910 closed

[2019-02-25 18:29] ericsteuer opened #925 "add CC license/PD tool video bumpers to cc/about/downloads"
@little-wow will you please add a link to [this](https://vimeo.com/album/5791214) on the [downloads page](https://creativecommons.org/about/downloads) somewhere that makes sense, and add a little description at the top to indicate what they are. Something like: "Feel free to use these animated video bumpers to mark your videos with the CC license or public domain tool of your choice."

[2019-02-26 11:53] claudioruiz commented on #918
Not essential, but maybe @hugosolar have an idea how to get it back

[2019-02-26 12:03] claudioruiz opened #926 "Bug in mailing list system: impossible to subscribe to Tim's newsletter without opting out to receive emails from CC"
![image](https://user-images.githubusercontent.com/390030/53411260-cd1a8d80-39a4-11e9-935e-37a4a17c5cfb.png)

As a side point, maybe we should explore a less complex layout for someone willing to get some info by email. Now we are displaying this window (with an odd mandatory field) and displaying too many options (how is different receiving emails and news from CC than knowing more about the CC N

[2019-02-26 15:44] little-wow commented on #925
Done

[2019-02-26 15:44] #925 closed

[2019-02-26 19:35] kgodey commented on #848
This email address exists so I'm assuming this request was fulfilled and closing this ticket.

[2019-02-26 19:35] #848 closed

[2019-02-26 20:04] kgodey commented on #819
I'm closing this because it's unclear what work is remaining. Please reopen or create a new ticket if there's any further work.

[2019-02-26 20:04] #819 closed

[2019-02-26 20:27] kgodey commented on #815
Fine to close per Cable on Slack.

[2019-02-26 20:27] #815 closed

[2019-02-27 11:00] georgehari commented on #898
FYI, the Korean translations will follow the new template as well.

@sarahpearson

[2019-02-27 17:23] kgodey commented on #820
This is done per @peterspdx and @sarahpearson on Slack, closing.

[2019-02-27 17:23] #820 closed

[2019-02-27 17:26] kgodey commented on #829
Per @peterspdx on Slack, @sarahpearson will find the place on the website to move this to and create the text. Assigning to her and moving this to "more info needed" since tech is waiting on that.

@sarahpearson please assign back to me when you're ready.

[2019-02-28 22:32] janeatcc commented on #653
Still doesn't work, on 2.0 licenses either: https://creativecommons.org/licenses/by/2.0/.

Using Safari Version 12.0.3 (13606.4.5.3.1)

[2019-02-28 23:18] kgodey commented on #748
We're adding this to our queue of issues to consider/work on but we can't promise a timeline.

[2019-03-01 13:52] PetalsOnWind commented on #914
Hello!

Is this issue still up? I checked out the website and the link on name as well as "More" goes to profile, not the top of the page. Also I noticed that the naming is now "creativecommons.org/about/team" and it is to this that the link given in original issue redirects too. The only local link that does not seem to work is for "staff" written just under "Team". This seems to be due to wrong

[2019-03-01 21:38] kgodey commented on #913
@rlafuente we're getting closer to being able to set this up so please go ahead and send us the files and database so that we'll have them ready to go. I set up a private Git repository and invited you to it, could you push them to that repo? Thanks!

[2019-03-01 21:51] kgodey commented on #914
This is still an issue but you can't edit the anchors on the page directly, it's a WordPress page so the content is managed in the database. It looks like it uses the styling from this plugin: https://github.com/creativecommons/new-www-plugin/blob/abd801ba4e393043d53e55872fce8d36e7392bad/cc-author/shortcodes/cc-author-shortcode-team.php and may be able to be fixed there but @hugosolar would know b

[2019-03-04 18:00] kgodey commented on #742
This page doesn't exist any more so I'm closing this issue.

[2019-03-04 18:02] kgodey commented on #274
Closing per Mari on Slack.

[2019-03-04 18:02] #274 closed

[2019-03-04 18:03] kgodey commented on #427
Closing this because it has no detail and it's from 2016.

[2019-03-04 18:03] #427 closed

[2019-03-04 18:11] kgodey commented on #614
The search box misalignment is still an issue.

[2019-03-04 19:34] mzeinstra commented on #742
Please consider re-opening.

Is this still a caching issue? Because this ticket is still valid to me. See the attached screenshot with the steps to reproduce:

![screencapture-network-creativecommons-org-wp-admin-users-php-2019-03-04-20_31_47](https://user-images.githubusercontent.com/5627431/53757780-daf87300-3ebc-11e9-8940-ff8f844a1f21.png)

Whereas I doctered link as Rob indicated above gives m

[2019-03-04 19:44] kgodey commented on #742
@mzeinstra sorry, I wasn't able to reproduce (https://network.creativecommons.org/members/ redirects to https://network.creativecommons.org/ for me) and assumed that the page didn't exist anymore. I think the issue might be that I don't have an account on CCGN.

[2019-03-04 19:49] #645 closed

[2019-03-04 19:50] kgodey commented on #437
Closed per @claudioruiz on Slack.

[2019-03-04 19:50] #437 closed

[2019-03-04 20:18] peterspdx commented on #613
This database is no longer active; replaced by network.creativecommons.org. @kgodey please archive any code bases.

[2019-03-04 20:18] #613 closed

[2019-03-04 20:21] kgodey commented on #613
This refers to: https://wiki.creativecommons.org/wiki/Jurisdiction_Database

[2019-03-05 09:20] brinerustle commented on #684
it's not just the spanish subdomain, it's also catalonia (cat.), italy (it.), etc. Strange thing is, Germany (de.creativecommons.org) does work.

[2019-03-05 09:24] brinerustle commented on #684
seems ignasi tried to get in touch with ibiblio last summer since he couldn;t get access to the admin password for the mailing list, I'm not sure if he ever heard from them, since this problem wasn't resolved, as far as I know....

[2019-03-05 13:23] little-wow commented on #926
A few points:
1. This is a feature, not a bug. People shouldn't be able to opt into individual mailing lists without being on our main mailing lists. If they do, they will be opted out of fundraising emails, which is not okay.
2. Point taken with the lists – what words would you suggest instead of "Network?"
3. Very few people sign up on this list. Most come through the front page. We need a captc

[2019-03-05 17:49] kgodey commented on #789
I'm closing this because it's not clear what this issue entails. We can create a new issue once there is a need for it.

[2019-03-05 17:49] #789 closed

[2019-03-05 17:57] kgodey commented on #740
Note: Create a WordPress best practices guide and talk to Eric and Jennie about other issues like this to document them in the guide.

[2019-03-05 18:17] kgodey commented on #283
This is solved per Jennie on Slack.

[2019-03-05 18:17] #283 closed

[2019-03-06 11:24] rlafuente commented on #913
Thank you! However I'm unable to find the repository invite, can you try that again? I'll then push all the necessary files asap.

[2019-03-06 12:07] hugosolar commented on #918
Ok, now we've got the icon back. It was called in a silly way in the stylesheet
![screen shot 2019-03-06 at 9 05 54 am](https://user-images.githubusercontent.com/894708/53880182-1a26e100-3fef-11e9-8f3f-f7cfe1a8f8a2.png)

[2019-03-06 14:01] #737 closed

[2019-03-06 15:33] kgodey commented on #913
@rlafuente does this link work for you? https://github.com/creativecommons/business-toolkit-files/invitations

[2019-03-06 15:36] rlafuente commented on #913
got it, will push everything right away -- thanks!

[2019-03-06 16:31] rlafuente commented on #913
Just pushed everything. You'll also need the database file, which is linked to in the README.

Let's keep this ticket for any issue that might pop up in the implementation, feel free to ping me for anything.

[2019-03-07 04:30] Hypolymer opened #928 "Typo on "What we do" page"
Thanks for reporting an issue, to help us file this efficiently we made this
template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our
sites, please put the URL or page address here:

https://creativecommons.org/about/

Please tell us the steps to reproduce the problem, if needed:

I think that there's a typo under the h

[2019-03-12 16:47] kgodey commented on #928
@little-wow I believe this is a WordPress content issue, let us know if you need tech to do anything about this.

[2019-03-13 04:57] peterspdx opened #929 "Post six new FAQs: Artificial intelligence and CC licenses"
Instructions and text sent by email. For posting March 13. Posted here for tracking.

[2019-03-13 07:57] kgodey commented on #929
This is done. I made the changes locally, copied them manually to the server (per `README.md`) and created a PR https://github.com/creativecommons/faq/pull/22 for @TimidRobot to review.

I ran into an issue where the site was cached in an unfortunate state (the table of contents had updated but the actual FAQs were not showing up), so I logged into Cloudflare and manually purged the cache for the

[2019-03-13 17:10] peterspdx commented on #929
Post small revisions to FAQ today, after receiving Slack notification.

[2019-03-14 12:18] #929 closed

[2019-03-14 14:50] little-wow opened #932 "Featured Images on Pages"
When choosing a Featured Image on a page, the image becomes huge. This means that open graph tags pick up whatever the first image on the page is, which can lead to unintended consequences on pages like "Share your Work," which picks up the Flickr logo on social: https://creativecommons.org/share-your-work/

I'd like to be able to add a featured image to a page without it showing up on the page as

[2019-03-14 16:34] rlafuente commented on #913
Hi! About this site, is there any bottleneck that we can help solve?

We have posted the files and are available to help in any way.

[2019-03-14 16:49] #918 closed

[2019-03-14 17:11] kgodey commented on #913
@rlafuente thanks! The bottleneck is on our side right now. We're aiming to get the site up sometime next week, we will post here if we need anything from you.

[2019-03-14 18:09] #841 closed

[2019-03-14 18:10] #684 closed

[2019-03-14 22:33] tvol opened #933 "create CC website popups in support of European copyright "action day" March 21"
CC has agreed (approved by Ryan) to participate in the March 21 day of action (https://edri.org/join-the-ultimate-action-week-against-article-13/) on the EU copyright reform. On that day several prominent companies and orgs such as Wikimedia Germany will “go dark” or otherwise protest Article 13 of the proposed EU copyright directive. Some of the websites will do blackouts, or put up a banner that

[2019-03-15 16:56] tvol commented on #933
https://drive.google.com/drive/folders/16q3TK_XlHGcysQHWdEwt3Pr6AxuIU_xe

https://docs.google.com/presentation/d/1j9TQ8ezyQ61erZakaYKloShAXZI9xBoXuEy2ILLfJ58/edit#slide=id.p

[2019-03-15 16:57] kgodey commented on #933
We discussed on Slack and the conclusions were:
- We will aim to use a banner on the homepage.
- The deed pages take higher priority than the homepage, @little-wow can edit the existing homepage popup if needed.
- No changes will be made to FAQ, the platform toolkit, or the license chooser.

[2019-03-15 21:40] kgodey commented on #835
Fixed per @ericsteuer on Slack.

[2019-03-15 21:40] #835 closed

[2019-03-17 04:21] accakks commented on #313
@kgodey Is this issue assignable before GSoC begins? If so I'd like to give a try !

[2019-03-17 05:55] kgodey commented on #313
Go ahead, I believe this is the repo/code it's served from: https://github.com/creativecommons/cc.engine/blob/master/cc/engine/templates/chooser_pages/zero/waiver.html. No one on the current tech team hasn't done much work on `cc.engine` so we may be slower to answer questions than for other projects.

[2019-03-17 22:54] mmoreshead opened #934 "wiki is down"
The wiki is down: https://wiki.creativecommons.org/wiki/Main_Page

Error 522, Connection timed out

Altered by someone in the certificates channel and confirmed by me.

[2019-03-18 06:37] ahmedkrmn opened #935 "Resize the video on the licenses page"
**Describe the bug**
The introductory video on the [licenses](https://creativecommons.org/licenses) page of the website is out of scale and needs to be resized.

**Screenshots**
![Screenshot (69)](https://user-images.githubusercontent.com/20889958/54511062-5bf14900-4958-11e9-990f-9f9db8322488.png)

**Environment:**
 - OS: Windows 10
 - Browser: Tested on Chrome and Edge. Haven't tested on others.

[2019-03-18 06:37] ahmedkrmn opened #973 "Resize the video on the licenses page"
**Describe the bug**
The introductory video on the [licenses](https://creativecommons.org/licenses) page of the website is out of scale and needs to be resized.

**Screenshots**
![Screenshot (69)](https://user-images.githubusercontent.com/20889958/54511062-5bf14900-4958-11e9-990f-9f9db8322488.png)

**Environment:**
 - OS: Windows 10
 - Browser: Tested on Chrome and Edge. Haven't tested on others.

[2019-03-18 07:06] kgodey opened #936 "Make repository contribution friendly."
See: https://wikijs.creativecommons.org/tech/github-repo-guidelines

- [x] A `LICENSE` file.
- [x] Code owners should be defined in the [`CODEOWNERS` file](https://help.github.com/en/articles/about-code-owners) in the `.github` directory in the project root.
- [x] Add Code of Conduct in a [`CODE_OF_CONDUCT.md` file](https://help.github.com/en/articles/adding-a-code-of-conduct-to-your-project) in t

[2019-03-19 16:06] aldenstpage opened #937 "Document translations pipeline"

[2019-03-19 17:08] little-wow commented on #935
This page is not on wordpress, so I can't edit.

[2019-03-19 17:33] tvol commented on #933
ok thanks to everyone for helping with this. the priority is the deeds, and here's where we are so far:

- @hugosolar designed two versions of the popup that will replace the existing fundraising text. one version is for desktop and one is for mobile. the "act now" button will link to https://saveyourinternet.eu/act/

- the popup will appear on all versions of all deeds

- i suggest this popup be

[2019-03-20 04:37] kgodey commented on #933
@hugosolar @TimidRobot please update this issue once you agree on when this will be deployed/undeployed.

[2019-03-20 06:53] sanjana11147 commented on #935
Can I work on this issue? @kgodey

[2019-03-20 21:03] tvol commented on #933
ok thank you @TimidRobot @kgodey @hugosolar is there anything else you need from me on this?

[2019-03-20 21:08] kgodey commented on #933
I think we're good @tvol. @TimidRobot will deploy the changes tonight.

[2019-03-21 16:48] sarahpearson opened #939 "Estonian translation not included in language list"
The 4.0 license deed is available in Estonian, but the language does not appear in the language list in the dropdown or at the bottom of the page.

The translation is here: https://creativecommons.org/licenses/by/4.0/deed.et

@georgehari are you able to tell from Transifex how the language should be listed? (capitalized or not, etc) If not, could you please follow up with the translators to ask, a

[2019-03-22 09:52] georgehari commented on #939
It should be listed as:
eesti keel

[2019-03-22 15:35] rlafuente commented on #913
Yes, the theme is on the repository I posted, [here](https://github.com/creativecommons/business-toolkit-files/tree/master/wp-content/themes/cctoolkit)

[2019-03-22 15:51] rlafuente commented on #913
None at all, I just made this repo to have somewhere to place the files, do go ahead and ping me in this thread for any issue! Thanks :)

[2019-03-22 15:57] rlafuente commented on #913
Also, any ETA on this? I've been getting anxious emails from the CC-PT people about this for a month now :)

[2019-03-22 16:26] rlafuente commented on #913
Great! Just added joaoantunes to the contributors list (he did the heavy lifting, I'm taking care of project management)

I'm not on the CC slack, no, and it'd be great if we could find an alternative way to chat since I already have 2 slack tabs open and my PC doesn't like that -- but I can join if there's no better way.

[2019-03-22 16:43] sarahpearson commented on #939
Thanks, @georgehari!

@kgodey I'm not sure who to assign this to on your team, but we will need eesti keel added to the language dropdown and list at the footer of the license deeds. Let me know if you need any further information. Thanks!

[2019-03-22 16:49] kgodey commented on #939
@sarahpearson we will assign it during our next sprint meeting on Tuesday.

[2019-03-25 10:01] #933 closed

[2019-03-26 04:10] kgodey commented on #913
I suggest IRC: https://creativecommons.github.io/community/

[2019-03-26 04:45] kgodey opened #940 "Use HTTPS links for the license chooser"
**Feedback through info@**
In the license selection page where it spits out html metadata, can you modify it so that it generates the links in https (it currently gives http, but changing that to https doesn't break anything)?

[2019-03-26 13:46] rlafuente commented on #913
Great -- I now joined the 2 CC channels (I'm luluganeta), will try to stay online on my phone, so mention or msg me when you're available!

On March 26, 2019 4:10:47 AM GMT+00:00, Kriti Godey <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-03-26 16:35] kgodey commented on #674
Closing this since we plan to deprecate search.creativecommons.org (old) in the next couple of months.

[2019-03-26 16:35] #674 closed

[2019-03-26 16:50] kgodey commented on #592
Closing this since we are deprecating old Search soon.

[2019-03-26 16:50] #592 closed

[2019-03-26 18:38] peterspdx commented on #674
I have no context or history on this bug.

[2019-03-26 19:50] mzeinstra opened #941 "Legal text is not printing correctly – breaking the license"
Print.css of the legaltext pages of at least the 4.0 suite is not working correctly.

Steps to reproduce
Go to a legal code page of a 4.0 license (e.g. [CC BY-SA 4.0 – English](https://creativecommons.org/licenses/by-sa/4.0/legalcode) ).
Scroll down and note that the first indent of a section is number a,b,c (eg. Section 6(b) )
Print the page using your browser.
Look at the print
Note that the fir

[2019-03-26 21:57] peterspdx commented on #941
assigned to @TimidRobot with a copy to @kgodey.  Thanks, Maarten.

[2019-03-26 21:59] kgodey commented on #941
TODO: This seems like a duplicate of https://github.com/creativecommons/creativecommons.org investigate and close it if needed.

[2019-03-26 22:12] mzeinstra commented on #941
I believe the two are separate. Looking 'odd' is not the same as 'messes up internal textual references' that could possibly have legal consequences for the license (when printed).

[2019-03-28 15:34] little-wow commented on #928
fixed. Also corrected number of CC licensed works on the web

[2019-03-28 15:34] #928 closed

[2019-03-29 14:36] mzeinstra commented on #941
Yes that seems to be the solution. The legaltext renders correctly with those added to the print.css (at least the one that I checked).

My suggestion is to patch this for now so we have a functioning printable legaltext and have a look at the source of those comments in the css later :) leaving #836 open

[2019-03-30 23:59] jeanm commented on #864
I just ran into this issue as I was showing someone how to use the license. Would be great to have it fixed.

[2019-04-01 19:38] #941 closed

[2019-04-02 13:47] #913 closed

[2019-04-02 14:30] #666 closed

[2019-04-02 20:38] kgodey opened #942 "Create initial wireframe for State of the Commons 2018"
Due by Monday for the State of the Commons checkin call.

[2019-04-02 20:44] kgodey commented on #559
No longer relevant.

[2019-04-02 20:44] #559 closed

[2019-04-02 20:46] kgodey commented on #557
We'll remove the newsletter signup until we have something new to put there.

[2019-04-02 20:48] kgodey commented on #516
This seems done.

[2019-04-02 20:48] #516 closed

[2019-04-02 20:49] kgodey commented on #510
Closing this since we've upgraded WordPress multiple times since this was filed, please reopen with updated information if needed @little-wow.

[2019-04-02 20:49] #510 closed

[2019-04-02 20:58] kgodey commented on #480
This is probably a client-side issue. @little-wow, if this is still an issue, please open a new issue with instructions on how to reproduce.

[2019-04-02 20:58] #480 closed

[2019-04-02 21:12] #762 closed

[2019-04-02 21:16] #665 closed

[2019-04-03 05:10] kgodey commented on #499
@mzeinstra I'm not sure I understand this issue fully. It seems like a combination of two issues:
(1) URLs like https://creativecommons.org/wp-content/uploads/2016/11/ are showing a redirect error (a bug).
(2) You'd like to be able to browse directories of images such as https://creativecommons.org/wp-content/uploads/2016/11/ to find full-size images that you can't get directly through the CC blog

[2019-04-03 08:14] mzeinstra commented on #499
This was a ticket from 2016, it might be that the situation changed.

It can be a risk to expose the directory option of an upload folder. People will be able to easily scrape your uploads, even those that you do not want to publish on the internet yet. My request was to remove the directory viewing possibility.

Now the page seems to have a redirect error, so that seems to be another issue.

[2019-04-03 17:27] kgodey commented on #499
Thanks @mzeinstra!

[2019-04-03 17:42] mzeinstra commented on #940
No it shouldn't break anything.

We had a discussion a couple of years ago where changed the licenses to HTTPS by default and redirect all http traffic to https traffic. At the time it did break other functionality that we decided to remove (see #718 if you want to see what we were removing).

[2019-04-03 17:51] mzeinstra opened #943 "Maintenance: clean up help.js after decommisioning cc.net"
**Describe the bug**
Deed pages give javascript error. since CC has decommissioned creativecommons.net it should also remove reference to it from help.js at https://github.com/creativecommons/creativecommons.org/blob/master/docroot/includes/help.js

Not sure if YAHOO is still an API that is used in that JS.

**To Reproduce**
Go to https://creativecommons.org/publicdomain/mark/1.0/ and open the con

[2019-04-04 14:35] #540 closed

[2019-04-05 13:05] hugosolar commented on #936
We don't know yet how to build this project locally so I leave the README.md intact

[2019-04-05 13:05] #936 closed

[2019-04-08 18:52] hugosolar commented on #942
Done
![SOC - Home](https://user-images.githubusercontent.com/894708/55748955-e5eb7980-5a0d-11e9-8c37-b1096df3c015.jpg)

[2019-04-08 18:52] #942 closed

[2019-04-08 23:50] peterspdx opened #945 "Transfer Luxembourg domain from former affiliate"
Work with former CC affiliate to transfer domain to CC's account on Gandi.

[2019-04-14 18:27] akmadian commented on #940
I think I would like to work on this issue. I am having a bit of trouble finding the file(s) with the JS for the metadata generator, though.

[2019-04-14 20:41] mzeinstra commented on #940
@akmadian
I'm not a cc developer, but I know where this is. It seems like part of the 'cc engine': https://github.com/creativecommons/cc.engine/tree/master/cc/engine

[2019-04-15 17:29] kgodey commented on #940
that sounds right to me, @aldenstpage can you confirm?

[2019-04-15 18:11] aldenstpage commented on #940
@mzeinstra is right, the current version of the chooser lives in cc.engine

[2019-04-15 18:53] kgodey opened #946 "Dead license link (Swedish)"
Received via email
---
This link is dead: https://creativecommons.org/licenses/by-nc-sa/2.5/se/legalcode.sv

I want to include a verbatim copy of the license text in my work, not just a link to the explanation page. It seems other licenses have the same problem with their legal code pages.

[2019-04-16 15:07] Desires62 commented on #940
Committed on issue

[2019-04-16 20:36] kgodey commented on #252
This issue is unclear, closing.

[2019-04-16 20:36] #252 closed

[2019-04-16 20:45] kgodey commented on #469
This is a duplicate of #97, closing.

[2019-04-16 20:45] #469 closed

[2019-04-17 12:50] mzeinstra commented on #940
I scoured the code in de cc.engine for references to using http over https. But if I understand correctly that ancient system uses http://creativecommons.org/licenses/index.rdf to select and present available licenses.

If so than no external party can honestly provide you with any guidance other than scrapping the cc engine en rebuilding that >10 year old script with something more contemporary a

[2019-04-17 20:07] akmadian commented on #940
Yep, I was wondering where this fit in with GSoC ;)

[2019-04-17 20:24] little-wow commented on #597
I can change up Code of Conduct, but can @sarahpearson advise where the other docs are? Thx!

[2019-04-17 22:45] mmoreshead commented on #597
Most of those docs live here https://wiki.creativecommons.org/wiki/Public_reports

[2019-04-17 22:53] kgodey commented on #352
We plan to revamp the CC homepage menu/navigation in June/July to make finding important pages like the license chooser easier to find. We will make individual tickets for the changes we plan to make (including this one) in June; so I'm going to close this ticket.

[2019-04-17 22:53] #352 closed

[2019-04-17 23:39] janetpkr opened #949 "create widget for new CC search on home page and use-remix page"
Widget for search on home page (top) and at https://creativecommons.org/use-remix/

[2019-04-17 23:39] janeatcc commented on #949
This can happen post-flip

[2019-04-18 11:56] mzeinstra commented on #940
@TimidRobot Thanks for the steam :) and I take my comment back. It is indeed out of scope, but I was also wrong.

However, as far as I can tell none of the lines your refer to is the root of the issue here. http://creativecommons.org/license/ is a redirect to the chooser itself. All licenses have the root http://creativecommons.org/licenses/ (not the plural of license.

But your steam did help me

[2019-04-18 12:19] little-wow commented on #597
Thanks @mmoreshead ! These are all done. Where only an ibiblio link existed, I reuploaded the doc to the wiki and updated all these links to reflect the most recent reporting.

[2019-04-18 12:19] #597 closed

[2019-04-18 13:43] mmoreshead commented on #597
That's the best, thanks JRH!

[2019-04-18 20:03] janeatcc opened #950 "update CC search box text on home page on flip"
from "Search the Commons" to “Search for CC images”

[2019-04-18 20:05] janeatcc opened #951 "Update cc search box link on home page on flip"
To link to https://search.creativecommons.org (currently links to https://creativecommons.org/use-remix/search-the-commons/)

[2019-04-19 00:56] kgodey commented on #777
Closing this issue since there doesn't seem to be anything to do here.

[2019-04-19 00:56] #777 closed

[2019-04-19 01:11] kgodey commented on #836
There is an open branch that might have fixes: https://github.com/creativecommons/creativecommons.org/tree/feature/2054-print-css

[2019-04-19 01:20] kgodey commented on #745
Moving this to the API repo.

[2019-04-19 17:42] #557 closed

[2019-04-20 04:39] peterspdx commented on #224
Outdated. Closing. Can reopen if this become an issue again.

[2019-04-20 04:39] #224 closed

[2019-04-20 04:45] peterspdx commented on #215
@chpapa  This has been sitting untouched since Matt L. departed. Our tech team is trying determine if this is still an open issue that requires attention. Can you please provide an update? Thx.

[2019-04-20 04:46] peterspdx commented on #115
Closing this until we develop a translation plan for pages that support the licenses.

[2019-04-20 04:46] #115 closed

[2019-04-20 14:17] chpapa commented on #215
@peterspdx this issue is still relevant and as confusing as the original issue description explained.

However since I am not in the daily operation of CCHK anymore I think it would better be follow up with Haggen so (haggenso@gmail.com)

[2019-04-22 13:24] peterspdx opened #952 "Small edits to FAQ on using CC licenses for software"
Please make small edits to this FAQ: https://creativecommons.org/faq/#can-i-apply-a-creative-commons-license-to-software, as described in email.l @TimidRobot

[2019-04-23 20:29] aldenstpage commented on #924
It looks like the legalcode page has been restored, but the deed is still broken.

[2019-04-23 20:35] aldenstpage commented on #758
@georgehari, should we close this issue?

[2019-04-23 20:51] aldenstpage commented on #746
@foomin10 It looks like there is no existing Japanese translation for the 3.0 licenses. I recommend using the 4.0 version located here: https://creativecommons.org/licenses/by-sa/4.0/deed.ja . The link to the license works there.

Can you tell me what led you to the 3.0 deed? How did you find a link to this page?

[2019-04-23 21:07] aldenstpage commented on #93
Hi @sarahpearson - it looks like only the 1.0 and 4.0 translations exist; the rest need to be translated. Where are the dead links located?
[code]

[2019-04-23 21:17] aldenstpage commented on #50
Closing this because it's out of date. I don't think anybody plans to rewrite all of the redirects.

[2019-04-23 21:17] #50 closed

[2019-04-23 23:32] peterspdx commented on #93
@aldenstpage We have only a single deed for the licenses, and Finland only ported 1.0 and translated 4.0. We won't be translating any other legal code for the other versions, if that's the question.

[2019-04-24 00:05] gho87 commented on #924
Isn't the reverse true? The legalpage is still "not found", but the deed still works. Or what do you mean?

[2019-04-24 02:01] peterspdx commented on #746
The definitive list of ported (we don't say translated for pre-4.0 ported licenses) is here: https://wiki.creativecommons.org/wiki/CC_Ports_by_Jurisdiction

The definitive list of translated legal code for the 4.0 licenses is here: https://wiki.creativecommons.org/wiki/Legal_Tools_Translation#Translation_status_of_the_4.0_licenses_and_of_CC0

Japan doesn't have a ported 3.0 license suite. The deed

[2019-04-25 06:29] #758 closed

[2019-04-25 22:17] kgodey commented on #952
Done.

[2019-04-25 22:17] #952 closed

[2019-04-29 10:17] mzeinstra opened #953 "Where is https://licensebuttons.net/ repo?"
https://licensebuttons.net/ used to be a place where license buttons were placed and maintained. You could get icons in different quality from that site.

It was also intended to see the use of icons around the internet. It had some analytics running.

The site looks in disrepair and no repo can be found on it.

See: https://licensebuttons.net/ and click around.

Also, I would say that the way the

[2019-04-29 10:21] mzeinstra opened #954 "PNG icons to small at /downloads"
https://creativecommons.org/about/downloads/ used to provide links to licensebuttons.net with a reasonable quality. Now the png icons are only 64x64 pixels. These are too small for common use on website.

Can we increase the size of the linked icons here.

Also see #953 for licensebuttons.net

[2019-04-29 17:18] kgodey commented on #953
This is the repo that corresponds to it, although it's not up-to-date: https://github.com/creativecommons/www-i

Getting the site up to date is on our to-do list. We don't have a time frame for it yet, though.

[2019-04-29 17:21] kgodey opened #955 "Get licensebuttons.net to a maintainable state"
Including:
- adding documentation.
- resolving any security issues, including exposed directory.
- syncing git repository on GitHub with files on server.

See also: https://github.com/creativecommons/creativecommons.org/issues/953

[2019-04-29 17:22] kgodey commented on #953
I made a separate ticket to track general licensebuttons.net issues (https://github.com/creativecommons/creativecommons.org/issues/955), closing this one.

[2019-04-29 17:22] #953 closed

[2019-04-29 17:55] little-wow commented on #954
Odd – I copied these directly from the old downloads page so they shouldn't have changed. I'd recommend that you use the SVG and scale for the time being.

[2019-04-29 18:28] kgodey opened #956 "Remove redirects from chooser"
The license chooser URLs for images link to an old URL that has since been redirected. For example, the CC BY-SA 4.0 license icon redirects from https://i.creativecommons.org/l/by-sa/4.0/88x31.png to the current URL, which is https://licensebuttons.net/l/by-sa/4.0/88x31.png.

We should update the chooser to output the new URLs since search engines may penalize URL redirects.

(this was reported in

[2019-04-30 07:02] kgodey commented on #950
Done

[2019-04-30 07:02] #950 closed

[2019-04-30 07:02] kgodey commented on #951
Done

[2019-04-30 07:02] #951 closed

[2019-04-30 07:50] mzeinstra commented on #954
Might be that I misremembered about the previous version. Issue remains, the PNG icons are to small to use. :)

[2019-04-30 08:02] mzeinstra commented on #955
You might also want to consider:

- Renaming repository so the project is findable.
- Adding server side tracking to the project.
- Make this a help needed project. It seems ideal to allow a community member build a nice platform / user interface around the concept.

I believe the project was initially intended to have user hotlink to a specific license button that fits their platform / needs. It

[2019-04-30 13:20] little-wow opened #957 "Increase upload limits for WP site"
While trying to upload a GIF to the site for a blog post, I noticed that the upload limit is only 2 MB, which is too small for a GIF. Can we force some larger uploads?

[2019-04-30 15:43] #957 closed

[2019-04-30 16:07] #804 closed

[2019-04-30 18:50] kgodey commented on #955
thanks @mzeinstra, I updated the description.

[2019-04-30 19:23] aldenstpage commented on #939
@sarahpearson or @georgehari, we need to make a small change in the scripts to fix this. We need the `et` translation of "This page is available in the following languages" for the language selector. I will also update the scripts to include `eesti keel` as an additional language. We'll need to have this information on hand for every new translation going forward.

[2019-05-01 07:47] georgehari commented on #939
The translation is:

See lehekülg on kättesaadav järgmistes keeltes

I took it from here: https://creativecommons.org/licenses/sa/1.0/deed.et.

George.

On Tue, Apr 30, 2019 at 10:23 PM Alden S Page <notifications@github.com>
wrote:

[2019-05-01 14:00] sarahpearson commented on #93
@aldenstpage @peterspdx To clarify, we have a single deed for the different license versions but they must be separate files because they link off to different URLs.

The problem here is that the Finnish translations of the pre-4.0 license deeds have broken links to the relevant licenses. For example, https://creativecommons.org/licenses/by/2.0/deed.fi has a broken link to the 2.0 license at the t

[2019-05-01 14:08] peterspdx commented on #93
Gotcha. Will let @sarahpearson and @aldenstpage decide where this belongs on the priority list of tech issues to fix.

[2019-05-01 23:19] peterspdx opened #960 "Publish the 4.0 Simplified Chinese translations"
Refer to email threads. These licenses are staged and have gone through final checklists. @georgehari @sarahpearson @TimidRobot @kgodey

Because of Summit and office closings, this can happen week of May 20th or thereafter depending on other priorities. Watch for news on Traditional Chinese, separately.

[2019-05-03 16:56] kgodey opened #961 "Document publicly how creativecommons.org is put together"
creativecommons.org is built from several different repositories and how they all fit together is opaque, which makes community contribution harder.

Documentation should include cache TTL for deeds so that people working on deed translations know how long it will take for their work to show up.

[2019-05-03 19:29] aldenstpage commented on #939
It's in the footer now. I believe that the reason that it's not showing up in the dropdown menu is because the deed has only been partially translated. It seems like the site has been set up not to show it until a certain threshold has been crossed.

![Estonian translation status in Transifex](https://i.imgur.com/80Js2r8.png)

[2019-05-13 12:19] brinerustle commented on #841
not sure why @TimidRobot closed this this issue, since there are still bad certs.
![badcerts](https://user-images.githubusercontent.com/643789/57620767-0e750f00-758a-11e9-884f-d17303a2fe61.png)

[2019-05-15 18:07] georgehari commented on #960
OK, got it! @TimidRobot let's go live with these, when you get back.

[2019-05-18 04:30] awayshops opened #962 "Work with Facebook to Incorporate Photo Attribution in their Post Editor"
There should be a better way for me to provide links to the work, creator's profile, and the CC license. I cannot create links in the Facebook Post editor (at least not in 2019.) There should be simple tags incorporated into Facebook. #CC-work #CC-creator #CCBY.
Isn't this obvious? Or am I missing something? Given that I spent hours trying to figure this out, is the problem related to documentatio

[2019-05-20 22:58] kgodey opened #963 "License chooser HTML is not validating in Blogger"
Message received from user via email:

**HTML that is not validating:**
[code]

**Screenshots:**
![blogger-html](https://user-images.githubusercontent.com/287034/58056982-30920280-7b31-11e9-91b6-bd831aa24871.png)
![blogger-error](https://user-images.githubusercontent.com/287034/58056983-32f45c80-7b31-11e9-888b-ecd6ac8545f8.png)

[2019-05-20 23:01] kgodey commented on #963
**Troubleshooting so far**.

The issue may be with the self-closing `<img>` tag, https://validator.w3.org/ gives me a warning about it

I manually edited the HTML to remove the `/` from the image tag and asked the user if that works for them.

[2019-05-21 17:06] TimidRobot opened #964 "jp.creativecommons.org TLS/SSL error"
**Describe the bug**
- [jp.creativecommons.org](https://jp.creativecommons.org/) does not have valid TLS/SSL
- (it redirects to [creativecommons.jp](https://creativecommons.jp/))

[2019-05-21 17:06] #964 closed

[2019-05-21 17:15] TimidRobot opened #965 "nl.creativecommons.org does not redirect"
**Describe the bug**
- [nl.creativecommons.org](https://nl.creativecommons.org/) does not redirect to  [creativecommons.nl](https://creativecommons.nl/)

[2019-05-21 17:18] #965 closed

[2019-05-21 17:20] TimidRobot opened #966 "pl.creativecommons.org TLS/SSL error"
**Describe the bug**
- [pl.creativecommons.org](https://pl.creativecommons.org/) does not have valid TLS/SSL
- (it redirects to [creativecommons.pl](https://creativecommons.pl/))

[2019-05-21 17:29] #966 closed

[2019-05-22 05:27] tshrinivasan opened #967 "Missing Full name of the license on the "choose" page"
**Describe the bug**

https://creativecommons.org/choose/
In this page, when we select the desired options, the Full name of the license should be displayed. But currently, it is displayed without "Creative Commons" text.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://creativecommons.org/choose/
2. Click on
Allow adaptations of your work to be shared? = yes
Allow commercial us

[2019-05-22 12:57] peterspdx commented on #967
I agree this would be a good fix.

[2019-05-22 20:22] little-wow commented on #844
Assigned @peterspdx based on email from November 2018, but happy to help turn it into usable content!

[2019-05-29 21:40] kglewin opened #968 "Broken link on "Open Science" page"
At the bottom of the text on https://creativecommons.org/about/program-areas/open-science , link points to 'science%resouce' which does not resolve. Probably should link to https://creativecommons.org/about/program-areas/open-science/science-resources/ .

[2019-05-30 15:35] katzio546 commented on #963
I am the user, and the manual edit did not work.  Still hoping for a solution so I can protect my work!

[2019-06-03 20:48] sarahpearson opened #971 "Add CC0 Spanish translation to language lists on all published CC0 translations"
Once the Spanish CC0 is merged, please add a link to it in the language lists on all published CC0 translations. It should be listed as Español.

[2019-06-04 13:35] little-wow commented on #968
this is fixed

[2019-06-04 13:35] #968 closed

[2019-06-04 13:41] little-wow opened #972 "RSS feed/open graph is borked"
Judging from this post and the below screenshots, something is broken in our metadata, or this post is broken, though I've done nothing different. It's impacting facebook posts and our RSS feeds, but not Twitter's card system. Link to broken post:
https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fcreativecommons.org%2F2019%2F06%2F04%2Funesco-oer-recommendation-one-step-closer-to

[2019-06-05 03:37] kgodey commented on #963
@katzio546: @TimidRobot is looking into this, it's not an issue we've run into before and it will take us some time to investigate.

[2019-06-05 14:06] katzio546 commented on #963
Okay, thank you.

On Jun 4, 2019, at 10:38 PM, Kriti Godey <notifications@github.com<mailto:notifications@github.com>> wrote:

@katzio546<https://github.com/katzio546>: @TimidRobot<https://github.com/TimidRobot> is looking into this, it's not an issue we've run into before and it will take us some time to investigate.

—
You are receiving this because you were mentioned.
Reply to this email direct

[2019-06-05 15:43] #963 closed

[2019-06-05 18:35] hugosolar commented on #972
Fixed
The problem was related to the featured image dimensions (2867x2086 px)
it seems that the SEO plugin dismissed it because it was too large.
I upload a smaller version of the image and attached it to the facebook tab in the Yoas SEO metabox

![Screen Shot 2019-06-05 at 2 35 21 PM](https://user-images.githubusercontent.com/894708/58980838-2b72bb80-879f-11e9-8634-72b944b3bf73.png)

[2019-06-05 18:35] #972 closed

[2019-06-06 16:54] hugosolar commented on #493
The Image cropper is working again since php-gd was installed on the server

[2019-06-06 16:54] #493 closed

[2019-06-07 15:05] #971 closed

[2019-06-07 18:26] TimidRobot opened #982 "Staging/Testing Server does not work with cc0 Licenses"
# Describe the bug
The Staging/Testing Server does not work with cc0 Licenses.

This is probably due to a bug in the Apache2 configuration rewrite rules.

# To Reproduce
Try  to visit an active cc0 on staging. For example:
- https://english-symlinks.legal.creativecommons.org/publicdomain/zero/1.0/deed
- https://html-comments.legal.creativecommons.org/publicdomain/zero/1.0/deed
- (the URLs above ma

[2019-06-07 18:52] #982 closed

[2019-06-10 13:43] #34 closed

[2019-06-10 16:13] georgehari commented on #898
I used the template above, from my first message in this thread, we didn't have a template to use for staging. So I had to do what I could. The aim is to make the staged files look like they were live.

[2019-06-11 00:56] kgodey commented on #946
Correct link appears to be https://creativecommons.org/licenses/by-nc-sa/2.5/se/legalcode

[2019-06-11 08:07] georgehari commented on #898
I guess we can use those English files.

I created a test language (pb language code), created a new branch and staged a test by-nc-sa file. It should be visible at the next Magical Pony update at https://cc4-pb-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.pb.

https://github.com/creativecommons/creativecommons.org/commit/1de392f90d08b248444b8243103ace798e3eb192

[2019-06-11 13:38] georgehari commented on #898
The staged file now looks good, so we can use the English license pages as templates for the future staged translations.

https://cc4-pb-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.pb

[2019-06-11 13:38] #898 closed

[2019-06-11 17:15] kgodey commented on #778
Talked with @little-wow on Slack and this is still a nice to have.

[2019-06-13 10:13] shlomif opened #983 "https://creativecommons.org/choose/zero/ arabic link has English text"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://creativecommons.org/choose/zero/
2. Click on "Al-arabiyah" https://creativecommons.org/choose/zero/?lang=ar
3. See error

**Expected behavior**
Text should be in Arabic

**Screenshots**
![image](https://user-images.githubusercontent.com/3150/59424560-dbb67480

[2019-06-13 14:59] kgodey commented on #946
The legalcode link in https://creativecommons.org/licenses/by-nc-sa/2.5/se/ is broken; it links to the https://creativecommons.org/licenses/by-nc-sa/2.5/se/legalcode.sv and not https://creativecommons.org/licenses/by-nc-sa/2.5/se/legalcode.

[2019-06-13 15:39] peterspdx opened #985 "Document online location of, as well as offline canonical versions of, every CC legal tool"
CC promises to maintain always canonical versions of every legal tool it has ever published, including deprecated licenses and tools.

Sometimes links to online versions break. Sometimes it is difficult to find the exact version, port or translation of all such licenses.

For purposes of documentation, CC ought have a page on its website that documents every license and legal tool, where it can be

[2019-06-13 15:47] peterspdx opened #986 "Move critical info pages about CC licenses and legal tools from wiki to main website"
We have several important pages that are fundamental to how our legal tools operate, that at the present are hosted on the wiki and not on the main website. This is problematic because their presence on the wiki suggests they are not official interpretations or documentation regarding how the licenses are to be interpreted, the status of tools, and similar. Ideally, we have one or more pages from

[2019-06-18 15:59] sarahpearson commented on #939
It appears that Estonian is now appearing in the legal code language list (https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode) where it should not be because we don't yet have a legal code translation. But it doesn't appear in the deed language list (https://creativecommons.org/licenses/by-nc-sa/4.0), where we **do** have a translation (https://creativecommons.org/licenses/by/4.0/deed.et)

[2019-06-18 18:58] aldenstpage commented on #939
Even though the deed page exists, it's only 60% translated on Transifex, meaning that our website thinks that it's not ready to be shown to users yet. The deed will not appear under the dropdown menu until 80% of the document has been translated. After that threshold is crossed, the deed dropdown menu will be automatically updated. You can access the deed by changing the URLs, but the same would b

[2019-06-18 19:48] sarahpearson commented on #939
Interesting! I guess I always thought that the 80% threshold applied to whether it appeared live anywhere, not to whether it showed up in the language dropdown. In a situation like this, where the deed is fully translated, is there a way to make an exception for it? If not, we will alert the team that they need to translate the other strings in Transifex in order for it to show up.

Thanks for rev

[2019-06-20 15:05] little-wow opened #987 "Tooltips on license deed pages aren't working on all browsers"
https://twitter.com/tobias_grasse/status/1141631469758156810

[2019-06-20 16:12] kgodey commented on #987
Tweet text:

[2019-06-21 03:06] fromthestone opened #988 "CCStatic Certificate ERR_CERT_DATE_INVALID"
Cannot see Fontello fonts on website

![image](https://user-images.githubusercontent.com/3531068/59894735-4aff1a80-9414-11e9-859d-256da60ac4b5.png)

**Additional context**
Add any other context about the problem here.
![image](https://user-images.githubusercontent.com/3531068/59894777-741fab00-9414-11e9-93e7-863e5e0fc2df.png)

[2019-06-21 16:00] #983 closed

[2019-06-21 16:32] #988 closed

[2019-06-22 02:26] peterspdx opened #989 "Allow cc.org users to mark as spam emails to emails lists without having the list then be identified as the spammer"
**Is your feature request related to a problem? Please describe.**
Many spammer emails come in via CC hosted email lists. If I mark it as spam, the list is indicated as being the spammer rather than the person who sent the email to the list

**Describe the solution you'd like**
Change spam feature in email so that it applies to the sender of the spamming email rather than to the email list to whic

[2019-06-24 14:42] #973 closed

[2019-06-25 18:57] #844 closed

[2019-06-28 17:08] kgodey opened #990 "Top navigation missing on some license pages"
Email received from user:

[2019-07-03 16:46] aldenstpage commented on #939
I would recommend going the route of doing further translation. After all, 40% of the deed is unfinished, and the 80% threshold was likely put there for a good reason.

Alternatively, we can patch the `cc.i8n` to have a lower threshold (59%?), but that will of course mean a lot of unfinished deeds will start showing up. We could introduce an exceptions feature, where we can manually force certain

[2019-07-03 17:58] peterspdx commented on #939
If we do anything on the threshold, it should be increased never decreased. 80% was put there for a good reason, but IMHO it's a very low bar. I would advocate for 90% or 95% at least. These are CC's products, and unless someone can read at least 80% but ideally even more than 90% in the language, we should not be publishing such a deed.

[2019-07-08 22:16] kgodey opened #994 "Remove popup on CC.org homepage"
Email from user:

[2019-07-08 22:17] kgodey commented on #994
This will be addressed in the CC.org homepage redesign which is in progress but I'm creating a separate issue to track it.

[2019-07-08 22:20] kgodey opened #995 "Keep same language across pages"
Email from user:

[2019-07-08 23:22] kgodey commented on #643
Another report via email:

[2019-07-09 16:29] kgodey commented on #987
Also reported on Samsung Galaxy J2 with Android version 5.1.1 on Freshdesk.

[2019-07-10 20:50] 15388734337 opened #996 "获取支持"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2019-07-10 20:51] kgodey commented on #996
This appears to be spam.

[2019-07-10 20:51] #996 closed

[2019-07-10 20:51] 15388734337 opened #997 "获取帮助"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-10 20:51] kgodey commented on #997
This appears to be spam.

[2019-07-10 20:51] #997 closed

[2019-07-15 17:20] kgodey commented on #778
I talked to @ericsteuer about this and he does not plan to use Wordable any time soon. I'm closing the issue and we'll revisit if we want this functionality in the future.

[2019-07-15 17:20] #778 closed

[2019-07-16 12:25] mzeinstra commented on #54
I temporary fixed this (and caused a less urgent UI-issues) by removing the .nl postfix in the license link on transifex.

Transifex strings should make a distinction between <4.0 and 4.0 link regarding the sentence "This is a human-readable summary of (and not a substitute for) the license".  to permanently fix this.

The UI issue I caused is that the link to the license from https://creativecomm

[2019-07-17 08:23] mzeinstra commented on #985
This exists for the machines already and can be found on http://creativecommons.org/licenses/index.rdf

My suggestion is to add content negotiation to http://creativecommons.org/licenses/ and use the RDF as its base.

[2019-07-18 07:38] tech-ch1 opened #1003 "On summary page, link to full licence is broken (French)"
**Describe the bug**
On that page: https://creativecommons.org/licenses/by-nc-nd/3.0/fr/
There is a link to the licence, which is broken.

The link is: https://creativecommons.org/licenses/by-nc-nd/3.0/fr/legalcode.fr
But should be: https://creativecommons.org/licenses/by-nc-nd/3.0/fr/legalcode

**Desktop (please complete the following information):**
 - OS: Debian Buster
 - Browser Firefox
 - Ver

[2019-07-18 16:07] georgehari opened #1002 ""Magical Pony" failure"
It seems that the Magical Pony came to an abrupt end today at https://legal.creativecommons.org/, with the error:

certbot ERROR
See /var/log/letsencrypt/letsencrypt.log

This is the report:
[legal-creativecommons-org.pdf](https://github.com/creativecommons/creativecommons.org/files/3407380/legal-creativecommons-org.pdf)

[2019-07-19 22:08] kgodey commented on #987
Other issues on Samsung Galaxy J2 with Android version 5.1.1:
- the triple line in the right corner of the page (looked at from my position) could not be opened
- there were at least three times a notice on "Tab crashed" appeared: it suggest to reload or go to another page...

[2019-07-22 18:47] marianagvalente opened #1004 "CC-Brazil website is down"
Error message: Error while establishing a connection to the database

https://br.creativecommons.org/

[2019-07-22 19:12] marianagvalente commented on #1004
This is great, thank you.
Do let us know if there is anything we need to be concerned about.

__________________________________
Mariana Giorgetti Valente
www.internetlab.org.br

Am Mo., 22. Juli 2019 um 15:57 Uhr schrieb Timid Robot Zehta <
notifications@github.com>:

[2019-07-22 19:17] marianagvalente commented on #1004
Thanks again.
__________________________________
Mariana Giorgetti Valente
www.internetlab.org.br

Am Mo., 22. Juli 2019 um 16:15 Uhr schrieb Timid Robot Zehta <
notifications@github.com>:

[2019-07-23 21:25] marianagvalente commented on #1004
Dear Timid,
The issue is back - website is down. Could you please help?
Thanks!
Mariana

Em seg, 22 de jul de 2019 às 16:18, Timid Robot Zehta <
notifications@github.com> escreveu:

--
__________________________________
Mariana Giorgetti Valente
www.internetlab.org.br

[2019-07-24 17:10] hugosolar commented on #1004
Hello @marianagvalente
I'll investigate the wordpress theme in case there's something weird there.
I let you know what I can find out

[2019-07-25 09:05] imskr commented on #967
Can I work on this issue ? Please assign this to me

[2019-07-25 13:13] hugosolar commented on #1004
I couldn't find anything weird in the install. Nevertheless, the following tasks have been done
- Wordpress core updated from 4.8.1 to 5.2.2
- Update all plugins
- Wordfence security plugin installed

[2019-07-25 16:06] hugosolar commented on #660
Fixed in https://github.com/creativecommons/new-www-theme/commit/204e88e6e0c735a9adfa70c269c0073911a998f0

[2019-07-25 16:06] #660 closed

[2019-07-25 16:29] #875 closed

[2019-07-25 19:02] marianagvalente commented on #1004
That's really weird. Thanks Timid. I will let you know if anything else
happens.
__________________________________
Mariana Giorgetti Valente
www.internetlab.org.br

Am Do., 25. Juli 2019 um 10:13 Uhr schrieb Hugo Solar <
notifications@github.com>:

[2019-07-26 00:06] kgodey commented on #967
@imskr go ahead. I can't assign to you since you're not in the CC org but I'll mark it as in progress so people know it's claimed.

Be warned that we don't have documentation yet on setting this project up locally but you can talk to us on [Slack or IRC](https://creativecommons.github.io/community/) and we'll try to help if you run into any issues.

[2019-07-28 00:14] #653 closed

[2019-07-28 00:20] hugosolar commented on #653
This problem is caused due to a bug in Safari and links focus which cause bootstrap's popover doesn't work.
The issue was documented [here](https://github.com/twbs/bootstrap/issues/11788)

[2019-07-29 08:03] mzeinstra opened #1006 "numbering on legalcode is broken"
The current legal code numbering is broken on 4.0 licenses.

Each article and paragraph shows double numbering both in blue and in black. I believe only the blue should remain, but please confirm that with the CC legal team.

See attached for what I see on the licenses:

![image](https://user-images.githubusercontent.com/5627431/62030892-5c430000-b1e6-11e9-9f16-14bc3af54bfd.png)

[2019-07-29 09:03] peterspdx commented on #1006
@TimidRobot This should be a priority fix. cc: @kgodey

[2019-07-29 17:28] hugosolar commented on #987
The tooltip / popover problem should be fixed in this commit https://github.com/creativecommons/cc.engine/commit/2dc22cc671655f429b00eca5c5624c9a83d14290
Also referenced in #653

[2019-07-29 17:39] hugosolar commented on #614
The [supporters](https://creativecommons.org/supporters/) page have changed and [Use & Remix](https://creativecommons.org/use-remix/) does not have the search box anymore. Closing this issue

[2019-07-29 17:39] #614 closed

[2019-07-29 18:02] hugosolar commented on #1006
Fixed in https://github.com/creativecommons/new-www-theme/commit/0e476326bc36331de482a29b930ca0bfb1bcb87c

[2019-07-29 18:02] #1006 closed

[2019-07-29 18:16] kgodey opened #1007 "Menu cannot be opened on Android browser on deed pages"
Issue reported on Samsung Galaxy J2 with Android version 5.1.1: the triple line in the right corner of the page (looked at from my position) could not be opened

Example deed page: [Creative Commons — Attribution 4.0 International — CC BY 4.0](https://creativecommons.org/licenses/by/4.0/)

The template used: [cc.engine/standard_deed.html at master · creativecommons/cc.engine](https://github.com/cr

[2019-07-30 16:50] hugosolar commented on #954
Icons size increased to 1024x1024 px
also, Heart logos

[2019-07-30 16:50] #954 closed

[2019-07-31 13:11] mzeinstra commented on #824
This issues seems to have fixed itself.

https://creativecommons.org/licenses/by-nd/2.0/de/ has a working link to the license
https://creativecommons.org/licenses/by-nd/3.0/de/ has a working link to the license
https://creativecommons.org/licenses/by-nd/4.0/deed.de has a working link to the license, albeit it to the english legal code.

The links that @georgehari refers to are incorrect imo, as th

[2019-07-31 13:45] mzeinstra commented on #736
@justinclift would this work for you? https://creativecommons.org/licenses/by/3.0/igo/legalcode-plain

[2019-07-31 14:13] mzeinstra commented on #946
This is because there is only one translation string for this sentence across all versions of the licenses.

The 4.0 translation guide (as far as I can recall) asks you to put a link to /legalcode.<language code> in whereas all other ported versions require you to leave that link to /legalcode

In consistent translations by the translation community and active communities that have both <4.0 porte

[2019-07-31 14:15] mzeinstra commented on #878
duplicate of #54

[2019-07-31 14:17] #824 closed

[2019-07-31 14:40] justinclift commented on #736
No, that's not plain text.

[2019-07-31 15:16] #796 closed

[2019-07-31 15:27] mzeinstra commented on #736
Those .txt versions are only ever used on the plain 3.0 and 4.0 licences. They are not adopted for any port of the license as the 3.0 IGO is. You wil notice in your repo link that there are alot more html files than .txt files.

For example the Dutch ported 3.0 license also has no txt version: https://creativecommons.org/licenses/by/3.0/nl/legalcode.txt

Having said that, I would just go ahead and

[2019-07-31 15:38] justinclift commented on #736
Thanks @mzeinstra, good idea. :smile:

[2019-07-31 15:38] mzeinstra commented on #846
Same happens on the dutch 4.0 deed page. See #54

My solutions to fix issues lik e #824 and #796 can be found at my pull request: https://github.com/creativecommons/cc.i18n/pull/6

That generates this issue for all those languages.

[2019-07-31 17:27] kgodey commented on #736
CC developer here, please go ahead and make a pull request!

Re: priority, the license infrastructure has significant technical debt that we've been working through, it would still be a couple of months before we get to this issue ourselves.

[2019-08-01 08:19] georgehari commented on #846
In Transifex, I added **.de** after **legalcode** in the translated string, it's the only action I could do. If it applies to German 2.0 and 3.0, I don't have a solution in Transifex.

[2019-08-01 17:28] kgodey commented on #878
Closing this, updates will be posted in #54. Thanks @mzeinstra.

[2019-08-01 17:28] #878 closed

[2019-08-01 17:53] hugosolar commented on #1007
I can't reproduce the error
I tested in:
- Android Browser - Android 4.4
- Android Browser - Android 5.1
- Android default Browser - Android 9

In all these versions hamburger menu works

[2019-08-01 17:53] #864 closed

[2019-08-01 17:56] kgodey commented on #1007
I'll follow up with the user, can you assign to me once the latest deed changes are deployed?

[2019-08-02 07:47] mzeinstra commented on #846
@georgehari you should not do that. That breaks the 3.0 and 2.0 German deed pages. See #824 and #796

If you go to https://creativecommons.org/licenses/by/3.0/de/ and click on the license link you will see a missing page. That links need to be legalcode without the ".de" and CC's developers need to find a different way to fix the 4.0 deed pages links.

[2019-08-02 07:51] georgehari commented on #846
I understand. I reversed that and the developers may have to change those links manually (I don't have access to that).

[2019-08-05 14:18] #313 closed

[2019-08-05 14:19] #836 closed

[2019-08-05 17:47] #692 closed

[2019-08-09 14:10] hugosolar commented on #839
This [pull request](https://github.com/creativecommons/cc.engine/pull/14) should fix the javascript console errors

[2019-08-09 14:10] #839 closed

[2019-08-12 17:13] doodeehee70 commented on #986
A

[2019-08-13 23:30] ericsteuer opened #1010 "Share preview plugin for blog"
I may be mistaken, but it is currently not possible to share draft blog post previews with people who are not logged in to the CC site. This makes it difficult to prepare and get approval for announcements that include outside parties (or even inside ones that don't yet have logins, etc.) There appear to be a number of WP plugins that enable this -- can we look into it?

[2019-08-14 21:23] aldenstpage opened #1011 "Make Korean 4.0 translations temporarily inaccessible."
There are some problems with the newly released Korean translations.

1. The links to the legalcode in the deed have not been updated in Transifex, so they lead to the English legalcode.
2. The Korean legalcode has a number of typos and inaccuracies and will need to be fixed.

As a result, we will be making the Korean legalcode temporarily inaccessible.

[2019-08-16 15:09] hugosolar commented on #457
Fixed in pull request https://github.com/creativecommons/new-www-theme/pull/22

[2019-08-16 15:09] #457 closed

[2019-08-16 18:26] sarahpearson opened #1012 "Link to German 3.0 BY port is broken on German deed"
**Describe the bug**
The link to the German 3.0 port is broken in the German deed.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://creativecommons.org/licenses/by/3.0/de/
2. Click on Lizenz
3. The corresponding URL (https://creativecommons.org/licenses/by/3.0/de/legalcode.de) leads nowhere.

**Expected behavior**
The correct URL for the legal code is https://creativecommons.org

[2019-08-16 18:50] peterspdx commented on #706
This is still a problem. To pull it forward:

Sorted this out.

This Page here: https://creativecommons.org/share-your-work/licensing-considerations/version4/

Wrongly contains the content for What's New in 4.0! (see the side bar under In this section).

The page where the content for What's New in 4.0! should live here: https://creativecommons.org/Version4, as it did when we first launched that p

[2019-08-16 19:06] hugosolar commented on #755
[This pull request](https://github.com/creativecommons/creativecommons.org/pull/1013) needs to be deployed before merge [this one](https://github.com/creativecommons/cc.engine/pull/15)
Closing this issue

[2019-08-16 19:06] #755 closed

[2019-08-19 18:37] kgodey commented on #1011
This is done.

[2019-08-19 18:37] #1011 closed

[2019-08-19 18:46] kgodey commented on #740
I'm not sure what needs to be done here so I'm closing it. Please reopen if needed.

[2019-08-19 18:46] #740 closed

[2019-08-20 00:27] kgodey opened #1014 "i.creativecommons.org certificate expired"
e.g. see https://i.creativecommons.org/l/by/4.0/80x15.png

[2019-08-20 01:16] kgodey commented on #1014
Update: I SSHed into the redirects server (which handles `i.creativecommons.org`) and certbot had renewed the certificate correctly. `nginx` had not picked up the new certificate, however. I restarted `nginx` with `systemctl restart nginx` and the issue was fixed. That should probably happen automatically though so I'll leave this issue open.

[2019-08-20 16:58] hugosolar commented on #706
I already update the content on https://creativecommons.org/share-your-work/licensing-considerations/version4/ and create a new page (https://creativecommons.org/version4) with the prior content of the first link.
The website still redirect the `/version4` to `/about/licensing-considerations/version4`  because an apache rule is performing that action. Line 181 should be commented/removed

Line 181

[2019-08-20 17:58] kgodey commented on #1014
We should probably also add monitoring.

[2019-08-22 18:30] #1014 closed

[2019-08-22 18:34] kgodey commented on #1014
@TimidRobot could you make a new ticket for it?

[2019-08-24 02:29] 5ervant opened #1015 "How to embed a license icon on my React.js application?"
Hello, whenever I tried to embed a licence icon on my React.js application, I'm seeing this error:

[code]

I tried to replace `xmlns:dct` with `xmlnsDct` and the other namespace tags with their `camelCase` forms but that just caused another problem making `xmlnsDct` and the others non-valid properties.

Any solution for this?

[2019-08-24 04:24] hugosolar commented on #1010
Ok @ericsteuer
I install a plugin called [Public Post Preview](https://wordpress.org/plugins/public-post-preview/)
it seems to be the best option in the WP plugin repository.
To enable a public preview you should click on the checkbox on the right box

<img width="279" alt="Screen Shot 2019-08-24 at 12 18 55 AM" src="https://user-images.githubusercontent.com/894708/63632524-91841780-c605-11e9-9cd0

[2019-08-24 04:24] #1010 closed

[2019-08-26 20:17] kgodey opened #1016 "Make #cc-announcements on Slack a read-only channel"
Ensure that blog posts are still automatically posted and that Slack admins/owners can post on the channel.