[2013-12-03 22:10] vthunder opened #1 "Change license to 4.0 on footer"
The footer on all pages currently uses the BY-SA 3.0 license. The legal team has requested that we update it to BY-SA 4.0:
-  when clicking on the BY button, it goes to 4.0, not 3.0; and
-  the text reads: "Except where otherwise noted, content on this site is licensed under the Creative Commons Attribution 4.0 International license.",  with appropriate links out where they are currently interject

[2013-12-04 00:39] #1 closed, assigned to nobody

[2013-12-06 01:19] vthunder opened #3 "Change link to reveal jurisdictions drop-down"
Change the link at the top which says "Looking for jurisdiction ports of earlier versions?" to say "Looking for ports of earlier versions?".

[2013-12-06 01:25] #3 closed, assigned to nobody

[2013-12-06 05:13] vthunder opened #4 "Revealing jurisdictions on chooser doesn't display correctly across languages"
On most languages (other than English), revealing the jurisdictions drop-down does not resize the box it's in, causing the drop-down & text to overflow.

For example (using Italian), see screenshot:

![screen shot 2013-12-05 at 9 12 20 pm](https://f.cloud.github.com/assets/435972/1689970/0dd66a84-5e35-11e3-933b-c088f5031086.png)

[2013-12-09 20:45] vthunder opened #5 "Indonesian translation link is mis-labeled"
"Indonesia" at the bottom of the pages should be "Indonesian" or "Bahasa Indonesia."

[2013-12-10 21:55] vthunder opened #6 "Error when attempting to email a metadata snippet"
There's an error message that pops up when people try to email themselves the HTML/embedded metadata for their [public domain mark](http://creativecommons.org/choose/zero/results).

Screenshot:
![image](https://f.cloud.github.com/assets/435972/1718974/bd294750-61e5-11e3-8ac9-a591c6c185f5.png)

[2013-12-19 18:52] vthunder opened #7 "Site search does not work reliably"
Site search seems to hang on certain browser configurations / for some users. The page loads, but the asynchronous Google search call doesn't work, so one is left with the loading animation forever:

![cc org search error](https://f.cloud.github.com/assets/435972/1785035/2f6322de-68dd-11e3-8f6b-daf4333676bf.jpg)

It's not clear whether it's some local configuration or browser version that causes t

[2014-02-10 19:22] mindspillage opened #11 ""Use the license" link below deeds always leads to 3.0"
When you are viewing a license deed (any license version), clicking on "Use the license" still takes you to a page with information pre-filled for the 3.0 licenses; this should be updated to lead to information about using 4.0.

[2014-02-18 02:07] mindspillage opened #12 "Deed popups not working"
None of the popups on the deeds are coming up (at least, not on Firefox or Chrome in Linux)

[2014-02-21 23:44] #12 closed, assigned to nobody

[2014-02-23 01:41] AAbouZaid opened #13 "Fix RTL (Arabic) CSS in deeds page."
![fix rtl arabic css in deeds page](https://f.cloud.github.com/assets/6760103/2239360/d5ba66ca-9c2b-11e3-9212-7489e9f90af0.png)
Hello,

The CSS in deeds page not prepared well to suit RTL languages like Arabic, specially the margins, and "Free Cultural seal" (should be in same deeds languages too) Attached image spot some flaws.

And there is a possibility to change font? it's not that good.

Than

[2014-03-02 21:46] cwebber opened #14 "Chooser / deeds display sporadically choosing wrong languages?"
Occasionally I've visited license deeds or the chooser and noticed that the language display seems to be wrong.

Like so: http://dustycloud.org/tmp/choose_wrong_lang.png

Maybe a bug in the i18n language selection code?

[2014-03-05 12:46] mzeinstra opened #15 "Search.php in the CC-theme has a broken link"
search.php refers to https://creativecommons.org/wp-content/themes/cc5/images/loading.gif, this file does not exist. since it is the cc6 not cc5 theme.

[2014-03-13 08:49] mzeinstra opened #19 "https://creativecommons.org/ns needs its own css"
It now refers to css from the cc4 template that is no longer on the server. it is therefore no longer markedup.

I can't find where that page is so I can't create a pull request to fix this.

[2014-03-24 18:42] tvol opened #20 "russian flag icon doesn't display on CC network affiliate page"
http://wiki.creativecommons.org/CC_Affiliate_Network

http://creativecommons.org/images/international/ru.png is broken link

[2014-03-24 18:44] tvol opened #21 "CC license button icons appear as broken image link on Policies page"
https://creativecommons.org/policies

[2014-03-25 19:10] #20 closed, assigned to nobody

[2014-04-25 21:48] #21 closed, assigned to mattl

[2014-04-29 09:40] mzeinstra opened #22 "3.0-license runs unsafe scripts in https"
All legal code pages of the 3.0 licenses do display properly in https, this leads to problems in some browsers (at least in Firefox and Chrome, not in Safari)

Steps to reproduce:
1. Open Firefox or Chrome
2. Go to https://creativecommons.org/licenses/by/3.0/legalcode
Look at the security warnings in the address bar of the browser.

Chrome get an unsafe scripts warning, Firefox gives an unknown id

[2014-10-22 18:40] tvol opened #25 "old navigation bar showing up when visiting http://search.creativecommons.org/"
http://search.creativecommons.org/ displays an older version of the navigation bar and tabs. It is different than the standard version seen at https://creativecommons.org/

[2014-11-04 18:11] Aeva opened #28 "CSS bug on the license chooser"
As the designer of the new license chooser, this has been bugging me for a while:

The div elements of id "freedoms" and "license" should have the style attribute read "min-height: 348px" instead of "height: 294px", such that the arrow pointing from the freedoms box to the license box points to the middle of the circle icons.  (this broke when the update to 4.0 removed the license jurisdiction fie

[2014-11-19 17:17] HebaFareed opened #32 "Arabic CC search"
engine-rtl.css isn't included in Arabic CC search.

[2014-11-20 15:50] mzeinstra opened #33 "CC0 still uses mixed http/https content"
Going to https://creativecommons.org/publicdomain/zero/1.0/ on Chrome breaks the disclaimer button, due to scripts that are run over http.

gives the following errors:
[blocked] The page at 'https://creativecommons.org/publicdomain/zero/1.0/' was loaded over HTTPS, but ran insecure content from 'http://yui.yahooapis.com/2.6.0/build/yahoo-dom-event/yahoo-dom-event.js': this content should also be l

[2014-11-21 19:49] mindspillage opened #34 "legalcode.xx URL for license/CC0 translations does not work for English"
All legal tools with official translations have the legal code available at legalcode.xx URLs (such as http://creativecommons.org/licenses/by/4.0/legalcode.fi) except for English, presumably because the file is not named with the language code. Can we special-case it so that this works for all of the English-language legal tools? (Thanks to Maarten for pointing this out.)

[2014-12-05 18:03] #22 closed, assigned to nobody

[2014-12-05 18:03] #11 closed, assigned to nobody

[2015-01-16 05:27] mattl opened #36 "CC0 Japanese strings not appearing translated"
http://cc0-jp-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/deed.ja

[2015-02-02 18:41] mattl opened #38 "Please add chameleonjohn.com to Remixer level donors"

[2015-02-05 00:58] #38 closed

[2015-02-23 16:47] mattl opened #39 "Send me a profile and a headshot"
@mmoreshead -- you were left off the spreadsheet cause i copied the names from the staff page.

Let's fix that.

See www.creativecommons.org/staff for typical profile.

[2015-02-23 16:49] mmoreshead commented on #39
Yes, it's on my to-do list!

[2015-02-23 20:19] sarahpearson opened #40 "Publish Dutch 4.0 translation"
Maarten approved the files, so they are ready to go live. Once it's done, let me know and I'll publish a blog post.

[2015-02-23 23:34] mattl commented on #40
Everything here is ready to go? http://cc4-nl-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.nl

[2015-02-24 01:33] peterspdx commented on #40
These have my OK, having glanced one last time.  Please let Sarah respond as she was working the details of links and similar.

Congrats, Maarten et.al., you're finishing a close second to the Finnish!

@Sarah, let's be sure to update this page (https://wiki.creativecommons.org/List_of_completed_translations) when the time comes.

Diane

[2015-02-24 12:27] sarahpearson commented on #40
Yes, those are the updated files that Maarten gave his final signoff.
Thanks, Matt!

(@Diane, yes, that step plus a few others are on the final translation
checklist. I'll make sure it all gets done.)

S.

Sarah Hinchliff Pearson
Senior Counsel, Creative Commons
Donate to Creative Commons! donate.creativecommons.org
______________________________

Please note: the contents of this email are not in

[2015-02-24 13:16] sarah commented on #40
Hello!

Be aware when you type "@sarah" you get me, as that is my github name, not the person on your project.  I'm not sure if your project is private, but now I have access to it.... From my past experience with this, I will now have access in perpetuity b/c of the one email.
Something to be aware of.

[2015-02-26 19:05] mmoreshead commented on #39
Is this too boring?

Toronto, Ontario
Started: February 2015

Mari comes to CC after three years at the Mozilla Foundation in administration.  Prior to that, she held similar roles at a legal technology start up and the Playful Invention Company.  She's lived in a number of Canadian cities but now calls Toronto home where she lives with her partner and their two cats.

[2015-02-26 19:13] mattl commented on #39
No, this is good. Drag and drop a photo in here, and I'll put you up on the site.

[2015-02-26 19:15] mmoreshead commented on #39
![mari_moreshead-6278](https://cloud.githubusercontent.com/assets/11162279/6399648/d2f509dc-bdc1-11e4-833d-aa5ecc157160.jpg)

[2015-02-26 19:22] mattl commented on #39
You're up. Welcome to CC.

[2015-02-26 23:23] mattl commented on #39
* Mari works through 0941176 B.C. Ltd., a wholly owned subsidiary of Creative Commons whose sole activity is to provide services to CC. 0941176 B.C. Ltd. is operated separately from our CC Canada affiliate.

Need to add disclaimer

[2015-02-26 23:37] peterspdx commented on #39
Mari, it's great.  And what a beautiful photo!

Diane

On Thu, Feb 26, 2015 at 3:23 PM, Matt Lee <notifications@github.com> wrote:

--
Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters

[2015-03-03 16:00] sarahpearson opened #44 "find and publish set of model affiliate logos in connection w/ new logo guidelines"

[2015-03-03 16:06] mzeinstra commented on #44
Saw your ticket. This is what CC Netherlands uses.
White on transparent background: http://creativecommons.nl/wp-content/uploads/2013/01/ccnl_logo_white_big_crop.png

[2015-03-03 16:29] sarahpearson commented on #44
awesome, thank you!

[2015-03-11 18:43] jayaw opened #45 "CC blog feed on main page"
Please create a new box on the site mainpage that contains 4 to 6 most recent blog headlines from the cc blog. Each headline should link directly back to the blog. Might be easiest to merge this with another box. Placement not critical, but ideally it would be above the fold / upper 50% of page.

[2015-03-11 18:46] jayaw opened #46 "blog in the website navbar"
create a link in the grey navbar on website directly to blog - name it "Blog." Should appear before "News"

Which means blog could then be removed from the "News" menu pulldown.

[2015-03-12 20:36] mattl commented on #25
I made a few changes to announce that the site is effectively closing down and moving to a new project.

[2015-03-12 20:36] #25 closed

[2015-03-12 20:39] mattl commented on #36
@soohyunpae who should i talk to about getting this fixed?

[2015-03-12 20:40] mattl commented on #32
@HebaFareed that site is effectively broken now. I would *love* to make sure we have a great UX for RTL languages on our new search. https://github.com/creativecommons/garmonbozia

[2015-03-12 20:40] #32 closed

[2015-03-13 01:58] soohyunpae commented on #36
@mattl you can talk to Tomoaki Watanabe at tomoaki@creativecommons.jp, thanks.

[2015-03-16 13:54] mzeinstra opened #47 "Dutch legalcode links refer to english legalcode pages"
Hi,

All Creative Commons Legal Tools (including CC0, C 4.0 and PDM) have been translated to Dutch. I expected that the links of all these tools from a deed.nl page would refer to a legalcode.nl page. This is not the case.

Transifex already has this link incorporated into its translations:
![screen shot 2015-03-16 at 14 53 38](https://cloud.githubusercontent.com/assets/5627431/6667437/4c0abc3a-cb

[2015-03-16 16:18] sarahpearson commented on #47
We are not sure what is going on with this because the link is listed correctly in Transifex! It is happening with the other 4.0 translations as well..

[2015-03-18 19:30] #39 closed

[2015-03-18 19:35] #46 closed

[2015-03-18 19:36] mattl commented on #46
This has been fixed in the codebase for the site, it'll appear in the next few days.

[2015-03-18 19:55] mmoreshead opened #49 "Add new donor ONLINE ONLY OÜ to supporters page"
We have a new Remixer supporter!  Since Online Only OÜ donated $1000, please add them to the supporters page, here's their website that you can link to: http://websitesetup.org

[2015-03-20 19:29] mmoreshead commented on #49
He asks: "Would you be able to change the "Online Only" from http://creativecommons.org/supporters#remixer to "Website Setup". The website address will stay the same, though."

[2015-03-23 21:19] mattl opened #50 "Update the Apache config to a new, saner, less regexp way of handling the myriad of translations"
Including @peterspdx @mzeinstra on this.

[2015-03-30 18:55] RCEurope1 opened #51 "faulty link from NL legalcode"
The link "Terug naar de Commons Deed" ("Back to the Commons Deed") at the bottom of - at least - the Dutch BY-SA 4.0 (http://creativecommons.org/licenses/by-sa/4.0/nl/legalcode) produces an error because it contains one "nl" too much:

http://creativecommons.org/licenses/by-sa/4.0/nl/deed.nl

[2015-03-30 19:00] mattl commented on #51
Duplicate of #47

[2015-03-30 19:00] #51 closed

[2015-03-30 19:02] mattl commented on #47
The problem here is that our templates aren't set up for this. @RCEurope1 -- I think we'll need to add a new string to Transifex for the legalcode URI? Any idea on how to proceed with this?

[2015-03-30 19:14] RCEurope1 commented on #47
don't know, I never added any strings anywhere in Transifex

[2015-03-31 07:06] mzeinstra commented on #47
@mattl can you explain why your templates are not set up for this, it does simply take the translation from transifex doesn't it? Can you point me to the template so I can have a look at it as well?

[2015-03-31 16:05] mattl commented on #47
https://github.com/creativecommons/creativecommons.org/blob/master/python_env/src/cc.engine/cc/engine/templates/macros_templates/deed.html#L94 is the line in question.

As I understand it, {% trans %} blocks in zope.translate can't modify the properties of elements in the markup. So we'd need to have something like:

{% trans %}Yadda yadda yadda, see the <a href="{% endtrans %}{% trans %}legalcode

[2015-03-31 20:46] #49 closed

[2015-04-02 16:39] #40 closed

[2015-04-02 16:50] mattl commented on #28
This will be a good starter issue for you, Rob.

[2015-04-06 19:39] Aeva commented on #28
@robmyers I'll be happy to answer any questions about the license chooser if you need it.  My handle on freenode is "aeva" if that is a better way of getting in touch.

[2015-04-06 22:03] robmyers opened #52 "Portuguese License Deed Translation Incomplete"
http://creativecommons.org/licenses/by-nc-sa/4.0/deed.pt_BR

Attribution text is not fully translated:

Atribuição — You must give appropriate credit, provide a link to the license, and indicate if changes were made. You may do so in any reasonable manner, but not in any way that suggests the licensor endorses you or your use.

(Reported via help - 2118 .)

[2015-04-07 23:36] robmyers commented on #28
@aeva Thank you! I've implemented your suggestions and committed the changes.

[2015-04-07 23:36] #28 closed

[2015-04-08 00:41] Aeva commented on #28
^_____________^ thanks!

[2015-04-08 01:50] mattl commented on #28
+1

[2015-04-09 13:52] nwgat opened #53 "ODF/HTML/PDF export option"
would been nice if we can export to a nicely formatted text document with license, most of the time people include a LICENSE file with their work like open source programmers do

on http://creativecommons.org/choose/

[2015-04-16 19:14] sarahpearson commented on #52
Thanks! I will raise this with the translation team that is working on the 4.0 translations.

[2015-04-20 14:34] mzeinstra opened #54 "Need to update Legalcode link translation strings (from Deeds) in Transifex"
https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode.nl gives a 404
https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode gives a 200

the 404, https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode.nl, is linked on https://creativecommons.org/licenses/by-sa/3.0/nl/

Is this a Transifex issue or a bug in the code?

[2015-04-20 16:31] mattl commented on #54
I think this is an error in Transifex. If you look at say, the French or English versions, https://creativecommons.org/licenses/by-sa/3.0/nl/deed.fr or https://creativecommons.org/licenses/by-sa/3.0/nl/deed -- you'll notice the link is to legalcode, not legalcode.nl

@RCEurope1 can you take a look?

[2015-04-20 19:22] mattl commented on #50
@robmyers can you take a look at this one? I know you want to get the most up-to-date config for CC.org into git too. If you look at the way we handle translations right now in the Apache config, it's a mess of regexps, and would be better handled by explicitly listing the various languages and versions of languages, IMO. WDYT?

[2015-04-20 21:03] robmyers commented on #50
@mattl There are currently 769 versions/translations in legalcode/ vs 13 legalcode, 11 rdf, and  25 other rewrites for licenses. These rewrites handle both version/translation mapping and various regularization and bug-correcting tasks.

So they're less verbose than a list of 769 urls plus a list of the various rewrites applied 769 times each, but they're too complex to reason about reliably. Simp

[2015-04-20 21:29] robmyers commented on #50
There are no links on the web to samplingplus_1.0.br.html that I can find outside of our own legal deed. We could fix the filename and remove the mapping for that.

[2015-04-20 21:33] mattl commented on #50
I don't think we expose the filenames anywhere -- how would you fix them? I think that file loads https://creativecommons.org/licenses/sampling+/1.0/deed.pt_BR fwiw

[2015-04-20 22:03] robmyers commented on #50
The files in that folder match ^([a-z]+-)*[a-zA-Z]+_[0-9.]+((_[a-z]+)*(-[A-Za-z]+)?)?.(html|txt)$ *except* for samplingplus_1.0.br.html (and r, but we'll ignore that). So I'd "fix" that one by removing it and just keeping samplingplus_1.0_br.html , which is there alongside it.

The comment in the .conf is interesting:
    # FIXME: eval whether we should use the LHS as the actual file structure so

[2015-04-21 15:22] mzeinstra commented on #54
This due to your request to add the .nl in the translations for the 4.0 license right?

[2015-04-21 15:24] mattl commented on #54
That wasn't exactly my request, we need a different string for the legalcode name in cases where it's different.

[2015-04-21 15:33] mzeinstra commented on #54
In this ticket #47 you approved of this method..

[2015-04-21 15:39] mattl commented on #54
So what did you do? I don't believe you have the permissions to add a new string to Transifex, I think @RCEurope1 or I have to do that.

In #47 I said: "I think we'll need to add a new string to Transifex for the legalcode URI? Any idea on how to proceed with this?"

[2015-04-21 15:50] mzeinstra commented on #54
I am language coordinator for the Dutch language area, I have access to the Dutch strings in transifex. @RCEurope1 does not.

The opening post in that ticket stated the changed URL to legalcode.nl and asked for verification of that issue. Now it appears that this brought about issues in other parts of the license links.

I've now reverted the change so these link to /legalcode instead of legalcode

[2015-04-21 15:53] mattl commented on #54
@RCEurope1 is an admin of the CC Transifex account, like me.

The goal of #47 was to add a new string to the Transifex account that'll let us use different legalcode URIs in 4.0 and newer versions of the deed. We haven't done that yet. I will try and figure that out later today.

[2015-04-21 16:10] mattl opened #55 "Upgrade GA to Universal"
Upgrade Google Analytics to Universal Analytics
New standard for Google Analytics tracking.  Many of the benefits are not needed here, but the current code is deprecated and the upgrade path is straightforward.
Your Google Analytics account has already been upgraded to Universal Analytics, the code snippet just needs to be updated.
More details: https://developers.google.com/analytics/devguides/co

[2015-04-21 16:27] mattl opened #56 "Chooser needs viewport tags"
Page has responsive styles but is missing viewport meta tag so it’s not correctly responsive on iOS devices

[2015-05-13 17:11] mattl commented on #50
@sarahpearson supports this effort too.

[2015-05-13 22:34] robmyers commented on #50
I support this effort, I'm just concerned about swapping uncommented
regexes for either a 500 line config file or
something that doesn't catch ${EDGE_CASE}[MAX_INT].

Having a build system generated config file seems like a good way of making
this understandable, manageable and efficient. And it's not on the website
tasks... Should we add it?

On Wed, May 13, 2015 at 10:11 AM, Matt Lee <notificati

[2015-05-13 22:35] mattl commented on #50
Yeah, please add it at the same time of moving to Jekyll.

[2015-05-13 22:50] robmyers commented on #50
Added.

[2015-06-12 15:42] ewilfong commented on #33
The mixed content issue on the page above appears to be resolved.  I am seeing a similar issue on https://creativecommons.org/publicdomain/mark/1.0/

[2015-06-16 10:36] mzeinstra opened #65 "Deed pages can produce 416 errors"
I use a link checker on creativecommons.nl to check whether links are broken or not. This link checker asks for the first 2048 bytes of any site I've linked. Something like

    curl --range 0-2048 -v https://creativecommons.org/licenses/by/4.0/deed.nl

This provides me with a 'HTTP/1.1 416 Requested Range Not Satisfiable' error which, if I understand it correctly, could indicate a problem with th

[2015-06-26 20:19] janeatcc opened #69 "WP image upload error"
See attached file. Not sure what's the problem.
![wp image upload error](https://cloud.githubusercontent.com/assets/6394777/8386522/e26e6302-1c05-11e5-92d2-ed6d6644c95b.jpg)

Need to upload image by next Tues morning pacific time.

[2015-06-26 20:26] mattl commented on #69
We're working on the site right now until it's back you'll have a hard time uploading new images.

[2015-06-26 20:35] mattl commented on #69
Okay, you should be all set now. If you have problems, reopen this and we'll take a look for you. Thanks for your patience.

[2015-06-26 20:35] #69 closed

[2015-06-29 17:32] robmyers commented on #49
Removed at submitter request.

See helpdesk 367.

[2015-07-01 15:42] sarahpearson opened #70 "Make Matt McGregor and Soohyun Pae coordinators for the Maori team on Transifex"
We can't publish their 4.0 Maori translation until we get the Maori deed up. I think they need to be coordinators in order to actually add the translation?

Team is here: https://www.transifex.com/projects/p/CC/language/mi/

Thanks!

[2015-07-01 15:44] mattl commented on #70
Added SooHyun, invited Matt.

[2015-07-01 15:44] #70 closed

[2015-07-02 23:40] janeatcc opened #71 "Open ed etherpad recovery"
See email thread with @soohyunpae.

I was just about to send a reminder about the next Open Ed Call in two weeks when I realized that the etherpad with 2 years full of notes is gone still. Any chance we can recover by next week so I send out the reminder for the meeting?

Would like to recover these two pads:
http://etherpad.creativecommons.org/p/Open_Education_Call
http://etherpad.creativecommons

[2015-07-03 01:21] robmyers commented on #71
I'll take a look.

[2015-07-03 15:58] tvol opened #72 "expand/update history and milestones on https://creativecommons.org/about/history"

[2015-07-07 19:48] sarahpearson opened #73 "push Maori deed translation live"
The deed strings are translated and reviewed in Transifex, but I think they may need to be manually pushed live because they are the only strings translated so far. We aren't going to publish the Maori 4.0 legal code translations until this is done, so if possible to do today or tomorrow, that would be awesome. Thanks!

[2015-07-07 21:06] janeatcc commented on #71
Can we recover later this week so I can send out with reminder? Also, is the new pad.cc.org only accessible with a CC login now?

[2015-07-07 21:21] robmyers commented on #71
I've not succeeded yet so I'll raise it in my meeting with @mattl tomorrow.

Anyone with a CCID can log in. Anyone can get a CCID, if they don't have
one yet they can register here -

https://login.creativecommons.org/register.php

On Tue, Jul 7, 2015 at 2:06 PM, Jane <notifications@github.com> wrote:

[2015-07-08 14:04] sarahpearson commented on #73
Thanks, mattl! The deeds look great. What do they need to do to get it to show up in the language list at the bottom of other deeds?

[2015-07-08 16:42] mattl commented on #73
Those languages are manually added to all the other language deeds, so
you'd edit each of the other 4.0 deeds in a new branch and make a pull
request. You may want to add a link to the other translation that's coming
first.

[2015-07-08 18:28] #73 closed

[2015-07-09 22:17] robmyers commented on #71
That was a bit more involved than expected. :-)

I've restored the content of the last version of each pad.

[2015-07-09 22:17] #71 closed

[2015-07-09 22:19] mattl commented on #71
@robmyers please add a message at the top of every page on pad, telling
people it's not permanent and to keep a copy of the text elsewhere  :)

[2015-07-09 22:20] luke-jr opened #74 "3.0 jurisdiction-variants confusing"

[2015-07-09 22:27] mindspillage commented on #74
My own thought is that notices would be nice here. It would be nice to have a notice of some kind on earlier versions saying that for people applying the licenses to their own works they may wish to consider the most recent version (I half-remember some internal conversation about this where I think we wanted to hold off for a while particularly until there were more translations, maybe?). As the

[2015-07-09 23:04] robmyers commented on #71
Added to creation and pad pages.

Changeset:

diff --git a/src/static/css/pad.css b/src/static/css/pad.css
index 49a54fb..53efbe8 100644
--- a/src/static/css/pad.css
+++ b/src/static/css/pad.css
@@ -211,7 +211,7 @@ li[data-key=showusers] > a #online_count {

 #editorcontainer {
   position: absolute;
-  top: 37px; /* + 1px border */
+  top: 56px; /* + 1px border */
   left: 0px;
   right: 0px;

[2015-07-10 00:30] mattl commented on #71
Great work, Rob.

[2015-07-10 15:13] sarahpearson opened #75 "push maori strings live again"
They changed the link on the deed so that it goes directly to the Maori translation. I think it has to be manually pushed again. Thanks!

[2015-07-10 15:19] mattl commented on #75
Everything pulled, but not seeing anything new for Maori.

[2015-07-10 15:21] sarahpearson commented on #75
Hmm, that's odd. I wonder if they didn't update the string correctly.

[2015-07-10 15:21] mattl commented on #75
Do you know which string? Let me check Transifex.

[2015-07-10 15:25] sarahpearson commented on #75
I'm trying to find it on Transifex but I'm not seeing it. In English it's "This is a human-readable summary of (and not a substitute for) the license." and the link should go to the Maori translation

[2015-07-10 15:52] #75 closed

[2015-07-11 20:51] sarahpearson opened #79 "add the Kickstarter to the carousel on the CC home page on Wed, July 15"
please include the Kickstarter video, and the live link to the campaign (which I will get to you as soon as we launch)

[2015-07-13 21:01] mmoreshead opened #80 "Add Rebecca's photo and bio to staff page"
Here's the bio (urls for the links are below) and photo:

As Director of Development for Creative Commons, Rebecca leads the organization's fundraising and advancement efforts. With 15 years experience in nonprofit management, Rebecca has dedicated her career to supporting creativity and innovation. Before joining Creative Commons, Rebecca worked with leading cultural institutions in San Francisco

[2015-07-13 21:11] mattl commented on #80
All set :)

[2015-07-14 16:52] rebeccalendl commented on #80
Sorry Matt, I made one small edit. Will you update? Thank you!: "With 15 years experience in nonprofit management, Rebecca has dedicated her career to supporting artists, creativity, and innovation through administration, finance, fundraising, and strategic planning in the cultural sector."

[2015-07-14 17:31] mmoreshead opened #81 "Add USB Memory Direct to In-Kind Supporters"
They were nice enough to send us 300 CC branded usb drives.  Can we add them to: http://creativecommons.org/supporters#in-kind

Anchor text: USB Memory Direct
Link: https://www.usbmemorydirect.com/

Thank you!
Mari

[2015-07-15 22:55] janeatcc opened #82 "this is how it looks on chromium"
Don't know how much this matters since it's Chromium Version 38.0.2125.122 (290379), but FWIW.
<img width="1548" alt="cc org on chromium" src="https://cloud.githubusercontent.com/assets/6394777/8711795/e96c2082-2b09-11e5-8b17-66ecffd4a861.png">

[2015-07-15 22:59] janeatcc opened #83 "menu mis-alignment"
Donate to CC is under Public Domain in top menu, see attached.
<img width="696" alt="cc org text too close to margin" src="https://cloud.githubusercontent.com/assets/6394777/8711837/661f73f4-2b0a-11e5-854d-23b2638125cb.png">

[2015-07-15 23:02] janeatcc opened #84 "attribution for global summit photo on home page needs fixing"
CC Attribution should be linked to deed

[2015-07-15 23:04] janeatcc opened #85 "Alignment for /chooser boxes is off"
https://creativecommons.org/choose/

See screenshot (Chrome Version 43.0.2357.134 (64-bit)
<img width="642" alt="chooser box alignment" src="https://cloud.githubusercontent.com/assets/6394777/8711914/293649a8-2b0b-11e5-922d-01a6350d7b2b.png">

[2015-07-15 23:07] janeatcc opened #86 "who uses cc, culture, related pages - misaligned images"
https://creativecommons.org/who-uses-cc
https://creativecommons.org/science
https://creativecommons.org/culture

eg., see attached
<img width="790" alt="who uses cc alignment" src="https://cloud.githubusercontent.com/assets/6394777/8711967/971a7516-2b0b-11e5-917b-2d09e459362b.png">

[2015-07-15 23:11] janeatcc commented on #86
Also:
https://creativecommons.org/music-communities
https://creativecommons.org/record-labels

[2015-07-15 23:11] janeatcc opened #87 "Affiliate news link no longer"
http://planet.creativecommons.org/docs/

[2015-07-15 23:13] janeatcc commented on #82
just refreshed and it was fixed. closing.

[2015-07-15 23:13] #82 closed

[2015-07-15 23:27] jessicacoates opened #88 "Give Search box more prominence"
The search for CC material box gets a bit lost. The long description doesn't jump out you, even though it's in large text, and I think many users won't realise what it is.

I'd suggest giving it a clear heading eg "Find CC material" and then including what you have currently as small text, so it matches the licensing box above.

[2015-07-15 23:31] jessicacoates opened #89 "Give Search box more prominence"
The search for CC material box gets a bit lost. The long description doesn't jump out you, even though it's in large text, and I think many users won't realise what it is.

I'd suggest giving it a clear heading eg "Find CC material" and then including what you have currently as small text, so it matches the licensing box above.

[2015-07-15 23:31] #89 closed

[2015-07-15 23:32] jessicacoates opened #90 "Public Domain menu width"
Suggest that the width of the dark menu dropdown under public domain be widened so that the menu item doesnt fall outside the dark area.

[2015-07-16 09:57] nasirkhan opened #91 "Home page is not responsive"
The theme is using Bootstrap but the theme is not fully responsive. there are some design issues and the images do not have the appropriate responsive class (img-responsive).

[2015-07-16 16:10] mattl commented on #90
I don't know what this means.

[2015-07-16 16:22] #83 closed

[2015-07-16 16:24] #84 closed

[2015-07-16 17:51] sarahpearson opened #92 "help fix broken links in pre-4.0 Japanese deeds"
Links from the top of the Commons Deed to Legalcode are broken, presumably for all versions prior to 4.0.

Tomo from CC Japan suspects the problem arose when he changed string 533 in Transifex.

Example Deeds:
- https://creativecommons.org/licenses/by/2.0/deed.ja
- https://creativecommons.org/licenses/by/2.5/deed.ja
- https://creativecommons.org/licenses/by/3.0/deed.ja

[2015-07-16 17:55] sarahpearson opened #93 "help fix broken links in pre-4.0 Finnish deeds"
Links from the top of the Commons Deed to Legalcode are broken, presumably for all versions prior to 4.0.

[2015-07-20 23:44] #79 closed

[2015-07-21 17:34] mmoreshead commented on #81
Gentle nudge.

[2015-07-21 20:36] peterspdx opened #94 "Remove mediation text from print view of 4.0 deeds"
there is a difference in content (text) between the printed version of the CC 4 deed and the screen view.

The screen view excludes the following under the Notice elements, which appear under the print view (see attached).

"The applicable mediation rules will be designated in the copyright notice published with the work, or if none then in the request for mediation. Unless otherwise designated in

[2015-07-21 20:38] peterspdx commented on #94
And here's a screen shot of the print view, courtesy of an affiliate
[Creative Commons — Attribution 4.0 International — CC BY 4.pdf](https://github.com/creativecommons/creativecommons.org/files/798/Creative.Commons.Attribution.4.0.International.CC.BY.4.pdf)

[2015-07-21 23:08] robmyers commented on #81
Thank you for the reminder.

I have added this.

[2015-07-21 23:08] #81 closed

[2015-07-22 14:56] mmoreshead opened #95 "Opportunites page"
Director of Development is showing as an open position but it's not open anymore (yay!)

[2015-07-22 18:06] janeatcc opened #96 "menu error in licenses page"
What it looks like at https://creativecommons.org/licenses on Chromium Version 38.0.2125.122 (290379)

![cc licenses page bug](https://cloud.githubusercontent.com/assets/6394777/8833066/b48db80a-3061-11e5-9f57-6cf6f71c0c0f.jpg)

[2015-07-27 16:24] sarahpearson commented on #92
I should probably provide CC Japan with an update on this. @mattl I know you mentioned a possible fix over IRC, but I can't remember exactly what it was. Can you include it here or respond on the email thread? Thanks!

[2015-07-27 16:26] mattl commented on #92
Yes, I propose we add a slightly differently worded sentence to Transifex and then some code to the template which displays this sentence only on v4 or later licenses. This sentence would have a different link to the previous version of the licenses.

[2015-07-27 16:27] sarahpearson opened #97 "change the chooser so it links to license translation in same language as chooser"
Right now, when you view the license chooser page in a language like Finnish for which we have an official translation, the chooser still links to the English version of the license.

Is it possible to change that so it links to the official translation in that same language? This is not a super high-priority, but seems like something we should eventually fix if we can.

[2015-07-27 16:29] sarahpearson commented on #92
Thanks! I'll send Tomo an email. Let me know if there is anything you need from me.

[2015-07-28 18:01] mattl commented on #97
So, larger question for you... given that 4.0 is a translation, does it make more sense for 4.0 to show you the language you read vs the language of the creative behind the work?

[2015-07-28 18:19] mattl commented on #96
Fixed.

[2015-07-28 18:19] #96 closed

[2015-07-28 18:40] mattl commented on #94
Fixed. @robmyers worth noting that Chrom* has a bug which ignores print CSS pretty hard. Had to add a media rule to the file.

[2015-07-28 18:40] #94 closed

[2015-07-28 18:41] #87 closed

[2015-07-28 18:48] mattl commented on #86
Made things a bit better. All of these pages are misusing HTML tables in a drastic way, I'd like to get them updated properly.

[2015-07-28 19:00] sarahpearson commented on #97
So, I was misremembering. The chooser links to the deed, not the legal code. Because of that, seems to me we should link to the same language as the chooser if we have a deed translation. The existence (or not) of an official translation doesn't actually matter. Sorry for confusing things.

[2015-07-29 12:59] peterspdx commented on #97
Sarah and I will be discussing this next Wednesday. Let me know if it's more pressing.

[2015-07-29 18:02] #95 closed

[2015-07-29 18:07] #88 closed

[2015-07-29 18:08] #91 closed

[2015-07-29 18:08] #90 closed

[2015-07-29 18:08] #80 closed

[2015-07-29 18:18] #15 closed

[2015-07-29 19:36] #19 closed

[2015-07-29 20:03] robmyers commented on #65
Thank you for reporting this. I've checked and confirmed this behaviour.

Unfortunately this is a product of the CloudFlare caching we are using:

    curl --include --range 0-2048 -v https://creativecommons.org/licenses/by/4.0/deed.nl

shows that the page is being cached via CloudFlare's nginx servers:

    Server: cloudflare-nginx

I don't believe we can change this behaviour on CloudFlare.

Aft

[2015-07-30 07:43] mzeinstra commented on #65
Ah, that makes sense. Its probably not a high priority issue. Maybe you can put it through to Cloudflare and see there response to this. A web search did not yield much resources that discuss this.

I can imagine that CloudFlare takes your server settings into account. If you disable range options on your servers through your htaccess that might solve the problem downstream.

[2015-08-04 05:00] tvol opened #100 "for wordpress blog, make blockquote text size roughly the same as body text size"

[2015-08-04 15:29] sarahpearson opened #101 "please approve new accounts on Transifex for CC Denmark"
They have recruited a few new translators to help translate the deeds, but they are waiting for approval to activate their accounts. Thx.

[2015-08-04 22:27] robmyers commented on #65
I've disabled ranges in the Apache config. The CloudFlare response now includes the entire page, so hopefully everything requesting ranges doesn't read more than its buffer size...

[2015-08-04 22:27] #65 closed

[2015-08-05 14:37] #101 closed

[2015-08-05 16:00] mattl commented on #97
Passing back to you until there's more detail.

[2015-08-05 16:03] peterspdx commented on #97
I raised with Sarah that the chooser doesn't go to any legal code, only the deed (and she then noted that last week on this thread). It's on our 1:1 agenda for today to discuss, then we'll post something more here.

[2015-08-05 21:52] rebeccalendl opened #102 "update website banner to highlight KS campaign"
Will you update the donate banner on the homepage to say: "We're almost there - push us to the finish line! Back CC's Kickstarter book on open business models today" Leave the donate button there, but redirect it to KS. Time sensitive with 7 days left in the campaign so hoping to ship ASAP!

[2015-08-05 21:53] rebeccalendl commented on #102
@sarahpearson

[2015-08-05 21:56] mattl commented on #102
That's going to be hard. Too much text. A quick test reveals the text will be very small.

I suggest "Almost there — CC's book on open business models" and "Back us on Kickstarter" for the button. That won't change the text size.

[2015-08-05 22:11] rebeccalendl commented on #102
Great suggestion. Let's do it.

Rebecca Lendl
Director of Development
Creative Commons
rebecca@creativecommons.org

On Wed, Aug 5, 2015 at 2:56 PM, Matt Lee <notifications@github.com> wrote:

[2015-08-05 22:12] mattl commented on #102
Great, I'll get it up in the morning.

---
Matt Lee
Creative Commons
Boston, MA, USA

On Wed, Aug 5, 2015 at 6:11 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-08-05 22:22] rebeccalendl commented on #102
Will you also temporarily (through next Thurs EOD) redirect this page:
https://donate.creativecommons.org/
To this page:
https://www.kickstarter.com/projects/creativecommons/made-with-creative-commons-a-book-on-open-business

[2015-08-05 22:24] mattl commented on #102
Hmm, are we sure about that? That's going to likely break a lot of things, and annoy people. We should point the donation menu links on the website to KS instead.

[2015-08-05 22:27] rebeccalendl commented on #102
Yeah, thought about that but feels like our best workaround and short term.
Goal is to capture the increased traffic coming through the deed pages.
Would the donation menu redirect accomplish that?

Rebecca Lendl
Director of Development
Creative Commons
rebecca@creativecommons.org

On Wed, Aug 5, 2015 at 3:24 PM, Matt Lee <notifications@github.com> wrote:

[2015-08-05 22:29] mattl commented on #102
If we want people to go from the human-readable summary to the Kickstarter,
we should link there, not mess with our main donation page and do
redirects. Also, when it comes to taking all this stuff down in the middle
of in-town week, it'll be way less prone to missing something.

---
Matt Lee
Creative Commons
Boston, MA, USA

On Wed, Aug 5, 2015 at 6:27 PM, rebeccalendl <notifications@github.com>

[2015-08-05 22:34] rebeccalendl commented on #102
Feel like we will then need to loop in Trilogy and that will weigh down the process. What about adding that big orange banner that's on the home page to the donate page as well?

[2015-08-06 14:11] mattl commented on #102
The orange banner will go Kickstarter colors, but I don't think adding it
to the already crowded donation page is a good idea.

We won't need to involve Trilogy to add it to the human readable summary
pages though.

[2015-08-07 09:04] mzeinstra commented on #102
Could you do something about the outline of the banner, it looks quite unprofessional at the moment.

I believe the button and the H1 need a
[code]
to better line up.

![screen shot 2015-08-07 at 11 02 17](https://cloud.githubusercontent.com/assets/5627431/9132442/df895b1a-3cf3-11e5-99c7-cc580b347bde.png)

vs

![screen shot 2015-08-07 at 11 02 49](https://cloud.githubusercontent.com/assets/5627431

[2015-08-10 07:25] nasirkhan commented on #91
I can see that there are a lot to fix yet. Can i join to improve this?
On Jul 30, 2015 12:08 AM, "Matt Lee" <notifications@github.com> wrote:

[2015-08-10 07:37] nasirkhan opened #103 "grey content blocks are not responsive"
In the homepage, there are several content blocks needed to taken care of. they are not responsive and needed to fix. there are  other pages which has the same type of issues.

I want to help fixing this issues, can you please tell me how can i do so?

[2015-08-13 18:04] mattl opened #104 "Generate and serve variety of license icons from licensebuttons.net"

[2015-08-21 23:06] rebeccalendl commented on #102
Time sensitive! Clicking on "Donate to CC" under the Support CC menu is still redirecting to Kickstarter, should go to donate.creativecommons.org

[2015-08-21 23:14] mattl commented on #102
Update the banner in both the WP theme repo and in the Python_env templates for the licenses page.

[2015-08-21 23:26] robmyers commented on #102
Looking.

[2015-08-22 00:02] robmyers commented on #102
Theme repo updated and pushed. Front page Support CC / Donate to CC now points to donate.cc .

[2015-08-22 00:11] robmyers commented on #102
And chooser page updated.

Complete.

[2015-08-22 00:11] robmyers commented on #102
@mattl There's something screwy with the git state of cc.org on the server, we should discuss that when I'm back next week.

[2015-08-22 00:11] #102 closed

[2015-09-01 18:30] mmoreshead opened #105 "PB still listed as interim CEO"
https://creativecommons.org/board

If you scroll down to Paul B's bio, you'll see he's still listed as interim CEO (instead of simply board chair).

Can you fix, plz?

~Mari

[2015-09-01 23:49] robmyers commented on #105
Fixed,

[2015-09-01 23:49] #105 closed

[2015-09-08 19:19] rebeccalendl opened #106 "Update 'Our Supporters' page"
http://creativecommons.org/supporters
-Remove right side bar with search, email signup, and recent blog
-Remove all supporters $999 and under
-Remove table of contents/categories
-Remove segmentation by type (foundation, corp, indiv)
-New categories: 1000-4999, 5000-9999, 10000-24999, 25000-49999, 50000-99999, 100000+
-Update Copy:
Thank you to our Supporters!
On behalf of the entire Creative Comm

[2015-09-08 19:22] rebeccalendl opened #107 "Add PIA content panel to homepage"
To replace CC merch box adjacent to CC Global Summit plug. Include image + link to their website https://www.privateinternetaccess.com/. Also include text below "Creative Commons is delighted to thank our lead sponsor Private Internet Access for its support of CC's 2015 Global Summit"

[2015-09-08 19:27] mattl commented on #106
You're already on this, but have a ticket about it anyway.

[2015-09-08 21:43] robmyers commented on #106
Done!

[2015-09-08 21:43] #106 closed

[2015-09-08 21:52] rebeccalendl commented on #106
I love it, thanks!!!

Rebecca Lendl
Director of Development
Creative Commons
rebecca@creativecommons.org

On Tue, Sep 8, 2015 at 2:43 PM, Rob Myers <notifications@github.com> wrote:

[2015-09-10 16:07] tennysonholloway opened #108 "text-shadow on nav items looks bad"
Current:
<img width="202" alt="screen shot 2015-09-10 at 11 47 07 am" src="https://cloud.githubusercontent.com/assets/4596069/9793357/1939aa98-57b3-11e5-921c-e96d0ff36153.png">

With text shadow removed:
<img width="205" alt="screen shot 2015-09-10 at 11 47 13 am" src="https://cloud.githubusercontent.com/assets/4596069/9793365/211399c2-57b3-11e5-815d-42adc5115d42.png">

I can't find where this css

[2015-09-10 17:02] mattl commented on #108
This has been fixed and will be pushed up later today.

[2015-09-10 17:02] #108 closed

[2015-09-11 17:11] #107 closed

[2015-09-11 17:19] rebeccalendl opened #109 "Issue campaign email to full list - Tuesday 9/15"
Advocacy action #1 - Open Textbooks

@tvol to draft content, review/finalize with Trilogy
@tvol to think on potential partners to help with list building
@mattl to draft landing pages, review/finalize with Trilogy
@mattl to setup in civi, send to full list

Possible second email to follow a few days after if good response rate

[2015-09-14 22:01] tvol commented on #109
@rebeccalendl Here is a first draft. Adding @cablegreen for ideas and to review tone.
https://docs.google.com/document/d/1Bt8r400Vkqrg2TPIVqslKQEqbSSOulk-k3K39ri9HSc/edit#

[2015-09-15 03:58] tennysonholloway opened #110 "main page serving mixed http/https content"
[code]
It's giving (some) users a scary unlocked sign in the address bar!

All these URLs have working https counterparts, just a matter of finding the offending wp-plugin and messing with the settings. Looks like the first one is in Jetpack, second one is Gravatars (are gravatars even used? could just disable), third one I'm not sure.

[2015-09-15 04:11] cablegreen commented on #109
I edited - thanks for the opportunity to do so.

[2015-09-15 04:15] tvol commented on #109
@cablegreen thanks

[2015-09-15 14:05] rebeccalendl commented on #109
looks great to me. tvol I'm out today for the jewish holiday. are you ok
working with trilogy and matt directly on this to review and send?

Rebecca Lendl
Director of Development
Creative Commons
rebecca@creativecommons.org

On Mon, Sep 14, 2015 at 9:15 PM, Timothy Vollmer <notifications@github.com>
wrote:

[2015-09-15 16:18] tvol commented on #109
hi @rebeccalendl I will send the draft to Trilogy today to get their feedback. There is a big OER announcement today at the Department of Education, so we should wait until later this week to send this out. Let's coordinate with @cablegreen to figure out the best timing, and potentially include a reference to the announcements from today. cc @mattl

[2015-09-15 16:25] cablegreen commented on #109
agree - please hold until tomorrow or later.  The Duncan post will be the headline today. Thanks!

[2015-09-15 20:47] sarahpearson commented on #92
We discussed, and @mattl added a new string and is going to update it for all published 4.0 translations. This should fix any pre-4.0 links that were messed up by string 533.

[2015-09-16 14:12] rebeccalendl commented on #109
@tvol copy looks great to me. thoughts on partners for list building?
@mattl how is the landing page coming along?

[2015-09-16 14:14] mattl commented on #109
I've not been working on the landing page yet. Been trying to take care of
other things.

[2015-09-16 14:23] rebeccalendl commented on #109
@mattl can you give us ETA so we can plan around it?

[2015-09-16 14:24] mattl commented on #109
I don't have any details on it. @tvol -- isn't this something we could use https://action.creativecommons.org/ for?

[2015-09-16 16:05] tvol commented on #109
@rebeccalendl i updated the draft. regarding partners, do you mean organizations that we'd want to share this issue campaign in order to get more people looking at it and sign up?

[2015-09-16 16:14] rebeccalendl commented on #109
@tvol yep. I'm also happy to jump on a call to resolve the landing page issue. From my call with Matt last week sounded like an easy one, but if it's not we can troubleshoot. Really eager to ship something asap.

[2015-09-16 16:57] tvol commented on #109
@mattl yes the action center would potentially work. i've put the text in there but there are some irregularities. 1) the text does not fit within the page (perhaps this is a forcing technique for it to not be too long?) 2) i am not able to upload any images.

[2015-09-16 17:30] tvol opened #111 "enable image upload on https://action.creativecommons.org"
I tried to upload but says "forbidden" for all attempts.

[2015-09-16 17:32] tvol opened #112 "extend allowable size for body text on https://action.creativecommons.org"
In test, text is cut off on the bottom.

[2015-09-16 18:54] sarahpearson opened #113 "make the following additions/changes to the language list at the bottom of the license deeds"
(1) Czech (česky) should be changed to čeština
(2) Farsi (پارسی) should be changed to  فارسی
(3) Indonesia should be changed to Bahasa Indonesia
(4) Melayu should be changed to Bahasa Malaysia
(5) Norsk should be changed to norsk
(6) Suomeksi should be changed to suomeksi
(7) te reo Māori should be added to the list with a link to the translation

Thank you!

[2015-09-17 20:42] mattl opened #114 "Write some copy for this page"
http://creativecommons.org/campaigns

All of our issue campaigns should be children of this page.

[2015-09-18 20:39] sarahpearson opened #115 "decide where translations of the considerations page will live"
Here is the relevant page in English: https://wiki.creativecommons.org/wiki/Considerations_for_licensors_and_licensees

Right now, it's on the wiki, but it seems like it makes more sense to have it on the main site.

[2015-09-21 15:11] janeatcc opened #116 "Teamopen.cc is down"
Need to put back up or rehost somewhere? Some folks are asking b/c they wanted to download/reuse the content..

[2015-09-21 15:43] #116 closed

[2015-09-21 15:44] mattl commented on #116
It's all here: https://github.com/creativecommons/team-open/tree/gh-pages

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Mon, Sep 21, 2015 at 10:11 AM, Jane <notifications@github.com> wrote:

[2015-09-21 22:38] tvol commented on #109
@rebeccalendl @mattl do you need any more input from me on the copy for the open textbooks page?

[2015-09-21 22:39] tvol opened #118 "remove orange donate bar from thank you page"
after gathering email addresses on issue campaign pages, remove orange donate bar on thank you page (https://creativecommons.org/thank-you)

[2015-09-21 22:40] mattl commented on #109
All the links need to be moved to the bottom, so the main copy is link-free.

[2015-09-21 22:41] tvol commented on #109
@mattl ok i'll do it.

[2015-09-21 22:42] mattl commented on #109
Great. Also, we need body copy for an email, or maybe we can just use the same text? A subject line and a one line intro also needed.

[2015-09-21 23:06] tvol commented on #109
@mattl done with footnotes. and yes can we simply use the same text for the email? https://docs.google.com/document/d/1Bt8r400Vkqrg2TPIVqslKQEqbSSOulk-k3K39ri9HSc/edit

[2015-09-21 23:14] cablegreen commented on #109
added a comment to the gdoc

[2015-09-22 13:48] rebeccalendl commented on #109
@cablegreen and @tvol do you have suggestions for partners who would be willing to share out message? we could reframe copy so we are sharing out both orgs success in the open textbook movement (so as to avoid any big asks/favors, more a mutual shout out to our lists)?

[2015-09-22 13:51] rebeccalendl opened #119 "update fundraising notifications"
@mattl please update all fundraising notifications to include me, working with Scott S if needed
Paypal,
Stripe,
Shopify,
Email group donor@creativecommons.org (which should be renamed development@creativecommons.org)

[2015-09-22 13:55] rebeccalendl opened #120 "finalize KS data import"
@mattl ensure all KS data made it into civi successfully, ensure source is noted as KS, ensure they are added to general email list, ensure wherever possible that they are matched with their existing record

[2015-09-22 14:00] rebeccalendl opened #121 "civi search box text is white on white in chrome"
can't see what I'm searching

[2015-09-22 14:00] rebeccalendl commented on #121
@mattl

[2015-09-22 14:12] rebeccalendl opened #122 "Update civi with all staff rolodexes before Global Summit"
Include all staff contacts (not just address book contacts), widest cast net of people who have engaged with CC over the years
Include all former staff contacts (if those address books are available)
Import to civi
Merge with existing records, clean up dupes, associate with existing Organizations if any, associate with appropriate staff member
Send welcome note to email list with opt out (not opt

[2015-09-22 16:18] tvol commented on #109
@rebeccalendl @cablegreen
student pirgs
ethan senack
sparc
lumen
boundless
open textbook summit participants
dave ernst
r2rc
hewlett
ck-12

[2015-09-22 16:27] rebeccalendl commented on #109
Thanks! I added draft outreach copy to doc (also pasted here). This sound like the right messaging to you?:

I wanted to reach out to see if X would be interested in partnering with Creative Commons on some back to school outreach around the Open Textbook movement. We’ve drafted a letter to share on e-newsletters and social media to help raise awareness and rally support. If you’re interested in j

[2015-09-22 16:53] mattl commented on #109
Assigning this back to you until this is figured out.

[2015-09-22 17:06] rebeccalendl opened #124 "Update automated copy for email sign up thank you and donation thank you"
Email sign up automatic reply + thanks page (note that link didn't stick when I pasted below but "Your donation at any level" should link to donate page):

Welcome to the CC community!

We are thrilled to have you join us on the road to realizing the full potential of the Internet—universal access to research, education, and full participation in culture. We can’t do this without you.

I hope you’

[2015-09-22 17:35] rebeccalendl opened #125 "Add Arcadia Fund to Supporters page 100K+ with link to http://www.arcadiafund.org.uk/"
Thanks!

[2015-09-22 17:53] rebeccalendl opened #126 "Add two new donors to supporters page at 1K level"
Please confirm that 1K has been received from each of the below (I am not yet added to notifications). If confirmed, please update Supporters page with these two new donors at 1K:

[redacted]

(moving forward I will set up a monthly update report for you so that all updates get bundled into a single monthly update)

Thanks!

[2015-09-22 18:10] Scott-CC commented on #126
Rebbecca,

I cannot confirm either donation as of yet.  Yesterday we received 1,000
from www.Jobcase.com which I informed Rob to add, today we received 1,000
from Lauren McNeil of lauren@exclusivelegalmarketing.com.  I had not
informed Rob of this yet.  I am not seeing the other two yet.

Scott

On Tue, Sep 22, 2015 at 10:53 AM, rebeccalendl <notifications@github.com>
wrote:

[2015-09-22 18:16] mmoreshead commented on #126
One of Lauren's donations came through last week, we've just been slow getting it up on the page (much confusion about some silly things).

[2015-09-22 18:58] mattl commented on #126
I don't think a monthly bundle is very useful. If someone donates on October 1st and has to wait a month to get a link, that doesn't seem very good. It's easy to add a link to the website. Anyone can do it.

[2015-09-22 19:08] rebeccalendl commented on #126
I'm working on a few new processes to help streamline our donor
communications internally (finance to civi to devo) and externally (devo to
donors to website); feels like there are a few needs there. I'll figure out
where/how this piece works best. I've seen as common practice a yearly
funder update that synchs with an annual report, also seen none at all, so
monthly doesn't feel like a crazy long

[2015-09-22 19:11] mmoreshead commented on #126
I'm also not sure if here (github) is the best place for these requests.  Maybe freshdesk is better since we can assign the ticket based on the successful donation instead of asking Scott to confirm the donation.  We actually had one donor ask us to remove the github issue (because it was showing up in his search results and we'd had some confusion about his display name) a while back.

[2015-09-22 19:12] mattl commented on #126
We have people right now emailing us after a few days asking why weren't not linking to them.

@mmoreshead -- agreed. Once I get my new card in the mail, I'll add Rebecca to Freshdesk.

[2015-09-22 19:24] rebeccalendl commented on #126
Thanks, Freshdesk suggestion is helpful. I'll work on getting a process doc
together as soon as I gather the info I need, and will send it your way for
edits and suggestions. Goal is for each piece of the donor stewardship
process to work well for our workflow needs, keep donors happy, and fit
into an overall devo strategy.

Until we get any new processes agreed upon and in place, it would be grea

[2015-09-22 19:26] mattl opened #127 "Make a WordPress account for Rebecca"
So the donors page can be updated by @rebeccalendl

[2015-09-22 19:30] rebeccalendl commented on #127
I have one. And have wordpress training is on my list for our weeklies.

On Tue, Sep 22, 2015 at 12:26 PM, Matt Lee <notifications@github.com> wrote:

[2015-09-22 22:14] tvol commented on #109
@rebeccalendl your copy looks fine to me. ask @cablegreen

[2015-09-23 00:27] robmyers commented on #125
Added.

[2015-09-23 00:27] #125 closed

[2015-09-23 00:44] robmyers commented on #126
I've added both, with their names as well as their descriptions.

[2015-09-23 00:44] #126 closed

[2015-09-24 13:47] sarahpearson opened #128 "Add sentence to text version of license to be consistent with html version"
Via info@, we got word that the following sentence from the bottom disclaimer was not included in the text version of the 4.0 licenses:

The text of the Creative Commons public licenses is dedicated to the public domain under the CC0 Public Domain Dedication.

@peterspdx There is no reason why this would intentionally be different, is there?

[2015-09-24 13:53] peterspdx commented on #128
No.

Sent from my iPhone

[2015-09-25 19:41] #127 closed

[2015-09-25 20:05] rebeccalendl opened #129 "Create alias(es) so that all fundraising related communications to go to rebecca@creativecommons.org"
@mattl @robmyers @mmoreshead

Please redirect all inquiries to donate@creativecommons.org, donor@creativecommons.org, development@creativecommons.org, and any other similar addresses or devo-related correspondence that I may not be aware of to my own email address rebecca@creativecommons.org. Please have these addresses bypass the Freshdesk system entirely. Reasoning is that I'd like to keep all m

[2015-09-25 20:09] robmyers commented on #129
Assigned to Matt, who controls the email system.

[2015-09-25 20:29] mattl commented on #129
These things already come into Freshdesk as emails from our payment
providers, and we don't want to put requests for donation related items
onto GitHub, so we should be assigning them in Freshdesk.

[2015-09-25 22:28] rebeccalendl commented on #129
From a fundraising strategy standpoint, I'd prefer they don't go through Freshdesk so sounds like it's worth a discussion. I'll add to our next weekly.

[2015-09-25 22:29] mattl commented on #129
I'm sorry, it would require changing far too much of the way our current email set up is configured, and negates the way other people are working with requests.

[2015-09-25 22:30] rebeccalendl commented on #129
That may very well be. I'd like an opportunity to learn more, share my process and goals, and make a collaborative decision.

[2015-09-25 22:31] mattl commented on #129
Sorry, but we're not going to reconfigure our email system any time soon.

[2015-09-25 22:32] rebeccalendl commented on #129
Sounds good. Looking forward to being convinced when we connect next week :)

[2015-09-25 22:33] #129 closed

[2015-09-29 21:28] #7 closed

[2015-09-29 22:33] #118 closed

[2015-09-29 22:34] mattl commented on #118
Yeah, we can't do this on the website, but we're making CiviCRM contribution pages anyway now.

[2015-09-30 16:03] rebeccalendl opened #130 "update contact info memo on stripe"
currently says "You can contact us with any questions by emailing elliot@creativecommons.org"

please update to rebecca@creativecommons.org

[2015-09-30 23:03] #121 closed

[2015-10-01 02:09] jessicacoates opened #131 "Restore search to website/blog"
I don't think I'm imagining it - there doesn't seem to be a way to search the website/blog any more.

It would be good to restore it - very useful tool for users and staff.

[2015-10-01 02:11] mattl commented on #131
We made a decision to remove it as the vast majority of searches were for
the commons, not the site.

For a site search, your favorite search engine does a much better job than
we can hope to without a considerable effort.

[2015-10-01 15:38] #131 closed

[2015-10-01 15:41] mattl commented on #130
Where are you seeing this? I don't see it anywhere in Stripe.

[2015-10-01 16:02] mattl commented on #128
https://github.com/creativecommons/creativecommons.org/pull/132/files

[2015-10-01 16:09] mattl commented on #124
Do we want to do this now the page is in Civi? Seems like we might direct people away to the State of the Commons report, which presumably we'd link to.

For links, you can paste the URL, or do this:

    [This text should be a link](https://www.google.com)

[2015-10-01 16:11] mattl commented on #122
Can you send a reminder tomorrow? So far we have files from Tim.

[2015-10-01 16:12] mattl commented on #120
@sarahpearson Do we want to write a note to people, welcoming them to our newsletter list? I have most of this done, but not their donation amount imported.

[2015-10-01 16:14] mattl commented on #115
This page will be translated?

[2015-10-01 16:39] mattl commented on #112
It would be good to know the state of action too.

[2015-10-01 16:48] peterspdx commented on #115
Yes. Ideally. We have asked teams that have completed translations of the licenses to also please consider translating this page. It is linked to from every translation of every 4.0 license. In the future, possibly linked to from 3.0 and prior versions and ports.

[2015-10-01 17:07] mattl commented on #55
@ewilfong I believe we did this on the CC website. We'll need to do this with Civi next.

[2015-10-01 17:12] robmyers commented on #112
Still "ready for testing".

[2015-10-01 17:12] mattl commented on #112
Okay, and the image stuff works now? If so, make a ticket for the people to test it.

[2015-10-01 17:26] sarahpearson commented on #115
The Italian team has a translation of it ready to publish when they publish their 4.0 official translation soon. @mattl you assigned this to me. What should I do? I think it should be a new page on the main site.

[2015-10-01 17:33] sarahpearson commented on #120
yes, good idea. I'll do this. I'm going to talk to Rebecca later this afternoon first.

[2015-10-01 17:56] mattl commented on #115
I assign to you when I need you to do something :) Now I have a sense of this, I'll take it back.

[2015-10-01 17:57] sarahpearson commented on #115
gotcha, sounds good.

[2015-10-01 18:46] robmyers commented on #112
The image stuff is where we left it, with S3 not playing nicely. There is nothing in Rails' or Apache's logs that indicates an error, and we can uplaod files from the command line and via the web.

If you give me access to the account I can poke it, the CORS stuff that we need to tweak may be the problem.

[2015-10-01 19:42] mattl commented on #112
Okay, let's take some time to look at it next Tuesday.

[2015-10-01 21:55] robmyers commented on #112
Thanks, that's great.

[2015-10-01 23:08] rebeccalendl commented on #120
pretty sure the welcome note went out; it was scheduled to send in advance of the global summit program announcement. I think just the donation data is outstanding. Please confirm

[2015-10-01 23:10] rebeccalendl commented on #124
Not sure what you mean, can you share more?

[2015-10-01 23:29] rebeccalendl commented on #119
Don't think I've been added yet to paypal or shopify. I can see Stripe now in Freshdesk.

[2015-10-02 18:05] #109 closed

[2015-10-02 18:06] tvol opened #133 "develop nov issue campaign text (open policy)"
share with @cablegreen and @rebeccalendl; preview messaging with OERUSA list first

[2015-10-02 18:12] rebeccalendl commented on #122
Following up on this import, please prepare email test in civi by next Friday AM for review on Trilogy call "thanks for being part of our community / welcome to our email list." Email will go to 1) CC staff contacts who are not yet in civi, 2) Civi contacts who are not on our email list, but who have not actively opted out. Email will send Friday following the call, or first thing Monday if needed

[2015-10-02 18:15] rebeccalendl opened #134 "Email to full list on Tuesday 10/13 to kick off Global Summit"
Please prep test email in civi by next Friday AM for review on Trilogy call. Review specs below to make sure all looks feasible from tech perspective. I'll be on point for copy.

Flag the start of the summit and offer ways to follow along online
Share are our 5 big themes
“We want to hear from you. What do you think is the most important theme we’ll be addressing? Click here to share thoughts”
5 r

[2015-10-02 20:32] rebeccalendl opened #135 "civi buttons are fuzzy in chrome"
<img width="1280" alt="screen shot" src="https://cloud.githubusercontent.com/assets/13322149/10256981/89929b30-6909-11e5-9f92-884f434bddf2.png">

[2015-10-02 20:33] robmyers opened #136 "Action Default Email"
As per here: https://github.com/robmyers/action-center-platform/issues/4

We need to change the default email to something from CC rather than the EFF:

https://raw.githubusercontent.com/robmyers/action-center-platform/master/config/action_email.md

Is that something you can/would like to do? If not please assign it back to me and I can mash-up something from the about page. :-)

[2015-10-02 20:39] robmyers commented on #111
We're going to look at this next week, it's probably an issue with Amazon storage configuration.

[2015-10-02 23:20] tvol opened #137 "does http://scholars.sciencecommons.org/ have a heartbeat?"
on twitter, someone asking about the Scholar's Copyright Addendum Engine; used to be located at this page

[2015-10-03 21:01] peterspdx commented on #137
It was up, and it needs to get back up before the Summit. It's part of the Open Access session.

@Mattl, can you find it and restore it please?

@tvol, what's the note on twitter? I'm interested, because we're updating the engine and agreements with SPARC and Authors Alliance.

[2015-10-03 23:18] tvol commented on #137
@diane it's public on our Twitter feed. just someone wondering why it doesn't work anymore.

[2015-10-03 23:41] peterspdx commented on #137
understood. I've been working on that with sparc and authors alliance, and it was up not that long ago. agree we need it back up, and i was wondering if you had more info about the tweet behind the scenes.

look forward to having that back online.

[2015-10-08 14:49] sarahpearson opened #138 "can you make me an editor of the FAQ please?"
I need to make changes to reflect the GPL compatibility determination, but I see that I no longer have editing access for this page: https://wiki.creativecommons.org/wiki/Frequently_Asked_Questions

Thanks!

[2015-10-08 16:30] robmyers commented on #138
That's weird you should have edit access as a member of the staff group.

Can you please try to create a random page (search for "Random Test" and see if you get a link on the results page that allows you to create it) and let me know if it lets you.

[2015-10-08 16:33] robmyers commented on #134
Heya @rebeccalendl I'll have to do this.

Please can you provide me with a for the live streaming issues, I'm failing at the internet trying to find that. Thanks.

[2015-10-08 16:43] sarahpearson commented on #138
Very strange! I used to be able to edit them.

The wiki will let me create/edit this page: https://wiki.creativecommons.org/wiki/Randomtest

[2015-10-08 16:47] robmyers commented on #138
OK that's really weird. Investigating...

[2015-10-08 16:54] robmyers commented on #138
Ah the FAQ is protected so only administrators can edit it. I've added you to that group.

[2015-10-08 16:54] #138 closed

[2015-10-12 15:28] fasouto opened #139 "Lossless image compression"
While I was compressing some images for a website I discover that this button http://mirrors.creativecommons.org/presskit/buttons/88x31/png/by-nc.eu.png can be reduced more than a 50% with lossless compression. I tested with some images from [this page](https://creativecommons.org/about/downloads) and most of them could be reduced.

It's not a huge change :) but it's easy to do and it can save som

[2015-10-13 19:18] mattl commented on #137
Just updated the DNS, should be back very soon. @tvol let's have a meeting/email soon to discuss what we need to keep on that domain and where we're going to put it on CC.org so we can retire the Science Commons websites

[2015-10-13 19:19] mattl commented on #128
@sarahpearson Take a look at my pull request when you get a chance.

[2015-10-13 19:23] mattl commented on #120
Yeah, this was the email that went: https://donate.creativecommons.org/civicrm/mailing/report?mid=492&reset=1

[2015-10-13 19:24] peterspdx commented on #137
@mattl @tvol We need it live for awhile, somewhere. I think there should at most be a redirect, so the link stays good for those who use or reference it as we discuss the Arcadia revamp of SCAE and the addenda.

Regarding science commons site, we should do an inventory. there is a lot of stuff on there I still link to that we need to preserve live somewhere in an orderly fashion. can we discuss po

[2015-10-13 19:25] mattl commented on #137
:+1:

[2015-10-13 19:33] mattl commented on #119
Closing this. Going to make tickets in Freshdesk. @rebeccalendl let's keep financial stuff there, where we can loop Scott in.

[2015-10-13 19:44] mattl opened #140 "Wiki usernames are case sensitive, we should display them as such"

[2015-10-14 14:04] ewilfong opened #141 "Use GA event tracking for form signups"
Google Analytics can record form submissions through event tracking (https://developers.google.com/analytics/devguides/collection/analyticsjs/events).  I recommend we implement this for forms across the site, but perhaps it’s easiest to start out with implementing it on the open textbook signup.

I don’t have a specific recommendation for the code to implement this, but there are a few JavaScript

[2015-10-14 23:16] rebeccalendl commented on #122
@mattl Hope you are feeling better. Not sure what your schedule is like this week - possible to get the import complete and the welcome email out by Friday?

[2015-10-14 23:17] mattl commented on #122
Only one person has sent me anything, so no.

[2015-10-14 23:19] rebeccalendl commented on #122
I thought I had heard confirmations from Sarah, Jane, Tim, and myself. Is that not right?

And we also can send to all emails in civi who are not signed up but have not opted out, yes?

[2015-10-14 23:22] mattl commented on #122
I've only seen one from Tim. Can you ask people to double check? They
should be emailing a CSV file to webmaster@creativecommons.org

[2015-10-14 23:31] rebeccalendl commented on #122
I just fwded you mine and sarahs which were sent to webmaster. I'll check with the other staff.

[2015-10-16 04:58] rebeccalendl commented on #122
What's the status on this?

[2015-10-16 17:06] mattl commented on #122
Can you export your contacts again and resend? Doing a couple test runs with Sarah and Tim's and your export is missing a large number of fields.

[2015-10-16 19:07] mattl commented on #122
Got approximately half of tvol's imported, a ton of dupes are holding me up now.

[2015-10-16 21:17] rebeccalendl commented on #122
I spent a lot of time cleaning up names and adding info so not easy to do a second time. Is it essential or can it be imported as is? If essential, you'll want to please note to full staff by replying to my staff reminder email any specifications you have for their exports before they send you their data (especially for staff with long contact lists who are not likely to go through the activity tw

[2015-10-16 21:19] mattl commented on #122
You've removed a ton of the columns which are present in the export. I'll
just wait until we're done to do yours, hopefully everyone else continues
to send a Google export format.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Fri, Oct 16, 2015 at 4:17 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-10-16 21:25] rebeccalendl commented on #122
please let them know what you need. it will be a challenge to get them all to do it once, and likely not possible to ask them to do it again.

[2015-10-16 21:31] mattl commented on #122
Done.

[2015-10-19 19:13] rebeccalendl commented on #122
Again checking on status? Waiting on test email to current staff contacts and civi people who have not opted out.

[2015-10-19 19:17] mattl commented on #122
Have all of tvol imported. So many dupes are causing a bunch of problems on
the import. When can you get those fixed?

[2015-10-19 19:21] rebeccalendl commented on #122
What does "can you get those fixed mean"? I don't have any outstanding instructions that I am aware of.

Also, any reason why we couldn't still send the email out as it would remove any duplicate sends?

[2015-10-19 19:25] mattl commented on #122
I thought you and Mari were working on fixing up the dupes?

The problem isn't sending the email, but importing them into Civi. A lot of
people in Tim's contacts were already in Civi with dozens of records. Those
duplicates have to be merged so we can successfully import the contacts and
get them in a place to be emailed.

[2015-10-19 19:29] rebeccalendl commented on #122
Are you referring to this? https://creativecommons.freshdesk.com/helpdesk/tickets/15756

I didn't hear back from you on it yet. The dupe clean up project is massive and ongoing, I was not made aware that this email send was dependent on that. As I've said a bunch of times, the goal of the email send was to synch it with the summit, would be impossible to clean up all of civi before that.

[2015-10-19 19:35] mattl commented on #122
I didn't see your reply in Freshdesk until now. You'd need to assign the
ticket to me for me to see it.

The email send isn't dependent on the duplicates, but it does make it a
slow process.

Currently, I have to:

* Import contacts
* Look at error records (missing email addresses, etc)
* About half of them come back as duplicates

When I have the list of duplicates, I have to import them into a t

[2015-10-19 19:42] rebeccalendl commented on #122
I sent the freshdesk ticket directly to your email address. Wouldn't that mean that you see it even if it wasn't reassigned?

If you are changing the dependencies on a project, you need to make me aware of that. I did not have it on my task list to do the clean up before the summit. In fact, that would have not been possible - it will likely be completed no sooner than year-end.

I know you were o

[2015-10-19 19:45] mattl commented on #122
See my previous comment, this project is certainly possible without
cleaning up the database.

[2015-10-19 19:48] rebeccalendl commented on #122
Great. Let me know your timeframe please. And let me know if I can help or if am holding you up at all for any reason. I'd like to review email and recipient list before anything goes out.

[2015-10-19 19:52] mattl commented on #122
I should have all the contacts I have imported into their various groups
today. I will run some checks against them to remove anyone with a Canadian
email address, and then emails from staff members to their contacts can be
sent.

I don't think we have any copy for that, so if you want to write something,
that'd be useful. I'm happy to write a few short sentences too, based on
the Kickstarter/News

[2015-10-19 19:57] rebeccalendl commented on #122
Copy is here
https://docs.google.com/document/d/1_b-MMgwpj5Nu2JNpkja_cHCQppiRbJgbvpjF2PIXRDE/edit

Please also plan to send to currently in civi who have not opted out.

[2015-10-19 20:00] mattl commented on #122
We should probably tweak it a bit now, as it talks about tuning into the
summit.

Also, we only want one link, so I guess that will be to the summit website?

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Mon, Oct 19, 2015 at 2:57 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-10-19 20:02] rebeccalendl commented on #122
I'll finesse copy. You work on recipient list. Can you also confirm my few previous notes about currently in civi not opted out since I think that will be the bulk of our recipients, yes?

[2015-10-19 20:07] mattl commented on #122
Are you referring to people outside of the staff contacts, but who are
not-opted out of receiving emails from us but who are not on our
newsletter?

[2015-10-19 20:07] rebeccalendl commented on #122
correct

[2015-10-19 20:10] mattl commented on #122
Okay, I'll open another issue about that. I did the work a few weeks ago to
check all the email addresses we had, and we have a bunch of them marked as
"do not email" now.

[2015-10-19 20:14] mattl opened #142 "Email to all non-newsletter non-opted out contacts"
@rebeccalendl Are we planning to add them to the newsletter directly?

[2015-10-19 20:25] rebeccalendl commented on #142
Yes, the same 'invite to opt out' email is going to be sent to:

1) Contacts in civi who are not already on email list, but have not actively opted out
2) CC staff contacts who are not already on the mailing list

I feel like we've discussed this so very many times, so want to make sure I'm not misunderstanding your question. Can you confirm?

[2015-10-19 20:28] mattl commented on #142
Okay. I just want to make sure we get this right because undoing it will be a lot of work :)

Some staff contacts are explicitly not for the newsletter. How do we want to handle those? Just mark them as Do not email?

[2015-10-19 20:31] rebeccalendl commented on #142
Anyone who has opted out should be marked as such, yes.

I agree we want to get this right and that it's a big project. I'd be happy to have a call tomorrow to run through any details.

[2015-10-19 21:24] mattl commented on #122
All contacts I have now are imported, I will be checking them for
things we need to remove such as Canadian addresses.

[2015-10-20 16:44] rebeccalendl commented on #122
Thanks for the update. Copy is final and ready when you are.

[2015-10-20 16:49] mattl commented on #122
Added some notes to the copy, we need a few more tweaks still.

[2015-10-23 14:51] mattl opened #143 "Radio buttons on chooser don't work"
There's a missing JS function, chooselicense.

For example: https://creativecommons.org/choose/results-one?license_code=by&amp;jurisdiction=&amp;vers...

there are radio buttons to let me select which style I want to put on
my website. Unfortunately, when I click the button to select the
smaller style it does nothing. It should change the style in
the preview box and in the website code.

[2015-10-23 15:06] brodybits commented on #143
+1 thanks!

[2015-10-23 23:40] #134 closed

[2015-10-23 23:43] #100 closed

[2015-10-23 23:55] robmyers commented on #140
The theme was downcasing them. I've changed it so they are displayed with the original capitalization.

[2015-10-23 23:56] #140 closed

[2015-10-26 15:26] peterspdx commented on #115
mattl: we have an opportunity for funding for a French version of this same page, plus these additional pages:

(1) FAQs
(2) What's new in 4.0
(3) Public domain tool main page
(4) CC0 FAQ
(5) PDM FAQ

This same issue applies to all of these pages as well. I would expect the French translations to be done before the end of the year. The Italian "considerations" page will be the first; but we should

[2015-10-26 17:09] mattl opened #144 "Write copy for Lessig feature on new homepage"
About 65 words plus a title.

Also, what's the action people can take? Donate?

[2015-10-26 17:25] rebeccalendl commented on #144
I'm just waiting for the copy here to be final (EOD today) and then I will adapt from that. Timing ok for you?

https://docs.google.com/document/d/1LmRua-Eb7E3h8c7QKQdfpJWRf-XSpigx_KDuAVRmYtM/edit

[2015-10-26 17:32] mattl commented on #144
That should be okay. I'm a little concerned about the length, and how we'll get those Korean characters in an email to look good, but should be okay.

[2015-10-26 17:34] rebeccalendl commented on #144
Was thinking of using the first few sentences, not the whole thing, plus a short call to action. I'll draft something for you to have, and will stick it on the same doc following the email draft.

[2015-10-26 17:36] mattl commented on #144
Cool. Can you post a heads up here when it's there?

[2015-10-26 17:41] rebeccalendl commented on #144
k. draft is there. again, won't be final until eod. let me know if too long and I can chop.

[2015-10-26 17:49] mattl commented on #144
Locked myself out. I noticed that anyone with the link could edit, which means anyone reading this ticket :)

[2015-10-26 18:39] rebeccalendl commented on #144
oopsies! updated thx

[2015-10-26 21:03] rebeccalendl commented on #144
we are still before the eod deadline but everyone involved has weighed in so I think we are good to go. let me know what else you need to send along a test and draft homepage

[2015-10-26 21:47] sarahpearson commented on #128
@mattl it looks good except that I'm not sure why the line about prior written consent is grayed out. Does that just mean it was in both versions? In any case, assuming that line is in the new version, looks good. Thanks!

[2015-10-27 16:32] janeatcc opened #145 "my account for open4us.org is gone"
trying to log in so i can update the page of how to join the open4us community: https://open4us.org. would like to tell folks to request access at the google+ community AND also email taa@creativecommons.org. right now it's impossible to verify who to verify to join community.

can i get my login back? or @pgstacey can just update if he still has account. thanks!

[2015-10-27 16:35] mattl commented on #145
You should be able to reset your password now.

[2015-10-27 16:35] #145 closed

[2015-10-27 21:02] rebeccalendl opened #146 "CAH event on 11/14 - invite from social (not email) with ticketing info by Fri AM 10/30"
Draft copy, waiting on info from CAH:

Saturday, November 14
Doors 7, Show 8
Sponsored by X (?)

Cards Against Humanity - the epic CC-licensed party game we all know and love - will be hosting an evening bash in Chicago, a full night of comedy all in support of Creative Commons! Join CAH co-creator Max Tempkin and CC CEO Ryan Merkley and X, Y, and Z at CAH’s new space (and former pickle factory!)

[2015-10-27 21:16] mattl commented on #146
You can change the settings for the event, including prices and address, time, date, etc here: https://donate.creativecommons.org/civicrm/event/manage/settings?reset=1&action=update&id=13

From this screen: https://donate.creativecommons.org/civicrm/event/manage?reset=1 you can click 'Event links' and then 'Registration (Live)' to get the link you need to share to get people to register for real.

[2015-10-28 15:16] nasirkhan opened #147 "Use same size images in home page bottom area"
Please use the same size images in the home page bottom area.

![homepage bottom article block image size](https://cloud.githubusercontent.com/assets/396987/10792936/04cdb802-7db9-11e5-85d2-4e10169a40f8.png)

[2015-10-28 15:21] nasirkhan opened #148 "Home page main block padding issue"
Home page main block have some padding issue in the mobile view.

![padding inconsistency home page](https://cloud.githubusercontent.com/assets/396987/10793119/b78eee8e-7db9-11e5-90d4-1d43724ab5f7.png)

[2015-10-29 17:24] mattl opened #149 "Action vs Civi"
I didn't see this on the agenda for the meeting. Let's discuss more next week, but it sounds like the problem with Civi is simply one of basic layout?

@tvol @rebeccalendl

[2015-10-30 15:03] mattl commented on #149
Thinking more about this, is this related only to forms generated by Civi (aka Profiles)?

[2015-10-30 16:53] sarahpearson opened #150 "ibiblio sign-up for license-development list not working"
Got an email from someone who keeps getting an "invalid captcha" response when trying to sign up. Not sure if this is a problem more generally, or if it is just for this individual. In either case, is there a way to help this person? Thanks!

[2015-11-02 18:26] mattl commented on #149
@rebeccalendl Any thoughts on this?

[2015-11-02 18:26] mattl commented on #150
If you want to send me their email address, I can add them manually.

[2015-11-02 18:26] #150 closed

[2015-11-02 18:27] mattl commented on #122
Just waiting on Ryan now, who we may want to treat differently anyway.

[2015-11-03 18:28] rebeccalendl opened #151 "civi list size in December 2013, 2014 and now 2015?"
@mattl can you pull these 3 data points for me? I want to plan for our year end campaign and build on what we know from previous years about who received our fundraising emails. Thanks.

[2015-11-03 22:44] mattl commented on #151
I can pull the numbers on how many emails were sent at various times, but we sent a lot of emails for some of these. I'll try and get some better numbers soon.

[2015-11-03 22:55] rebeccalendl commented on #151
To clarify, I just need total # of recipients of our general YE campaign outreach (not a specific breakdown by each email sent). So should be three numbers total (for example, list size = 20K in 2013, 30K in 2014, 40K in 2015) so I have a sense of our YE campaign income in relation to list growth. Make sense?

[2015-11-03 22:57] mattl commented on #151
Yep, however we don't have historical records like that so I'll need to go
back through all the emails we sent around that time and find the numbers.

[2015-11-04 18:44] rebeccalendl opened #152 "Image for small run of new CC tote?"
@mattl I'd like to do a small run of tote bags of the awesome graphic you created for the recent goodbye gifts. Same multi-color graphic, but text below would say I love to share / Creative Commons (white on black tote). What do you think? File type would be photoshop hi res. psd file, or vector artwork as an ai or eps file, or vector artwork in pdf format

[2015-11-04 19:02] rebeccalendl opened #153 "new page nested under supporters page for 1k level supporters"
Please bump the current 1k -1999 list to a new page that's linked to from the current supporters page. Add a single bullet point under the existing 1000 - 1999 header that says: "Thank you to our additional supporters" with 'additional supporters' linking to new page

[2015-11-04 19:42] mattl commented on #152
I can make a PDF without problem for sure. When do you need this?

[2015-11-04 23:39] rebeccalendl commented on #146
Event postponed to Q1 2016

[2015-11-04 23:39] #146 closed

[2015-11-04 23:40] #142 closed

[2015-11-04 23:40] #144 closed

[2015-11-04 23:41] #122 closed

[2015-11-05 17:01] rebeccalendl commented on #153
@mattl Is it possible for this to happen today? There's a long backstory I can share on strategy if helpful/necessary.

[2015-11-05 17:02] mattl commented on #153
Yeah, this should take me a couple minutes.

One sec.
On Nov 5, 2015 11:01, "rebeccalendl" <notifications@github.com> wrote:

[2015-11-05 17:08] mattl commented on #153
All set. You should be able to tweak the styling of the link, etc.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Thu, Nov 5, 2015 at 11:02 AM, Matt Lee <mattl@creativecommons.org> wrote:

[2015-11-05 17:15] rebeccalendl commented on #153
I'm getting repeated server error when I try to update

[2015-11-05 17:16] mattl commented on #153
try again in 15 mins and if you're still having problems, let me know

[2015-11-05 17:40] mattl commented on #153
Looks like it worked now.

[2015-11-05 17:40] #153 closed

[2015-11-06 00:04] rebeccalendl commented on #151
Any progress here? I'd like to share with Trilogy on the call tomorrow. For context, we had 480 donors under $500 each totaling 36k in 2013, and 535 donors under $500 each totaling 27k total in 2014. I'd like to have the total # of YE campaign recipients to go with each of those years, as well as total # of YE campaign recipients we are planning for this year.

[2015-11-06 00:06] mattl commented on #151
I'll try and get some numbers together for tomorrow's call. Been working on
legal stuff all afternoon.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Thu, Nov 5, 2015 at 6:04 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-06 00:46] rebeccalendl commented on #149
Sorry, I had updated my comment on this in a googledoc to you and not here. I though we decided to hold on Action for now, so not pressing, that seemed to be the consensus. Let me know if I'm missing something.

[2015-11-06 18:25] rebeccalendl commented on #151
@mattl any numbers here or not yet?

[2015-11-06 18:29] rebeccalendl commented on #152
Is Monday doable?

[2015-11-06 18:36] rebeccalendl opened #154 "Week of 11/16 website update to include Open Business model plug"
Just setting up a ticket for this update. The plug will go in the bottom left corner of the homepage where 'relive the magic' currently lives.
@sarahpearson to draft copy and select image with link to medium
@mattl to update site by end of week Fri 11/20

[2015-11-06 18:55] tvol commented on #133
cleaning up the draft here: https://docs.google.com/document/d/1imXZ-USyWo0KjKBRWyENl9CTmOjA4zw7_jLrEXFPzT0/edit

[2015-11-06 18:55] tvol opened #155 "develop TPP issue campaign text for Nov 24"
Tuesday 11/24 AM
TPP email; petition, capture email and country
will draft something based on
https://creativecommons.org/weblog/entry/46455
https://creativecommons.org/campaigns/trans-pacific-partnership-would-harm-user-rights-and-the-commons

[2015-11-06 22:56] tvol commented on #133
@cablegreen can you review again please https://docs.google.com/document/d/1imXZ-USyWo0KjKBRWyENl9CTmOjA4zw7_jLrEXFPzT0/edit#

[2015-11-07 01:38] cablegreen commented on #133
Done. Looks great!

Cable

[2015-11-09 18:07] tvol commented on #133
@mattl does this have everything you need for the webpage and form? https://docs.google.com/document/d/1imXZ-USyWo0KjKBRWyENl9CTmOjA4zw7_jLrEXFPzT0/edit#

[2015-11-09 18:59] rebeccalendl opened #156 "confirm SOTC format works for translation process"
Sent draft SVG files from designer to your inbox, let me know if this works for our translation needs

[2015-11-09 19:05] mattl commented on #156
I don't have any SVG files. Can you send them again?

[2015-11-09 19:05] mattl commented on #156
Ignore that, they just came in.

[2015-11-09 19:49] rebeccalendl commented on #152
Printer requesting receipt of artwork no later than Friday and ideally sooner in order to have totes in hand by Thanksgiving. Let me know if doable.

[2015-11-09 19:49] mattl commented on #152
Sure, do you have dimensions? I can get this to you today.

[2015-11-09 19:50] rebeccalendl commented on #151
I need this at the latest for tomorrow's 11:30am PST call on YE campaign, or please let me know if there's some reason why it's just too complicated and/or time consuming.

[2015-11-09 21:03] mattl commented on #151
2013: 12k
2014: 20k
2015: 38k (likely to go down a bit)

[2015-11-09 21:03] #151 closed

[2015-11-09 21:40] rebeccalendl commented on #151
Thank you!!

[2015-11-10 17:40] rebeccalendl commented on #152
9 inches tall x 8.5 inches wide

[2015-11-10 17:48] mattl commented on #152
![tote](https://cloud.githubusercontent.com/assets/33296/11070367/e3d17d9a-87a0-11e5-8a2c-73be0925ea65.png)

[2015-11-10 17:50] mattl commented on #152
![tote2](https://cloud.githubusercontent.com/assets/33296/11070421/2e793cc0-87a1-11e5-8a57-9208982d5b66.png)

[2015-11-10 17:52] mmoreshead commented on #152
Isn't it a lowercase i?

[2015-11-10 17:54] mattl commented on #152
I guess it is.

[2015-11-10 17:54] mattl commented on #152
![6302912234_7d20e167ba_b](https://cloud.githubusercontent.com/assets/33296/11070538/bed97cc6-87a1-11e5-97cf-71f5dfc23b89.jpg)
 from @tvol's modelling days

[2015-11-10 17:56] tvol commented on #152
i'm yet to see any royalties

[2015-11-10 17:59] mattl commented on #152
![g10](https://cloud.githubusercontent.com/assets/33296/11070654/70c044b0-87a2-11e5-8efb-5f11d23efa4b.png)

Here you go.

[2015-11-10 17:59] mmoreshead commented on #152
You took the words out of my mouth, @mattl

[2015-11-10 19:31] mattl commented on #152
![tote](https://cloud.githubusercontent.com/assets/33296/11073248/63419264-87af-11e5-9531-2c941d7e7f94.png)
![tote2](https://cloud.githubusercontent.com/assets/33296/11073249/634324c6-87af-11e5-989b-9e3b83c9d41b.png)

[2015-11-11 17:12] rebeccalendl commented on #156
Do you have 10 minutes to talk through this and a few other SOTC related items today?

[2015-11-11 17:14] mattl commented on #156
Sure. my calendar is up to date

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 11, 2015 at 11:12 AM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-11 17:23] rebeccalendl commented on #156
Thanks! Just sent an invite but feel free to adjust if needed. I'm open today except for 11-12 pst.

[2015-11-11 17:52] rebeccalendl commented on #152
I agree with your preference for the stacked version. What do you think about increasing the size of the CC logo so that it aligns with the length of the 'i love to share' above it? will you send final version to me via email in file type photoshop hi res. psd file, or vector artwork as an ai or eps file, or vector artwork in pdf format, (or can I just save from here without altering image quality

[2015-11-11 18:07] mattl commented on #152
Yeah, I'll send you a PDF and a high res PNG. I don't know how to make the
others.

[2015-11-11 18:14] #152 closed

[2015-11-11 20:29] rebeccalendl commented on #120
@mattl I'm finding some KS donors whose contribution is not attached to their record despite their contribution email address matching their civi email address. can you look into this?

[2015-11-12 20:14] rebeccalendl commented on #156
Just sent you updated from the designer. Let me know what your needs are if any for smooth translation and push to web. Thanks!

[2015-11-13 15:07] sarahpearson commented on #154
Sent copy and image via google doc to @mattl. Let me know if there is anything else you need!

[2015-11-13 15:17] mattl commented on #154
![screenshot from 2015-11-13 09-16-39](https://cloud.githubusercontent.com/assets/33296/11149271/4ec2d872-89e7-11e5-92f7-c5cf42c1a7d5.png)

All set for next week.

[2015-11-13 23:34] tvol commented on #133
@mattl @rebeccalendl I drafted the campaign page https://creativecommons.org/campaigns/open-licensing-policy-at-department-of-education, but it needs the form signup with the fields listed on https://docs.google.com/document/d/1imXZ-USyWo0KjKBRWyENl9CTmOjA4zw7_jLrEXFPzT0/edit

[2015-11-17 00:34] mmoreshead opened #157 "Remove Jess & Carolina from /staff page"
http://creativecommons.org/staff

[2015-11-18 18:33] rebeccalendl commented on #120
any update here?

[2015-11-18 19:17] mattl commented on #120
No update. This might be a good use for a profile

[2015-11-19 00:04] #157 closed

[2015-11-19 00:04] mattl opened #158 "Remove wordpress from repo, get and install local composer.phar and use that!"

[2015-11-19 00:05] mattl commented on #158
We'll need to move wp-config and maybe index.php too

[2015-11-19 00:07] robmyers commented on #158
wp-config-local.php.in needs to move to /config . Check index.php . Diff other files?

Install composer via wget, as composer.phar in top level directory.

[2015-11-19 17:51] rebeccalendl opened #159 "Requested updates to https://donate.creativecommons.org/"
I'm open to discussing what is feasible; my requests are:

Add: $1000 as a pre-filled option.
Nix: I want to make a one-time contribution.
Email address collection to happen after Gift Choice with other fields (or is there a reason it's separate?)

Choose Your Gift section update:
New header: Thank you for your support!
As our thank you for your contribution of $50 and above, or for setting your d

[2015-11-19 17:54] rebeccalendl commented on #159
One more: "Process Contribution" button should read: "Donate Now"

And is there a place in wordpress where I can update the copy inside the right side panels myself or does that need to go through you?

[2015-11-19 17:59] mattl commented on #159
* Adding $1000 -- no problem. Should we drop $50, and have $10, $25, $100, $250, $1000, other?

* If we nix that, we can't really take recurring donations as there's no way to unselect that option. We should probably leave it.

* I believe there's a reason it's separate, but I'll see if it can be moved.

Text changes should be easy enough, just the one gift is no problem. They'll need to select th

[2015-11-19 17:59] mattl commented on #159
I'll see if we can change the button text.

The copy is in CiviCRM, I'm happy to update.

[2015-11-19 18:09] rebeccalendl commented on #159
We'll want $50 because of the tote. Can we add Other below the stacked 6 options?
Possible to just click the check mark again to unselect?
I'm assuming there's no way to not be allowed to click Yes for the tote if under 50 or not recurring?
I'll send civicrm copy updates shortly (or you can point me toward it to do myself?)
What are the chances that we can update by next week to grab black friday

[2015-11-19 18:15] mattl commented on #159
Yeah, doing the tote with a recurring donation is not going to work as
someone could very well pay $10 a month and cancel after one month.

The way to do it would be to look at who's giving us money and send to them
after they've given $50, but that might be a lot of work for a tote bag.

I can make it require $50.

I don't think we can add "other" under the others, and we need to be
mindful of ho

[2015-11-19 18:23] rebeccalendl commented on #159
If someone really wants a $5 CC tote that much, I'm fine to send it to them. Would like to incentivize recurring. So let's not make it require $50 unless it can free it up for recurring.

Possible for "other" to be in text and not a button to limit real estate?

Can website URL be the only additional field and just sit neatly with the other info collected?

Nix CC tote descriptor. Make image bigge

[2015-11-19 18:26] mattl commented on #159
For the website thing, we actually need both fields as the purpose of donating to get a link on our site depends on the text of the link as well as the URL. However, I'll see if we can hide the dropdown menu.

Tote is now $0 minimum, so perfect for recurring donations.

I reduced the description down to a few words (it looks weird without any text there) and the preview is much bigger now. Also, i

[2015-11-19 18:38] rebeccalendl commented on #159
The text of the link is now set to default to the company or individual name (as stated in updated text at the top of this issue). No custom text. All copy should be updated with new copy at top of the issue...lots of small changes but I'd like to make them.

Possible for "other" to be in text and not a button to limit real estate? Don't want to lose the other levels since they are the 6 most comm

[2015-11-19 18:45] mattl commented on #159
I believe a lack of custom text will mean nobody will give $1000 for a link.

No, other needs to be a button for now.

That doesn't make sense, because people may still wish to make a contribution without receiving a gift. Forcing a gift would force everyone making a recurring donation to enter their mailing information, which is the thing we're trying to avoid.

The full image doesn't look good w

[2015-11-19 18:53] rebeccalendl commented on #159
No custom text please. The supporters page is designed to recognize our supporters, not for ad space. Although it hasn't been the case thus far and I don't think it will be, I'm fine if this policy prevents a donation or two.

If it needs to be a button, please do 10, 25, 50, 100, 1000, other.

Can't they opt out by click No for the thank you gift?

Sidebar 'where your donation goes" can't be remo

[2015-11-19 18:58] mattl commented on #159
A radio button that says "Yes, I want to contribute this amount monthly and receive a thank you gift from CC!" doesn't make sense if they've selected no gift. I suggest we add something to the gift section that explains recurring donors getting a tote after $50 or whatever.

Sidebar changes are common across the whole site so we'll hold off changing those for now, as they'll be reflected across th

[2015-11-19 19:11] rebeccalendl commented on #159
Is this in civi? perhaps you can point me to it and I can make a few small changes (without touches the sidebars as you noted)?

[2015-11-19 19:15] mattl commented on #159
Sorry, which part do you want to change? There's a few different places for the various things.

[2015-11-19 19:17] rebeccalendl commented on #159
I have a few small changes for each section.

[2015-11-19 19:20] mattl commented on #159
You can change a lot of things here: https://donate.creativecommons.org/civicrm/admin/contribute/settings?reset=1&action=update&id=34

You can configure the tote bag here: https://donate.creativecommons.org/civicrm/admin/contribute/managePremiums?action=update&id=35&reset=1

And this is the profile that's displayed at the bottom (be careful with this one, it's live)

https://donate.creativecommons

[2015-11-19 20:00] mattl commented on #159
I re-enabled the contributor source on the Mailing and Supporter List Opt-in profile. This helps us identify where the donation comes from in Civi.

[2015-11-19 20:20] rebeccalendl commented on #159
Ok, I've made some updates. A few notes:
-all look ok to you?
-can we switch the order on the premium section to be yes first, then no?
-I added URL to the shipping profile, but can't figure out how to add to billing profile so it's not showing up still. I'd prefer it there to the mailing list section.
-Some copy I can't find to update (mailing list intro section for example)

[2015-11-19 20:24] mattl commented on #159
There is no billing profile, only a shipping profile. PayPal and Stripe handle the billing part of things.

We can move it back to the mailing and supporter list opt-in profile and put text around it to make it a distinct field.

I believe the premium order isn't something we can change right now.

[2015-11-19 20:37] rebeccalendl commented on #159
Let's leave URL off for now if we can't tuck it into the shipping/billing section. Rather keep the page clean. Still feels a bit clunky overall, but I think it's the best we can do given the limitations. Thanks for all the updates, and sending me into civi to dig around. Helpful for me to see where we can and cannot customize.

[2015-11-19 20:38] mattl commented on #159
There's a lot more that could be done here, but that would require some more development time from Giant Rabbit.

[2015-11-19 20:43] rebeccalendl commented on #159
Ok. For now, please do pull URL and move copy back under the check box.

[2015-11-19 20:56] mattl commented on #159
Done. Hidden the "Where does your contribution go?" box on all donation pages, and gave it a quick test on mobile. Seems okay. How does it look for you?

[2015-11-19 20:59] rebeccalendl commented on #159
Yep, definite improvement. Thanks!

[2015-11-20 17:48] rebeccalendl commented on #154
@mattl can you update or let @sarahpearson know if you need anything additional?

[2015-11-20 17:49] rebeccalendl commented on #159
Can this go live on Wednesday? Can other merch items be moved to our online shop?

[2015-11-20 17:51] mattl commented on #154
Live.

[2015-11-20 17:51] #154 closed

[2015-11-20 17:53] mattl commented on #159
I can put it live on Wednesday, please coordinate with @mmoreshead to get things up on the store.

[2015-11-20 18:19] mmoreshead commented on #159
Happy to help with this.  Will add the product now & make it live whenever you say.  @rebeccalendl - have you coordinated with Noonaco?

[2015-11-20 18:24] rebeccalendl commented on #159
@mmoreshead  not yet but have an email queued up for today. I'll keep you in copy.

[2015-11-20 18:25] mmoreshead commented on #159
@rebeccalendl what do you want it to say in the store about it in the description section?

[2015-11-20 19:05] rebeccalendl opened #160 "Homepage hero update 12/8 to synch with SOTC launch"
details to follow

[2015-11-20 19:11] mattl commented on #160
Assigning this back to you. Please reassign to me when we have the details. We can do headline, text, image or video, or a combination of all. Plus usually one button to link off somewhere.

[2015-11-21 00:23] rebeccalendl commented on #156
@mattl if you agree will you add Happy Birthday to the language strings when you do the translation outreach? We can use them in the 12/16 email, easiest to grab them when we grab the SOTC translations.

[2015-11-21 00:48] tvol opened #161 "add twitter cards to cc.org"
Can we get twitter cards so that users automatically get a CC icon preview in twitter posts when there is no image provided? It seems to be importing a thumbnail when there is an image in the blog post. For example, https://twitter.com/creativecommons/status/667716179549523968. But when there is no image,  it's just blank. For example, https://twitter.com/cgreen/status/666316018768285696.

Looking

[2015-11-23 18:27] tvol commented on #155
@mattl we need the signup form for the TPP campaign tomorrow. I put the draft text onto a page here https://creativecommons.org/campaigns/stop-the-tpp

[2015-11-23 18:28] mattl commented on #155
And we want to collect Name, City, Country and a comment, right?

[2015-11-23 18:33] tvol commented on #155
@mattl email too

[2015-11-23 18:34] mattl commented on #155
Sorry yeah. Email too. And their MySpace profile.

[2015-11-23 20:24] rebeccalendl opened #162 "CC open gift guide"
Would like to launch an open gift guide this week to include in our Friday email, will send draft to staff for review today and open for discussion on staff call. Attaching here a screenshot of the draft guide, also a few examples on how we can integrate with our website (inline frame, frameset, or just a link) let me know what you think is best. Possible to get this live by EOD Wednesday?
<img wi

[2015-11-23 20:54] mmoreshead commented on #159
To be clear, all items currently appearing on donation page: heart logo/ilovetoshare/othertote/hoodie are to be moved to the store -- is that right?

Not all items there have a description in our store but it might be nice if they did.  We can update that part anytime, what is important now is price.  Does this look about right or shall I adjust, @rebeccalendl ?

**I love to share - Heather Grey**

[2015-11-24 00:16] rebeccalendl commented on #155
good to go for tomorrow AM?

[2015-11-24 00:27] tvol commented on #155
@rebeccalendl almost

[2015-11-24 00:28] tvol commented on #155
![screen shot 2015-11-23 at 4 27 13 pm](https://cloud.githubusercontent.com/assets/231665/11354265/1d3c11ea-91ff-11e5-9d58-d15d700e4989.png)
@mattl can you made it so the text for the comment question does not break into 2 lines?

[2015-11-24 00:31] mattl commented on #155
@tvol -- done. If you change the template to "Video Grid" in the WordPress editing interface, you can get rid of the sidebar too.

[2015-11-24 00:39] tvol commented on #155
@mattl looks the same to me

[2015-11-24 00:57] tvol commented on #155
@mattl @rebeccalendl  we need those unique links to get trackback information for email/facebook/twitter, right? can we just make them up based on what we did beforehand? https://docs.google.com/spreadsheets/d/1PfiMfQbUw6l69lELBJE1Bem77kFy5OpciikMCgbX_Lw/edit#gid=1200001469&vpid=A1

[2015-11-24 00:58] mattl commented on #155
@tvol looks like you saved over my change :P one sec.

[2015-11-24 00:59] tvol commented on #155
@mattl i'll go back to perusing myspace

[2015-11-24 00:59] mattl commented on #155
good idea. fixed.

[2015-11-24 03:18] mattl commented on #155
Updated the DNE email list. A few hundred people, many had an existing DNE
flag but also a bunch of dupes. Fixed both.

[2015-11-24 17:42] rebeccalendl opened #163 "Donor reporting by region"
Can you set up a reliable system for me to be able to accomplish this and similar without tech support?:

Does civi let me pull a report that eliminates duplicates? I'm looking to pull total quantity and names of donors in NY state. The donor report pulls all donation instances of the same donor so can't tell qty without spending time manually deletes dupes. Know any tricks?

[2015-11-24 17:42] tvol commented on #155
@mattl do you know how to generate the unique URLs for email/fb/tw tracking?

[2015-11-24 17:43] mattl commented on #163
when do you need this report?

[2015-11-24 17:50] rebeccalendl commented on #163
This specific report I can hold until Monday or Tuesday of next week, but in general this is a great example of common database function that I'd need to have handy anytime.

[2015-11-24 21:07] rebeccalendl commented on #159
Made a few updates below. Will you also add the item type to the titles of the first few tees so it's clear?

I love to share - Heather Grey
Price: $20
I love to share - Navy Blue
Price: $20
Tote Bag (plain logo) - Black
Price: $10
Hoodie - Black
Price: $35

[2015-11-24 21:40] mattl commented on #163
Sent you something in email, let me know what you think.

[2015-11-24 23:48] mattl opened #164 "Icons"
Making some prototypes for the open gift guide
![genimg](https://cloud.githubusercontent.com/assets/33296/11384211/9d56f30c-92d3-11e5-89d6-63e91ec5e0a2.png)

[2015-11-24 23:57] mattl commented on #164
Same exact size as our existing button, which works nicely.

[2015-11-25 00:00] mattl commented on #164
Also color options, etc.
![hotpinkbysa](https://cloud.githubusercontent.com/assets/33296/11384420/2f72c6e8-92d5-11e5-9d2e-f1445a59cf7b.png)

![bysa](https://cloud.githubusercontent.com/assets/33296/11384406/0942aa6a-92d5-11e5-8595-1a0b45c0bffb.png)

[2015-11-25 01:42] janeatcc commented on #164
Looks great to me.. but did you mean to assign rebecca?

[2015-11-25 01:46] mattl commented on #164
Nope, just keeping you in the loop.
On Nov 24, 2015 7:42 PM, "Jane" <notifications@github.com> wrote:

[2015-11-25 01:47] janeatcc commented on #164
Nice. I think in addition to grey we want black on white versions for platforms.

[2015-11-25 01:49] mattl commented on #164
Yeah, I'm going to set it up so you'll have a form where you can set
colors, size and the name of the platform and it'll generate all the files
and put them on licensebuttons.net
On Nov 24, 2015 7:47 PM, "Jane" <notifications@github.com> wrote:

[2015-11-25 20:14] rebeccalendl commented on #162
@mattl do you have a URL for the store? want to share with peeps who have offered to send out promo

[2015-11-25 20:16] mattl commented on #162
http://creativecommons.org/openstore -- nothing there yet, but i will make sure that link works for those people who come there

[2015-11-25 21:16] rebeccalendl commented on #162
Smaller copy, smaller overall real estate per item (or is that a necessity for mobile?). possible menu type headers at top to browse by category? overall just takes some effort to absorb the range of possible products and potentially lowering likelihood of a purchase (without scrolling I only see two halves of two products)

[2015-11-25 21:35] rebeccalendl commented on #162
items smaller still? and main header also eats up a lot of space.

[2015-11-25 21:48] rebeccalendl commented on #162
thats great. just that header shrink saves a ton of space. good to go. you agree?

[2015-11-25 21:49] mattl commented on #162
yep. i'm good to put this up on the site.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 25, 2015 at 3:48 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-25 21:51] rebeccalendl commented on #162
maybe we can update one of the website content panels on homepage lower left in the next few weeks so we can promote the shop a bit before the holidays. I'll add to the list of website stuff for YE.

[2015-11-25 21:52] mattl commented on #162
Cool

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 25, 2015 at 3:51 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-25 22:00] janeatcc commented on #156
Update: we'll have final condensed version by EOB today, then we'll need to input into Google form so I can send on to affiliates for translation.

[2015-11-25 22:02] mattl commented on #156
Cool, we'll do that first thing on Monday

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 25, 2015 at 4:00 PM, Jane <notifications@github.com> wrote:

[2015-11-25 22:03] rebeccalendl commented on #156
Our affiliate translation deadline is today

[2015-11-25 22:04] janeatcc commented on #156
@mattl if you want to create the basic google form, i can copy and paste in the final if you're off.

[2015-11-25 22:04] mattl commented on #156
When will I get the copy? I'm done for Thanksgiving in 2 hours, and putting
it into a form takes a bit of time.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Wed, Nov 25, 2015 at 4:03 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-25 22:05] mattl commented on #156
ok

[2015-11-25 22:08] janeatcc commented on #156
great, please just send to me with edit capabilities when ready and i'll do the pasting and send on to affiliates by EOD. thanks!

[2015-11-25 22:15] mattl commented on #156
![screenshot from 2015-11-25 16-10-44](https://cloud.githubusercontent.com/assets/33296/11410750/a103768a-938f-11e5-8311-3ba6a62c938c.png)

Shared the form with you. Basically you'll add a bunch of "Text" inputs on each page, and then split it up over the various pages of the report. The form text you enter will be the thing you want translated, and the response will be the translated text.

[2015-11-30 17:45] tvol commented on #155
done https://creativecommons.org/campaigns/stop-the-tpp

[2015-11-30 17:45] #155 closed

[2015-11-30 21:50] rebeccalendl commented on #120
Possible to close this out this week latest? See first post on this issue: ensure all KS data made it into civi successfully, ensure source is noted as KS, ensure they are added to general email list, ensure wherever possible that they are matched with their existing record. Let me know what you need to make this happen.

[2015-11-30 21:53] mattl commented on #120
I'll probably be spending almost all of this week on SOTC.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Mon, Nov 30, 2015 at 3:50 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-30 22:03] rebeccalendl commented on #120
Do you want to set a reasonable deadline and let me know?

[2015-11-30 22:05] mattl commented on #120
Let's see how long all the other stuff takes first. I don't want to commit
to a deadline if I'm stuck doing other stuff.

Alternate idea would be to ask Scott to import them.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Mon, Nov 30, 2015 at 4:03 PM, rebeccalendl <notifications@github.com>
wrote:

[2015-11-30 22:05] #162 closed

[2015-11-30 22:06] #159 closed

[2015-11-30 22:06] #156 closed

[2015-11-30 22:10] rebeccalendl opened #165 "12/1 #GivingTuesday email send"
Don't think there was a ticket for this previously so adding now.

Copy will be finalized by EOD today and lives here:
https://docs.google.com/document/d/1RG-kni7o7LqN2rodpDSW9Xm6_vBr08RlwU-JrXoPXwE/edit

Email to be sent to full list on Tuesday 12/1 AM PT

[2015-12-01 17:51] rebeccalendl commented on #165
Do you need anything else from me on this? Can you send a test please so we can ship this AM?

[2015-12-01 17:52] mattl commented on #165
yep, test should be with you in about 5 mins.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Tue, Dec 1, 2015 at 11:51 AM, rebeccalendl <notifications@github.com>
wrote:

[2015-12-01 18:40] robmyers commented on #158
We install wordpress in a subdirectory, so we can remove the existing install in docroot/wordpress, have composer install a fresh version into into docroot/wordpress. This also means we don't need to move index or config, as the versions we use are in docroot so will not be affected.

Change implemented.

[2015-12-01 18:40] #158 closed

[2015-12-01 18:57] #165 closed

[2015-12-01 21:45] mattl opened #166 "Remove 'news' menu from navigation"
@ryanmerkley's request

[2015-12-03 22:16] mmoreshead opened #167 "Add video to videos page"
Please add this video:
https://vimeo.com/147551334
to:
http://creativecommons.org/videos

@cablegreen do you have a suggestion for title & short description?

[2015-12-03 22:24] cablegreen commented on #167
Thanks for opening a ticket ;)

Suggested title: CC in New Zealand Schools

[2015-12-04 16:54] rebeccalendl commented on #159
@mattl Requesting information on why dollar option is now 999?

[2015-12-04 17:03] mattl commented on #159
Eric identified a bug with the page on mobile where any amount over 999
doesn't fit, we can fix it, but for now it's a stopgap.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Fri, Dec 4, 2015 at 10:54 AM, rebeccalendl <notifications@github.com>
wrote:

[2015-12-04 17:08] rebeccalendl commented on #159
Ok. Please use $500 as stopgap. What's the timeline on the fix?

[2015-12-04 17:09] mattl commented on #159
No timeline yet. You can change the number in Civi as you were doing before.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Fri, Dec 4, 2015 at 11:08 AM, rebeccalendl <notifications@github.com>
wrote:

[2015-12-04 20:25] #133 closed

[2015-12-04 20:32] tvol opened #168 "post social media for YE campaign posts beginning 8 december"
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit

[2015-12-06 18:24] mmoreshead opened #169 "Changes to board page"
http://creativecommons.org/board  This must be updated with departing members and new members as well as advisory. Mari to provide info shortly.

[2015-12-07 14:48] mmoreshead commented on #169
I'll wait for the blog post announcement before I make these changes.

[2015-12-07 17:15] mmoreshead commented on #169
Please make the following changs to: http://creativecommons.org/board
1) Move Hal, Laurie, Eric S, Molly, Esther, and Mike C to the Advisory Council
2) Change Audit Committee members to: Christopher Springman, Johnathan Nightingale, Dorothy Gordon
3) Add new board members.  I'll drop Bios and images into next comment.

[2015-12-07 17:17] mmoreshead commented on #169
Johnathan Nightingale is the Chief Product Officer at Hubba, and was formerly the head of Firefox for Mozilla. He was among the first to graduate from the University of Toronto’s Cognitive Science and Artificial Intelligence program in 2001. In his role at Mozilla he was responsible for the engineering, product management, marketing, and design of the Firefox web browser on desktop and mobile plat

[2015-12-07 17:21] mmoreshead commented on #169
Kate's bio is coming.
![spelman_kate_headshot](https://cloud.githubusercontent.com/assets/11162279/11634157/f588cfec-9cdc-11e5-82ca-875c4cf65ba4.jpg)

[2015-12-07 17:37] mmoreshead commented on #169
Kate Spelman, partner at K&L Gates, represents many of the players in the content distribution ecosystem: author, university, nonprofit, publisher, and technology developer both nationally and internationally. She serves on several copyright task forces and advisory committees, among them the American Bar Association Intellectual Property Section Task Force on Copyright Reform; American Law Instit

[2015-12-07 17:37] mmoreshead commented on #169
Let me know if you need anything else.

[2015-12-07 17:38] mattl commented on #169
Can someone take a pass on Jonathan's bio? I notice a bunch of it seems oddly capitalized, for example W3C, Linux, Wikipedian, House of Lords, etc.

[2015-12-07 17:45] mmoreshead commented on #169
This directly from him - I'd hesitate to change it.

[2015-12-07 18:04] mmoreshead commented on #169
Also:
Note by Chris Thorne that he is now Vice Chair.
Note by Chris Sprigman (only in Audit section) that he's chair of that committee.

[2015-12-08 16:28] peterspdx opened #170 "decide where translations of official FAQs will live on wiki, pending website redesign"
A complete translation of the FAQs into French will be completed before December 15. We need to determine where that page lives, even if it moves upon redesign of the website and likely movement of FAQs to website from wiki.

[2015-12-08 16:30] mmoreshead commented on #169
That's a yes from Ryan to change these, making it  (if I haven't missed anything) now:

Johnathan Nightingale is the Chief Product Officer at Hubba, and was formerly the head of Firefox for Mozilla. He was among the first to graduate from the University of Toronto’s Cognitive Science and Artificial Intelligence program in 2001. In his role at Mozilla he was responsible for the engineering, product

[2015-12-08 19:19] rebeccalendl opened #171 "YE #2 to send Monday 12/14"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

Segmented outreach to: 1) donors (giving last 36 months) and 2) non-donors (no giving history last 36 months). Omit civi group "Sensitive Donors" from both segments.

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:20] rebeccalendl opened #172 "YE #3 to send Wednesday 12/16"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

Segmented outreach to: 1) KS donors, 2) Lapsed donors (giving 2012 and earlier but not since) 3) non-donors (no giving history last 36 months) receive lower ask amts, 4) recent donors (giving last 36 months) receive higher ask amts

Omit civi group "Do Not Email YE 2015" from all segm

[2015-12-08 19:21] rebeccalendl opened #173 "YE #4 to send Saturday 12/19"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

Segmented outreach to: 1) donors (giving last 36 months) and 2) non-donors (no giving history last 36 months). Omit civi group "Do Not Email YE 2015" from both segments.

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:21] rebeccalendl opened #174 "YE #5 to send Tuesday 12/22"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

Segmented outreach to: 1) donors (giving last 36 months) and 2) non-donors (no giving history last 36 months). Omit civi group "Do Not Email YE 2015" from both segments.

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:22] rebeccalendl opened #175 "YE #6 to send Saturday 12/26"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

Segmented outreach to: 1) donors (giving last 36 months) and 2) non-donors (no giving history last 36 months). Omit civi group "Do Not Email YE 2015" from both segments.

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:22] rebeccalendl opened #176 "YE #7 to send Monday 12/28"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

No segmenting needed! Single send to full list.
Omit "Do Not Email YE 2015"

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:23] rebeccalendl opened #177 "YE #8 to send Wednesday 12/30"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

Segmented outreach to: 1) donors (giving last 36 months) and 2) non-donors (no giving history last 36 months). Omit civi group "Do Not Email YE 2015" from both segments.

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:23] rebeccalendl opened #178 "YE #9 to send Thursday 12/31"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

NEW Segments!:

1) Individuals who have given in 2015
2) Individuals with NO giving history in 2015

Omit civi group "Do Not Email YE 2015" from both segments

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:23] rebeccalendl opened #179 "YE #10 to send Friday 1/1"
Final copy lives here:
https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

No segments needed. One send to full list.

Note! No need to omit "Do Not Email YE 2015" as this is not an ask. Please include all!

Please send tests to Rebecca, Ryan, Tim, and Trilogy for advance review.

[2015-12-08 19:37] rebeccalendl opened #180 "Blog post Wednesday 12/16: Happy Birthday CC license suite"
Final copy + image pulled from YE#3 here:

https://docs.google.com/document/d/1lPMCaO83_QqL5vJG9w2ClkqC6943OHtiTbRX0dx3jnM/edit?pli=1

[2015-12-08 21:18] robmyers commented on #169
Changes 1) 2) 3) made.

Two notes added.

@mmoreshead Please can you take a quick look at this and close it if it's OK?

[2015-12-08 21:23] mmoreshead commented on #169
Yay, looks great, thanks Rob!

[2015-12-08 21:23] #169 closed

[2015-12-08 21:54] peterspdx commented on #180
added just a few tweaks to the 13th b'day message.

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Tue, Dec 8, 2015 at 11:37 AM, rebeccalendl <notifications@github.com>
wrote:

[2015-12-08 22:20] tvol commented on #180
@rebeccalendl do you want the blog post to be authored by Larry?

[2015-12-08 22:34] tvol commented on #180
@rebeccalendl also, can you point out to me where the image is?

[2015-12-08 22:55] rebeccalendl commented on #180
Yep this ticket is just a placeholder; I loaded it up alongside all the year end stuff to keep us all synched up.

All is still in process, though close to finalizing. Getting signoff from Larry now, working on graphics via Trilogy and Matt. We can talk through anything outstanding on Friday call.

[2015-12-08 22:57] tvol commented on #180
@rebeccalendl yep sounds fine. also i'm building out referral links for all the rest of the YE comms here: https://docs.google.com/spreadsheets/d/1PfiMfQbUw6l69lELBJE1Bem77kFy5OpciikMCgbX_Lw/edit#gid=1200001469 let's talk on friday to make sure it's what we want

[2015-12-08 23:01] rebeccalendl commented on #180
oh thats awesome. yes lets add to fri agenda.

[2015-12-10 18:27] rebeccalendl opened #181 "MoMA event invite send"
If time allows today, will you create a test for my review and send?

Copy is here:
https://docs.google.com/document/d/1xEw52SVurGNQBJyiR7o18YGdfMJ3YW5ALYuG8mQEimM/edit

Recipient list:
Civi Group "MoMA event invite 1/14"

[2015-12-10 20:24] mmoreshead opened #182 "2 more changes to /board page"
Esther Wojcicki should also be moved from board to advisory.
I guess I should be on the page as Assistant Secretary too.

Let me know if you have questions.

Thanks,
Mari

[2015-12-10 21:29] peterspdx commented on #182
Agree Mari should be on the page as assistant secretary.

I'm a board member, though non voting. I should be moved up under board members, but a notation made in parenthetical (Secretary, non voting). Thanks.

[2015-12-10 21:31] mattl commented on #182
@mmoreshead You should be able to make these changes with your new shiny WordPress account.

[2015-12-10 21:31] mmoreshead commented on #182
Oh fancy!  Thanks for the heads up @mattl

[2015-12-10 21:52] mmoreshead commented on #182
Moved Esther, updated Diane, will fix myself tomorrow (Friday).

[2015-12-12 00:19] #168 closed

[2015-12-14 16:32] ryanmerkley opened #183 "Add Noura's book to the open store"
Please add Noura's book about Bassel to the open store. Not an Amazon referral, but it is CC0 and we want to help.

http://www.lulu.com/shop/noura-ghazi-safadi/waiting/ebook/product-22486378.html

Please do not post it live until we hear from them that it is public.

r.

[2015-12-14 16:32] ryanmerkley commented on #183
adding @peterspdx to notify when it is public.

[2015-12-14 23:34] tvol opened #184 "fix image upload error on cc blog"
![screen shot 2015-12-14 at 3 33 37 pm](https://cloud.githubusercontent.com/assets/231665/11797483/1ba699ca-a278-11e5-8ca8-51e4844e1cdd.png)

[2015-12-14 23:35] mattl commented on #184
@robmyers I think recent updates didn't chmod www-data:www-data -R /home/creativecommons/docroot

[2015-12-14 23:37] robmyers commented on #184
We never chmod www-data, just chgrp www-data, which should be sufficient?

Checking.

[2015-12-14 23:37] mattl commented on #184
chown, sorry

[2015-12-14 23:38] mattl commented on #184
I always chown, I never chgrp.

[2015-12-14 23:42] robmyers commented on #184
And you seem to be right to do so, it's now fixed.

@tvol You should be able to upload images now.

[2015-12-14 23:42] #184 closed

[2015-12-14 23:43] mattl commented on #184
Thanks @robmyers

[2015-12-14 23:48] tvol commented on #184
thanks @mattl @robmyers

[2015-12-14 23:48] tvol commented on #180
blog post preview http://creativecommons.org/?p=46712&preview=true

[2015-12-15 13:01] peterspdx commented on #183
It's live here: http://waiting4bassel.cc

@mattl, @ryanmerkley

[2015-12-15 15:45] mattl commented on #183
Working on this now.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Tue, Dec 15, 2015 at 7:01 AM, Diane Peters <notifications@github.com>
wrote:

[2015-12-15 16:06] mattl commented on #183
https://creativecommons.org/discover/gift-guide/

@tvol can you promote this on social media?

[2015-12-15 16:06] rebeccalendl opened #185 "Homepage takeover asap through 1/4"
Send draft to Trilogy + Ryan + Rebecca for launch asap

[2015-12-15 16:08] rebeccalendl commented on #171
Please send the donor version with higher ask amts to: Sensitive Donors excluding 1) recipients of yesterdays email and 2) DNE YE 2015

[2015-12-15 16:10] #171 closed

[2015-12-15 17:03] #183 closed

[2015-12-15 19:33] robmyers opened #186 "Fr FAQ"
"Toggle TOC" should be something like "Basculer la table des matières".

[2015-12-15 19:36] robmyers opened #187 "Fr FAQ"
In TOC:

INSERT GRAPHIC HERE

INSERT TABLE

[2015-12-15 19:42] #181 closed

[2015-12-16 20:55] tvol commented on #180
https://creativecommons.org/weblog/2015/12/16/46712

[2015-12-16 20:55] #180 closed

[2015-12-17 12:40] NaeemaCC opened #188 "Email glitch"
Hello there @mattl & @robmyers
I'm being a good girl and there filing my first ticket ever :D
I've been having some email glitches lately at naeema@creativecommons.org some emails never get delivered to my inbox and later people forward them to me or receiving them with delay in time; I would suddenly receive a bunch of emails on one day with back dates up to two weeks!

Can you please advise
Naee

[2015-12-17 15:17] mattl commented on #188
I'll look at this today and get back to you.

Are you accessing your mail via the Google Mail website or something
different?

[2015-12-17 18:31] tvol commented on #174
@rebeccalendl i put text into blog post. http://creativecommons.org/?p=46762&preview_id=46762&preview_nonce=139dbad8dc&preview=true looks kinda sparse. do you think it's ok, or should we try to add a bit more?

[2015-12-18 20:28] #185 closed

[2015-12-18 20:28] #172 closed

[2015-12-18 20:28] #163 closed

[2015-12-18 20:30] #166 closed

[2015-12-18 20:30] #187 closed

[2015-12-18 20:30] #186 closed

[2015-12-18 20:31] mattl commented on #188
Nothing report as not working, but you also haven't replied to this, so I'm wondering if there's some issue on your end? Either way, we'll figure it out.

[2015-12-18 20:32] mattl commented on #182
Think this was done. closing.

[2015-12-18 20:32] #182 closed

[2015-12-18 20:32] #170 closed

[2015-12-18 20:32] #164 closed

[2015-12-18 20:33] rebeccalendl commented on #174
Agreed, looks sparse/uninteresting. Let's do a post with Esther's testimonial around OER instead. Her email is queued for tomorrow, we could blog post on Monday. Sound ok @tvol ?

[2015-12-18 20:43] #160 closed

[2015-12-18 20:56] mattl commented on #161
Okay, this is done.

[2015-12-18 20:56] #161 closed

[2015-12-19 00:12] mattl commented on #173
@robmyers tomorrow when you stumble awake, check your inbox and Civi and then close this one like a badass.

[2015-12-21 14:02] pizzamaker opened #189 "LibreJS compliance"
As of now, GNU LibreJS warns of nonfree JavaScript on the website. This might be a false positive, but in any case it can be made compatible with the addon

Here's a few useful links to fix this bug:

* https://www.gnu.org/philosophy/javascript-trap.html
* https://www.fsf.org/blogs/licensing/rel-jslicense

Here's the LibreJS output:

    List of accepted JavaScript in https://creativecommons.org/

[2015-12-21 17:19] #189 closed

[2015-12-21 17:36] tvol commented on #174
done http://creativecommons.org/weblog/2015/12/21/46762

[2015-12-21 18:00] tvol opened #190 "cc admin pages not displaying correctly on Chrome Version 47.0.2526.106 (64-bit)"
![screen shot 2015-12-21 at 11 58 27 am](https://cloud.githubusercontent.com/assets/231665/11937499/5570ed92-a7da-11e5-9e41-94e1ff8a455f.png)

![screen shot 2015-12-21 at 11 57 47 am](https://cloud.githubusercontent.com/assets/231665/11937502/592a1030-a7da-11e5-9579-e5436abd808d.png)

[2015-12-21 18:09] #173 closed

[2015-12-21 18:11] mattl commented on #190
We decided that CSS was overrated, and wanted to capture the essence of late 90s websites. You want me to fix that?

[2015-12-21 18:21] mattl commented on #190
Admin loads over HTTPS now.

https://github.com/creativecommons/creativecommons.org/commit/a9b17d7eec09f3889bd5ecb9d51e829d27f2d7ef

[2015-12-21 18:21] #190 closed

[2015-12-21 18:23] #149 closed

[2015-12-21 18:23] mattl commented on #148
@nasirkhan We've fixed this now :)

[2015-12-21 18:23] #148 closed

[2015-12-21 18:24] #147 closed

[2015-12-21 18:25] mattl commented on #139
I don't really worry about the bandwidth of those images, but hopefully our licensebuttons from licensebuttons.net are optimized well.

[2015-12-21 21:19] pizzamaker commented on #189
Hi @mattl, there's no interest in fixing this?

[2015-12-21 22:00] mattl commented on #189
Not really... There's Google Analytics, which isn't going anywhere, and some temporary pop up we're getting rid of in the new year. I think everything else is listed in our web labels page.

[2015-12-21 23:54] fasouto commented on #139
Well, I tried to compress some of the images from licensebuttons and they could be compressed a bit (around ~8%) without losing quality. Not a big deal anyway because they are fairly small, so feel free to close this.

[2015-12-21 23:57] mattl commented on #139
One thing you may be interested in: we're looking at providing the various license icons in a variety of sizes and colors.

You'll see a set we have here: https://licensebuttons.net/i/cc-gift-guide/

We made this crude tool for generating them: https://github.com/creativecommons/mp/tree/master/src/genimg

One PR I'd love to to see would be the various icons bundled into their respective license bu

[2015-12-22 00:16] fasouto commented on #139
It's doable and interesting, will take a look after christmas.

[2015-12-22 00:45] mattl commented on #135
Did this ever get resolved?

[2015-12-22 00:46] mattl commented on #110
This has been resolved now.

[2015-12-22 00:46] #110 closed

[2015-12-22 00:46] mattl commented on #104
Being handled in #139

[2015-12-22 00:46] #104 closed

[2015-12-22 00:47] mattl commented on #139
That sounds great.

[2015-12-22 00:47] #45 closed

[2015-12-22 00:48] rebeccalendl commented on #135
no still fuzzy

[2015-12-22 17:59] robmyers commented on #174
This email has gone out.

[2015-12-22 17:59] #174 closed

[2015-12-22 20:06] rebeccalendl opened #191 "YE#8 blog post"
per draft in wordpress, please post on 12/30 AM

[2015-12-22 20:07] rebeccalendl opened #192 "YE#10 blog post"
per draft in wordpress, please post on 1/1 AM

[2015-12-23 14:42] NaeemaCC commented on #188
Just received this! Im accessing through Google Mail

On Fri, Dec 18, 2015 at 10:31 PM, Matt Lee <notifications@github.com> wrote:

--
Naeema Zarif
Regional Coordinator | Arab World
Creative Commons
creativecommons.org
naeema@creativecommons.org

Skype: NaeemaZarif
Twitter: @naeema

Please support CC in shaping the future of sharing:
https://creativecommons.net/donate/

[2015-12-24 00:09] robmyers commented on #175
This is now queued.

[2015-12-24 00:11] robmyers commented on #176
This is now queued.

[2015-12-24 00:17] robmyers commented on #177
This is now queued.

[2015-12-24 00:21] robmyers commented on #178
This is now queued.

[2015-12-24 00:24] robmyers commented on #179
Not segmented.

This is now queued.

[2015-12-28 13:37] peterspdx opened #193 "On board page, remove Mari from list of Board members"
And add her below somewhere, otherwise gives the impression she's on the board when she isn't. Additionally, remove "non voting" reference in the parenthetical, for same reason.

[2015-12-28 14:01] #193 closed

[2015-12-28 20:38] mlinksva opened #194 "You broke the semantic web"
http://creativecommons.org/ns 404

:grimacing:

[2015-12-28 20:44] mattl commented on #194
@robmyers Likely related to the rebuild of the repo

[2015-12-31 16:30] mmoreshead opened #195 "info@ and other mail"
I think either freshdesk is broken or the info/finance/etc... other mails are broken.  We haven't received anything in there over 2 days.

[2016-01-01 17:40] #192 closed

[2016-01-01 17:40] #191 closed

[2016-01-04 17:09] #195 closed

[2016-01-04 17:31] #179 closed

[2016-01-04 17:31] #178 closed

[2016-01-04 17:31] #177 closed

[2016-01-04 17:31] #176 closed

[2016-01-04 17:32] #175 closed

[2016-01-04 17:32] mattl commented on #119
I think you're getting all the stuff now

[2016-01-04 17:32] #119 closed

[2016-01-04 17:33] rebeccalendl opened #196 "revert ask language on orange homepage banner and deed pages to pre-YE campaign copy"

[2016-01-04 17:39] #196 closed

[2016-01-04 18:25] robmyers commented on #194
Looking.

[2016-01-04 18:54] robmyers commented on #194
I've restored the symlinks that this relies on, and added the code to create them to the build system.

http://creativecommons.org/ns now works.

@mlinksva Thank you for reporting this!

[2016-01-04 18:54] #194 closed

[2016-01-04 19:12] mattl commented on #194
:+1:

[2016-01-04 20:34] mmoreshead opened #197 "Wrong links in FAQ"
In the FAQ  https://creativecommons.org/faq/ , there's a list of links under "Can Creative Commons give legal advice about its licenses or other tools, or help with CC license enforcement?"  They don't link to the right places.

Marking practices for creators should link to https://wiki.creativecommons.org/wiki/Marking_your_work_with_a_CC_license
Marking practices for reusers should link to https:

[2016-01-04 20:47] mattl commented on #197
It's not WordPress, but a Markdown file on GitHub... https://github.com/creativecommons/faq/edit/master/faq-en.md

Line 112 is where you'd update it, if you're interested...

It won't appear on the site immediately, you'll need one of us to do that part.

[2016-01-04 20:54] mmoreshead commented on #197
Updated!

[2016-01-05 18:23] pizzamaker opened #198 "Add a .onion address"
This is particularly useful for Tor users in censored countries.

[2016-01-06 19:54] tvol opened #199 "fix links in FAQ question"
re: https://creativecommons.org/faq/#can-creative-commons-give-legal-advice-about-its-licenses-or-other-tools-or-help-with-cc-license-enforcement

they go to 404

[2016-01-06 19:55] mattl commented on #199
Can you confirm if they're fixed by https://github.com/creativecommons/creativecommons.org/issues/197?

[2016-01-06 20:29] reagle opened #200 "Search not working"
I just did this search and get a directory: http://labs.creativecommons.org/demos/search/?q=apple+barrell

[2016-01-07 01:20] tvol commented on #137
why can't we just leave the sciencecommons pages as is with the notice at the top?

[2016-01-07 01:21] mattl commented on #137
We'd like to switch the server off, and we should do something with all the
various things on that site.

[2016-01-07 01:30] tvol commented on #137
IMO the important pieces of content to harvest would be:
1. project pages
2. reading room papers written by Science Commons staff
3. the video

@peterspdx what do you think?

[2016-01-07 01:58] mattl commented on #200
Where did you start your search?

[2016-01-07 13:06] reagle commented on #200
It's a Web shortcut I've had for at least a year. Given an empty URL is definitely weird. Is the service still available? Why not redirect?

[2016-01-07 19:34] mattl commented on #200
@robmyers Can you get a redirect in place for this?

@reagle https://search.creativecommons.org

[2016-01-07 20:49] robmyers commented on #200
@mattl Will do tomorrow. I have a couple of labs fixes to get in place now.

[2016-01-07 20:50] mattl opened #201 "It's your birthday, go do birthday things and stop answering GitHub issues"

[2016-01-08 19:33] tvol commented on #197
@mattl i don't think so. many of the other links are bad too. unless you didn't merge the pull request yet?

What is the proper markdown conventions to direct to the wiki page we want? For example, in faq-en.md, there's this: [Marking practices for creators](wiki/Marking_your_work_with_a_CC_license "wikilink") but that link isn't right. But we want it to go to wiki.creativecommons.org/wiki/Marking

[2016-01-08 20:00] mattl commented on #197
Sorry, you'll need to look at the preview of the page on GitHub, it hasn't been pulled yet.

Yeah, it needs to be a full URL with a http:// or https:// prefix (http is fine, it'll redirect to HTTPS if/when we have that)

[2016-01-08 21:19] mmoreshead commented on #197
I just fixed mine.

[2016-01-08 21:21] mmoreshead commented on #197
Also, I bet there's lots of broken ones that were links to wiki pages and now need full urls.  I'm happy to sift through and fix these if that helps.

[2016-01-11 02:07] tvol opened #202 "fix footer floating mid-page"
RE: https://twitter.com/WatfordJC/status/686268192843513857

[2016-01-11 19:54] robmyers commented on #201
Completed. ;-)

[2016-01-11 19:54] #201 closed

[2016-01-11 20:10] robmyers commented on #200
Redirect now in place.

[2016-01-11 20:10] #200 closed

[2016-01-12 16:17] ryanmerkley opened #203 "Update CEO bio"
Hi, please update the CEO bio -- I'm no longer "incoming" CEO. Also, it's a bit more general since everyone just copy-pastes it to use as my introduction at anything I attend.

"Ryan Merkley is Chief Executive Officer of Creative Commons. He joined the organization to focus on defining a new strategy and to establish long-term sustainability for CC. Today, Creative Commons is implementing its rene

[2016-01-12 16:24] #203 closed

[2016-01-12 16:32] #202 closed

[2016-01-12 16:33] mattl commented on #197
That would be useful. See some earlier chat in #creativecommons about this link https://creativecommons.org.au/learn-more/fact-sheets/which-creative-commons-licence-is-right-for-me-poster (which doesn't work) which is in the 'how should I decide which license to choose' section of the FAQ for example.

[2016-01-12 17:09] mattl commented on #197
Updated the website with the latest version from here, but yeah... a bunch of broken links still.

[2016-01-12 17:09] mattl commented on #197
https://validator.w3.org/checklink?uri=https%3A%2F%2Fcreativecommons.org%2Ffaq%2F&hide_type=all&depth=&check=Check

[2016-01-12 17:44] mmoreshead commented on #197
@mattl I can identify and fix these by the end of this week, sound good?

[2016-01-12 17:46] mattl commented on #197
Sounds great

[2016-01-12 19:31] rebeccalendl opened #204 "Create landing page for creativecommons.org/remix"
to go live on Tuesday 1/19 latest (email driving traffic to the page is scheduled for 1/20 AM). RL to provide video link and copy ASAP.

[2016-01-12 19:32] rebeccalendl opened #205 "Remove YE campaign header on donate.creativecommons.org"
Revert to pre YE copy

[2016-01-12 19:33] rebeccalendl commented on #120
-"Kickstarter" attached to individual donation itself under "Source" (not the overall donor record)
-Consolidate all KS-related groups and tags into one
-Correct synch with existing contact records where there's an email address match
-Confirm KS-sourced donors added to mailing list

Let me know if/when I can help with manual data entry, cleaning, etc, happy to help!

[2016-01-12 19:35] rebeccalendl opened #206 "Enable sidebar for Rebecca on CiviCRM"
shows recently viewed records, etc. super useful. thanks.

[2016-01-12 19:36] rebeccalendl opened #207 "Admin settings for Rebecca in freshdesk"
So I can view tickets owned by other people to match 1K donations with their website link

[2016-01-12 22:38] rebeccalendl opened #208 "Update to homepage hero banner 1/19"
New CC video release with link to cc remix landing page (forthcoming from RL) to go live Tuesday 1/19 to synch with email announcement 1/20 AM.

[2016-01-12 22:39] rebeccalendl opened #209 "Email to full list Tues 1/20"
Video release with link to cc remix landing page. Content forthcoming from RL.

[2016-01-13 23:13] #114 closed

[2016-01-14 00:06] mattl commented on #207
You have access to the groups now, hopefully you can see the tickets in question now.

[2016-01-14 00:06] #207 closed

[2016-01-14 00:18] #72 closed

[2016-01-14 18:18] robmyers opened #210 "Updates to Korean translation of the deeds"
(From @soohyunpae via email )

Could you have a look at the [Korean Deeds](https://creativecommons.org/licenses/by/2.0/kr/) page and let me know how I can get the untranslated texts updated?

(and)

I just updated some strings for Korean Deeds. Could you help me get them live?
https://www.transifex.com/nkinkade/CC/viewstrings/#ko/deeds-choosers/2858697

[2016-01-14 18:20] robmyers commented on #210
@sarahpearson @mattl what is the procedure for this, please? :-)

[2016-01-14 23:43] sarahpearson commented on #210
Good question! @mattl should know how we push those live.

[2016-01-15 16:58] mmoreshead commented on #197
I've got myself organized for this, just need to trudge through and actually make the changes.  I reserve the right to do this on Monday when the US folks are off and there aren't as many interruptions.

[2016-01-15 17:27] #205 closed

[2016-01-15 22:37] #206 closed

[2016-01-20 16:20] #210 closed

[2016-01-20 16:20] #209 closed

[2016-01-20 16:20] #208 closed

[2016-01-20 16:20] #204 closed

[2016-01-20 16:21] mattl commented on #143
Rob, can you take a look at this one today?

[2016-01-20 17:22] robmyers commented on #143
license-results.js had been missing since before our time. I've re-added it:

https://github.com/creativecommons/creativecommons.org/commit/a0a0b8b596c8b289e4cd5b79a0bee6757ad077aa

[2016-01-20 17:22] #143 closed

[2016-01-20 17:30] brodybits commented on #143
Thanks for your attention and efforts. Unfortunately when I try the example and click on the radio buttons, it updates the preview but *not* the HTML code that the user can copy to his/her website.

[2016-01-20 17:44] mattl commented on #143
![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/33296/12457618/17e3956c-bf6b-11e5-8e97-57bf7ec4f71f.gif)

It is a subtle change...

[2016-01-20 17:55] brodybits commented on #143
My mistake, I see the subtle change now. Thanks for fixing!

[2016-01-20 18:21] cablegreen commented on #167
checking in... thanks

[2016-01-20 18:22] cablegreen opened #211 "Add Ryan's video to: https://creativecommons.org/videos"
Please add our awesome new video:
https://creativecommons.org/remix/video
to:
https://creativecommons.org/videos

[2016-01-20 22:32] mlinksva opened #212 "Tag archive pages say Matt Lee authored all blog posts"
eg https://blog.creativecommons.org/tag/au/

[2016-01-20 23:01] mattl commented on #212
hey Mike,

I'm very proficient with my time machine. This is something we're aware of and will be fixing soon.

[2016-01-22 15:22] ryanmerkley opened #213 "Update board member bio/photo"
Please update Board Director Tom Rubin's bio to the following:

"Thomas C. Rubin is a Lecturer on Law at Harvard Law School and Special Counsel at the law firm Quinn Emanuel. For many years, he was Chief Intellectual Property Strategy Counsel at Microsoft, where he led product development and global policy related to copyrights, trademarks, and trade secrets. He has testified about orphan works be

[2016-01-22 23:05] rebeccalendl opened #214 "Add Bitcoin as payment method on donate page"

[2016-01-25 18:08] chpapa opened #215 "Request for accounts / instruction to translate terms for zh_HK"
Hi this is Ben from Creative Commons Hong Kong here. We have noticed that the license chooser for zh_HK translation is not available on the website and we would like to work on the translation so we have  > 80% translated terms on https://www.transifex.com/nkinkade/CC/ again.

We have a volunteer able to work on it and would you mind to send us the instruction / access information? My email is chp

[2016-01-25 18:46] tvol opened #216 "slidedeck embeds do not display on https://creativecommons.org/education/"

[2016-01-25 18:51] peterspdx commented on #215
Hi Ben,

We don't translate the deeds by jurisdictions, we try to only have one translation per language. If there's an existing translation into that language already present, there's no need to translate.

Diane

[2016-01-25 19:21] mattl commented on #216
Are these from Slideshare?

[2016-01-25 23:06] tvol commented on #216
@mattl i fixed the slideshare problem

[2016-01-25 23:06] tvol commented on #216
@mattl @cablegreen but the others are some carousel thing

[2016-01-25 23:09] cablegreen commented on #216
Thanks: @tvol  Right. @mattl There are two remaining problems:

(1) At the top - just below "Get Involved" : [SlideDeck2 id=38644 iframe=1]
(2) Below "Case Studies": [SlideDeck2 id=38628 iframe=1]

I think these broke when WordPress was updated.  Thanks for fixing.

[2016-01-25 23:10] mattl commented on #216
Where are these presentations hosted?

[2016-01-25 23:11] tvol commented on #216
i think it's something internal--by that i mean they're not stand alone presentations on slideshare, etc.

isn't SlideDeck a WP plugin?

[2016-01-25 23:12] mattl commented on #216
I'll have a look.

[2016-01-26 02:10] chpapa commented on #215
@peterspdx Understood. However there are currently no translation / confusion on which language we should use for Hong Kong. There are two chinese translation on the license chooser page:

1. https://creativecommons.org/choose/?lang=zh
2. https://creativecommons.org/choose/?lang=zh_TW

While 1 is definitely not an options for us since it display as simplified Chinese which is not commonly used in

[2016-01-26 10:51] peterspdx commented on #215
Hi Ben,

I think this is a question that should be put to the full group working on the 4.0 and CC0 translations. In the end, we should have a Simplified Chinese translation of the license and CC0 deeds, and a Traditional Chinese translation of the licenses and CC0 deeds. I'd like to have the full group that SooHyun just emailed to schedule a call to discuss during the call.  Also, so you're aware

[2016-01-27 00:06] tvol commented on #137
for @peterspdx to review

[2016-01-27 00:44] peterspdx commented on #137
got it, will look later this week and provide a recommendation.

[2016-01-27 01:05] tvol commented on #137
cool. thanks.

On Tuesday, January 26, 2016, Diane Peters <notifications@github.com> wrote:

--
Invest in a free and open internet. Donate to Creative Commons:
https://donate.creativecommons.org/

[2016-01-28 00:12] rebeccalendl commented on #214
This is all set and awaiting approval at 2/4 meeting, will keep you posted.

[2016-01-28 00:17] rebeccalendl opened #217 "Populated CiviCRM contact fields should not be overwritten by unpopulateds field"
Update settings so users can't inadvertently update their own record with less info. Also update settings so that an preexisting email address cannot be added in an additional email field.

[2016-01-28 00:18] mattl commented on #217
Raised this with GR.

[2016-01-28 00:18] rebeccalendl commented on #120
per discussion, aiming for Friday 2/3 deadline

[2016-01-28 00:20] rebeccalendl opened #218 "Finish purge of old CiviCRM Groups and Tags"
Per googledoc on running agenda

[2016-01-28 00:21] rebeccalendl opened #219 "CiviCRM upgrade to 4.6"
Yay! Thanks. We'll table the other clean up efforts until this is in place. Aiming for end of Feb.

[2016-01-29 16:47] mattl commented on #219
4.6 is a long term support release, so we're going to push to go live on that. I'm asking Giant Rabbit about then trying to get us onto a rolling release schedule every 6 months. If we go live on 4.7 so soon after release we'll hit bugs.

[2016-01-29 17:30] #33 closed

[2016-01-29 17:41] ryanmerkley opened #220 "Create mailing list for CC Global network strategy"
CC will conduct a strategic process for the affiliate network in 2016. The steering committee - about 15 people - will need a mailing list to conduct their work and share information. Please create a list at strategy@creativecommons.email.

[2016-01-29 17:42] mattl commented on #220
Will anyone be able to read it or will that be only for those who are involved?

[2016-01-29 17:53] ryanmerkley commented on #220
For now only those involved. Steering Committee may decide to open it up, which I'd be okay with, but I want them to decide.

[2016-01-29 18:03] #220 closed

[2016-01-29 18:45] mattl commented on #212
I think you're fixing this, right?

[2016-01-29 18:45] mattl commented on #213
I think you were doing this, pardon if not the case

[2016-01-29 18:55] tvol commented on #212
@mattl unless there's some easy way to revert to previous authors, let's just leave it. I do not plan on going back through all the blog posts and changing them back manually--if i could even remember who wrote what

[2016-01-29 18:56] mattl commented on #212
Yeah, I guess just change them when its obvious.

[2016-01-29 18:56] #212 closed

[2016-01-29 19:02] robmyers commented on #213
I have updated Tom's bio and picture.

[2016-01-29 19:02] #213 closed

[2016-01-29 19:03] mattl commented on #197
Any update on this? I have to put up some new page for Jane today, so it would be good to do all this in one swoop.

[2016-01-29 19:08] mlinksva commented on #212
Hmm, when I filed this issue I assumed it was a problem in whatever renders tag pages -- authors were showing up correctly on individual post pages, and authors had the ids they'd always had (see below). But now just about everything is authored by Matt Lee, which I see is user id 1 because https://creativecommons.org/weblog/?author=1

And I see that I'm user id 2. I believe I was 14 or something.

[2016-01-29 19:10] mattl commented on #212
I'm not even sure what the press hits are/were.

I don't know if we were ever exposing author/archives to the public. I will update the blog to list 'Creative Commons' as the author, not myself, as I think I've published maybe 1 blog post ever.

[2016-01-29 19:18] mattl commented on #212
Removing posts from the blog, going to try another import

[2016-01-29 19:19] mmoreshead commented on #197
Sorry about the delay, got swamped and pushed this down.  Will see how much more I can do in the next 40 minutes.

[2016-01-29 19:20] mlinksva commented on #212
The press hits were a side blog, not intended to be presented with the main blog.

There was never navigation item with author archives, but I frequently used the ?author=n functionality eg when introducing people via email.

I guess changing your name to CC is a good way to paper over the damage. Good thing CC didn't (that I recall anyway) publish any third party material under CC-BY and use the

[2016-01-29 19:21] mattl commented on #197
Not urgent :)

[2016-01-29 19:59] mattl commented on #212
https://blog.creativecommons.org/author/mike/

[2016-01-29 20:00] mmoreshead commented on #197
I got a little less than half way through (total).  You can send these changes now and I'll work on more next week?

[2016-01-29 20:00] mattl commented on #212
We'll fix up the names in the next few days, but everyone's posts are fixed.

[2016-01-29 20:01] mattl commented on #197
Sounds good.

[2016-01-29 20:08] mlinksva commented on #212
Thanks for caring and acting. :sparkles: or other appropriate emoji I don't understand.

[2016-01-29 20:15] ryanmerkley opened #221 "Update CEO bio"
My bio also appears on this page: https://creativecommons.org/board/

Please update to match the one on the main /staff page.

Thanks.

[2016-01-29 23:09] robmyers commented on #221
I have updated the text to match. Do you still want the LinkedIn etc. links on the board page or shall I remove those?

[2016-01-29 23:15] peterspdx commented on #212
Just my own opinion, but I think it's unfortunate that original authorship is lost. I think it's a nice way for individuals to indicate they're a public voice, and on which topics. As for attribution non compliance as a matter of the license, that would only be a problem for those who were not employees at the time of publication. All content written by employees within scope of duties = CC owned

[2016-01-29 23:16] mattl commented on #212
It's fixed now anyway :)

Authors are back.

[2016-01-29 23:48] peterspdx commented on #212
missed matts' post that it was all fixed. yeah, and all good as indicated. thanks, mattl!

[2016-01-30 07:54] ryanmerkley commented on #221
Just twitter pls.
On Jan 29, 2016 6:09 PM, "Rob Myers" <notifications@github.com> wrote:

[2016-02-02 21:38] mmoreshead opened #222 "Eric's bio on staff page"
Hey @ericsteuer  if you don't want to update your bio, then we can just move you up into staff. https://creativecommons.org/staff/  But maybe you want to update your bio or photo - that's your call.  If you are happy how it is, reassign this to Rob but if you want to change, can you drop the changes in before you assign it?

Thanks!
Mari

[2016-02-02 21:40] mattl commented on #222
Please assign to me, as the staff page is a pain to update :)

[2016-02-02 23:31] robmyers commented on #221
This was updated to just show the Twitter link.

[2016-02-02 23:31] #221 closed

[2016-02-04 20:55] rebeccalendl opened #223 "Error when merging Tags in Civi"
Screenshot:
<img width="930" alt="screen shot 2016-02-04 at 12 52 11 pm" src="https://cloud.githubusercontent.com/assets/13322149/12829355/7ed6a2da-cb3e-11e5-9f25-66dbded1e1b4.png">

Browser:
http://whatsmybrowser.org/b/YJ73Y7S

[2016-02-04 21:07] mattl commented on #223
Would you provide some context here? It looks like you're trying to merge the Education task (that's nested under Interests) into something else? I would advise we leave those tags alone, as they're recently created, and merge another tag into those instead.

[2016-02-04 21:08] mattl commented on #223
It might be worth installing Firefox as well on your computer, so we can see if these problems are just confined to your version of Chrome.

[2016-02-08 21:29] mzeinstra opened #224 "Wiki Marking pages could use an update"
We're missing a case where people make structural use of CC on their business, in their headers or footers or other permanent design aspects of their sites.

See also https://github.com/creativecommons/mp/issues/51

[2016-02-08 22:04] rebeccalendl commented on #120
@mattl can you provide an update please?

[2016-02-08 22:06] mattl commented on #224
I suspect we'll bring this into the website as part of the website update.

[2016-02-08 22:16] rebeccalendl opened #225 "Testing on deed page: swap donation ask for email sign up"
@mattl will you provide status update?

[2016-02-08 22:21] mattl commented on #120
I have a log in that works for this. Now constructing a CSV file which will
DTRT.

---
Matt Lee
Creative Commons
Austin, TX, USA
3pm-11pm UTC

On Mon, Feb 8, 2016 at 4:19 PM, rebeccalendl <notifications@github.com>
wrote:

[2016-02-08 22:28] mattl commented on #225
Waiting on Trilogy.

[2016-02-10 10:50] peterspdx opened #226 "fix problem with author line on some blog posts"
See e.g. https://blog.creativecommons.org/2015/02/25/why-creative-commons-uses-cc0/.  Just refers to kat, not Kat Walsh.

[2016-02-10 16:51] mattl commented on #226
Yeah, this just needs those names adding to WordPress.

[2016-02-10 22:14] mmoreshead opened #227 "Help Mari batch update groups with activities and relationships"
I need to update some old groups in CiviCRM (on Rebecca's list) with some activity or relationships but I can't figure out how.  Help?  I tried to update using a profile but I can't find the right fields to use.

[2016-02-12 20:06] rebeccalendl opened #229 "creativecommons.org/blog reverts to old page"
using chrome and firefox
<img width="1280" alt="screen shot 2016-02-12 at 12 04 30 pm" src="https://cloud.githubusercontent.com/assets/13322149/13018852/f1a57c08-d180-11e5-9ec6-53c7c32a4979.png">

[2016-02-12 20:07] mattl commented on #229
https://creativecommons.org/weblog/ is the address the blog was at.

[2016-02-12 20:10] rebeccalendl opened #230 "update automated donor communication templates"
in civi under adminster / communications / message templates / system workflow

per discussion and googledoc sent via email

thanks!

[2016-02-12 20:14] rebeccalendl commented on #229
right. possible to redirect any common conventions like (cc.org/blog) to current blog? found that link in an old doc, not sure if it's floating around anywhere else. likely rare, but best to get everyone to the intended place.

[2016-02-12 20:17] mattl commented on #229
sure, we can do it sometime.

if the published URL were doing the wrong thing, we'd fix it immediately.

[2016-02-12 20:22] rebeccalendl commented on #229
thanks, yes I realize it's just good housekeeping but flagging so it's in the queue

[2016-02-12 20:23] mattl commented on #229
Yep, thank you :)

You can never have too many things in the queue.

[2016-02-12 20:28] rebeccalendl commented on #229
nope never! ;)

[2016-02-16 06:44] ericsteuer commented on #222
Title should be changed to "Director of Content and Community"

[2016-02-16 18:01] ericsteuer opened #231 "wordpress: need the ability to edit stuff"
i have updated my wordpress profile. now i need the ability to edit stuff.

[2016-02-16 20:44] mattl commented on #230
Template concept is here: https://litmus.com/builder/documents/425387/edit

[2016-02-16 20:44] mattl commented on #230
Let me know if you're good with the template, and I'll proceed to get these up.

[2016-02-16 21:22] rebeccalendl commented on #230
Template is missing the letter format "dear first name," and the footer that details tax receipt info and PS: CC video. Also missing formatted of bolded stmts. And I've tightened up text slightly after seeing it in design, should be shorter.

[2016-02-16 21:25] mattl commented on #230
That's the content, not the template. I'm just looking for feedback on the
template, I just quickly pasted some text in to fill it out a bit.

I don't have edit access to the document, but a few notes on names.

Most people, we don't have their name, because they don't need to provide
it when they donate. What do we want as a default there?

Also, we should be using nickname, not first name for th

[2016-02-16 21:30] mattl commented on #230
Updated with lorem ipsum.

[2016-02-17 14:25] sarahpearson opened #232 "Unable to access staging server for translations"
When we try to access translation files on staging, we are getting an error message. In Chrome, it says: "The website may be down, or your network may not be properly configured."

Here are links to two that are not working (but I've tried several and none are working):
http://cc0-sv-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.sv
http://cc4-sv-legalcode.legal.creativecommon

[2016-02-17 18:50] janeatcc opened #233 "blog is down"
or won't load http://blog.creativecommons.org/

[2016-02-17 20:29] #233 closed

[2016-02-18 18:09] mattl commented on #232
This is fixed :)

[2016-02-18 18:12] #222 closed

[2016-02-22 20:27] sarahpearson commented on #232
Ack, the problem seems to be happening again today. (Though I was able to access them at the end of last week!)

[2016-02-22 22:24] mattl commented on #232
Okay, actually fixed now.

[2016-02-22 22:24] #232 closed

[2016-02-22 22:58] peterspdx commented on #232
Thanks, Matt!

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Mon, Feb 22, 2016 at 2:24 PM, Matt Lee <notifications@github.com> wrote:

[2016-02-23 21:13] tvol opened #234 "CC blog down (timed out)"

[2016-02-23 21:31] #234 closed

[2016-02-23 21:41] mattl commented on #231
Okay, copied over all your old posts and you can now add and edit stuff.

[2016-02-23 21:41] #231 closed

[2016-02-23 22:46] mattl opened #235 "FAQ still appearing on wiki"
@cablegreen pointed it out in email thread.

[2016-03-02 00:31] cablegreen opened #236 "NC FAQ from Licnese Deed"
https://creativecommons.org/licenses/by-nc/4.0/

click on: commercial purposes

takes you to: https://creativecommons.org/faq/#Does_my_use_violate_the_NonCommercial_clause_of_the_licenses.3F

should link to:

https://creativecommons.org/faq/#does-my-use-violate-the-noncommercial-clause-of-the-licenses

[2016-03-08 16:06] mmoreshead opened #237 "3 new job postings"
I was sure the opportunities page was wp but it's not so I need help posting 3 jobs.  This should be done today if possible.  Tell me how I can help.

Mari

[2016-03-08 16:07] mattl commented on #237
It is... I'll take a look.

[2016-03-08 17:11] mattl commented on #237
https://creativecommons.org/wordpress/wp-admin/post.php?post=7469&action=edit

[2016-03-08 17:28] mmoreshead commented on #237
I followed your instructions on Feb 1 to transfer my account over (thanks!) but the link above doesn't accept my CCID for login (says invalid username).  Sorry, I know this is lame.

[2016-03-08 17:28] mattl commented on #237
Ah, sorry.

CCID is only for the blog. The website still uses the regular username/password.

[2016-03-08 18:28] mmoreshead commented on #237
That explain it, thanks!

[2016-03-08 21:36] #237 closed

[2016-03-10 22:33] rebeccalendl commented on #219
Status? Giant Rabbit said good to go on their end.

[2016-03-10 22:33] rebeccalendl commented on #227
Closing this. Giant Rabbit will tackle.

[2016-03-10 22:33] #227 closed

[2016-03-10 22:34] rebeccalendl commented on #130
Closing this. Scott updated.

[2016-03-10 22:34] #130 closed

[2016-03-10 22:35] #124 closed

[2016-03-10 22:35] #120 closed

[2016-03-10 22:36] rebeccalendl commented on #230
Closing. Giant Rabbit will tackle.

[2016-03-10 22:36] #230 closed

[2016-03-10 22:37] #135 closed

[2016-03-10 22:38] #217 closed

[2016-03-10 22:38] #223 closed

[2016-03-18 13:11] nasirkhan opened #238 "URL should have attribute target="_blank""
The CC Chooser helps to create attribution links. But the links on the generated code, do not have the URL attribute `target="_blank"`. This means if i click on the link the CC Deed or the source page will open on the same page. It is not that major but this impacts the SEO of the site which is using this code.

So suggest to add the `target="_blank"` with all the anchor tags in the generated code

[2016-03-22 20:38] janeatcc opened #239 "add cc.org/platform to main menu"
Just published a quick and dirty landing page for platforms at https://creativecommons.org/platform/. Where should we logically link to it in the menu (in the interim before website redesign)? Under Licenses, Developers? Or under Projects?

[2016-03-22 20:39] janeatcc commented on #239
We should probably also add a link to the toolkit under Developers maybe? https://creativecommons.org/platform/toolkit/

I know, the menu is unwieldy already, but might as well as long as we have it.

[2016-03-23 17:08] mattl commented on #239
https://github.com/creativecommons/cc-wp-theme/commit/23c58b051db9d28079057cddef0c7809545167c2

[2016-03-23 17:08] #239 closed

[2016-03-23 17:08] mattl commented on #214
@Scott-CC What's the status of this?

[2016-03-23 17:23] mattl commented on #238
I'd rather let the user open links in new windows if they want to, rather than forcing anything. I'd be interested to know how linking to our website affects SEO though.

[2016-03-23 17:35] mattl commented on #236
@robmyers -- my thinking here is that i'll pass all FAQ links to a script, which removes non-alpha characters and lowercases any anchors and querystrings and then redirects to the FAQ.. Sound reasonable?

[2016-03-23 17:38] mattl commented on #188
Is this resolved now?

[2016-03-23 18:04] #139 closed

[2016-03-23 18:13] mattl commented on #103
You can check out our WordPress theme, github.com/creativecommons/cc-wp-theme -- but we're currently working on a new design so it may not be worth anything but crucial fixes right now.

[2016-03-23 18:13] #103 closed

[2016-03-24 11:33] NaeemaCC commented on #188
I guess it is! Usually I cant know until I start getting the missing emails
or people start reaching out via different channels or personal email :D
Will wait and see

N

On Wed, Mar 23, 2016 at 7:38 PM, Matt Lee <notifications@github.com> wrote:

--
Naeema Zarif
Regional Coordinator | Arab World
Creative Commons
creativecommons.org
naeema@creativecommons.org

Skype: NaeemaZarif
Twitter: @naeema

[2016-03-24 14:38] peterspdx commented on #137
by way of update @tvol, I am looking at these still in light of Arcadia deliverables, and should have an update with some thoughts on your recommendations next week. Happy to have this assigned to me for next steps.

[2016-03-24 15:23] gwenfranck opened #240 "Transifex issue"
We got reports that several translations (e.g. Belarusian) are done and approved in Transifex, but aren't pulled into website. Can you check? Thanks

[2016-03-28 16:35] mattl commented on #240
Can you check now? I just ran the updates. Please reopen this if its not working :)

[2016-03-28 16:35] #240 closed

[2016-03-28 17:11] #188 closed

[2016-04-04 14:56] mmoreshead opened #241 "Sticker Design Change"
Hello hello!  You know our regular sticker design?  @rebeccalendl & I were thinking of printing some new ones with "i love to share" instead of "some rights reserved" but I know nothing of design.  Help?  I have the ai file if you can't find (github doesn't support the file type so wouldn't let me drop it in here).

[2016-04-04 15:15] peterspdx commented on #241
Any thought given to letting our community help come up with designs? We used to swag logo contests. See: https://creativecommons.net/contest/.

[2016-04-04 17:25] mmoreshead commented on #241
@rebeccalendl see the note above from @peterspdx

[2016-04-06 15:45] mattl commented on #241
Please send the AI file to me directly, and I'll get this figured out in the next couple days.

[2016-04-06 16:47] rebeccalendl commented on #241
@peterspdx and @mmoreshead love the idea of community support around the new shop items. we are gonna invite affiliate network and anyone to send their tshirt design files to us and we'll set up an item in the shop where customers can download and DIY their own prints from these files. trying to keep the other items fairly streamlined just due to limited capacity for merch program.

[2016-04-07 12:57] claudioruiz commented on #241
A slide note: I've been thinking about this and it would be a great idea to reach the CC community on this. In the future, maybe we should think about ways to engage with people from our affiliated list who have in-house designers to collaborate in a more formal way with us. I don't know exactly how, but maybe in the same way we have been developing translations in the past?

[2016-04-07 14:47] pgstacey commented on #241
I agree with Claudio, this seems like a great way to engage our global
talent pool and engage our community in forging our visual identity .
On a similar vein Sarah and I have been thinking we'd reach out to see if
anyone is interested in designing the cover for our open business models
book.

Paul

On Thu, Apr 7, 2016 at 5:57 AM, Claudio Ruiz <notifications@github.com>
wrote:

--
Paul Stacey
Asso

[2016-04-07 15:15] mmoreshead commented on #241
Sticker file sent to @mattl

This instance is a quick one-off special thing.  Like @rebeccalendl said, something with community involvement is on the books!

[2016-04-08 16:44] janeatcc opened #242 "all images resize to 300px wide"
even in html editor.

[2016-04-08 16:45] mattl commented on #242
Can you attach the image here?

[2016-04-08 16:49] janeatcc commented on #242
sure but it's not 300px.
![openedsearchapp](https://cloud.githubusercontent.com/assets/6394777/14391141/2c4af5bc-fd6f-11e5-9d8b-957cd8aabe8c.jpg)

[2016-04-08 18:14] #238 closed

[2016-04-08 18:25] mmoreshead opened #243 "Wrong phone number on contact us page"
The one we have listed is wrong and never connects to anything.  Mari will update to new number.

[2016-04-08 18:26] tvol commented on #243
@mmoreshead route those annoying phone calls into a supermassive black hole. telephones are for crazies. ;)

[2016-04-08 18:27] mmoreshead commented on #243
So right.

[2016-04-08 18:28] mmoreshead commented on #243
Updated!

[2016-04-11 18:44] janeatcc commented on #242
I need to publish a blog post in the next couple days. Will this be fixed soon? Or is there a workaround I can use

[2016-04-13 19:24] #242 closed

[2016-04-22 13:22] mmoreshead opened #244 "Free Cultural Works Button"
## After a freshdesk ticket triggered some discussion on this (by @peterspdx & @sarahpearson ), it was decided that

The sentence Sarah suggested be added to our /policies page is fine by me, so that's Task 1.

Task 2 would be to modify the logo in the way you suggest so that it can be downloaded.
## Task 3 would be to create a new page where the logo (however @mattl  ends up modifying it) will li

[2016-04-22 13:23] mmoreshead commented on #244
Ugh, copy paste formatting. I never meant to shout there.

[2016-04-22 13:24] mmoreshead commented on #241
Hey @mattl - just the gentlest nudge here :)

[2016-04-22 13:32] peterspdx commented on #244
Noting here I prefer the button(s) not be available on our downloads page. It could confuse people into thinking we control the definition. Hence, we were thinking a separate page. If we wanted to, we could note on the /downloads page at the bottom that CC created that button for our deeds, per our /policies page we waive any copyright in the button and we don't assert we own any trademark rights

[2016-04-23 16:42] peterspdx commented on #137
@tvol recommended:
1. project pages
2. reading room papers written by Science Commons staff
3. the video

I think almost all of the content on the site is valuable. There are only so many having just clicked around bunches. The challenge in reviewing is that the main page at sciencecommons.org redirects to the CC website with a note it has been reintegrated. And I can't find a site map for all of

[2016-04-25 20:51] mattl opened #245 "Generate a sitemap of sciencecommons.org"

[2016-04-25 20:51] mattl commented on #137
I can get a site map created. https://github.com/creativecommons/creativecommons.org/issues/245

[2016-04-27 12:18] peterspdx opened #246 "Add summary of Swedish case involving CC licenses to case law database"
Here's the text to be added -- not sure how to add it myself.

<<>>

Case name: Äventyrsgruvan i Tuna Hästberg v. Gunnarsson

Court name: SVEA HOVRÄTT

Published: 2016-02-25

Summary: Photographer licensed a photo using the Swedish port of CC BY-NC-ND version 2.5. When the photo was reused by the defendant, he attributed the company that published the photograph but not the original photographer.

[2016-05-02 17:16] rebeccalendl commented on #241
@mattl let us know if you can tackle by Wed. or if you're too swamped, please let us know and we'll go another route.

[2016-05-02 17:22] mattl commented on #241
![g4669](https://cloud.githubusercontent.com/assets/33296/14961685/7c643096-1060-11e6-9f7a-9976bc9e8c5f.png)

[2016-05-02 17:25] mmoreshead commented on #241
One hundred thousand thank you's!

[2016-05-02 17:25] #241 closed

[2016-05-02 17:26] mattl commented on #241
[i-love-to-share-sticker.pdf](https://github.com/creativecommons/creativecommons.org/files/245592/i-love-to-share-sticker.pdf)

Here's the print quality file

[2016-05-03 15:36] rebeccalendl opened #248 "access to events@creativecommons.org email address"
@mattl  can you give me access to events@creativecommons.org email address?

[2016-05-03 15:55] mattl commented on #248
Reopening this now.

[2016-05-03 16:05] mattl commented on #248
Okay, all set.

[2016-05-03 16:37] mmoreshead commented on #248
Need to be able to send an email from events@ -- there are lots of available from emails in Freshdesk but sadly not events@

[2016-05-03 16:38] mattl commented on #248
Should be all set now.

[2016-05-03 16:41] mmoreshead commented on #248
Mucho Thank You Beaucoup.

[2016-05-03 16:41] #248 closed

[2016-05-03 20:53] rebeccalendl opened #249 "landing page for next email outreach scheduled for Monday 5/9 AM PT"
@mattl see googledoc just shared with you

[2016-05-10 20:00] mattl opened #250 "Produce Egyptian translation HTML documents"

[2016-05-10 21:07] ryanmerkley commented on #249
Why are we using a gdoc to collect PII? It looks really poor on us. I'm re-opening. Rob, can we not have a simple form that is secure and collects for us? We have other forms we've used for this.

[2016-05-10 21:08] mattl commented on #249
@ryanmerkley We can, I queried this too.

[2016-05-10 21:18] mattl commented on #249
All we need to do is:

* Build a profile in CiviCRM, which has the fields needed (nickname, email address, a comment field -- custom field created for this)
* Add those people to a group when they complete the profile
* Copy the HTML snippet from the profile to a page on creativecommons.org which has the info OR just link from the email to the profile's public page on CiviCRM

[2016-05-10 22:00] robmyers commented on #249
HTML for the form can be found here -

https://donate.creativecommons.org/civicrm/admin/uf/group?action=profile&gid=64

The form probably needs a better name, that can be set here:

https://donate.creativecommons.org/civicrm/admin/uf/group/update?action=update&id=64&context=group

[2016-05-13 17:58] mattl commented on #246
This is the CC wiki I think..

[2016-05-13 17:59] robmyers commented on #246
Yes. Will take a look.

[2016-05-13 18:07] robmyers commented on #246
Added, and linked from the list page:

https://wiki.creativecommons.org/wiki/%C3%84ventyrsgruvan_i_Tuna_H%C3%A4stberg_v._Gunnarsson

https://wiki.creativecommons.org/wiki/Case_Law

[2016-05-13 18:57] mattl commented on #246
Can you document the steps to adding an issue here, so @peterspdx can add them?

[2016-05-13 19:09] robmyers commented on #246
To adding a case law item to the wiki? Yes will do.

[2016-05-20 13:55] gwenfranck opened #251 "Domain names"
The Russian domain name needs to be renewed before June 6  -  creativecommons.ru

Right place?

[2016-05-23 17:17] mattl opened #252 "Update API documentation to include full URL with trailing slash"
https://api.creativecommons.org/docs/readme_15.html

[2016-05-23 22:21] peterspdx commented on #251
Yes, if the registration is in our name. Some affiliates register the names themselves and pay the fees, though under the terms of our Internet Services Policy they hold it in trust for us. Assume this is ours, in which case @mattl will renew.

[2016-05-23 22:24] mattl commented on #251
This was done earlier today. Note in my calendar to renew next year.

[2016-05-23 22:24] #251 closed

[2016-05-25 19:02] #249 closed

[2016-06-05 15:15] evarogers opened #253 "Test issue"
Testing an issue!

[2016-06-05 15:15] #253 closed

[2016-06-13 15:46] gwenfranck opened #254 "Give Gwen access to John's documents"
- https://docs.google.com/document/u/2/d/1EhqSeHYaptjR1kdLhhhwqQkiX6uaaxspuwm67BKIDBU/edit
- https://docs.google.com/document/u/2/d/1BBQpW5dE2K6lpIFNf3Yb9lbO2JhiHB25DJZgF0M4TnU/edithttps://docs.google.com/document/u/2/d/1KG8I_Pc1OXwMrbXfb6DucO_XeHAVaBTMs0VHFF-jZvU/edit
- https://docs.google.com/document/u/2/d/1yOJBKxj1vSAVPSKqV5jiGPE2aVwpe6rTvpfBkj4xOf4/edit
- https://docs.google.com/document/u/2/

[2016-06-14 16:36] mattl commented on #254
Okay, I've assigned *all* of John's documents to @tvol -- who can transfer these to you or give you access...

[2016-06-14 17:42] robmyers opened #255 "VM(s) for API and Deeds"
We discussed moving the Deeds and API (and the SemWeb stuff) to a separate server and proxying them via the main site.

Does this still sound like a good idea? Should we create a couple of VMs and implement this for the new site?

[2016-06-14 18:18] mattl commented on #255
Yeah, this is a good idea. I made a start on this last week. Let's get it done this week

[2016-06-14 18:35] peterspdx commented on #255
I don't see any downside, but alert me if there's something I may not be aware of especially wrt the deeds.

[2016-06-15 17:22] gwenfranck commented on #254
ok, thanks @mattl . Please don't close the ticket, there might be others coming soon.

[2016-06-15 17:25] mattl commented on #254
I won't close it, I'm going to unsubscribe from it as @tvol has all of John's documents now. If you need anyone else's documents (unlikely) but you can ask them directly, or make a new ticket if they've left too..

[2016-06-15 17:26] mattl commented on #255
Built and salted.

[2016-06-15 20:50] tvol commented on #254
done

[2016-06-15 20:50] #254 closed

[2016-06-21 17:28] gwenfranck opened #256 "Communications towards global network"
Create one mail with announcement, timeline, workflow to report bugs, workflow for affiliates to update their country pages

[2016-06-21 19:03] mattl opened #257 "Programs not linking to a page"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

https://staging.creativecommons.org/about/

![screenshot from 2016-06-21 14-02-34](https://cloud.githubusercontent.com/assets/33296/162426

[2016-06-21 19:57] robmyers commented on #255
These are now in place and reverse proxied.

[2016-06-21 19:57] #255 closed

[2016-06-21 20:00] janeatcc opened #258 "Resolve and redirect different urls for platform pages"
Platform page is currently at https://creativecommons.org/platform/ .. new staging puts it at https://staging.creativecommons.org/about/platform/ .. Let's make sure both direct to the same place once launched.

Also for toolkit, it currently sits at https://creativecommons.org/platform/toolkit/ .. new staging puts it at https://staging.creativecommons.org/about/platform/integration-toolkit/ .. let

[2016-06-21 20:02] janeatcc opened #259 "Legal issues with term "partner"?"
@peterspdx any legal issues with wording on calling these platforms our partners? If not, let's keep. If so, we should wordsmith to "collaborate with.." for now until we can figure it out.. eg. see https://staging.creativecommons.org/share-your-work/

cc: @little-wow

[2016-06-21 20:08] ericsteuer commented on #256
is this something you could do @gwenfranck

[2016-06-21 20:09] mattl commented on #256
Yeah, I think it would be good to come from the RCs...

Gwen, the details on reporting bugs are at http://creativecommons.github.io/ and the workflow for updating pages hasn't changed, they're still on the wiki.

[2016-06-21 20:20] peterspdx commented on #259
moving this to email since it involves legal advice.

[2016-06-21 20:31] mmoreshead commented on #256
Worth noting here: if someone newly creates a CCID, I can approve their wiki account- just ping me @gwenfranck

[2016-06-21 20:40] little-wow commented on #259
I changed the language on this page: https://staging.creativecommons.org/share-your-work/

[2016-06-21 20:40] pgstacey opened #260 ""Program Areas" Structural Change"
https://staging.creativecommons.org/about/program-areas/

Recommend:
- Program Areas be re-defined as per current Logic Model to be Discovery, Collaboration, and Advocacy
- Descriptions for each Program Area (Discovery, Collaboration, and Advocacy) be created based on: https://docs.google.com/document/d/10hgKxCFVHcV6afAqSWlXBjLdh5nL3PWA7tH1YxSfHSk/edit
- To each area the specific initiatives CC ha

[2016-06-21 21:02] ericsteuer commented on #260
good stuff. ryan will need to be involved in this. will come back to this post soft launch and resurface.

[2016-06-21 21:07] peterspdx commented on #259
Perfect.

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Tue, Jun 21, 2016 at 1:40 PM, Jennie Rose Halperin <
notifications@github.com> wrote:

[2016-06-21 21:13] janeatcc commented on #259
Further edited. Closing.

[2016-06-21 21:13] #259 closed

[2016-06-21 21:33] janeatcc opened #261 "change front page text to "explore CC platforms""
Currently says "explore CC partners" under use & remix

Also, change "partners" wherever else on the site to "platforms" where relevant.. I've changed on /platform but not sure where else it pops up..

[2016-06-21 21:43] janeatcc opened #262 "Change url for "search" on front page"
Under "use & remix" bucket in blue stripe, "search" has the same url as "search by topic" -- shouldn't be the same. "search" should go directly to our search tool: http://search.creativecommons.org/

[2016-06-21 21:47] mattl commented on #256
:+1:

[2016-06-21 21:50] mattl commented on #262
@little-wow Can you share how to do this too? It's not obvious to me how those things change.

[2016-06-21 21:52] little-wow commented on #262
I don't know how to change the front page tbqh

[2016-06-21 21:52] mattl commented on #262
@ageeroms Can you help us figure it out?

[2016-06-21 22:07] peterspdx opened #263 "Add link to FAQ on right hand side of main page under In This Section"
And please change color of link to FAQ at bottom of page so that it stands out separate from the contact information that is just below it.

[2016-06-21 22:11] janeatcc opened #264 "why do we have "website by affinity bridge" text on front page?"
I don't think we need that, and it gives real estate to a third party. Suggest removing.

[2016-06-21 22:39] janeatcc opened #265 "news box with no photo on /about"
see https://staging.creativecommons.org/about/, lower right

[2016-06-21 22:54] little-wow commented on #265
so there are a lot of posts with no photos, and they're pulled automatically, and we can fix them as we see them, but no way to fix all of them. I'll fix that one

[2016-06-21 22:54] #265 closed

[2016-06-21 23:25] robmyers commented on #263
The link has been addded to the right hand side of /about/ (thank you @little-wow for explaining what was required!).

[2016-06-21 23:26] robmyers commented on #263
@ageeroms please can the FAQ link in the footer be visually differentiated from the contact links about it?

[2016-06-21 23:49] ageeroms commented on #262
I have updated the Search link in the blue band on the homepage to go directly to search.creativecommons.org . Is that what you meant @janeatcc ?

[2016-06-22 00:00] janeatcc commented on #262
Yup! Thanks. But more importantly, how do we as CC staff update the home page?

[2016-06-22 00:12] ageeroms commented on #262
The widget is called "Share your work" and via Appearance > Widgets (https://staging.creativecommons.org/wordpress/wp-admin/widgets.php ), it's in the Below Content (Homepage) area. It's a HTML list, so you may wish to copy all of the HTML before you begin editing and save that somewhere, then make updates and save and test, so that you can revert if needed. I did paste a copy of the original code

[2016-06-22 00:19] janeatcc commented on #262
Thanks @ageeroms!

I don't have permissions to edit that page, but I assume @little-wow and @mattl do.

[2016-06-22 02:25] mattl commented on #264
@peterspdx I know this was in the contract, I think we chose to scrub it and put it on the donors page?

[2016-06-22 02:25] mattl commented on #263
I made the footer link different

[2016-06-22 02:25] #263 closed

[2016-06-22 02:38] mattl commented on #264
Okay, removed here https://github.com/creativecommons/new-www-theme/commit/ea5b1378399f2159278e365c52f0fac124178ac2 and  I'll figure out where it goes on the site.

[2016-06-22 02:39] peterspdx commented on #264
Please, someone do tell AB. We can change it again, but as a courtesy it should be communicated that at least for the soft launch X location is where it will appear.

[2016-06-22 02:39] #264 closed

[2016-06-22 03:08] mattl opened #266 "Update the store photos with current employees"

[2016-06-22 03:09] mattl commented on #262
Yep. Thanks @ageeroms

[2016-06-22 03:09] #262 closed

[2016-06-22 03:38] little-wow commented on #262
I don't have access to the widgets

On Tuesday, June 21, 2016, Matt Lee <notifications@github.com> wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2016-06-22 06:28] nasirkhan opened #267 "Home page email subscribe icon"
URL: https://staging.creativecommons.org

Issue Details: On the home page the email subscription button should be bigger/ proportional with the text beside. check the marked area on the screenshot.

Browser Details: Firefox 47 on Ubuntu 16.04 https://aboutmybrowser.com/erCjcKq9

Screenshots: ![screenshot-staging creativecommons org 2016-06-22 12-21-16](https://cloud.githubusercontent.com/assets/39

[2016-06-22 08:22] paul2keller opened #268 "someone is missing on the page with the board members"
https://staging.creativecommons.org/about/team/#our-board
![screen shot 2016-06-22 at 10 20 34](https://cloud.githubusercontent.com/assets/5593766/16259457/1ad77dd0-3863-11e6-880c-f4d1eca8a8ad.png)

[2016-06-22 11:13] peterspdx commented on #268
And several members of the advisory council are also missing. Here is the composition through 2016:

Joi Ito, Larry Lessig (Chair), Mohamed Nanabhay, Spencer Hyman, John Abele, Brian Fitzgerald, Sue Gardner, Jimmy Wales, Annette Thomas, Cathy Casserly, Ryan Merkley, Hal Abelson, Michael Carroll, Laurie Racine, Eric Saltzman, Molly Van Houweling, Esther Wojcicki

[2016-06-22 11:19] peterspdx commented on #268
Also, Kate Spelman's bio is out of date, she is no longer with K&L Gates. I've asked her to send updated text.

[2016-06-22 12:12] gwenfranck commented on #256
@ericsteuer sorry for not catching up on you already sending the mail - this is all very confusing, and the different timezones don't help.  As GNM ad interim, I am happy to do this sort of communications, but given that I work parttime + the time difference, I need a head's up (preferably a mail or a ping here) so that I can do what I need to do - esp. in the evening (CEST)  I am not always onlin

[2016-06-22 12:17] mmoreshead commented on #256
As far as I can see, it just points to the wiki @gwenfranck  https://staging.creativecommons.org/about/global-affiliate-network/

[2016-06-22 12:18] gwenfranck commented on #256
@mmoreshead but is that going to remain? I thought there would be pages for teams on the new site? Or did I get that all wrong?

[2016-06-22 12:19] mmoreshead commented on #266
FYI: @rebeccalendl and I are working on a total store redo right now.

[2016-06-22 12:37] mmoreshead commented on #256
My guess is not yet but I could be wrong.  I think right now the main thing is that there will be new attention drawn to the wiki and the affiliate pages.  From what I understand, they'll have more notice and time later when they have new pages.

[2016-06-22 12:44] mmoreshead commented on #256
@gwenfranck I think the "new pages" might be in the next bunch of work.

[2016-06-22 12:51] peterspdx opened #269 "Text change to https://staging.creativecommons.org/share-your-work/licensing-types-examples/public-domain/"
https://staging.creativecommons.org/share-your-work/licensing-types-examples/public-domain/

Under the CC0 description, change:

"Use this universal tool if you are a holder of copyright or database rights, and you wish to waive all of your interests in your work worldwide."

to

"...., and you wish to waive all of your interests that may exist in your work worldwide."

[2016-06-22 12:58] peterspdx commented on #269
Hit publish too quickly. Additionally, on that same page after the edited sentence mentioned above, add this additional sentence as part of the same paragraph:

Because copyright laws differ around the world, you may use this tool even though you may not have copyright in your jurisdiction, but want to be sure to eliminate any copyrights you may have in other jurisdictions. Let me know if you have

[2016-06-22 12:59] peterspdx commented on #269
(and the Let me know if you have questions shouldn't be part of the added text, it's a message to jennie :-))

[2016-06-22 13:06] peterspdx opened #270 "Broken links re CC0"
From this page: https://staging.creativecommons.org/share-your-work/licensing-types-examples/public-domain/cc0/

The two links under More Information on this line (to summary and to legal text) are broken and need to be fixed:

Read the CC0 summary and legal text

[2016-06-22 13:11] peterspdx opened #271 "Give Diane permission to edit: https://wiki.creativecommons.org/wiki/CC0_FAQ"
I'm signed in, but have lost privileges to edit these FAQs. Probably elsewhere as well, but for now this one is important.
@mattl @robmyers

Noting here that I seem to have lost the ability to also assign issues to mattl. No idea! So mentioning you both here instead. Thanks!

[2016-06-22 13:49] peterspdx opened #272 "Text Change: https://staging.creativecommons.org/choose/zero/"
@little-wow

Here is revised text for the first three paragraphs of this page.
[Text changes to choose zero.docx](https://github.com/creativecommons/creativecommons.org/files/328024/Text.changes.to.choose.zero.docx)

[2016-06-22 14:01] peterspdx commented on #272
@little-wow I would be happy to make the text changes myself, but i don't seem to have authorization.

[2016-06-22 14:36] little-wow commented on #268
That's very strange-- I added all those people. (I realize that the images
are blurry) Let me look, and sorry Paul!

On Wednesday, June 22, 2016, Diane Peters <notifications@github.com> wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2016-06-22 15:16] peterspdx commented on #268
I don't see even blurry images for those missing from the advisory council page. Thanks for helping correct those omissions @little-wow

[2016-06-22 15:17] peterspdx commented on #268
@little-wow

Here is updated text for Kate's bio on the board page.

Katherine C. Spelman is a Shareholder at Lane Powell and focuses her practice on copyright and digital publishing.  She has more than 30 years of experience advising clients on cutting-edge copyright matters, and provides strategic advice, design and implementation counsel for large, mid-sized and startup companies, including tho

[2016-06-22 15:20] mattl commented on #271
Hey Diane,

You should be able to assign to me. Perhaps something was not working earlier, but feel free to try again. We'll get this fixed for you ASAP, but given the site launch later today, it'll probably be tomorrow.

[2016-06-22 15:21] mattl commented on #272
Rob or I will have to do this, as the chooser is not in WordPress.

[2016-06-22 15:33] peterspdx commented on #271
Here's the text doc with changes and additions marked. let me know if you have questions. Thanks so much mattl!
[CC0 FAQ tweaks.docx](https://github.com/creativecommons/creativecommons.org/files/328227/CC0.FAQ.tweaks.docx)

[2016-06-22 15:35] peterspdx commented on #271
PS mattl: ok if tomorrow or even Friday. Just want these made in this initial round of changes. They've been in the wings for a bit. Appreciated.

[2016-06-22 15:38] peterspdx commented on #272
Thanks, as with other changes it's not urgent for today but we do want these small tweaks incorporated with the general roll out of the new site as they're important for some adopters. Appreciated mattl!

[2016-06-22 15:54] claudioruiz commented on #256
What do you mean for that? Is there a new stage after the launch when those pages will be included in the redesign or the whole new redesign does not include the affiliates "pages"?

[2016-06-22 15:57] little-wow commented on #268
@mattl my admin status was revoked somehow and now I can no longer edit that page

[2016-06-22 15:58] mattl commented on #256
The redesign today is just a new look for the same content that was there before, with a few things moved around. A future stage of work would see more pages being added to the site, including potentially affiliate pages.

[2016-06-22 16:07] mattl commented on #268
@ageeroms Paul is marked as being in the board group on the site, but isn't showing up.

Also, there are various members of the advisory board missing.

I've updated Kate's bio.

[2016-06-22 16:07] mattl commented on #266
Ticket is yours then ;)

[2016-06-22 16:29] little-wow commented on #270
fixed

[2016-06-22 16:29] #270 closed

[2016-06-22 16:43] mattl opened #273 "Tidy this up post launch"
https://staging.creativecommons.org/about/downloads/

[2016-06-22 16:48] peterspdx commented on #273
Can we please deal with the free culture logo at the same time? See thread with marimoreshead and me. I could live with it on the downloads page so long as we're clear that we're not the steward of the definition and similar.

[2016-06-22 16:49] mattl commented on #273
Sure thing.

[2016-06-22 16:50] ageeroms commented on #268
Hey folks, @little-wow i working on content entry here, so missing folks are her department, unless adding someone does not cause them to appear?

Folks are listed alphabetically by last name, so Paul Brest is first in featured section at the top and also in the 3rd position of the first row of board members. @mattl , is that the Paul you mean?