[2016-10-04 21:28] #472 closed

[2016-10-04 21:47] janeatcc opened #473 "FB share SOTC post?"
I did it through my manager account but I don't know where it went. Whenever you get a chance!

https://creativecommons.org/2016/10/04/2016-state-commons-call-submissions/

[2016-10-04 23:59] robmyers opened #474 "Update OO Plugin Wiki Page To Note That It's No Longer Available/Supported"
Here:

https://wiki.creativecommons.org/wiki/OpenOfficeOrg_Addin

[2016-10-05 09:28] mzeinstra commented on #469
I believe what @rizomaa is saying is that the link to a deed should follow the language that is chosen at the chooser. So if I use the Dutch chooser I should get a link to a Dutch deed page in the html, not the generic link.

[2016-10-05 14:13] rizomaa commented on #469
@mzeinstra thanks

yes, the main issue that it is not only for the belarusian translation but others.

[2016-10-05 16:23] robmyers commented on #469
I agree it should go to the correct language version.

I am away for a couple of days but I'll take a look at this next week when I get back.

Thank you for reporting this!

[2016-10-05 19:31] robmyers commented on #463
This is on https://creativecommons.org/donate and also appears on staging.

To reproduce:

1. Select a five dollar monthly donation and click "Next".
2. Enter dummy values for name and address and click "Next".
3. Scroll down to the "Submit" button. Note that the PayPal link is placed over the "Submit" arrow.

[2016-10-05 19:35] robmyers commented on #463
@ageeroms I'm not sure if this is breakage from my updating Gravity Forms or WordPress or what the cause is but it's present on both live and staging. Please can you take a look?

[2016-10-05 19:59] ageeroms commented on #463
![screen shot 2016-10-05 at 12 56 43 pm](https://cloud.githubusercontent.com/assets/6674702/19129200/3ce680ca-8afb-11e6-8316-46fd908f5468.png)

@altrugon can you please take a look at this? See steps above to reproduce and is only on mobile width. Please submit a pull request with fix.

[2016-10-05 21:20] ageeroms commented on #463
Hey @robmyers , Alberto gave this solution:

    Branch issue-463-paypal_link_overlap set up to track remote branch issue-463-paypal_link_overlap from origin.
    ~/Sites/creativecommons/wp-content/themes/cc (issue-463-paypal_link_overlap)$ git remote -v
    origin	git@github.com:creativecommons/new-www-theme.git (fetch)
    origin	git@github.com:creativecommons/new-www-theme.git (push)

Could you

[2016-10-05 23:15] janeatcc opened #475 "CC0 chooser appears to be broken"
last step won't actually let me proceed to confirm: https://creativecommons.org/choose/zero/waiver

[2016-10-05 23:15] janeatcc commented on #475
Also is this chooser where we would point folks to get CC0 metadata?

[2016-10-05 23:20] mmoreshead commented on #475
Hey @janeatcc - ongoing issue here: https://github.com/creativecommons/creativecommons.org/issues/313

[2016-10-05 23:21] janeatcc commented on #475
Got it.

[2016-10-05 23:21] #475 closed

[2016-10-05 23:21] janeatcc commented on #313
From related issue.. is this chooser where we would point folks to get CC0 metadata?

[2016-10-06 18:51] alkrieger opened #476 "Staging Site Settings for IPN Testing"
This relates to [#27691](https://support.giantrabbit.com/issues/27691) in Redmine and the Recurring Contributions Extension testing:

Here's the staging site for the new Creative Commons Gravity Forms donation page:

https://staging.creativecommons.org/donate/

September 16th we started discussing with Affinity Bridge how we would handle the IPN messages from PayPal after a transaction occurs. We

[2016-10-07 13:10] mmoreshead commented on #392
Ilkay reached out to the two men who translated it and they all agreed on a few changes.  They returned this file to me.  I'm not sure if this is the right format for it though.  Let me know.

[new cc remix master.tr.srt.txt](https://github.com/creativecommons/creativecommons.org/files/516194/new.cc.remix.master.tr.srt.txt)

[2016-10-10 20:47] little-wow opened #477 "Cannot access Civi"
It appears our security certificate expired :(

<img width="1271" alt="screen shot 2016-10-10 at 4 46 26 pm" src="https://cloud.githubusercontent.com/assets/7093838/19250590/1da9982a-8f09-11e6-82b4-a658fc22f10c.png">

[2016-10-10 20:59] little-wow commented on #473
done

[2016-10-10 20:59] #473 closed

[2016-10-10 21:00] #459 closed

[2016-10-11 18:36] fmann commented on #476
@robmyers a pull request for removing the IPN from the GF requests has been submitted in the new site repos.

https://github.com/creativecommons/new-creativecommons.org/pull/30

[2016-10-11 21:45] robmyers commented on #477
Fixed shortly after report.

[2016-10-11 21:45] #477 closed

[2016-10-12 17:41] alkrieger commented on #476
It looks like we are now able to receive PayPal IPN messages for test donations to our development environment:
![desctop screenshot](https://cloud.githubusercontent.com/assets/20407951/19320972/57a357ae-9068-11e6-81b1-2043eb6db64d.png)

[2016-10-13 18:31] janeatcc opened #479 "page not found error - re blender post"
https://creativecommons.org/2016/06/16/blender-institutes-ton-roosendaal-open-licensing-artistic-success/

[2016-10-13 19:17] robmyers commented on #392
It doesn't need the .txt suffix but otherwise looks good.

[2016-10-13 20:12] little-wow commented on #479
New URL: https://creativecommons.org/2016/10/12/blender-institutes-ton-roosendaal-open-licensing-artistic-success/
It got posted with the old URL via twitter yesterday, but I fixed it everywhere else.

[2016-10-13 20:12] #479 closed

[2016-10-14 13:52] little-wow opened #480 "In-browser PDF reader on Wiki produces blank pages"
I think the in-browser PDF reader on the Wiki is broken. I can download PDFs and they show up but in the browser they appear to be broken.

[2016-10-14 16:21] mmoreshead commented on #392
How do I add it @robmyers ?

[2016-10-14 16:45] robmyers commented on #392
You'll need the Vimeo login, and then you should be able to upload it to go with the video -

https://vimeo.com/help/faq/managing-your-videos/captions-and-subtitles#how-do-i-add-caption-and-subtitle-files-to-my-videos

[2016-10-14 17:25] mmoreshead commented on #392
Ok!

[2016-10-14 17:45] mmoreshead commented on #392
I DID IT, I DID IT!

[2016-10-14 17:45] #392 closed

[2016-10-14 19:08] mmoreshead commented on #294
Hi @ageeroms -- totally missed this, I'm sorry.  You'll have to reach out to Scott for this, I can't help. Sorry :(

[2016-10-14 19:13] #256 closed

[2016-10-15 03:53] cowcreekgeek commented on #463
Error in placement of paypal-toggle on page #gf_3 only occurs in narrow
viewports, but in all browsers I've tested -- just used it to make another
donation, but still interferes with credit card input.

In your cc-donate.css file, padding is applied to the class paypal-toggle,
which is also positioned absolutely on wider screens ... that might be a
good place to make temporary adjustment(s), even

[2016-10-16 13:56] truyenthonggioitreconggiao opened #481 "Home"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2016-10-16 19:58] rizomaa commented on #469
Hello,

Any news in the direction?

[2016-10-17 12:14] #481 closed

[2016-10-17 12:15] little-wow commented on #467
new VPN, issue resolved, hopefully?

[2016-10-17 16:28] robmyers commented on #467
Yes I've not heard anything since the client change. I'll keep an eye on this though.

[2016-10-17 17:03] robmyers commented on #463
@geeroms I've put issue-463-paypal_link_overlap on staging and the problem still seems to be there for really narrow viewports (e.g. my Android phone browser).

[2016-10-17 17:55] rebeccalendl commented on #294
Leaving all payment processor notifications generic. Will send personalized TY notes from CC via mailchimp.

[2016-10-17 17:55] #294 closed

[2016-10-17 18:00] ageeroms commented on #463
@altrugon , Rob put your fix on https://staging.creativecommons.org and I'm still seeing the issue on narrow viewports, e.g. Galaxy 7.

[2016-10-17 19:04] altrugon commented on #463
@robmyers I've merged _master_ into _issue-463-paypal_link_overlap_ and continued working there to avoid the creation of a new branch.

It seems that I was missing to remove a "position absolute" from the Paypay payment link on the mobile layout, I have added that line of code and pushed it to the repo.

[2016-10-18 05:59] hisasteam commented on #467
--
敬具
HISASHI MIYAGI
hisasteam@my.com

[2016-10-18 06:18] hisasteam commented on #467
クリエイティブコモンド友人いつもありがとう！　

敬具
HISASHI MIYAGI
hisasteam@my.com　
⛲⛲⛲⛲⛲⛲
yvcu8890     
hisasteam  iceweed  kimeseku 

[2016-10-18 10:54] minhtuan999 opened #482 "Jpg"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2016-10-18 16:31] #482 closed

[2016-10-18 18:29] alisonanalog opened #483 "Updates to summit.creativecommons.org"
Please update the summit placeholder page - still has Korea info on there, so let's remove that.

CC Global Summit 2017, coming to Toronto, Canada April 28-30.

Link to https://creativecommons.org/2016/09/08/announcing-2017-creative-commons-global-summit/

[2016-10-18 18:33] robmyers commented on #483
OK cool! Should this replace the existing static site or should we bring this into WordPress somehow?

[2016-10-18 18:33] alisoncreativecommons commented on #483
Please bring it into Wordpress!

[2016-10-18 18:33] robmyers commented on #483
Sure, I will take a look at that later today.

[2016-10-18 19:41] janeatcc commented on #467
I'm getting error 520 with the new VPN, when trying to use WP in safari Version 10.0 (10602.1.50.0.10)

[2016-10-18 20:06] janeatcc commented on #467
Hm, never mind seems to be working again now

[2016-10-18 20:59] little-wow commented on #389
Hi @robmyers ! This is happening again and I can't seem to fix it.
Rebecca says it has to do Civi outgoing message templates that you all talked about recently.
Thanks!

[2016-10-18 21:08] rebeccalendl commented on #389
Yeah, when I go to Admin / Comms / Message Templates to kill that outgoing message we discussed that shouldn't be sending, it redirects me to the CC website donate page. Anna thinks it may have something to do with a /donate automatic redirect that needs an exception. Any ideas? It's this https://creativecommons.org/donate/?utm_campaign=redirect_donate_ccorg&utm_source=redirect_donate_ccorg

[2016-10-19 00:04] robmyers commented on #389
Yikes. That's not happening for other links under /admin/comms, just the one.

It's a 403 error (Access Forbidden), which then results in a redirect.

I'm investigating why it's causing a 403.

[2016-10-19 00:21] robmyers commented on #389
The "Edit Message Templates" permission wasn't checked for administrators(!). I've enabled it.

We should now be able to follow that link.

[2016-10-19 15:10] RussianBruin opened #484 "A wrong translation of motto"
There is a mis-translation at Russian version of https://creativecommons.org/choose/
(at https://creativecommons.org/choose/?lang=ru).

The wrong line is "Это свободная лицензия на произведение культуры!" (Original: This is a Free Culture License!), ([div id="fc_approved_box"]). That rough line can be translated back as "This is a free license for (any) cultural work!". It means only "a license fo

[2016-10-19 15:23] peterspdx commented on #484
Thanks for this. We'll look into it by contacting the Russian translation team.

[2016-10-19 16:31] rebeccalendl opened #485 "Update to donate page"
https://creativecommons.org/donate/ offers an option to be included in the Public Supporters list when a donor enters $2000. The minimum threshold should be updated to $3000. Screenshot attached.
<img width="961" alt="donate page" src="https://cloud.githubusercontent.com/assets/13322149/19527902/b7f60b58-95de-11e6-9455-47751a4b1532.png">

[2016-10-19 16:36] robmyers commented on #485
Somebody has already changed that(!).

[2016-10-19 17:24] alkrieger opened #486 "Put GR Stripe test credentials on staging.creativecommons.org/donate"
This is reflected in Redmine Ticket #27801 (https://support.giantrabbit.com/issues/27801)

Hey Rob, would you put our GR Stripe test credentials on staging.creativecommons.org/donate so that we can test Stripe transactions?

url: https://api.stripe.com/v2
Test Secret Key (instructions for how to find this below)
Test Publishable Key (instructions for how to find this below)

To get the Test Keys:

[2016-10-19 18:22] robmyers commented on #485
I misunderstood the problem, I'm sorry about that.

It is now *actually* fixed on live and staging.

[2016-10-19 18:22] #485 closed

[2016-10-19 22:38] alkrieger commented on #486
Rob has installed the test keys on staging. This is back in Jenny's court.

[2016-10-19 23:04] robmyers opened #487 "Fix Let's Encrypt on staginglb"
certbot doesn't currently support haproxy, so we need to update the certificate manually.

[2016-10-20 15:26] little-wow opened #488 "No joint authorship on blog posts"
Joint authorship seems to not be working on the blog.
Example:

<img width="347" alt="screen shot 2016-10-20 at 11 26 16 am" src="https://cloud.githubusercontent.com/assets/7093838/19566389/0fcedfa6-96b8-11e6-9ef6-055e9f87971c.png">
<img width="1109" alt="screen shot 2016-10-20 at 11 26 01 am" src="https://cloud.githubusercontent.com/assets/7093838/19566390/0fd91534-96b8-11e6-90ac-601820eeafb5.png

[2016-10-20 17:07] robmyers commented on #488
We're getting multiple authors through the "Co-Authors Plus" plugin, but if the theme doesn't know about this then it wouldn't render the information.

[2016-10-20 17:31] mackh commented on #488
We'll take a look

[2016-10-20 17:38] robmyers commented on #488
@mackh thank you!

[2016-10-20 20:08] fmann commented on #488
I've integrated the appropriate tags for the co-author plus with fallback to single author if that plugin ever gets disabled.

It looks like this now:

![screen shot 2016-10-20 at 1 05 42 pm](https://cloud.githubusercontent.com/assets/711497/19575983/1b10fc10-96c6-11e6-92c6-d91d3beee49a.png)

There are changes in both the theme and the plugins repos, the latter required to add support for co-autho

[2016-10-20 22:35] robmyers commented on #488
Thank you @fmann , I've tested that on staging, merged and deployed. It looks great.

[2016-10-20 22:35] #488 closed

[2016-10-21 14:19] rebeccalendl commented on #389
That works! Thanks so much.

[2016-10-21 14:19] #389 closed

[2016-10-25 15:56] janeatcc commented on #467
This is happening again with Viscosity installed and connected

[2016-10-25 16:06] robmyers commented on #467
I turned off the cloudflare feature that was meant to be causing this yesterday.

Please email me the "Ray ID" or your current IP address so I can investigate.

[2016-10-26 15:41] janeatcc commented on #313
This is still broken. I'd like to be able to send platforms a snippet of code to include in pages where they display the CC0 icon on a resource.

Is this section sufficient for that, or would I have to add something to make it clear to the platform that they can also do this for CC0? https://creativecommons.org/platform/toolkit/#license-metadata

[2016-10-26 17:06] alkrieger opened #491 "Turn off CiviMail messages to donors"
Reflected in Redmine ticket https://support.giantrabbit.com/issues/27855

Rebecca says:

We asked if CC would need to send any mail from CiviCRM once they made the switch to MailChimp and the answer appeared to be 'no'.

Anthony had two initial thoughts on how to do this:

First, we can try to prevent Civi from sending any mail by changing the SMTP setting. We don't know what the implications of t

[2016-10-26 18:40] robmyers commented on #313
@janeatcc Yes this is where people would get CC0 metadata. The "Have your own website?" section of the completion page (that people can't get to because the buttons on the second page are hidden) contains a snippet of HTML+RDFa that people can use. There's two sizes of buttons the snippet can include, selectable at the top of the page.

Here's an example:

https://creativecommons.org/choose/zero/r

[2016-10-26 18:41] robmyers commented on #313
The HTML+RDFa representations of License and PD data are different, with different choosers and different tags, so they do need describing (briefly) separately.

[2016-10-26 18:45] janeatcc commented on #313
Ok, so since the CC0 chooser is currently broken, is this page the best place to point platforms? Or should we wait until it's fixed so platforms can input their territory + jurisdiction? https://creativecommons.org/choose/zero/results?license-class=zero&name=A.+N.+Other&actor_href=https%3A%2F%2Fexample.net%2Fanother%2FUntitledPainting&work_title=Untitled+Painting&work_jurisdiction=GB&confirm=conf

[2016-10-26 18:52] robmyers commented on #313
I can take a look at CC0 later this afternoon, or we could link to the CCrel guide and a tinyurl of that example?

[2016-10-26 18:58] janeatcc commented on #313
No rush. I'll wait!

[2016-10-27 17:24] robmyers commented on #491
Do we need to send recurring donation receipts for the donors' tax purposes or are the PayPal (etc.) receipts sufficient for that?

The "Receipt Tab" contains the option to disable email receipts for each Contribution Page.

See Contributions > Manage Contribution Pages > Configure link (next to each page listing).

or see "Receipt Tab" here:

https://docs.civicrm.org/user/en/4.6/contributions/onl

[2016-10-27 18:35] fmann opened #492 "Add "Special Feature" to homepage."
There was a request from CC staff to have a "Special Feature" in the homepage "What's Happening" area. This feature is sticky-ish in that, if there is a post with the "Special Feature" tag set, it will always show up in the fourth position of the "What's Happening" block.

This feature has been added to the [feature/homepage_special_feature branch](https://github.com/creativecommons/new-www-plugin

[2016-10-27 19:08] robmyers commented on #313
@janeatcc @mmoreshead  I've fixed the formatting of the tool that was preventing people from being able to use it. The formatting of some text and input widgets has (incidentally) been updated along with the buttons - this isn't intended as a redesign but was desperately needed to make the tool more usable in its current form.

[2016-10-27 19:47] robmyers commented on #492
I've pinged the staff to take a look. Thank you!

[2016-10-27 20:10] robmyers commented on #492
I can't see the special feature on https://staging.creativecommons.org/ . The new-www-plugin is on develop and is current.

[2016-10-27 20:56] fmann commented on #492
![special_feature_staging](https://cloud.githubusercontent.com/assets/711497/19785118/116f8a46-9c4d-11e6-8f74-391ca35185fb.jpg)

Odd. I am seeing it.

[2016-10-27 21:05] janeatcc commented on #313
Ok - is the code on the resulting last page in good shape to send to folks?

On Thu, Oct 27, 2016 at 12:08 PM, Rob Myers <notifications@github.com>
wrote:

--
Jane Park
Director of Platforms and Partnerships
Creative Commons
@janedaily

Get updates: http://bit.ly/commonsnews
Invest in the commons: https://donate.creativecommons.org/

[2016-10-27 21:36] rebeccalendl commented on #492
Thx @fmann! We didn't have credentials, but just got them from Anna so we're all set and can see it. Looks good to me, just waiting on Rob and Jennie that it works for them.

[2016-10-27 21:51] robmyers commented on #313
Yes, it is.

[2016-10-27 22:12] robmyers commented on #492
Ah my mistake. Seen but not seen. ;-) I'm sorry about that.

Yes this looks good if everyone else is happy.

[2016-10-28 11:29] little-wow opened #493 "Image Cropper in WP is broken"
The 2:3 aspect ratio is consistently an issue for our blog workflow and a lot of images look bad because of it.

Is there any way to automatically resize the image so it just fits in the box? I spoke with @fmann about it, and he said there possibly was.

Thanks!

[2016-10-28 14:45] rebeccalendl commented on #492
I heard back from Jennie too via email so we have a full round of approval from CC. Let's do it, @fmann

[2016-10-28 14:56] fmann commented on #492
I've submitted a pull request to @robmyers https://github.com/creativecommons/new-www-plugin/pull/8

As well as updating the code on prod, a reminder that there is one content management deployment step: adding a new term to the Highlight taxonomy. Term name "Special Feature", slug "special-feature".  With that in place it should be good to go.

[2016-10-28 15:51] peterspdx commented on #491
I think the best practice if for CC itself to generate the receipt and not rely on paypal or another to maintain records and send those. It's our obligation. We should be sending that to them via email. If that can be done automatically, great.

[2016-10-28 16:21] #487 closed

[2016-10-28 16:27] robmyers commented on #492
I've merged the new-www-plugin pull request and deployed master on production and staging.

This feature is now live.

[2016-10-28 16:29] rebeccalendl commented on #491
@peterspdx yes, the automated donor onboarding email process has been a year-long effort to clean up and streamline...happy to fill you in. This particular ticket is to turn off an unwanted email from CiviCRM which is outdated in both style and content and will be replaced by the new systems we're launching in the coming weeks.

[2016-10-28 16:56] peterspdx commented on #491
got it, thanks rebeccalendl

[2016-10-28 17:04] rebeccalendl commented on #492
Question for you @fmann. Is the special feature now something that will be available for us to turn off and on (preferred), or will that last spot now always be persistent?

[2016-10-28 18:05] fmann commented on #492
Thanks @robmyers !

@rebeccalendl If no posts are tagged with "Special Feature" it will revert to the previous behaviour and show four featured posts.

[2016-10-28 18:36] rebeccalendl commented on #492
Dreamy. Thanks again to everyone!

[2016-10-28 21:51] ageeroms commented on #493
@fmann can you please let me know what the options are here?

[2016-11-01 18:40] fmann commented on #493
Hi @little-wow. Sorry it has taken me a bit to look into this.

Just to be clear, we are talking about Feature Image thumbnails used on the homepage for blog posts in the What's Happening block, yes? The four images in a horizontal row?

I've looked into plugins we could add a bit, and I'm having a hard time finding anything that seems like it'd obviously be better.  Also, I think we may not have

[2016-11-04 17:05] sarahpearson opened #496 "push Polish 4.0 translation live"
@georgehari has corrected the files and checked the HTML, so these files are ready to go live. This ticket is simply me giving formal green light for publication. George submitted a pull request. Thanks!

[2016-11-04 17:10] sarahpearson opened #497 "add polish translation to bottom of existing 4.0 translations"
Once the Polish 4.0 translation is live, we will need to add it to the language list at the bottom of all published translations.

It should be listed as polski (note lowercase). The country code at the end of the URLs is .pl

Please let me know if you need anything else to do this. Thanks!

[2016-11-04 17:30] peterspdx commented on #496
Let's do this! Thanks to Sarah, George, and Rob. Is there a blog post on the horizon?

[2016-11-04 18:01] sarahpearson commented on #496
There is not one in the works. For some reason, I thought we were moving away from doing a blog post announcement with every translation.

[2016-11-04 18:05] peterspdx commented on #496
I don't remember discussing that with Gwen or others. I think it would be
nice assuming it's highlighting the people who are volunteers and how it
fits into the larger picture of making our licenses accessible to more
persons.

I'll let you decide. I definitely want posts for those that require major
lifts across borders and that received funding, including Arabic, French
and Spanish.

Diane M. Pe

[2016-11-04 18:31] #497 closed

[2016-11-04 20:31] sarahpearson commented on #496
Jennie is going to work with the team to get a blog post up next week. Closing this ticket as the translations are now live. Yay!

[2016-11-04 20:31] #496 closed

[2016-11-04 23:31] robmyers commented on #483
That was a long day. :-(

The page is here:

https://creativecommons.org/global-summit-2017/

And summit.creativecommons.org now redirects to it. That was the easiest way of handling this.

[2016-11-04 23:32] #483 closed

[2016-11-06 20:38] robmuh opened #498 "Inkscape Stuff in SVGs"
Looks like you have `sodipodi` and `inkscape` stuff in the SVGs that prevent them from cleanly being included in illustrator and other documents. You can avoid this by saving them as clean in Inkscape.

[2016-11-07 11:17] mzeinstra opened #499 "Graceful redirect when linking uploads folder is broken"
### To do (2019-04-03)
- Ensure that directory folders in WordPress are not viewable publicly.
- Fix the redirect error that the directory folders currently return.

### Original issue text
Please tell us the steps to reproduce:

1. go to https://creativecommons.org/wp-content/uploads/2016/11/
2. or go to go to https://creativecommons.org/wp-content/uploads/

A pet peeve I have lately is to see if

[2016-11-08 19:46] georgehari opened #500 "Missing links to Polish translations in the footer of English license files"
I can't see the link to the Polish (polski, pl) pages in the footer of the English license files:

https://creativecommons.org/licenses/by/4.0/legalcode
https://creativecommons.org/licenses/by-sa/4.0/legalcode
etc.

[2016-11-09 16:49] ageeroms opened #501 "Remove redirect for store on stage"
Hey @robmyers , we've been working on resurrecting the Amazon store, as shown here: http://dev.cc.affinitybridge.com/about/store/ (username: affinity and password: bridge) . You can see that we added content on the main store page, instead of just redirecting that page. We also added the Open Store page, which is featured there.

I'm adding a separate ticket for Floyd to make a pull request the CS

[2016-11-09 16:51] ageeroms opened #502 "Pull request for Amazon store CSS"
Hey @fmann , can you please request your CSS for the Amazon store be put on https://staging.creativecommons.org? Or deploy it to stage (if we have that permission). Thanks!

[2016-11-09 18:06] fmann commented on #502
Staging is on the develop branch, which has the store CSS in it already. Go ahead and pop the store page up there and let me know if you discover any problems.

[2016-11-10 16:19] robmyers commented on #501
(Apologies for the delay, I'm on vacation at the moment but I am watching for blockers).

I've removed the redirect on stage.

[2016-11-10 16:19] #501 closed

[2016-11-10 16:20] robmyers commented on #502
Closing as CSS is already deployed.

[2016-11-10 16:20] #502 closed

[2016-11-10 18:18] robmyers opened #503 "Update hr@ address"
It's stale.

[2016-11-10 22:19] peterspdx opened #505 "Conference line #1 main dail in doesn't work: here's the new number: 641 715 0850"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2016-11-11 08:32] mmoreshead commented on #505
Hi @peterspdx -- I'll have @robmyers remove it from the list.  I believe that the free conference call numbers only work for 18 months or a year or something, so we likely just need to get a new one.

I'll take care of this.

[2016-11-16 17:07] ageeroms opened #507 "Launch Amazon Store"
Hello Rob,

I think we're all lined up to launch the Amazon store.

Here are the steps to launch Amazon Store:

1. Create Open Store page on production. It should be a child of the Store page. The content for that page is on Staging: https://staging.creativecommons.org/wordpress/wp-admin/post.php?post=50762&action=edit
2. Copy content from Staging (https://staging.creativecommons.org/wordpress/wp-

[2016-11-17 19:29] fmann commented on #507
You need to merge and deploy the CSS currently in the develop branch of the new-www-theme too.

https://github.com/creativecommons/new-www-theme/pull/11

[2016-11-19 02:24] cowcreekgeek commented on #463
@altrugon The absolute positioning was part of the issue, but the overlap still occurs on narrow viewports because the green "submit" button is pushed beneath the "back" button, which the PayPal link appears to positioned relative to.

Links work (can't look w/o donating ~;-)

Allowing for the height of that button when the viewport become narrow saves me money.

[2016-11-19 08:01] robmyers commented on #503
Done.

[2016-11-19 08:01] #503 closed

[2016-11-21 18:50] little-wow opened #508 "Mailchimp Testing"
1. All "Please add me to your mailing list" check boxes need to be transferred from Civi to Gravity Forms:
<img width="988" alt="screen shot 2016-11-21 at 12 46 28 pm" src="https://cloud.githubusercontent.com/assets/7093838/20493884/8d0e9864-afe8-11e6-9b77-566359201f7d.png">

*Question: How do I make this checkbox?*

<img width="1197" alt="screen shot 2016-11-21 at 12 47 27 pm" src="https://cloud.

[2016-11-21 19:27] robmyers commented on #508
Regarding 3, I'm doing the export Wednesday as discussed.

[2016-11-21 22:25] little-wow commented on #508
@robmyers with the export, can you group them into a few groups:

1. Anyone who donated ever and specifically opted into the mailing list
2. Anyone who donated ever and is not listed as opted into the mailing list but is also not listed as opted out
3. Anyone who is listed as neither opted in nor opted out but is also not specifically listed as a donor.

Could you also make sure that the metadata

[2016-11-22 15:06] little-wow opened #509 "Mystery error "Are you sure you want to do this?""
<img width="873" alt="screen shot 2016-11-22 at 8 06 59 am" src="https://cloud.githubusercontent.com/assets/7093838/20528704/40474158-b09b-11e6-931b-2fd52ec52731.png">

I usually get this error when I've been logged in for a while and try to update a page or post

[2016-11-22 15:06] little-wow commented on #493
Closing this ticket because it's not P1. Thanks for the instructions @fmann !

[2016-11-22 15:22] little-wow opened #510 "Wordpress is adding in nbsp after images and messing with the way text is rendered"
http://wordpress.stackexchange.com/questions/29702/wordpress-automatically-adding-nbsp here's something about the nbsp

and here are screenshots of the text – it was only happening with text following an image

Text editor:
<img width="757" alt="screen shot 2016-11-21 at 5 53 06 pm" src="https://cloud.githubusercontent.com/assets/7093838/20529241/85584b50-b09d-11e6-9acb-d70294fdd33b.png">

<img wi

[2016-11-22 15:23] #467 closed

[2016-11-22 16:03] robmyers commented on #510
The recommended fix from that article has a couple of comments saying it doesn't work.

Are you switching between visual and text editor mode in WordPress as per the answer below the accepted one? We should be able to do that (I can't imagine editing without doing so), I'm just checking to see if what we are experiencing matches what other people are reporting.

[2016-11-22 16:08] robmyers commented on #509
It's most likely caused by a random plugin or theme -

https://premium.wpmudev.org/blog/are-you-sure-you-want-to-do-this-error-wordpress/

Can you reproduce this on staging? I ask because if the answer is yes it will be *much* easier to track down the culprit there than on live.

[2016-11-22 16:15] little-wow commented on #510
Yes – That's exactly what I'm doing... Even when it looks right in text
mode, it's still messing up in visual mode, which is what the screenshots
are showing.

On Tue, Nov 22, 2016 at 11:03 AM, Rob Myers <notifications@github.com>
wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2016-11-23 19:23] mmoreshead commented on #505
Can you update our google calendar "rooms" with this conf line instead of the first one?

Toll Free: 1-800-719-7514
PIN: 358424
Host PIN: ask Mari for this privately

[2016-11-23 19:25] robmyers commented on #508
If we have that information in Civi I can use it.

Would you like separate batches, or a column that indicates this?

[2016-11-23 19:28] mmoreshead opened #511 "Donation Error"
Steps to reproduce:

1) go through one time $1 donation process

2) When you get to the credit card part, put in 2016 for your expiration year, you'll get an error that says the year isn't valid (assuming this is because month is already past, my expiration month is past this year)

3) Fix expiration year, click submit, get this message:
"false is not supported. Please enter one of the supported c

[2016-11-23 19:38] mmoreshead commented on #511
@ageeroms -- Rob said I should tag someone at AB :)

[2016-11-23 19:41] little-wow commented on #508
Separate batches that are clearly labeled, if that's okay?

[2016-11-23 19:43] robmyers commented on #505
Thank you for your help with this.

It's now updated.

[2016-11-23 20:47] robinpuga commented on #511
@mmoreshead Can you confirm that you are entering a past month and past date?

When we test with a past month and past date we see the same error "false is not supported. Please enter one of the supported credit cards." This is a Stripe error message and obviously quite confusing. We will look into whether we can override Stripe's error messages from WordPress and get back to you.

[2016-11-23 21:16] mmoreshead commented on #511
HI @robinpuga -- yes, I entered 09/16 as expiry.

[2016-11-24 01:08] robmyers commented on #508
I have to write more code than I thought in order to do this. :-/ I won't finish until Friday now as tomorrow is blocked out. My apologies.

[2016-11-24 17:27] fmann opened #513 "Deploy holiday overlay and updates to GA tracking"
First there are three pull requests for branches that need to be merged in:

https://github.com/creativecommons/creativecommons.org/pull/512
https://github.com/creativecommons/new-www-theme/pull/12
https://github.com/creativecommons/new-creativecommons.org/pull/32

Then we can deploy the code to prod and make the necessary changes in the CMS.

[2016-11-24 17:44] robmyers commented on #513
All merged.

Thank you!

[2016-11-24 17:44] #513 closed

[2016-11-24 21:39] fmann opened #515 "Active step in donation form not getting highlighted properly"
We noticed that the active state for the current page in the store is broken. My hunch is that happened during the GF 2 upgrade.

![screen shot 2016-11-24 at 1 38 10 pm](https://cloud.githubusercontent.com/assets/711497/20610229/75d9f0f2-b24b-11e6-8ff5-baf9e0d34741.png)

A fix is forthcoming.

[2016-11-24 21:42] fmann commented on #515
GravityForms 2 changed a span into a div, which broke one of our CSS selectors. I've fixed it.

![screen shot 2016-11-24 at 1 41 18 pm](https://cloud.githubusercontent.com/assets/711497/20610249/c43e105c-b24b-11e6-87ed-fc026fdbac7a.png)

Pull request here: https://github.com/creativecommons/new-www-theme/pull/13

[2016-11-24 22:43] fmann opened #516 "Update theme release version string, minimize the css."
I was not aware that we are setting a version string in our functions.php for cache busting. I'm making this a constant, changing the version string, and adding something to the README about it.

[2016-11-28 15:55] little-wow commented on #508
Hey @robmyers just pinging on this work!

[2016-11-28 17:19] robmyers commented on #508
Since I expect the process to be very slow, exporting every group doesn't make sense (take a look in Civi and you'll see lots of groups for contacts for previous members of staff etc.). I can export what look like the greatest hits, or you can provide a list of groups.

[2016-11-28 17:24] little-wow commented on #508
@robmyers  Just ignore the groups that exist in Civi now and see if you can run custom searches for the groups listed above, if possible.

[2016-11-28 19:54] mmoreshead commented on #505
This didn't work, I still see the old number (and no new number).

[2016-11-28 20:00] robmyers commented on #505
I definitely pressed "save". Will investigate.

[2016-11-28 21:24] robmyers commented on #505
I have changed it and double double checked it. I'm sorry about that.

[2016-11-28 21:24] #505 closed

[2016-11-28 22:42] little-wow opened #517 "Mailchimp issues with plugin"
These are the issues that were uncovered when testing the Mailchimp plugin.

1. The current implementation overwrites form fields whenever a record is updated. We really don't want this to happen so that we can filter on multiple attributes when we send emails to people.
According to Gravity Form support, this plugin should be added to the theme functions.php file: https://www.gravityhelp.com/docu

[2016-11-28 22:53] little-wow opened #518 "Year end analytics"
We want to be able to track year end campaign with analytics through ecommerce tracking

As per our meeting, due to the difficulty of passing Paypal to Google Analytics accurately, we will calculate Paypal transactions manually.

This ticket is to track progress on that goal.

[2016-11-29 01:01] robinpuga commented on #518
@little-wow Thanks for the tracking ticket for this issue.

Our team will be looking at a patch to GA E-Commerce plugin to omit the transaction processing for PayPal payments for the time being.

[2016-11-29 01:19] robinpuga commented on #517
@little-wow Our team will review and prepare the plugins for GravityForms / MailChimp integration. Thanks for the link to the additional plugin, hopefully that sorts out the issue of data being overwritten.

Some clarification with respect to a couple items listed above:

1) _"Note – I did not check the "Yes, Subscribe me to the CC newsletter" in this test and I still got the email below."_
NOTE t

[2016-11-30 10:26] peterspdx opened #519 "Public Reports page on wiki is down"
https://wiki.creativecommons.org/wiki/Public_reports
<img width="1192" alt="screen shot 2016-11-30 at 2 26 07 am" src="https://cloud.githubusercontent.com/assets/6127036/20748769/63eaa5aa-b6a4-11e6-833e-6e588a81bb61.png">

[2016-11-30 10:56] georgehari commented on #519
It is up now.

[2016-11-30 15:50] little-wow opened #520 "Gravity Forms exports hanging, only exporting certain fields"
I am trying to export a large data set (3000 + rows) from Gravity Forms and it keeps hanging at zero:

<img width="654" alt="screen shot 2016-11-30 at 10 48 35 am" src="https://cloud.githubusercontent.com/assets/7093838/20759310/93534a4a-b6ea-11e6-8c29-422e67a1f223.png">

When it actually exports, it does not export all the columns I requested. (I need the column labeled "Email" and it has twice n

[2016-11-30 16:25] robmyers commented on #520
I'll take a look but I couldn't reproduce it yesterday with a full export. Can you email us a screenshot (or two) of the options you are choosing so we can try to reproduce the exact scenario? Thank you.

[2016-11-30 16:51] gwenfranck opened #521 "page for the Awesome Fund"
Hi,

can I get a page on the site to showcase awesome fund projects? Just a template or a start would be great.

Finally, we're going to put someone's name here, so they get alerted to the new issue and can assign it to the right person. @robmyers @little-wow

[2016-11-30 22:28] robmyers commented on #519
Frustratingly, CloudFlare isn't showing me anything for that Ray ID. I've had that with several reports from staff recently.

It looks like it was a transitory error. I apologise for the convenience

[2016-11-30 22:28] #519 closed

[2016-12-01 15:34] little-wow commented on #520
workaround discovered

[2016-12-01 15:34] #520 closed

[2016-12-01 18:51] robmyers commented on #521
On cc.org? Are you wanting to edit it or would you like us to add the content?

@little-wow Where would that best go?

[2016-12-01 18:56] little-wow commented on #521
@gwenfranck do you have editing rights on the site?

[2016-12-01 20:10] fmann opened #522 "Stop Gravity Forms -> Google Analytics Donation notifications for PayPal donations"
GravityForms completes the form submission prior to payment being closed. The way it is configured now, GF notifies GA of a completed transaction immediately. Since a large number of PayPal payment link clicks never complete the donation, the numbers for supposed donations is highly inflated.

Our short-term fix is to not post PayPal transactions to GA, which requires a patch to the Gravity Forms

[2016-12-01 20:39] fmann commented on #522
Patch issued and change staged to the staging server.

[2016-12-01 20:56] fmann opened #523 "Release minor donation form CSS changes"
We've got a few CSS clean up tickets in our ticketing system, Unfuddle.

 - 247 - Error is tiny when I try to donate $.25
 - 249 - Field Placeholder looks like it got big and dark
 - 250 - Email field on step 2 of donation form not aligned

I'm going to issue a pull request for releasing those CSS tweaks.

[2016-12-02 06:22] NaeemaCC opened #524 "Recieving backdated emails now!"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:
Its on my CC email: naeema@creativecommons.org

Please tell us the steps to reproduce the problem, if needed:

1. Yesterday Thursday, Dec 1

[2016-12-02 06:40] robmyers commented on #524
Heya Naeema.

Yes this was my fault. There were some emails in the moderation queue for the strategy list that nobody had released. I released them today but I didn't realise how old some of them were.

I removed the images as they are internal messages and this is a public site. :-)

I'm sorry for the confusion. I'm adding "check admin queues" to my Monday routine.

[2016-12-02 06:40] #524 closed

[2016-12-02 06:44] NaeemaCC commented on #524
Oh I see! Thank you for the prompt response and assistance always

Have a great day
N

On Fri, Dec 2, 2016 at 8:40 AM, Rob Myers <notifications@github.com> wrote:

--
Naeema Zarif
Regional Coordinator | Arab World
Creative Commons
creativecommons.org
naeema@creativecommons.org

Skype: NaeemaZarif
Twitter: @naeema

Please support CC in shaping the future of sharing:
https://creativecommons.net/dona

[2016-12-03 09:31] zeyarnaung commented on #523
#523

[2016-12-03 09:31] zeyarnaung commented on #523
#15 Develop

[2016-12-03 09:36] zeyarnaung commented on #522
#522 refs #33 Restart GF from posting PayPal Donations to GA.

[2016-12-03 13:22] hrlfd24 opened #525 "Hrlfd"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2016-12-03 13:23] hrlfd24 commented on #525
Respon

[2016-12-04 18:28] zeyarnaung opened #526 "Feel free"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2016-12-05 15:39] little-wow commented on #526
please don't spam our issue tracker

[2016-12-05 15:39] #526 closed

[2016-12-05 15:40] little-wow opened #527 "Twitter cards"
Nasir pointed out that because we don't have Twitter cards enabled, it makes tweets look like this when there's no image on the page:

<img width="592" alt="screen shot 2016-12-05 at 10 35 29 am" src="https://cloud.githubusercontent.com/assets/7093838/20891030/1f42950c-bad7-11e6-9b25-a5556ff86a89.png">

Posts with images only fair slightly betterL
<img width="591" alt="screen shot 2016-12-05 at 10

[2016-12-05 16:36] nasirkhan opened #528 "Facebook Card Issue for Donate page"
while we share the link of the donate page (http://creativecommons.org/donate) it does not show any image. It is better and easier to get attraction from people if we add any image with the text/link.

This issue is related to #527

Here is a example screnshot
![screenshot-www facebook com 2016-12-05 15-30-29](https://cloud.githubusercontent.com/assets/396987/20893125/d3d5edf8-bb3a-11e6-9407-95f2e

[2016-12-05 16:38] nasirkhan commented on #527
there is an another issue related to this donate page #528

[2016-12-05 17:11] robmyers commented on #528
@little-wow In general when this sort of thing happens it's the absence of a Featured Image.

[2016-12-05 17:12] robmyers commented on #527
Same as #528 .

[2016-12-05 17:12] #527 closed

[2016-12-05 17:14] little-wow commented on #528
@robmyers This is an issue with the donate page – how come there is no image on the donate page anymore?

[2016-12-05 17:15] little-wow commented on #528
Also as I mentioned in the last ticket, this is also ugly and I am not sure why it doesn't make a big card:
<img width="591" alt="screen shot 2016-12-05 at 10 36 07 am" src="https://cloud.githubusercontent.com/assets/7093838/20894699/81fef462-bae4-11e6-87d9-837e57dd1892.png">

[2016-12-05 17:20] robmyers commented on #528
@little-wow In general when this sort of thing happens it's the absence of a Featured Image.

[2016-12-05 17:20] robinpuga commented on #528
We should be able to configure this with the existing Yeost SEO plugin - https://kb.yoast.com/kb/setting-up-twitter-cards-in-wordpress-seo/

[2016-12-05 17:31] little-wow commented on #528
Thanks @robinpuga. I changed the settings and hopefully it will be working now.

[2016-12-05 17:31] #528 closed

[2016-12-05 17:40] robinpuga commented on #528
@little-wow You may need to also set the images specifically for the /donate/ page. Do not set the Featured Image for this page or it gets added to the top of the page on display.

See the attached image for where to set the images in Yeost SEO.

![edit page creative commons wordpress](https://cloud.githubusercontent.com/assets/275232/20895545/bb9ebcd6-bace-11e6-9042-4cf7e5445042.jpg)

[2016-12-05 18:11] robinpuga commented on #528
I took the liberty of setting the Facebook and Twitter images to the year end campaign cards.

[2016-12-05 18:13] robmyers commented on #528
@robinpuga Thank you!

[2016-12-05 18:32] robinpuga commented on #528
Confirmed we're seeing the correct images on Facebook and Twitter now

[2016-12-05 18:42] little-wow commented on #528
thank you, Robin!

On Mon, Dec 5, 2016 at 1:32 PM, Robin Puga <notifications@github.com> wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2016-12-05 21:38] huyvu3856 commented on #487
The Android pay support team
  Https://support.google.com/Androidpay/issuere/econtact/default.

[2016-12-07 15:28] little-wow opened #529 "Slack-signup is returning a 503"
https://slack-signup.creativecommons.org/

<img width="1034" alt="screen shot 2016-12-07 at 10 28 46 am" src="https://cloud.githubusercontent.com/assets/7093838/20973796/f543b10e-bc67-11e6-99f4-e5fa9a798182.png">

[2016-12-07 16:40] robmyers commented on #529
Thank you for reporting this!

It's back.

Making this more robust is on my pre-end-of-year todo list.

[2016-12-07 16:40] #529 closed

[2016-12-07 21:09] tvol opened #530 "redirect science advisory board page to open science page"
can we redirect https://creativecommons.org/about/program-areas/open-science/board/ to resolve to https://creativecommons.org/about/program-areas/open-science/?

[2016-12-08 01:27] robmyers commented on #530
This is now done.

It's in the Apache web server config rather than WordPress.

[2016-12-08 01:27] #530 closed

[2016-12-08 02:21] robmyers opened #531 "Donate Form Fields Allow Input Too Long For Civi To Handle"
In Civi, the Street Address has a maximum length of 96 characters and the Zip has a maximum length of 12 characters.

The Gravity Forms standard address input fields do not limit the length of this input.

The bridge is handling this by truncating the data inserted into Civi.

We should set the length of these inputs in the Donate Gravity Form though.

Possibly we could do this with a custom css s

[2016-12-08 02:55] fmann commented on #531
We have some field/address validation in the cc-donate plugin.  See cc_donate_price_validation
and cc_donate_address_validation functions there.

String lengths could certainly be checked in cc_donate_address_validation and, if not truncated, at least errors thrown if greater than 96 character street addresses are posted. I can't imagine that is a common problem in real addresses.

Another thing i

[2016-12-08 13:59] little-wow commented on #531
I have no strong feelings on this, but agree with Floyd that we should also limit the donation string. I haven't ever seen anything very, very large come through on the website that's legitimate.

[2016-12-08 18:16] tvol commented on #530
thx

[2016-12-08 18:19] fmann commented on #523
Merged and pushed to prod.

[2016-12-08 18:19] #523 closed

[2016-12-08 18:19] fmann commented on #522
Merged and pushed live.

[2016-12-08 18:19] #522 closed

[2016-12-08 18:21] fmann opened #532 "Add the EOY ask slider to search."
I've been asked to add the EOY donation ask to search. I've got it working, just need a ticket to track the request with.

[2016-12-08 18:47] fmann commented on #532
Pull request submitted @robmyers

[2016-12-08 20:30] fmann commented on #532
One more pull request @robmyers for a little fix that helps with the positioning on smaller (but not mobile) screens.

https://github.com/creativecommons/search/pull/8

[2016-12-08 21:03] little-wow opened #533 "Add Gmail's Postmaster Tools to improve email deliverability"
In the interest of continuing to improve our email deliverability, I would like to add Gmail's Postmaster tools.

This means validating our URL by adding a string in the DNS file. See: https://gmail.com/postmaster/

[2016-12-08 21:49] blueseagles opened #534 "creativecommons"
[template]

[2016-12-08 22:09] #534 closed

[2016-12-08 22:15] robmyers commented on #533
I've added the DNS entry, and added you to the postmaster account. Hopefully it's emailed you.

[2016-12-08 22:15] #533 closed

[2016-12-09 15:26] gwenfranck commented on #521
tbh I don't know. I can create blog items - is that the same?

On Thu, Dec 1, 2016 at 7:56 PM, Jennie Rose Halperin <
notifications@github.com> wrote:

--
Gwen Franck
Creative Commons
Regional Coordinator Europe

[2016-12-09 20:09] robmyers commented on #521
Yep that will do. :-)

@little-wow Where should such a page live on the site?

[2016-12-09 20:49] little-wow commented on #521
@gwen I made you an editor so you should be able to edit.

As a subpage of this should work: https://creativecommons.org/about/global-affiliate-network/

[2016-12-09 22:47] ageeroms opened #535 "Re-apply newsletter signup formatting."
1. Go to https://creativecommons.org/about/global-affiliate-network/ (right sidebar) or https://creativecommons.org (below what's new)
2. Notice that the newsletter signup block has lost it's style

Here's what is should look like:

![screen shot 2016-12-09 at 2 42 11 pm](https://cloud.githubusercontent.com/assets/6674702/21067032/d0c74d92-be1d-11e6-8f0e-b7a755cf532f.png)

![screen shot 2016-12-09

[2016-12-09 23:42] robmyers commented on #535
Thank you for reporting this.

@little-wow Is this from the switch to MailChimp sign-up? Is there any support in their form generation to apply our own element classes?

[2016-12-09 23:44] ageeroms commented on #535
If you use the 'naked' form, you can apply your own CSS

[2016-12-09 23:46] little-wow commented on #535
Is this about the front page? And yes.

On Fri, Dec 9, 2016 at 6:44 PM Anna Geeroms <notifications@github.com>
wrote:

[2016-12-09 23:46] ageeroms commented on #535
both inside right side bar and the front page are issues.

[2016-12-09 23:52] little-wow commented on #535
Yeah, that was my fault, I'm sorry. I'm not sure how to fix it

On Fri, Dec 9, 2016 at 6:46 PM Anna Geeroms <notifications@github.com>
wrote:

[2016-12-09 23:53] ageeroms commented on #535
please assign to @fmann . He can pull another team member in if needed.

[2016-12-09 23:56] robmyers commented on #535
Heya @fmann, please can you take a look at this? Thank you.

[2016-12-10 00:09] robinpuga commented on #535
I would encourage you to roll this back until we have a chance to style it correctly. Can someone roll this back? It's going to take a few hours to style this correctly and test.

[2016-12-10 00:18] robmyers commented on #535
It's going to MailChimp rather than Civi now, though, which means a rollback is a change in functionality as well as appearance.

[2016-12-10 00:20] robinpuga commented on #535
We can look at making these style changes Monday, but @robmyers if you can roll this back to previous code for Civi that is what should be done right now to fix it immediately.

This clearly needs to go through a proper development (styling) and testing process before it goes live.

[2016-12-10 00:55] robmyers commented on #535
The old sidebar was:
[code]
The part we're interested in is the text widget in the sidebar, with the title:

    Connect with Creative Commons

and the content:

    <a href="https://creativecommons.org/about/contact/newsletter/" class="button primary arrow">Sign up to Our Newsletter</a>

And here's the subscribe form from https://creativecommons.org/about/contact/newsletter/ :
[code]

"Stay tuned

[2016-12-10 01:01] robmyers commented on #535
Current "Connect with Creative Commons" so we also have it for reference:
[code]

And current about/contact/newsletter Subscribe:
[code]

[2016-12-10 01:19] robmyers commented on #535
I've rolled this back.

@little-wow I'll pull any weekend subscriptions from Civi when the new sign-up theme is styled and restored.

[2016-12-10 01:22] robmyers commented on #535
I'm unable to fix the front page "Stay tuned to the commons" link at the moment.

[2016-12-10 02:17] fmann commented on #535
The issue being the centring in the widget on the homepage? I just fixed it.

[2016-12-10 02:38] robmyers commented on #535
Thank you!

On 9 Dec 2016 6:17 pm, "Floyd Mann" <notifications@github.com> wrote:

[2016-12-11 23:22] little-wow commented on #535
I am a bit confused as to why this did not work. I was under the impression
that I could just put the Mailchimp code in the sidebar widget (that is
what I was told, at least.) It rendered correctly for me, so I also didn't
see the problem.

Again, email remains P1 for me, so I will figure this out ASAP on Monday
morning because this is a major rollback in functionality

On Fri, Dec 9, 2016 at 9:38

[2016-12-12 02:37] little-wow commented on #535
Also, in case the comment wasn't clear-- thank you as well for finding this
bug and pointing it out to me. I am sorry I broke it, but I thought it
would work!

On Sun, Dec 11, 2016 at 6:22 PM Jennie Rose Halperin <
jennie@creativecommons.org> wrote:

[2016-12-12 14:01] Hawkmorgan101 commented on #516
https://github.com/creativecommons/creativecommons.org/issues/516?_pjax=%23js-repo-pjax-container

[2016-12-12 14:01] Hawkmorgan101 commented on #516
https://github.com/creativecommons/creativecommons.org/issues/516?_pjax=%23js-repo-pjax-container

[2016-12-12 14:13] Hawkmorgan101 commented on #516
[prettu-firewings-master (1).zip](https://github.com/creativecommons/creativecommons.org/files/646147/prettu-firewings-master.1.zip)

[prettu-firewings-master (1).zip](https://github.com/creativecommons/creativecommons.org/files/646153/prettu-firewings-master.1.zip)

[clojure-1.8.0.zip](https://github.com/creativecommons/creativecommons.org/files/646154/clojure-1.8.0.zip)
[fileopen_plugin_reader_8

[2016-12-12 14:17] Hawkmorgan101 commented on #516
[fileopen_plugin_reader_8.0.0.520 (3).zip](https://github.com/creativecommons/creativecommons.org/files/646167/fileopen_plugin_reader_8.0.0.520.3.zip)

[2016-12-12 14:20] Hawkmorgan101 commented on #516
[prettu-firewings-master (2).zip](https://github.com/creativecommons/creativecommons.org/files/646175/prettu-firewings-master.2.zip)
[prettu-firewings-master (2).zip](https://github.com/creativecommons/creativecommons.org/files/646180/prettu-firewings-master.2.zip)

[2016-12-12 17:27] robinpuga commented on #535
Good morning! So our team was discussing this issue. We theoretically should be able to use the GravityForms => MailChimp integration to have the existing Gravity Forms push to your MailChimp instance.

I'd like to stage this on the staging site this morning and confirm it's indeed working and then look at rolling it out to the production site.

@robmyers Is the staging site under active testing o

[2016-12-12 17:36] robmyers commented on #535
@robinpuga Staging is clear today. We're deploying the Civi bridge to live later.

[2016-12-12 17:38] little-wow commented on #535
There were too many issues with the Gravity Forms integration so we are
doing it by hand right now, like we discussed.

Unless you can ensure the IPN issue and data overwrite is fixed, I believe
this is just an issue with me not understanding how to format the form.

On Mon, Dec 12, 2016 at 12:27 PM Robin Puga <notifications@github.com>
wrote:

[2016-12-12 17:56] robinpuga commented on #535
Okay, how about we get the code for the MailChimp embed forms from @little-wow and look at making these look right on staging site before rolling out to production?

@little-wow can you  post the embed codes from MailChimp to this ticket ... or get us access to your MailChimp so we can grab the codes ourselves. Without access to MailChimp we'll need your assistance to test @little-wow.

[2016-12-12 18:05] little-wow commented on #535
Rob posted them earlier in the ticket but I can grab more if needed.

I can get that to you today.

On Mon, Dec 12, 2016 at 12:56 PM Robin Puga <notifications@github.com>
wrote:

[2016-12-12 19:19] robinpuga commented on #535
k, we'll take a look and set something up on stage. Thanks.

[2016-12-12 19:51] janeatcc opened #536 "cc site not loading"
see attached error
![screenshot_658](https://cloud.githubusercontent.com/assets/6394777/21114213/3df6d92e-c061-11e6-9795-006715ab434f.jpg)

[2016-12-12 20:15] robmyers commented on #536
It's loading OK here.

The Ray ID isn't in our dashboard. This has happened a few times recently, I'm contacting CloudFlare support.

[2016-12-12 20:39] fmann commented on #535
Staging has been updated to have the MC form styled to match the old Civi form.  See

https://staging.creativecommons.org/about/contact/newsletter/
and
https://staging.creativecommons.org/about/contact/press/

I updated the sidebar widget Newsletter Signup widget visibility so it does not show up on the newsletter page. The two forms doing the same thing side-by-side seemed redundant.

No CSS chan

[2016-12-12 20:49] little-wow commented on #535
This looks fine to me.  Only place that I would love the form that it's not
is here:

[image: Inline image 1]

Front page

On Mon, Dec 12, 2016 at 3:39 PM, Floyd Mann <notifications@github.com>
wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2016-12-12 21:56] fmann commented on #535
The homepage widget did require CSS changes as well as widget markup changes. I've pushed a branch, issues/535-css-for-newsletter-widgets, with those changes.

Take a look and let us know what you think.

[2016-12-12 22:27] robinpuga commented on #535
@little-wow can you test the staging site and confirm the email addresses are getting added to MailChimp correctly?

[2016-12-13 00:13] little-wow commented on #535
Works for me

[2016-12-13 15:32] little-wow opened #537 "Add UTMs to Civi?"
Is there a way to see UTMs in the new contact records so we can run reports by campaign? Maybe this info is in there and I just don't see it? It's already stored in Gravity Forms.

[2016-12-13 15:44] little-wow commented on #537
Update: This information should probably live in "Contributor Source"

[2016-12-13 16:55] rebeccalendl opened #538 "error trying to update supporters page"
![image](https://cloud.githubusercontent.com/assets/13322149/21149868/d3759ad4-c111-11e6-885b-2e8877c7d2f7.png)

[2016-12-13 17:16] robmyers commented on #538
I changed the Varnish configuration to wait slightly longer for WordPress to start serving the page.

Try now?

[2016-12-13 17:17] robmyers commented on #537
I don't know. :-) Ask Giant Rabbit?

[2016-12-13 17:41] little-wow commented on #535
Can it be pushed?

[2016-12-13 18:05] robinpuga commented on #535
@robmyers ... let us know if you need assistance in getting this out there. :)

[2016-12-13 18:38] robmyers commented on #535
I'll deploy this after lunch today.

[2016-12-13 23:04] robmyers commented on #535
Merged issues/535-css-for-newsletter-widgets.

[2016-12-13 23:20] robmyers commented on #535
I've copied the changes from staging to live for the front page, sidebar, and newsletter sign-up pages.

I believe that this resolves this issue.

[2016-12-14 18:39] evarogers opened #539 "hidden CSS showing re: Summit announcement"
hi @little-wow - this shows up when I search global summit on our site, before clicking in to what is the form field (maybe something is in process right now?) - it looks like it was an earlier basic post before we released the more comprehensive summit post.

https://creativecommons.org/?s=global+summit
https://creativecommons.org/announcing-global-summit/

<img width="613" alt="screen shot 2016-

[2016-12-15 15:59] bellavelo opened #540 "za.creativecommons.org"
does CC HQ have access/control over za.creativecommons.org?

Please tell us a little bit about how you're accessing the site or page, such as which web browser and which version of the browser:

(You can also vist https://aboutmybrowser.com/ which will give you a link you can share with us that'll tell us everything we need to know)

You can also attach a screenshot to this issue if you have a vis

[2016-12-15 17:18] little-wow opened #541 "503s"
I recognize that I'm a super user, so I probably encounter more 503s than others but is there an error log that says how many 503s users are getting? I feel like I've been encountering more than usual.

If this is patently false, feel free to just close this ticket. Thank you!

[2016-12-15 17:23] buckett opened #542 "RDF link doesn't work."
The contents of a license (eg: https://creativecommons.org/licenses/by/4.0/ ) includes a link to a RDF version:

     <link rel="alternate" type="application/rdf+xml" href="rdf"/>

however attempting to visit that URL results in a 404.

https://creativecommons.org/licenses/by/4.0/rdf

[2016-12-15 17:27] buckett opened #543 "Expired certificate on license page."
The page https://creativecommons.org/licenses/by/4.0/ includes a link to the piwik tracking application ( https://stats.creativecommons.org/piwik/piwik.js ), however the SSL certificate for this server has now expired and so browsers won't load it.

[2016-12-16 18:51] peterspdx commented on #469
whoops, closing was unintentional!

[2016-12-16 20:44] robmyers commented on #541
It's not patently false, I'm working on changing the server configuration to tackle this.

The problem is super annoying, I'm sorry you're hitting it. :-(

[2016-12-16 21:02] tvol commented on #454
done https://creativecommons.org/about/program-areas/open-access/open-access-week-2016/

[2016-12-16 21:02] #454 closed

[2016-12-16 21:34] #137 closed

[2016-12-16 21:34] #112 closed

[2016-12-16 21:35] #111 closed

[2016-12-16 22:17] little-wow commented on #539
This should be fixed. Thanks for reporting, Eva!

[2016-12-16 22:17] #539 closed

[2016-12-17 07:40] rizomaa commented on #469
@robmyers

what about the issue?

[2016-12-19 22:37] CheyenneFMA commented on #541
Hi friends! I wanted to chime in and say the FMA License Agreement form uses a tool that picks a license, and I was getting a 503, and now it's going to [this page](https://creativecommons.org/2006/12/08/license-compatibility-wizard-from-cc-taiwan/?partner=FreeMusicArchive&jurisdiction_choose=0&exit_url=https%3A%2F%2Ffreemusicarchive.org%2Fmanage%2Falbums%2FccLicense%2F25766%3Flicense_url%3D%5Blic

[2016-12-19 22:45] robmyers commented on #541
@CheyenneFMA Was it going via /license ? That was briefly broken about the time you reported it as I was changing the server configuration to address this problem.

[2016-12-19 22:47] CheyenneFMA commented on #541
Yep! Thanks @robmyers, it seems to be back up and working now!

[2016-12-19 22:47] robmyers commented on #541
That's good to hear! I'm very sorry it was broken.

[2016-12-20 15:52] little-wow opened #544 "Error "This site cannot provide a secure connection" when logging in"
The site is trying to run https on port 80 for some people and not for others. Screenshots are from both Firefox and Chrome:

<img width="1101" alt="screen shot 2016-12-20 at 10 20 32 am" src="https://cloud.githubusercontent.com/assets/7093838/21356992/a08dddda-c6a1-11e6-9a3d-acbb8ee0ddd1.png">

<img width="1192" alt="screen shot 2016-12-20 at 10 50 51 am" src="https://cloud.githubusercontent.com/

[2016-12-20 17:30] robmyers commented on #544
Oh that's a weird one.

I just reproduced it.

It looks like CloudFlare is getting confused by https....:80.

As for what is incorrectly appending the :80, I'm investigating.

[2016-12-20 17:53] robmyers commented on #544
OK the new caching set-up doesn't seem to be forwarding the port number in the way that the login plug-in was expecting.

I've changed the code to address that.

Please try to log in now.

[2016-12-20 17:55] little-wow commented on #544
👍🏾 thank you much, Rob! Seems to be working now.

[2016-12-20 17:55] #544 closed

[2016-12-20 17:59] robmyers commented on #544
You're welcome. :-) That's good to hear.

[2016-12-20 19:01] georgehari opened #546 "Add svenska to all existing translations"
After the merge of cc4-sv-legalcode into master, please add the new Swedish translation as “svenska” in the bottom of all existing published translations.

[2016-12-22 10:03] georgehari opened #549 "Add svenska to all existing CC0 translations"
After the merge of cc0-sv-legalcode into master, please add the new Swedish translation as “svenska” in the bottom of all published CC0 translations.

[2016-12-22 10:25] georgehari opened #550 "Wrong link/redirection"
At https://creativecommons.org/licenses/zero/1.0/legalcode, the text "« Back to Commons Deed" in the footer goes to a wrong destination - http://licenses.productionwww.creativecommons.uk0.bigv.io/publicdomain/zero/1.0/ instead of https://creativecommons.org/licenses/zero/1.0/ (there is a redirection and it should go to https://creativecommons.org/publicdomain/zero/1.0/deed).

[2016-12-22 15:13] sarahpearson commented on #549
On hold for now until we get CC0 live but then, as discussed just now, we'll have to do this manually.

[2016-12-22 15:55] encukou opened #551 "License chooser displays in Cyrillic"
URL: https://creativecommons.org/choose/

Steps to reproduce the problem:

* On the main page, click "Share your work".
* Then click the "Get Started" button.

Apart from a header and footer, the (https://creativecommons.org/choose/)[license chooser] displays in Cyrillic. It has these headings:

* Выбор параметров
* Подходящая лицензия
* Помогите людям указать ваше авторство!
* Есть ли веб-страниц

[2016-12-22 16:14] mzeinstra opened #552 "creativecommons.org/ns is broken"
creativecommons.org/ns is broken. This needs to host the CCREL documentation and rdf files for things like rightsstatements.org, europeana, etc. to work.

[2016-12-23 07:15] georgehari commented on #549
@sarahpearson , if you do that yourself, please add a comma between "English" and "Nederlands" in https://creativecommons.org/publicdomain/zero/1.0/legalcode.fr in the footer.

[2016-12-23 14:59] sarahpearson commented on #550
I'm going to close this issue because I've noted it as a fix to include when we add svenska to the language list in CC0. It will be part of that pull request I'll make, hopefully later today.

[2016-12-23 20:39] sarahpearson commented on #549
Thanks, @georgehari! Just submitted the pull request and I made sure to add the missing comma.

[2016-12-23 20:39] #549 closed

[2016-12-23 20:40] sarahpearson commented on #550
I was wrong! This isn't something I knew how to fix. Not sure what is going on there. But reopening for @robmyers.

[2016-12-29 09:13] Prutheus opened #555 "https://creativecommons.org/choose/ broken"
URL: *https://creativecommons.org/choose/*

Error:

Since: first recognized on Wed 28 Dec, maybe it occurs also earlier, but I was first on it on Wed.

Browser: google-chrome-stable on ArchLinux

@robmyers @little-wow

[2017-01-03 16:52] robmyers opened #556 "Donate Form PayPal Link on Mobile"
On /donate/#gf_3 in small mobile browsers the PayPal link overlaps the "Submit" button due to their respective positions:

![image](https://cloud.githubusercontent.com/assets/21746/21615244/890910ee-d191-11e6-894e-c756b1ed35d4.png)

I've changed this on live to prevent it but it doesn't look great. @ageeroms please can Affinity Bridge take a look at this?

[2017-01-03 17:24] ageeroms commented on #556
Hi Rob, I've assigned to @altrugon. We'll follow up when we've had a chance to take a look.

[2017-01-03 17:34] robmyers commented on #556
Thank you!

[2017-01-03 20:26] altrugon commented on #463
My [last commit](https://github.com/creativecommons/new-www-theme/commit/8a9231aafc64d6711fdcbb232d2834c5f9b92f97) on this branch was never merged, that's the reason because the overlap still exist.

At this point this branch is 45 commits behind and there is also [ticket 556](https://github.com/creativecommons/creativecommons.org/issues/556) complaining of the same problem, so I'm closing this ti

[2017-01-03 20:26] #463 closed

[2017-01-03 20:46] altrugon commented on #556
I have replicated my previous solution on branch[ issue-556-paypal_link_overlap
](https://github.com/creativecommons/new-www-theme/compare/issue-556-paypal_link_overlap), please QA and merge into the code if everything looks good.

I have also closed ticket 463 because it's really outdated now, the branch associated with that ticket should be deleted.

[2017-01-03 21:06] ageeroms commented on #556
Thanks very much. @robmyers there's a fix from Alberto, which should be applied.

[2017-01-03 22:51] robmyers commented on #556
Tested, merged and deployed. It will show up soon.

Thank you!

[2017-01-03 22:51] #556 closed

[2017-01-04 00:25] robmyers commented on #552
That should be fixed. The new varnish config wasn't forwarding things properly to the Python server handling the license rdf. Thank you for catching this!

[2017-01-04 01:30] robmyers opened #557 "Licensebuttons.net issues"
The form is currently still civi.

[2017-01-04 01:30] robmyers opened #558 "Fix CC0 license html email"
Emailing yourself the dedication html currently works but displays an error.

[2017-01-04 17:40] fmann opened #559 "Homepage email signup block renders poorly on mobile devices"
The homepage email signup block renders poorly on small devices.

![screen_shot_2017-01-03_at_4 32 59_pm](https://cloud.githubusercontent.com/assets/711497/21652524/bf38cb8e-d261-11e6-9cf9-32f507480e71.png)

Minor CSS tweaks fix this.

[2017-01-04 17:45] fmann commented on #559
Post CSS changes:

![screen shot 2017-01-04 at 9 39 03 am](https://cloud.githubusercontent.com/assets/711497/21652679/8394b1c8-d262-11e6-83e0-a8f745f6e1ab.png)

[2017-01-05 09:31] trantientunghdvn1985 opened #560 "Kính Gửi Qúy Ngài"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-01-05 09:32] trantientunghdvn1985 opened #561 "trantientunghdvn1985@gmail.com"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-01-05 09:32] trantientunghdvn1985 commented on #561
trantientunghdvn1985@gmail.com

[2017-01-05 17:10] little-wow commented on #561
Hi! If you want to join our mailing list, please do so at our website. The Github is for reporting bugs.

[2017-01-05 17:10] #561 closed

[2017-01-05 17:10] #560 closed

[2017-01-05 17:13] little-wow opened #562 "Bring back planet.creativecommons.org?"
In the interest of communicating with each other better, @simeonoriko were discussing bringing back some sort of syndicated RSS feed for all the global CC blogs.

What do you think? planet.cc.org currently redirects to the API, but this could be a cool thing to have.

[2017-01-06 05:20] atcharatip commented on #562
#560

[2017-01-06 20:26] janeatcc opened #563 "https://creativecommons.org/publicdomain/zero/1.0/deed.en/ needs to redirect"
currently is an error

[2017-01-06 20:27] janeatcc commented on #563
e.g. linked from http://sammlungonline.mkg-hamburg.de/en/termsandconditions

[2017-01-07 03:08] jahid5532 commented on #563
377712

[2017-01-09 19:30] ericsteuer opened #564 "Need a featured image for Summit Registration page"
Would love there to be a featured image for Facebook and Twitter (and other social) shares of the Global Summit reg page (https://donate.creativecommons.org/civicrm/event/info?id=25&reset=1)

Currently, if you share that page on Facebook, it looks like this, with no featured image:
<img width="498" alt="screen shot 2017-01-09 at 11 20 43 am" src="https://cloud.githubusercontent.com/assets/8919762/

[2017-01-09 19:36] mmoreshead commented on #564
Let's edit this page to list the links we know: registration, call for subs, scholarship form https://creativecommons.org/global-summit-2017/

FYI: this will be the summit site (not summit.creativecommons.org)

Thoughts?

[2017-01-09 19:44] ericsteuer commented on #564
That works for me. Can you handle that @little-wow? And then we can start promo-ing that page instead of the reg one I just tweeted/FB'd out.

The reg page (and all pages across the CC site) should still have a featured image set in case they're shared out by anyone (not only by us, but any random person who wants to share just the reg page on FB, for instance). @robmyers, is there a way to set a

[2017-01-09 19:47] mmoreshead commented on #564
@ericsteuer Probably going to run a logo comp again like last time (but open to other ideas) -- that needs to get out the door sooner than later I guess :)

[2017-01-09 19:50] ericsteuer commented on #564
Gotcha. Thanks for the info! Yeah, if we want to get going on promoting the summit heavily across all of our various public channels, feels like we need to have a logo soonish. Thanks again.

[2017-01-09 19:52] little-wow commented on #564
I can handle this by our meeting tomorrow!

Thanks both!
On Mon, Jan 9, 2017 at 2:50 PM Eric Steuer <notifications@github.com> wrote:

[2017-01-09 20:16] ericsteuer opened #565 "Choose license page in wrong default language?"
A few people have tweeted at us about this:
https://creativecommons.org/choose/

[2017-01-09 20:27] ericsteuer opened #566 "Temporarily replace "donate" pop-up on deeds pages with Global Summit promo"
At some point relatively soon, we'd like to experiment with replacing the donate language/link that currently appears on CC license deed pages with language and a link that points people to info and registration for the Global Summit. @robmyers how heavy of a lift is this, assuming that the design can stay the same?

[2017-01-09 20:34] robmyers commented on #565
Yeah the new cache policy is getting it wrong. I'm looking at that after lunch PST.

[2017-01-09 20:38] robmyers commented on #566
If we don't change the colour or add any new art it's just a matter of changing some of the code (the pop-up is handled by the Python code part of the site) and deploying it to staging then live.

If we want it translated we should talk to the Affiliates about it.

[2017-01-09 21:01] ericsteuer commented on #566
No new color or art necessary. So that's good.

Would ideally have it translated too. I'd like to just get it out the door in English first and then ask for translations. I don't know if that's an acceptable way to handle it though. Anyone have thoughts on that?

[2017-01-09 21:04] little-wow commented on #566
Thanks for this – I think it would be worth giving a heads up to folks before putting it out only in English just to cover bases, even if translations aren't complete. We could draft the text first and then put it out for translation?

[2017-01-09 21:07] ericsteuer commented on #566
Sounds good. Probably a dumb question, but once the language itself has
been translated into a variety of languages, how is it actually deployed?
So, like, we collect translations by email (I'm assuming most people
wouldn't use GitHub for it) and then what happens?

On Mon, Jan 9, 2017 at 1:04 PM, Jennie Rose Halperin <
notifications@github.com> wrote:

--
Invest in an open future. Support Creativ

[2017-01-09 23:16] little-wow opened #567 "Nag people to sign up for our email list?"
Heya @robmyers. Not enough people are signing up for our email list, so I would like to explore how we can bother them in a gentle, polite manner.

Would it be possible to put the following popup on the site using Mailchimp? Text is totally up for discussion, @ericsteuer is tagged for this reason. I can send you the code via email.

Thank you both!

<img width="911" alt="screen shot 2017-01-09 at

[2017-01-09 23:25] robmyers commented on #567
We should talk to Affinity Bridge about this to make sure it maintains the site design.

@ageeroms , ping. :-)

Which pages/areas of the site would this be on? I'm wary of it clashing with funding and/or Global Summit signup promotion.

[2017-01-09 23:55] robmyers commented on #565
A potential fix is in place after testing locally and on staging. I'll keep an eye on it to make sure it's worked.

[2017-01-10 00:47] little-wow commented on #567
Good question – maybe we should table this ticket until we decide on what the promo for the summit should look like? (That could also be a way to get people on the list.) Thanks!

[2017-01-10 16:36] ericsteuer commented on #567
Good call @little-wow on maybe waiting until we think more about what summit promo should look like.

In the meantime, what do you all think -- just as an idea here -- of switching out the link out from the mail icon at the top right of the main nav bar across the site from one that creates a mailto: to one that links to our mailing list sign-up? The ability to email us is made plenty evident from

[2017-01-11 00:42] robmyers commented on #565
Have there been any more reports of issues?

[2017-01-11 02:04] little-wow commented on #565
Nope – if there are I can reopen the ticket. Thanks so much for fixing.

On Tue, Jan 10, 2017 at 7:42 PM, Rob Myers <notifications@github.com> wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2017-01-11 16:40] little-wow commented on #567
@ericsteuer I don't see why not – @robmyers any objections?

[2017-01-11 16:42] ericsteuer commented on #565
I saw at least one person on Twitter specifically say it was fixed.

On Tue, Jan 10, 2017 at 6:04 PM, Jennie Rose Halperin <
notifications@github.com> wrote:

--
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2017-01-11 17:12] robmyers commented on #565
OK that's awesome, thank you.

[2017-01-11 17:12] #565 closed

[2017-01-11 17:30] robmyers commented on #551
This is now fixed. Thank you for reporting it!

[2017-01-11 17:30] #551 closed

[2017-01-11 17:37] robmyers commented on #567
I agree that having the icon be for the mailing list is more regular. It doesn't address the visibility issue, though.

The current mailing list sign-up on the front page is hidden away under the news items.

We could move it above the hero section, to go just under the top navigation.

Or we could treat this as a promotion and come up with a graphic and some text to replace "When we share, everyo

[2017-01-11 18:36] little-wow commented on #567
I'm not sure what the next steps here would be IRT working on this flow. I know it's not P1 for AB, so I don't want to put this on their plate, but I would like to examine the email flow and see how we can make it better.

There was some issue with changing the text under "Stay tuned to the commons" when I first started as well due to the size of the text and design constraints, so good call on ta

[2017-01-11 18:44] #564 closed

[2017-01-11 19:32] ericsteuer commented on #567
Agree on all this stuff. Language, placement, etc.

It should be pretty trivial to change, so let me ping AB and ask Anna to put it on the agenda for the next call I have with them.

[2017-01-11 20:15] ageeroms commented on #567
Hello CC!

Consider this topic added to our agenda for the 18th. Look forward to chatting with you then.

Best,
Anna

[2017-01-11 20:16] little-wow commented on #567
yay! Thank you Anna!

[2017-01-11 22:23] robmyers commented on #396
I implemented a script to add links for licenses.. It's been used for the last couple of translations and seems to be working well.

[2017-01-11 22:23] #396 closed

[2017-01-12 01:04] robmyers commented on #563
Given the text, that link should probably be to -

https://creativecommons.org/publicdomain/mark/1.0/

And the url is a page, so it doesn't have a trailing slash.

All that said, I've put a redirect in place. :-)

[2017-01-12 01:04] #563 closed

[2017-01-13 19:15] tvol opened #568 "redirect http://www.creativecommons.org/chooser to https://creativecommons.org/choose/"
hi @robmyers this link was included in a Dept of Ed policy rule. Would it be possible to setup a redirect to our actual license chooser page? thanks. cc @cablegreen

[2017-01-13 19:18] cablegreen commented on #568
Rob: could you please redirect ALL versions of the Dept of ED's incorrect link to the correct page?: http://www.creativecommons.org/chooser  &  https://www.creativecommons.org/chooser    &  http://creativecommons.org/chooser  &     https://creativecommons.org/chooser  -- redirect to: https://creativecommons.org/choose/

[2017-01-18 17:21] robmyers commented on #550
We're redirecting wrongly, I'll take a look.

[2017-01-21 01:53] robmyers commented on #568
This is now implemented.

[2017-01-21 01:53] #568 closed

[2017-01-23 14:37] georgehari opened #570 "Numbering and display problems in the Arabic translation files"
- It seems that there is a problem with the numbering of ordered lists in the Arabic translations:
http://cc4-ar-legalcode.legal.creativecommons.org/licenses/by-nd/4.0/legalcode.ar
etc.

- Also, in the footer, in the languages list, the order is ruined when resizing the browser (maybe it's related to the rtl reading order).

I have to mention that they worked on older files when they updated the t

[2017-01-23 16:22] hsawires commented on #570
Hi @georgehari

I was checking the files for the error, I think the order list in Arabic alphabet is not a CSS issue.
In the very last published version of the licenses I have included a .JS file called [arabic-ol.js] to fix the ordering in Arabic alphabet to fix the "ه" to be "ھ" and to order the list following the "Abjad Order" https://en.wikipedia.org/wiki/Abjad_numerals which is not the modern

[2017-01-23 18:06] georgehari commented on #570
Yes, the script arabic-ol.js is called in the files, please see https://github.com/creativecommons/creativecommons.org/commit/62d920298e63a73a045fd32187826debe347d123, but it's not to be found at https://creativecommons.org/includes/arabic-ol.js. So you may be right.

@robmyers , if you place the script back in /includes/, it should solve the problem, right?

[2017-01-24 01:02] cablegreen commented on #568
Thanks Rob!

[2017-01-24 06:32] rubenboadana opened #571 "<iframe> embedded has stopped working"
Hi,

Yesterday we noticed that the submit functionality in our DSpace repository was not working just in "Choose your license" step, where the user can choose his Creative Commons license. We use an <iframe> to show the Creative Commons form, but suddenly this form doesn't show any response. I saw in Javascript console this error:

Refused to display 'https://creativecommons.org/choose/?partner=ds

[2017-01-25 18:28] robmyers commented on #571
The X-Frame-Options header was being set by HAProxy due to some code I added to its config to handle encryption certificate renewal.

I have removed the offending part of the code and the header is no longer being sent.

Thank you for reporting this issue!

[2017-01-25 18:28] #571 closed

[2017-01-26 15:42] little-wow opened #572 "Standardizing UTMs?"
It's unclear to me where the UTM campaign labels are coming from, which makes it difficult to identify where the links are pointing to.

There appear to be two campaigns:
2015fund
2016fund

Both are showing up as legitimate when donations go through. Can we standardize the UTMs and put them on a spreadsheet so that it's clear where everything is pointing?

Assigning Rob and Eric so that if this is

[2017-01-26 15:43] little-wow opened #573 "Creativecommons.org/register is misdirecting"
cc.org/register redirects here: https://creativecommons.org/2005/05/27/registerfortheilawconferenceatharvarduniversityberkmanlawcenterjune22242005/

[2017-01-26 17:16] fmann commented on #572
I just shared with the three of you the UTM tag spreadsheet we used for the EOY campaign.

It looks to me like when the EOY overlay on the license was taken down the tag reverted to 2015fund, whereas the website homepage widget is still set to 2016EOY.  2016fund is likely the value that it gets set to if you go directly to /donate.

[2017-01-26 18:28] little-wow commented on #572
Thanks so much for the info @fmann ! This is super helpful.

Is there any way that we could standardize these so that they're clear and descriptive or maybe teach us where they live so we can do it ourselves? I'm asking in particular because UTMs are now going to be imported into Civi and I want to make sure that we have descriptive tags on the donor information.

[2017-01-26 21:07] robmyers commented on #573
It can't find it so WordPress is doing its best and sending us somewhere with "register" in the url.

Where should it go to?

[2017-01-26 22:02] fmann commented on #572
Each of the Donation forms in GravityForms  -- including the mini forms like the widgets and overlays -- has fields for UTM Campaign, UTM Medium, UTM Source, and UTM Content.  In those forms the default values for the UTM fields are defined, though all values can be overridden by passing named parameters in the URL.  So... Donate has utm_campaign=2016fund set in it, but if you were to include a li

[2017-01-26 23:56] ericsteuer opened #574 "create madewithcc.creativecommons.org"
or creativecommons.org/madewithcc

as the area where Made With Creative Commons will live

is there a preferred style (subdomain vs subdirectory)?

[2017-01-27 00:05] robmyers commented on #574
Hullo!

The subdirectory /madewithcc will be part of the existing site, with the same log-in and themeing. Anyone can make this.

The subdomain madewithcc.cc.org will be a separate WordPress install with its own log-in. We can use the main site theme but it will still be a separate entity. I would have to make this (it won't take long).

I'm not sure which is better SEO and promotion-wise. If anyo

[2017-01-27 05:48] ericsteuer commented on #574
Thanks. If we opt for the subdirectory approach, is it possible at some point for this part of the site to be redesigned/updated to have a different design/theme than the rest of the main CC site? Or if it's a subdirectory, does it pretty much have to look like the rest of the site? Asking because @sarahpearson and @pgstacey may decide at some point that they want this part of the site to have mor

[2017-01-27 06:13] mackh commented on #574
You could theme it selectively on with the subdirectory approach within wordpress.  I'd avoid making a top level subdomain microsite until you really need one, you can always redirect the subdir elsewhere when its warranted

[2017-01-27 17:17] little-wow commented on #573
Probably https://summit.creativecommons.org/index.php/register/ I think. Thanks!

[2017-01-27 17:18] little-wow commented on #574
+1 Mack.

Not to scope creep this ticket (okay, I'm scope creeping,) but could we also get madewith.cc to redirect to our site? I checked and the domain is available....

[2017-01-30 21:53] robmyers commented on #570
https://creativecommons.org/includes/ is here:

https://github.com/creativecommons/new-creativecommons.org/tree/master/docroot/includes

But the version we use on legal-testing is here:

https://github.com/creativecommons/creativecommons.org/tree/master/docroot/includes

So for testing, we should use (and edit) the version in creativecommons.org , and the paths to files in these folders should be

[2017-01-31 07:54] georgehari commented on #570
Thank you for the explanation! But I don't see **arabic-ol.js** in any of these URLs. Can you help us?

[2017-02-01 13:51] jibimarujang opened #575 "creative"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-02-01 15:33] #575 closed

[2017-02-01 15:51] sleeksorrow opened #576 "de.creativecommons.org SSL certificate broken"
https://de.creativecommons.org inaccessible because SSL certificate error

When you go to https://de.creativecommons.org, the connection fails because the SSL cert is issued to common name "*.newthinking.de" and not to "de.creativecommons.org".

The site now is not accessible with this browser anymore. Even trying to access http://de.creativecommons.org now redirects to https://de.creativecommons.

[2017-02-01 15:57] robmyers commented on #576
Thank you for reporting this!

We will forward this information to the CC Deutschland team.

[2017-02-01 16:06] robmyers commented on #576
@sleeksorrow CC Deutschland are aware of the problem and are working to move to a new server but it will take them a while to do so.

[2017-02-01 23:38] jibimarujang opened #577 "office"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-02-02 00:47] #577 closed

[2017-02-02 14:59] jraah55 opened #578 "https://de.creativecommons.org/"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-02-02 15:55] robmyers commented on #578
Thank you for reporting this.

Creative Commons Deutschland are working on it but it's going to take them a little while to complete the move to their new server. The site will be showing this problem until then, unfortunately.

[2017-02-02 15:55] #578 closed

[2017-02-02 16:00] butternoosh76 opened #580 "Rogers link with sharepoint"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-02-02 21:10] jraah55 commented on #580
[yalu102-286683e50e9f0b15c9c996dac60ab7b2bfeafa85.zip](https://github.com/creativecommons/creativecommons.org/files/748954/yalu102-286683e50e9f0b15c9c996dac60ab7b2bfeafa85.zip)

[2017-02-02 21:12] #580 closed

[2017-02-03 12:40] peterspdx commented on #570
What do we need to finish this up so Mohammad can proof on staging?

[2017-02-03 22:14] little-wow commented on #492
@fmann @robmyers I'm not sure why, but I don't know if this change ever made it to production? Let me know what's up with it. Thank you and sorry about that! Here's a screenshot of what i'm seeing right now:

<img width="269" alt="screen shot 2017-02-03 at 4 52 27 pm" src="https://cloud.githubusercontent.com/assets/7093838/22610594/2e765ce8-ea34-11e6-98d2-131b61c91d88.png">

[2017-02-06 08:07] georgehari commented on #570
We just need to solve the numbering issue. I think there is nothing more for Mohammad to check.

[2017-02-06 10:05] peterspdx commented on #570
Great. I do want Mohammad to have a final look after the numbering problem is solved, so that we have a sign off by our lead on the final files. Thanks so much for your help, George!

[2017-02-07 09:33] georgehari commented on #570
@robmyers Can you help us with this?

[2017-02-07 17:35] mmoreshead opened #584 "Add new WMF video to CC videos page"
@cablegreen request:

Add https://www.youtube.com/watch?v=dPZTh2NKTm4&feature=youtu.be

to : https://creativecommons.org/about/videos/

[2017-02-07 23:57] robmyers commented on #570
If you pull the version of cc4-ar-legalcode I have pushed, I updated the script paths to be relative to the root.

That will allow the files to find arabic-ol.js on the testing server.

[2017-02-08 07:47] georgehari commented on #570
Great, thanks!

[2017-02-08 07:47] #570 closed

[2017-02-08 16:12] mzeinstra opened #585 "License Types translations are out of sync"
Going to https://creativecommons.org/share-your-work/licensing-types-examples/

![image](https://cloud.githubusercontent.com/assets/5627431/22745605/7a5fd9c2-ee21-11e6-9513-589c0352a1e7.png)

and clicking a language (Nederlands) on the right side gives an old version of the page:

https://creativecommons.org/licenses/?lang=nl

![image](https://cloud.githubusercontent.com/assets/5627431/22745672/a8

[2017-02-08 17:26] little-wow commented on #584
done

[2017-02-08 17:26] #584 closed

[2017-02-08 17:27] little-wow commented on #572
No, they're not – what's the way to change them? Is this a Dev issue or is it a CC issue? Thank you!

[2017-02-08 17:27] little-wow commented on #536
@robmyers okay if I close this issue?

[2017-02-08 17:28] #537 closed

[2017-02-08 17:29] cablegreen commented on #584
Thanks ;)

[2017-02-08 19:09] sarahpearson opened #586 "Polish 4.0 translation not appearing in language list"
This appears to only be happening sporadically, but today it isn't there.

@robmyers can you check on this? I know you added polski to the list back when we published that translation.

Thanks!

[2017-02-08 20:13] robmyers commented on #586
Here?:
https://creativecommons.org/licenses/by-sa/4.0/legalcode

There was a bug in the link-adder script, I'll see if it missed any.

[2017-02-08 20:14] robmyers commented on #536
A closed issue is a happy issue. :-)

I think this was the same problem that was causing VPN and payment issues.

[2017-02-08 20:15] ageeroms commented on #492
@rebeccalendl @little-wow I added the new term on prod and it appears to work now. Please confirm and close ticket.

[2017-02-08 20:29] sarahpearson commented on #586
@robmyers It still doesn't show up for me there, or any any of the English license versions. Very bizarre. I can see it there when I view the list in other languages though.

[2017-02-08 20:49] #586 closed

[2017-02-09 01:05] little-wow commented on #492
Looks great @ageeroms ! Thank you!

[2017-02-09 01:05] #492 closed

[2017-02-09 01:05] #536 closed

[2017-02-09 09:25] #546 closed

[2017-02-10 22:41] ericsteuer commented on #574
We would definitely like to purchase madewith.cc  -- @robmyers, what is the process for CC w/r/t registering and managing domains?

[2017-02-10 23:17] robmyers commented on #574
I'm working on it. Gandi.net are currently erroring on the order.

[2017-02-10 23:29] robmyers commented on #574
gandi.net support were awesome. OK, we grabbed madewith.cc! I can redirect it to wherever we wish.

[2017-02-14 08:11] georgehari opened #587 "Wrong flow of languages in the Arabic translation"
It seems that the list of languages in the footer of the Arabic translations changes if the screen resolution changes. Can this be related to rtl.css? How can we be sure that the order of languages remains the same?

https://cc4-ar-legalcode.legal.creativecommons.org/licenses/by/4.0/legalcode.ar

![screen shot 2017-02-14 at 10 04 08](https://cloud.githubusercontent.com/assets/22502629/22920410/a17

[2017-02-14 16:22] little-wow opened #588 "Images are not processing for Facebook OG Debugger"
Here's a recent link I tried to process: https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fgoo.gl%2FIl2ZFa

It works for Twitter, but not for FB, not sure why!

[2017-02-14 19:34] robmyers commented on #588
"The 'fb:app_id' property should be explicitly provided, Specify the app ID so that stories shared to Facebook will be properly attributed to the app. Alternatively, app_id can be set in url when open the share dialog."

How are we sharing? Is this a Jetpack configuration issue?

[2017-02-14 19:54] ageeroms commented on #588
I think this might apply: https://kb.yoast.com/kb/warning-fb-app-id-hasnt-been-included-in-the-meta-tags/ .

[2017-02-15 22:44] robmyers commented on #572
I can update the values hardcoded in the Python section of the site. I can also update the values in the form fields, although @little-wow I think you have access to this as well.

Forgive my naivete but what should the values be in each place now?

[2017-02-15 23:07] little-wow commented on #572
No problem – I just need to know where everything lives 😬 I'm not sure, and I'm sorry!

I think that this year's campaign should be donate2017 and that the header, footer, deed, etc. should be clearly labeled as what they are and where they live. Like utm_campaign=donate2017&utm_source=ccwebsiteorblog&utm_content=header

That work?

[2017-02-16 14:33] little-wow opened #589 "Is there a high res version of this image?"
https://creativecommons.org/about/global-affiliate-network/

Anyone have a high res version of this?

[2017-02-16 20:36] ageeroms commented on #589
Hello Jennie,

Yes, Jenn has provided larger version and vector: [reisthereahighresversionofthisimage589.zip](https://github.com/creativecommons/creativecommons.org/files/781474/reisthereahighresversionofthisimage589.zip)

[2017-02-16 20:48] simeonoriko commented on #589
Thank you @ageeroms

[2017-02-16 20:48] #589 closed

[2017-02-16 21:01] ageeroms opened #590 "Please add Curaçao as a country in creativecommons.org donation form."
Hi Floyd,

I think we were originally using the Gravity Forms provided list of countries on the donation form and then somehow you swapped to the custom list from Civi. Now, I'm not sure where to add additional items.

Can you please add Curaçao (note the accent on the second c) to form on creativecommons.org/donate?

Rob noted:

- It *is* in the list of available countries in Civi, I can add it h

[2017-02-16 21:33] robmyers commented on #587
I've just pushed a modified version of the 4.0 ar deeds that makes the following changes:

1. It stops link text breaking in links in the license list. So "Bahasa Indonesia" is at least not broken across lines.
2. It adds a <br> before the FAQ text, ensuring that does not get mixed in with the language links.

This does not fix the issue, but I believe we can go live with this then investigate the

[2017-02-16 21:57] fmann commented on #590
We override the list of countries in the cc-donate plugin.

https://github.com/creativecommons/new-www-plugin/blob/master/cc-donate/cc-donate.php#L201

I've added Curaçao and issued a pull request.

[2017-02-16 22:50] little-wow commented on #572
@fmann @rebeccalendl Does anyone object to making this change? If not, we'll go ahead and make it. Thank you!

[2017-02-16 22:59] fmann commented on #572
No objections here.

[2017-02-16 23:00] little-wow commented on #572
@robmyers Are you good to connect tomorrow so I can learn how to do this? Thank you so much! 👍

[2017-02-17 00:15] robmyers commented on #572
Yep. :-) I'm in meetings until 11am pacific/2 EST so we can talk then?

[2017-02-17 00:15] robmyers commented on #572
Thank you @fmann .

[2017-02-17 15:21] little-wow commented on #572
cool!

On Thu, Feb 16, 2017 at 7:15 PM, Rob Myers <notifications@github.com> wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2017-02-21 10:11] georgehari commented on #587
Yes, I think it's a good solution for the moment. Thanks, Rob!

[2017-02-21 19:27] robmyers commented on #587
OK let's hold off on any further changes for now then.

[2017-02-21 20:52] peterspdx commented on #587
Actually, this is one that can be fixed now and isn't dependent on my figuring out what happened as among the teams on the substantive pieces. If that was your motivation for putting on hold, then no need. Feel free to make it. Thanks!

[2017-02-21 20:56] robmyers commented on #587
@peterspdx I've put a fix-ette in place, anything more would involve a CSS expert looking at it. It's OK for now IMO.

[2017-02-21 21:00] peterspdx commented on #587
Great, then let's close this one unless you want to roll it into a long term fix. Up to you. Thanks!

[2017-02-22 00:06] little-wow opened #591 "Images for different media types?"
A community member wants to know how they can use the media type icons in the "Growing Commons" section of the website: "foto camera, video camera, text in a circle."

Can someone help out with how that's done? Thank you!

[2017-02-22 05:04] mackh commented on #591
hey Alberto, can you comment on which icon set it used for the growing commons section?

[2017-02-22 15:46] ageeroms commented on #591
These are icons from Noun Project, which are noted here:  https://creativecommons.org/website-icons/

[2017-02-22 16:05] ageeroms opened #592 "Add donation banner to search"
@fmann , please add the same donation banner as is https://creativecommons.org/ to http://search.creativecommons.org - this bit:

<div id="donation-bar-wrapper" class="donation-bar-wrapper">
<div id="donation-bar-inner" class="donation-bar-inner">
<p class="donate-text">Help us build a vibrant, collaborative global commons</p>
<div class="donate-action"><a href="https://creativecommons.org/donate"

[2017-02-22 17:58] altrugon commented on #591
It seems that Anna has already answered the question, thanks Anna.

[2017-02-22 21:13] fmann commented on #592
I've added the donation stripe across the top and pushed the change to a new feature branch.

https://github.com/creativecommons/search/tree/issues/592-add_donation_banner

I'm not sure if there is a place to stage search changes. It looks good on my local, but you might want to take a peek before merging and pushing it to prod @robmyers .

[2017-02-23 01:40] robmyers commented on #590
I've merged the pull request, deployed to live, and added the country to Civi.

[2017-02-23 01:40] #590 closed

[2017-02-23 18:39] little-wow commented on #591
great, thank you!

[2017-02-23 18:39] #591 closed

[2017-02-27 22:43] grinapo opened #593 "english cc0 is german"
![englishorwhat](https://cloud.githubusercontent.com/assets/1056054/23383396/7cf34546-fd46-11e6-9d20-aef8cecec5df.png)

and the browser is surely not german. prefers english and supports hungarian, kein german on sight.

[2017-02-27 23:00] peterspdx commented on #593
Opened similar issue on legal tool list a day or so ago. Assigning here to @robmyers to merge one place or another.

[2017-02-27 23:05] robmyers commented on #593
It's reverted but this is frustrating. I'm sorry that this is happening, I will take a look tomorrow.

[2017-02-28 01:01] little-wow commented on #588
@robmyers are you okay with me doing this because it touches the WP SEO? Thank you!

[2017-02-28 01:04] little-wow commented on #574
@robmyers Thank you! So we'll have cc.org/madewithcc and madewith.cc ? Will they have the same theme as the main site?

[2017-02-28 01:04] little-wow commented on #572
Rob fixed this!

[2017-02-28 01:04] #572 closed

[2017-02-28 01:05] #541 closed

[2017-02-28 01:05] #538 closed

[2017-02-28 16:06] simeonoriko opened #594 "cr.creativecommons.org"
Hey @robmyers,

Meilyn Garro from Costa Rica is wondering what happened to http://cr.creativecommons.org. They once had access to it but suddenly lost access. The site also seems to be down.

Are you able to get the site back online and update credentials?

[2017-02-28 21:23] cogdog opened #595 "summit.creativecommons.org missing footer"
Noticed the logo missing from bottom left or maybe it's the whole widget is blank from https://summit.creativecommons.org/

or maybe it's not wanted there?

(aws outage seems to be borking file uploads) see https://drive.google.com/file/d/0B3J3hv1B8VO1UDRNeWF4WXg0UGs/view?usp=sharing

Checked in Chrome and Safari.

Also, as a user I might expect to left cc logo on top menu bar to go to main site c

[2017-03-01 00:32] mmoreshead commented on #595
Hey @cogdog -- it's a work in progress for me. New logo going in soon, new content all the time.  Hoping to find time to polish it up soon!

[2017-03-01 01:48] robmyers commented on #594
I've responded in email.

[2017-03-01 01:48] #594 closed

[2017-03-01 01:48] robmyers commented on #593
I didn't get round to it but it's very near the top of the heap.

[2017-03-02 00:28] robmyers commented on #593
This should be fixed now, please try it and let me know if it's not.

[2017-03-02 00:28] #593 closed

[2017-03-03 00:30] robinpuga opened #596 "Update donation form Monthly / One Time labels to make more obvious"
Page: https://creativecommons.org/donate/

This is a request from Rebecca. She has reviewed the attached mockup and given us the go ahead.

![donate - creative commons](https://cloud.githubusercontent.com/assets/275232/23533228/36177978-ff65-11e6-80ba-03466e38bd7f.jpg)

So this would mean adjusting the label on the Monthly donation radio to read "MAKE IT MONTHLY!" and increasing the size of both M

[2017-03-04 01:26] robmyers commented on #596
new-www-theme merged and deployed, form updated.

I've checked that it appears and behaves as expected on the live site.

Thank you!

[2017-03-04 01:26] #596 closed

[2017-03-06 13:08] roddrec2013 commented on #587
Great, then let's close this one unless you want to roll it into a long term fix. Up to you. Thanks!

[2017-03-06 19:52] paulschreiber opened #597 "Contact page links to 2012 990 form"
on your contact page:
https://creativecommons.org/about/contact/

you link to "tax return" here
http://ibiblio.org/cccr/docs/990.pdf

that's your 2012 990 instead of the 2015 (or 2016) form.

[2017-03-06 19:55] mmoreshead commented on #597
HI @paulschreiber -- we were just thinking of a better way to display these.  See more here: https://wiki.creativecommons.org/wiki/Public_reports  Will have the new one up soon!

[2017-03-08 18:33] fmann opened #598 "Windows 8.1 IE 11 logo scaling issue"
Apparently IE 10 and 11 have known issues scaling SVG images. This is noticeable on the site with odd scaling of the CC logo

![screen shot 2017-03-08 at 10 27 58 am](https://cloud.githubusercontent.com/assets/711497/23717870/5cc94ad6-03ea-11e7-9d2c-139414644a92.png)

A little bit of CSS targeting IE improves the situation. The logo is still scaled a bit small but it renders legibly.

![screen sho

[2017-03-08 18:36] fmann commented on #598
@robmyers  I've issued a pull request for this issue here.  https://github.com/creativecommons/new-www-theme/pull/18

[2017-03-09 20:08] robmyers commented on #598
Merged and deployed.

Thank you!

[2017-03-09 20:08] #598 closed

[2017-03-12 18:04] SparkyCola opened #599 "Remove airborne music from music communities"
https://creativecommons.org/about/program-areas/arts-culture/arts-culture-resources/music-communities/
The platform is unfortunately down since a few years and the domain is for sale.

@robmyers @little-wow

[2017-03-13 18:06] robmyers commented on #599
Thank you for reporting this!

I have removed the link.

[2017-03-13 18:06] #599 closed

[2017-04-02 00:23] hisasteam opened #600 "https://api.iceweed.com/pakopako.sitaiyo;;"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.pakopako
2. Haha
3. Kupaa

Please tell us a little bit about how you're a

[2017-04-03 13:53] cproof opened #601 "Broken Link CC BY 3.0 AT"
The link to the full license on https://creativecommons.org/licenses/by/3.0/at/deed.de seems to be broken, it links to https://creativecommons.org/licenses/by/3.0/at/legalcode.de instead of https://creativecommons.org/licenses/by/3.0/at/legalcode
Can you please fix this?

[2017-04-03 20:38] keonavy1987 commented on #601
601

[2017-04-04 22:52] pgstacey commented on #574
@robmyers, @little-wow has created the web page https://creativecommons.org/made-with-cc/ on our main CC web site. Can you redirect madewith.cc to this page please. Muchas gracias.
Paul

[2017-04-07 22:23] robmyers commented on #574
This is now redirected.

[2017-04-07 22:23] #574 closed

[2017-04-11 15:45] JamesEvansGit opened #606 "iframe Error 503 in DSpace Creative Commons step"
Hello,
Today we have noticed that the submission workflow in our DSpace repositories are not working in "Choose your license" step, where the user can choose a Creative Commons license. We use an <iframe> to show the Creative Commons form, but suddenly this form returns a 503 error

![cc_err503_iframe](https://cloud.githubusercontent.com/assets/7888555/24917748/0d4330c4-1ed6-11e7-9f47-634382801709

[2017-04-11 15:52] robmyers commented on #606
Thank you for reporting this.

The service that handles the iframe was (briefly) down. I have restarted it.

The form should now be working.

[2017-04-11 15:52] #606 closed

[2017-04-11 20:38] sarahpearson opened #608 "add latviski to other CC0 translations"
Now that the Latvian translation of CC0 is published, can you add latviski to the language list on the other files please? Many thanks!

[2017-04-16 22:24] keonavy1987 commented on #606
On

[2017-04-16 22:24] keonavy1987 commented on #606
#606

[2017-04-16 22:24] keonavy1987 commented on #606
#606

[2017-04-18 06:08] dany07 opened #609 "CC"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-04-29 15:52] ransano opened #613 "Netherlands Antilles not a jurisdiction anymore"
I sent a generic ticket, but thought it might be useful to post here instead.

I noticed your jurisdictions database lists The Netherlands Antilles. This country ceased to exist in 2010, and the six islands that used to belong to it are now three separate countries (Curaçao, Sint Maarten and Aruba) and three special municipalities (Bonaire, Saba, Sint Eustatius) within The Netherlands. Current lic

[2017-05-03 06:39] cproof commented on #601
Seems to be fixed?

[2017-05-03 06:39] #601 closed

[2017-05-09 00:42] robmyers commented on #558
It was a template bug. Fixed in 34b4992 .

[2017-05-09 00:42] #558 closed

[2017-05-16 18:57] little-wow opened #614 "Formatting issues on mobile"
Noticed last night that the supporters are tiny on pages that are not the front page and the box to search is offset:

![img_1160](https://cloud.githubusercontent.com/assets/7093838/26123174/f75555fc-3a47-11e7-9418-efc77c15088a.PNG)
![img_1161](https://cloud.githubusercontent.com/assets/7093838/26123175/f7587d86-3a47-11e7-89e2-13800ee2d594.PNG)

[2017-05-16 20:50] little-wow opened #615 "Make donation popup take longer to popup on SOTC"
Hi Rob –

I spoke with Jane about the donation popup and she thinks it may be coming up too quickly on SOTC. Could we put it on a longer delay or show up slightly down the page?

Thank you!

Jennie

[2017-05-18 15:20] ryanmerkley opened #616 "Add a link to the CC Store in the top nav and on front page"
There is no link to the CC Store on the main page of cc.org.

We should have a prominent link to the CC Store on the main page of the site. Menu item should be "CC Store" or just "Store" and should appear in the top nav alongside "Search the Commons".

Also, suggest we put a link under "Get Involved" beside "Donate" so it is "Donate or Buy CC stuff" or similar.

[2017-05-18 17:53] robmyers commented on #616
Done!

The "Buy CC stuff" may distract from "Donate" as it's larger, but there are larger links to Donate higher up on the page so I don't think that's a major issue.

I used "CC Store" as it's more descriptive but we can lose the CC if it's redundant.

[2017-05-18 17:53] #616 closed

[2017-05-23 16:03] little-wow opened #617 "Open Stax link on SOTC is broken"
via Twitter:
https://twitter.com/jgerity/status/867041485539217409

Current link: https://stateof.creativecommons.org/%E2%80%9Chttps://openstax.org/details/college-physics%E2%80%9D

[2017-05-23 16:05] janeatcc commented on #617
I'm not sure what the issue is. The backend html looks right to me:

The <a href=“https://openstax.org/details/college-physics” target=“_blank”>OpenStax College Physics textbook</a> is used by hundreds of thousands of students worldwide, and adapted by educators into videos and other educational materials.

[2017-05-23 16:09] little-wow commented on #617
I think it has a double wrap of " "
<a href="“https://openstax.org/details/college-physics”" target="“_blank”">OpenStax College Physics textbook</a>

[2017-05-23 16:19] robmyers commented on #617
It's a right double quote. Text edited in word processors often contains them, and they don't mean the same thing as an old-fashioned " to html. Editing it in the WordPress editor should fix it.

Where is this in the editor btw?

[2017-05-23 16:25] janeatcc commented on #617
It doesn't have the double quote when I look in the back-end. See
https://stateof.creativecommons.org/wp-admin/post.php?post=203&action=edit&lang=en
-- the "excerpt" section

On Tue, May 23, 2017 at 9:19 AM, Rob Myers <notifications@github.com> wrote:

--
Jane Park
Director of Platforms and Partnerships
Creative Commons
@janedaily

Get updates: http://bit.ly/commonsnews
Invest in the commons: http

[2017-05-23 17:53] robmyers commented on #617
The excerpt had right double quotes rather than ASCII quotes. I have changed that. The main text had some smart quotes (left/right double quotes) inside the ASCII quotes, I removed them as well.

They are hard to see in isolation. Here's one at the bottom right of the image:

![image](https://cloud.githubusercontent.com/assets/21746/26368065/5ec39b7e-3fa5-11e7-93e1-03986a20f2e1.png)

And it is rep

[2017-05-23 17:58] janeatcc commented on #617
Oh I see now. No one (on CC anyway) edited that text except in WP, so not sure how that happened. Anyway, is fixed now!

[2017-05-23 17:58] #617 closed

[2017-05-24 13:16] sarahpearson opened #619 "adding Turkish to language list on 4.0 licenses"
@robmyers Once the Turkish translations are live, can you please run the script to add a link at the bottom of all other published 4.0 translations? The team has confirmed that the language should be listed as Türkçe (note capitalization).

Let me know if you need anything else. Thank you!

[2017-05-24 18:24] robmyers commented on #619
Added in e004b9c51451c8c946b76f5f0848e6082107706d .

[2017-05-24 18:24] #619 closed

[2017-05-25 21:23] janeatcc commented on #615
Hey Jennie is this still an issue? what is the pop-up delay you would recommend? We'll have to ask AB to do it as it's easiest for them.

[2017-05-25 22:11] little-wow commented on #615
We've still gotten an extremely small number of donations on SOTC despite there being a massive overlay, so I think it's worth a try.

[2017-05-30 15:53] mmoreshead opened #621 "sampling plus not found"
https://creativecommons.org/licenses/sampling+/1.0/
This page doesn't work and it should even though it's retired.

[2017-05-30 16:41] janeatcc opened #622 "SOTC footer link needs to be changed"
I think this is a carry-over from the main site, but noun project icon links to https://stateof.creativecommons.org/website-icons which is not a page. Where can I edit the footer of SOTC?

[2017-05-30 16:47] fmann commented on #622
@janeatcc That link is in the text widget in the Footer Bottom Right region. So go to Appearance > Widgets and edit that widget.

[2017-05-30 18:48] janeatcc commented on #622
Thanks!

[2017-05-30 18:48] #622 closed

[2017-05-30 18:52] janeatcc commented on #615
How many seconds do you want to change the delay to? We should make it consistent with the other pieces of the site. If you tell me the specific # we can just as AB to do it.

[2017-05-30 19:13] little-wow commented on #615
Average time on page is 1:50, so maybe after 45 seconds or so? This feels like a best practice thing to put in front of AB, though because I feel like they would know. We could also potentially just have it pop up a little further into the report?
Maybe worth seeing how it loads at different bandwidths as well... I think it's worth putting the inquiry into AB as to what they think if you feel it's

[2017-05-30 19:34] janeatcc commented on #615
Hey Robin! Based on this new data point, what do you think? I think still worth having it pop up no matter where you are in the report, but maybe delay it some time after the report fully loads. Currently it pops up for me right after the gif loads.

[2017-05-30 21:06] mackh commented on #615
Hi team - looks like the popup doesnt load on SOTC until the user scrolls down close to the bottom of Ryan's intro letter (on desktop) so I dont think its currently time delayed.  We could certainly change it to time delay or move it down the page, or try something completely different.  I'm not sure the length of the time delay is the reason for a lack of engagement?  Thoughts?

[2017-05-30 21:16] fmann commented on #615
The code in question is in cc_post_slide/templates/post-303.tpl.php The snippet in question:

      setTimeout(function(){
          jQuery('#deed-donate-slide').addClass('reveal');
      }, 18000);
      jQuery(window).scroll(function() {
          if (jQuery(window).scrollTop() <= 2000) {
              jQuery('#deed-donate-slide').finish();
              //$('#deed-donate-slide').removeClass('re

[2017-05-30 21:31] little-wow commented on #615
Thanks for the response, Mack! Just making a guess as to what was making engagement lag.
We've only had 4 donation requests come in over Gravity Forms over the past month, which makes me wonder if there's something going on? What do you think?

[2017-05-30 21:34] little-wow commented on #615
Since we turned on analytics, we've had nearly 9,000 views.

[2017-05-30 21:34] fmann commented on #615
Regarding engagement, IMO 18 seconds isn't long enough for someone who is actually engaging with the content to get hit up for a donation. They wouldn't have even gotten through the intro yet. @little-wow's suggestion of 45 seconds seems more reasonable. Fewer people will see it, but those folks will be much more engaged.

[2017-05-30 21:40] janeatcc commented on #615
Ok - I'm game for trying @little-wow's suggestion of 45 seconds!

On Tue, May 30, 2017 at 2:34 PM, Jennie Rose Halperin <
notifications@github.com> wrote:

--
Jane Park
Director of Platforms and Partnerships
Creative Commons
@janedaily

Get updates: http://eepurl.com/ckUg-T <http://bit.ly/commonsnews>
Invest in the commons: https://donate.creativecommons.org/

[2017-05-30 21:54] robmyers commented on #615
Sounds good.

I can make that change and deploy it if no-one objects.

[2017-05-30 22:18] robmyers commented on #621
Yikes. The recent changes to address hacking attempts on the license part of the site broke that.

Fixing. Thank you for reporting this!

[2017-05-30 22:41] robmyers commented on #621
Fixed. Thank you again for the catch.

[2017-05-30 22:41] #621 closed

[2017-05-30 22:55] robmyers opened #623 "Fix Port vs. Translation Legalcode Links in Deeds"
We only have one translatable string for the deed link in both ports and translations of the deeds.

But the link format may be different for a port or a deed.

Rather than split out the strings we should put some intelligence in the license rendering code to catch this and substitute the links as needed.

[2017-05-31 23:55] robmyers commented on #615
Where is the source code, by the way?

[2017-06-01 16:25] fmann commented on #615
@robmyers The snippet in question is in cc_post_slide/templates/post-303.tpl.php.

If you mean the git repo for SOTC, we had one on our internal system and just sent it to you in a tarball. I believe our expectation was that you were going to check it into https://github.com/creativecommons/sotc-wordpress after you made any additions/subtractions/adjustments you thought were appropriate.

[2017-06-01 18:03] robmyers commented on #615
Ah right. Yes I have the tarball. I'll do that. Thank you.

[2017-06-01 18:16] robmyers commented on #615
I have changed the time to 45 seconds and I'll get the code into the repo soon.

[2017-06-01 18:16] #615 closed

[2017-06-01 21:03] little-wow commented on #615
Thank you, Rob!

On Thu, Jun 1, 2017 at 2:16 PM, Rob Myers <notifications@github.com> wrote:

--
---
Jennie Rose Halperin
Communications Manager
Creative Commons
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2017-06-05 01:36] INDEXGitHub2x opened #624 "CSS"

[2017-06-05 23:26] #624 closed

[2017-06-07 12:49] little-wow opened #625 "404 on French BY-NC-SA 4.0"
https://creativecommons.org/licenses/by-nc-sa/4.0/fr/

returns a 404. Mentioned on Twitter. https://twitter.com/ApolloLegacy01/status/872394477083799552

[2017-06-07 16:42] robmyers commented on #625
@peterspdx @sarahpearson Is that a valid url for the 4.0 translations rather than the 3.0 (and earlier) ports? It's not in the wayback machine:

https://web.archive.org/web/*/creativecommons.org/licenses/by-nc-sa/4.0/fr/

A Google search shows about 744 hits for it.

https://www.google.ca/?gfe_rd=cr&ei=Viw4Wb34F-Pe8AfmzoRo#q=%22creativecommons.org/licenses/by-nc-sa/4.0/fr/%22&start=0

deed.fr work

[2017-06-07 17:52] #136 closed

[2017-06-07 20:47] robmyers opened #626 "Licensing types thinks it is /licenses/"
https://creativecommons.org/share-your-work/licensing-types-examples/

The translation list shouldn't be showing here, the page thinks it is /licenses/ .

![image](https://user-images.githubusercontent.com/21746/26900644-bd041f86-4b87-11e7-9667-36c4728b64c1.png)

[2017-06-07 21:00] robmyers opened #627 "Missing trailing slash on /publicdomain exposes host name"
https://creativecommons.org/publicdomain should redirect to https://creativecommons.org/publicdomain/

This is currently broken.

[2017-06-08 02:39] sarahpearson commented on #625
I should not be the definitive source on this, but it does not seem like it is a valid URL. The others have /deed before the language code, so I assume French should, too.

[2017-06-08 17:49] peterspdx commented on #625
Valid URLs for translations of the 4.0 legal code are in this format:
https://creativecommons.org/licenses/by/4.0/legalcode.LA (where LA = language code)

While we don't have French 4.0 legal code yet published, it will go at:
https://creativecommons.org/licenses/by/4.0/legalcode.fr

So the link mentioned on twitter and 743 other places is wrong for two reasons: we don't have legal code in French

[2017-06-08 19:39] little-wow opened #628 "Convert donation box to newsletter signup on SOTC"
SOTC is not converting many donors and Ryan and I agree that it would be better to change the donation box to a newsletter signup.

Can we do that? Thanks!

[2017-06-13 12:29] tarkowski opened #629 "CC wiki has strange user nicks"
Hello, I'm not sure whether this is the right place to files this, but here goes:
after logging in to the CC wiki with my CCID login (tarkowski), I'm logged in as ccid-tarkowski, which is not a very pretty login. I know it's a small issue, but identities online count and are carefully managed, so hopefully this can be fixed? It would be nice to have a login without the prefix.

[2017-06-14 20:51] ericsteuer opened #630 "CC BY* 1.0 & 2.5 Israel port of Deeds translation is incomplete"
https://creativecommons.org/licenses/by/2.5/il/

the deed is in english but punctuation is preceding the sentences (e.g. ":You are free to")
<img width="742" alt="screen shot 2017-06-14 at 1 50 46 pm" src="https://user-images.githubusercontent.com/8919762/27154050-825ef6a4-5108-11e7-8010-f312e0d415cb.png">

[2017-06-15 22:44] ZaTaZ commented on #627
creativecommons.org

[2017-06-16 21:22] robmyers opened #631 "Chooser Markup Buttons As Inline SVG"
https://twitter.com/SterbalRobert/status/875789371294846976

Make chooser images optionally available as inline SVG or PNG.

Disadvantages: much larger html+rdfa to copy and paste.

Advantages: slightly improved security.

This wouldn't affect making the buttons active, as that would be a separate script addition to the markup.

Ideally people wouldn't copy and paste anything manually, though.

[2017-06-20 23:43] robmyers commented on #627
Fixed using apache config on livewww/livechooser.

[2017-06-20 23:43] #627 closed

[2017-06-21 14:08] einsweniger opened #632 "XMP: invalid xml:lang content"
tl;dr: Chooser outputs XMP containing `xml:lang='en_US'` which is wrong.
  `xml:lang='en-US'` is correct.

## Reproduce

(Have a browser request the page with `accept-language:en-US,en;q=0.8` or similar) and GET: https://creativecommons.org/choose/metadata.xmp?field_commercial=y&field_derivatives=y&field_worktitle=ISSUE&field_attribute_to_name=-1&field_attribute_to_url=https://creativecommons.org/

[2017-06-22 00:11] robmyers commented on #542
The link now returns the rdf for the license.

[2017-06-22 00:11] #542 closed

[2017-06-22 00:24] robmyers commented on #632
Thank you for reporting this.

You are correct that we are using the gettext locale identifier rather than BCP 47:

https://www.gnu.org/software/gettext/manual/gettext.html#Locale-Names

I'm actually looking at some locale-related issues in the code tomorrow, so I will try your suggested fix then.

Thanks again!

[2017-06-23 15:18] little-wow opened #633 "Close button on Email Popup is borking for some users"
Close button on email list popup is borking for some users, see:
https://twitter.com/anthonyhobday/status/878269578966519809
http://d.pr/v/JPPBR4

Tested on Iphone 6S in Safari and worked, Tested on Google Chrome and worked, but users are seeing the issue even with latest Google Chrome.

[2017-06-23 15:23] pa-w commented on #633
This is how it looks in latest Safari but I could dismiss the modal dialog.
<img width="1102" alt="screen shot 2017-06-23 at 11 21 06 am" src="https://user-images.githubusercontent.com/7355017/27488736-1c096aba-5806-11e7-978f-fa5e8827e9ff.png">

[2017-06-23 16:18] robmyers commented on #633
I made a change around 8:30am PST that should fix this.

Let me know if anyone is still seeing it.

What happened is that in moving the script into the template for every page I moved it after all our other scripts and that caused this effect (I think). I placed it higher in the template to address this.

[2017-06-23 18:18] robmyers commented on #633
No it wasn't entirely fixed.

I managed to get it to break on iPad Mini 3 with iOS 8 / Safari.

I've now fixed it for that.

If we still see breakage there's one more thing I can try then we may have to consider pulling it for now if it's still affecting people.

[2017-06-25 03:52] rjkmurray commented on #542
I have the new license didn't you get a copy or was it only me

[2017-06-26 18:21] robmyers commented on #542
How do you mean? :-)

[2017-06-26 19:18] mmoreshead opened #634 "Board Mailing List"
Move board list to new mailing list.

Archive must be maintained and backed up

[2017-06-28 20:51] mmoreshead commented on #633
Got an email from a user today who can't get it to close even after subscribing. He was using firefox 54.4.

[2017-06-28 23:39] robmyers commented on #633
Cannot reproduce under firefox 54.0 on Windows 10 or macOS Sierra.

I cannot find a firefox 54.4, only a 54.0 beta 4 .

Can the user provide more details about the platform they are on and where they got their version of firefox on?

I'm sorry I can't be more help at this point. :-(

[2017-06-29 14:27] mmoreshead commented on #633
He sent me a screenshot but I can't seem to pull it from freshdesk.

[2017-06-29 16:08] robmyers commented on #633
Oh pm me the ticket?

[2017-06-30 14:18] mmoreshead commented on #634
A number of docs are hosted in there too, will need to pull them to back them up too.

[2017-06-30 15:34] mmoreshead commented on #634
Is it possible to make an auto responder on the old list so that if anyone tries to send mail, they get a note that says the list is closed?

[2017-07-01 06:39] INDEXGitHub2x opened #635 "AIU_CSS"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-07-02 08:45] VortexCortex opened #636 "CC0 waiver: Shouldn't have to "read and understand" digital equivarent of fine print in a tiny box."
https://creativecommons.org/choose/zero/waiver

Shot: https://files.catbox.moe/pljnql.png

Steps to reproduce the problem:

0. Think about using CC0 instead of MIT or BSD & actually try to do it.
1. Wind up on https://creativecommons.org/choose/zero/waiver after finding the tiny "we don't really want you to use the public domain tool" link.
2. Scroll down.
3. Look at that little box with Creative

[2017-07-05 13:34] mmoreshead opened #637 "SOTC site is down"
https://stateof.creativecommons.org/ says: The service is not available. Please try again later.

[2017-07-05 17:07] robmyers commented on #637
It's back up. If it happens again we should get a bigger boat, er I mean virtual machine.

[2017-07-05 17:08] mmoreshead commented on #637
Super, thanks Rob!

[2017-07-05 17:08] #637 closed

[2017-07-05 23:34] #587 closed

[2017-07-05 23:35] robmyers opened #638 "Fix HAProxy -> Varnish SSL"
Let's Encrypt isn't playing nicely with HAProxy behind CloudFlare.

We need to fix this very soon.

[2017-07-05 23:35] robmyers commented on #638
Reseearched FHAProxy/CloudFlare/Let’s Encrypt configuration.

[2017-07-05 23:50] robmyers opened #639 "Update madewith.cc redirects"
madewith.cc should now go to https://creativecommons.org/use-remix/made-with-cc/ .

Update HAProxy to use this, and update Apache to redirect from the old website page.

[2017-07-05 23:50] #639 closed

[2017-07-05 23:51] robmyers opened #640 "New mailing list: transition-team"
Claudio is admin. Publicly listed but closed membership.

[2017-07-05 23:51] robmyers commented on #640
Created and configured.

[2017-07-05 23:51] #640 closed

[2017-07-07 17:01] robmyers opened #641 "2016EOY Is Still Showing Up In UTMs"
Investigate and fix.

[2017-07-07 17:01] robmyers commented on #641
The 3.0 licenses are one of the referring pages but that code does *not* have 2016EOY in it.

[2017-07-07 17:02] robmyers commented on #641
Donation footer *does* have 2016EOY in it.

[2017-07-07 17:11] robmyers commented on #641
@little-wow OK, we didn't update the campaign in Gravity Forms. I have updated the donate and footer forms to 2017fund, and the End Of Year forms to 2017EOY (which we should not see in logs yet :-) ).

This may explain the deeds problem if the values were being picked up from one of these, but if not it will continue to show up in the logs. I'll watch them to see if we need to do more digging.

[2017-07-07 17:11] #641 closed

[2017-07-11 02:34] peterspdx commented on #636
The history to this is important, but I am going to bypass the bulk of it that because a lot has changed since we first launched CC0. When we did launch, CC believed that the "extra step" was important, out of an abundance of caution. We wanted (and continue to want) people to know what they're doing when they use CC0, same as our licenses. Bottom line is, we're going to be reconsidering this extr

[2017-07-11 02:34] #636 closed

[2017-07-11 20:40] #633 closed

[2017-07-12 17:04] nd- opened #643 "404 on 2.0 and 3.0 licenses in french"
On these pages:
https://creativecommons.org/licenses/by-sa/2.0/fr/
https://creativecommons.org/licenses/by-sa/3.0/fr/
the link on "licence" leads to a 404:
https://creativecommons.org/licenses/by-sa/2.0/fr/legalcode.fr
https://creativecommons.org/licenses/by-sa/3.0/fr/legalcode.fr

[2017-07-18 01:02] robmyers commented on #638
Switched staging to Cloudflare ssl cert. That seems to have worked. Will test fully tomorrow.

[2017-07-18 18:44] robmyers opened #644 "Fix Staging DB Connection"
WordPress config change required

[2017-07-18 18:48] robmyers commented on #644
Done.

[2017-07-18 18:48] #644 closed

[2017-07-18 19:34] robmyers commented on #638
Looks good on staging.

Moved to live.

[2017-07-18 19:34] #638 closed

[2017-07-18 19:45] robmyers opened #645 "Check BEAST Vulnerability Recurrence"
I'm seeing reports of BEAST vulnerability using the new ssl setup.

Investigating.

https://blog.qualys.com/ssllabs/2013/09/10/is-beast-still-a-threat

[2017-07-20 23:58] #320 closed

[2017-07-20 23:58] robmyers commented on #643
You'll notice it works OK in -

https://creativecommons.org/licenses/by-sa/4.0/deed.fr

This is because we only have one translation string for that link and the format is different between pre-4.0 and 4.0.

Same as #623

[2017-07-25 18:14] sarahpearson opened #647 "add Italian CC0 translation to language list for other CC0 files"
Once the Italian CC0 file is merged, can you please run the script to add italiano (no capitalization) to the bottom of the other published translations? Thanks!

[2017-07-25 18:18] sarahpearson commented on #608
Hi @robmyers: I just realized this was never completed. Can you please make suer to add this to the language list as soon as possible? Thanks!

[2017-07-25 18:39] #608 closed

[2017-07-25 18:47] #647 closed

[2017-07-26 14:03] georgehari opened #648 "CC's French version of the website still has links to English versions"
Nicolas Jupillat said in an e-mail:

"Just noticed that on CC's French version of the website (https://creativecommons.org/licenses/?lang=fr), "Voir le code juridique" always links ("see the code") to the English versions of the licenses. Could we maybe fix that so that Francophones directly end up on the French language legal code? To avoid any confusion, the page would also probably need to refl

[2017-07-26 14:05] georgehari opened #649 "Arabic <ol><li>"
Arabic numbering is in Latin letters at https://igo-ar-legalcode.legal.creativecommons.org/licenses/by-sa/3.0/igo/legalcode.ar and the rest of the translations. Numbers are OK, but instead of a, b, c, d, Arabic letters should be used. I called and incorporated the CSS for RTL, but it seems it's not enough.

[2017-07-26 14:08] georgehari opened #650 "Transifex - obsolete language projects"
The following languages can be safely deleted because they don't have any team members (--> no translators):

Afrikaans (South Africa)

Albanian (Albania)

Belarusian (Tarask)

Bosnian

Breton

Chinese (China) (GB2312)

Danish (Denmark)

English (Belgium)

Georgian (Georgia)

Greek (Greece)

Ido

Indonesian (Indonesia)

Interlingua

Italian (Italy)

Kannada

Kannada (India)

Malay (Malaysia)

Oriy

[2017-07-26 18:14] mmoreshead commented on #634
Hey  @robmyers , just picking this back up.  Is there a way for me/you/one to pull all the docs that are hosted on ibiblio? For instance: http://ibiblio.org/cccr/docs/990.pdf Or maybe this is a separate issue from the board mailing list.

(And to close my own loop on my last question, we'll remove them from the old list and they'll get an autoresponse that says they aren't on that list. Not sure t

[2017-07-26 18:15] mmoreshead commented on #634
Is this all of them, do you think? http://www.ibiblio.org/cccr/docs/ I'll just download them and move them to drive/wiki?

[2017-07-28 14:40] sarahpearson opened #652 "add Italian to list of languages for 4.0"
@robmyers Once the Italian 4.0 translation is live, please run the script to add italiano (with a link) to bottom of the other published 4.0 translations. Thanks!

[2017-07-28 22:35] robmyers commented on #652
Done. Pushing this live now.

[2017-07-28 22:37] #652 closed

[2017-07-28 22:39] robmyers commented on #649
With the Arabic 4.0 ports, there was a subtle problem with the nesting of the list tags.

I expect it's the same here. I'll check.

[2017-07-28 23:41] robmyers commented on #649
OK, that wasn't it. :-)

To get the correct Arabic numerals to display for the top-level lists, change the stylesheet and script links to this:
[code]
Then for each ol that should use the top-level list digits change:

    <ol type="a">

to:

    <ol class="lower-arabic arabic">

This leaves some nested lists of type="i" that display lowercase Roman numerals. Some of these should be changed to cla

[2017-07-28 23:46] robmyers commented on #634
I can grab them pretty automatically and put them in drive.

[2017-07-29 13:05] georgehari commented on #649
I tried to work on the BY-NC-SA file, just to see if the solutions work. I did everything manually, it was more difficult to do Search-Replace. I think the <ol> and <li> are better defined now. If all OK with you, I will proceed with the other 5 files.

https://igo-ar-legalcode.legal.creativecommons.org/licenses/by-nc-sa/3.0/igo/legalcode.ar

[2017-07-31 19:37] mmoreshead commented on #634
@robmyers Ok, do you want to do that and then share it with me and Diane and we can sort out what needs to be shared more and what needs to be filed away?

Then after that do you think it'll be easy enough to get the gang on the new list?

[2017-07-31 20:20] robmyers commented on #634
I have grabbed it, see email.

[2017-07-31 20:27] robmyers commented on #634
I need to do some more checks and then implement the move but I'm pressed for time at the moment so I  won't be able to get back onto this until later in the week.

[2017-08-01 00:29] robmyers commented on #649
That's looking great!

The only thing I can see is that the sections are still numbered 1..8 rather than ١..٨ . *I am not sure if we are meant to be changing this*, but in the 4.0 licenses the section numbers follow this format, e.g. "Section 1 - Definitions." is:

القسم ١ - تعريفات:

It's worth making the other changes then asking about this, I think.

Thank you!

[2017-08-02 20:40] janeatcc opened #653 "License deed pop-ups don't work on Safari"
e.g. the ? hover on https://creativecommons.org/licenses/by/4.0/

Using Safari Version 10.1.1 (12603.2.4)

Might check other browsers while at it

[2017-08-03 13:32] georgehari commented on #649
I will change that in all files.
In fact, the live 4.0 licenses are numbered 1...8 in the sub-sections etc.:
https://creativecommons.org/licenses/by-nc-sa/4.0/legalcode.ar
but the staged versions are numbered correctly:
https://cc4-ar-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.ar.
Do you know what happened?

[2017-08-03 18:38] mattl opened #654 "Image caption text is very very small"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here: https://creativecommons.org/2017/08/03/announcing-bassel-khartabil-memorial-fund/ (but seems to be on every post)

https://aboutmybrowser.c

[2017-08-09 00:16] robmyers opened #655 "Fix MailChimp signup on wordpress"
It was broken when we added the new donation page

[2017-08-09 00:21] robmyers commented on #655
Merged fix and deployed.

[2017-08-09 00:21] #655 closed

[2017-08-09 18:57] little-wow opened #656 "Staging is broken"
Staging needs to be fixed so we can test things!

[2017-08-09 19:04] little-wow opened #657 "Main Site + Search Page popup repairs"
Popup looks bad on mobile, and there's no way to fix it via the Mailchimp GUI, so let's use popup maker or a similar plugin to fix it!

https://connect.mailchimp.com/search?q=popup

![img_1800](https://user-images.githubusercontent.com/7093838/29139167-f365952e-7d13-11e7-8a2c-bd277d7fd751.PNG)

[2017-08-09 19:21] robmyers commented on #656
SIte is displaying but need to fix the admin. Coming up...

[2017-08-09 20:30] robmyers commented on #656
Admin is now fixed. Plugins have been upgraded to latest versions. Staging should be good to go!

[2017-08-09 20:30] #656 closed

[2017-08-11 15:24] little-wow opened #658 "Fixing default image on opengraph"
Currently looks like this

<img width="525" alt="screen shot 2017-08-11 at 11 19 26 am" src="https://user-images.githubusercontent.com/7093838/29219775-0e0c2e50-7e87-11e7-9706-0a99f8931a94.png">

[2017-08-11 15:25] little-wow commented on #658
Rob – I'll reach out if I need help

[2017-08-11 18:01] little-wow opened #659 "Popup maker is broken"
<img width="313" alt="screen shot 2017-08-11 at 2 00 25 pm" src="https://user-images.githubusercontent.com/7093838/29225763-8fae0f08-7e9d-11e7-8560-a1ee5f8c9b47.png">

<img width="1071" alt="screen shot 2017-08-11 at 2 00 35 pm" src="https://user-images.githubusercontent.com/7093838/29225766-92ddc222-7e9d-11e7-85ed-3119d5c9d4c3.png">

<img width="1021" alt="screen shot 2017-08-11 at 2 00 59 pm" sr

[2017-08-11 18:23] robmyers commented on #659
Yikes! Is that on staging?

[2017-08-11 18:24] little-wow commented on #659
Yes – I thought it may be my own configuration of the popup, so I tested out a popup that we've used in the past, and it created the blank screen shown in the second image.

FWIW that's also what happens on prod

[2017-08-11 18:26] robmyers commented on #659
OK I clicked the link and it seems happier now. This is the advantage of having Staging, though, we can test this stuff before trying it on Production.

See how it behaves now?

[2017-08-11 18:30] robmyers commented on #658
Just to make sure I understand this:

The image is scaled and cropped in a way that doesn't look good.

Is it the correct image?

And does the image have a transparent background?

[2017-08-11 18:32] little-wow commented on #659
Same problem. I also disabled my Ublock, etc etc

[2017-08-11 18:36] robmyers commented on #658
The spec for images of this aspect ratio (2:1) seems to be here:

https://dev.twitter.com/cards/types/summary-large-image

Smaller cards are 1:1 though:

https://dev.twitter.com/cards/types/summary

[2017-08-11 18:41] robmyers commented on #659
Now I get:

![image](https://user-images.githubusercontent.com/21746/29227239-02d31f3c-7e8a-11e7-831c-503bf4987d31.png)

[2017-08-11 18:47] robmyers commented on #659
OK try now? Flush your browser cache if it's still not behaving ( press F5 ).

[2017-08-11 20:56] little-wow opened #660 "Blog search images are gigantic when searching the site"
https://creativecommons.org/page/5/?s=eric

Huge images when searching blog content!

[2017-08-11 20:58] little-wow commented on #659
nope, same issue. Pinging AB.

[2017-08-11 21:01] robmyers commented on #659
On staging? Can you try an incognito window?

[2017-08-11 21:05] little-wow commented on #659
Still getting the same blank window. :(

[2017-08-11 21:20] robmyers commented on #659
Oh yes the preview *is* broken. That may be a problem with our web server rewrite rules. I'll see if there's any documentation for this.

[2017-08-11 21:21] robmyers commented on #659
Maybe:

http://docs.wppopupmaker.com/article/322-why-is-my-popup-preview-button-not-working

?

[2017-08-13 03:42] Candyapple35 opened #661 "Apple api"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-08-14 14:54] little-wow commented on #659
nope :(

[2017-08-14 18:14] fmann commented on #659
I added a popup to stage targetting just the about page and I'm seeing it.

https://staging.creativecommons.org/about/

I am also seeing a "Hello World! Let’s build a vibrant global commons!" popup on the homepage of the staging site when I hit the site in an incognito window, so it seems like the basic popup functionality is working there.

[2017-08-14 18:33] fmann commented on #659
Ahh.... reading this thread more closely and chatting with @little-wow I see that, indeed, popups do not seem to Preview correctly. But saving them and triggering them to show up in a new window appears to do the trick.

[2017-08-14 18:45] little-wow commented on #659
@robmyers the best way to integrate Mailchimp is through this extension, but it costs a little $$. What do you think? https://wppopupmaker.com/extensions/mailchimp-integration/

[2017-08-14 19:27] robmyers commented on #659
I can't find the license for it - we're trying to stay out of the WordPress plugin licensing debate so if it's not obviously licensed I'd like to steer clear of it.

[2017-08-14 19:28] robmyers commented on #659
Building on what fmann said, this is the advantage of working on Staging - we can test pop-ups there as much as we like on the actual (staging) site before adding them to Live

[2017-08-15 19:26] #659 closed

[2017-08-15 20:41] little-wow opened #662 "Remove Mailchimp Popup and add Popup maker popup"
Mailchimp popup is hardcoded into WP theme, but WP Popup maker is working on Staging now, so it's time to switch it over.

Two things to do:
* QA on Popup Maker on Staging for "Email Signup" Popup
* Remove Mailchimp theme
* Deploy Popup maker

Rob – before you move it over, can you check in with me to make sure that it's ready on staging before launch?

Search will probably keep the Mailchimp plug

[2017-08-16 14:54] little-wow opened #663 "Arrow to sign up for mailing list looks wrong"
creativecommons.org/newsletter

<img width="820" alt="screen shot 2017-08-16 at 10 52 35 am" src="https://user-images.githubusercontent.com/7093838/29369658-3fc9605a-8271-11e7-9651-7a3b88ae539b.png">

[2017-08-16 16:31] fmann commented on #663
I just fixed it. In the code it was:

`<div class="input-group"><input id="email-Primary" class="email" maxlength="64" name="EMAIL" required="" size="30" type="email" value="" placeholder="Your email" /><span class="input-group-btn"><button id="_qf_Edit_next" class="button primary arrow" name="subscribe" type="submit" value="Sign Up"></button>Sign Up</span></div>`

The text "Sign Up" needed to be

[2017-08-17 14:17] robmyers commented on #662
@little-wow Heya. Just checking in about the version on staging being good to go.

Also one note: this popup will use a different cookie from the mailchimp popup in the theme, so we will get reports from people who previously subscribed via or dismissed the theme-based popup that a pop-up is showing again. We can't do anything about that, we'll just have to be sympathetic to people reporting it.

[2017-08-17 16:55] robmyers commented on #663
Thank you @fmann !

[2017-08-17 16:55] #663 closed

[2017-08-17 17:30] Thorcik1704 commented on #663
Yes, I was yesterday  there. Sometimes is too much for me. I dont
understand what to do many times when I surfing on  internet. I AM not
hacker, I just looking for some answers about history of my
fatherland...sorry and thanks for mailing. I hope you arent laptop but real
human 😀

17.08.2017 18:55 "Rob Myers" <notifications@github.com> napisał(a):

[2017-08-17 18:58] robmyers commented on #662
The MailChimp code has been removed from the theme and deployed.

The new popup has been copied over to Live and activated.

[2017-08-17 18:58] #662 closed

[2017-08-17 20:43] #657 closed

[2017-08-17 20:44] #609 closed

[2017-08-17 20:44] #600 closed

[2017-08-17 20:44] little-wow commented on #613
^^^ @peterspdx

[2017-08-17 20:45] #628 closed

[2017-08-17 20:47] little-wow commented on #614
Ping! This is still an issue :)

[2017-08-17 20:48] #588 closed

[2017-08-17 20:48] little-wow commented on #592
@robmyers Was this ever decided on?

[2017-08-17 20:48] #661 closed

[2017-08-17 20:49] little-wow commented on #658
done!

[2017-08-17 20:49] #658 closed

[2017-08-17 20:50] #567 closed

[2017-08-17 20:50] little-wow commented on #654
Hi! According to @ericsteuer this is how it's supposed to be. Thanks for reporting!

[2017-08-17 20:50] #654 closed

[2017-08-17 20:51] #566 closed

[2017-08-17 20:51] #535 closed

[2017-08-21 15:19] little-wow opened #664 "Facets switch when searching CC Search"
![screen shot 2017-08-21 at 11 08 22 am](https://user-images.githubusercontent.com/7093838/29525959-4d3578a6-8662-11e7-8fc6-605c2c9a8aa1.png)

see screenshot.

[2017-08-24 13:19] bardiharborow opened #665 "creativecommons.net should use HSTS as well"

[2017-08-24 13:51] wangjuanjuan177 commented on #652
522846511

[2017-08-28 15:26] claudioruiz opened #666 "CC Wiki links on IGOs are dead"
I had a meeting with a friend of mine working at the UNDP who just released a research on poverty without a CC license but willing to do it in the future.

I was about to send him out some links of IGO licensing examples (specially at the UN), but [all the links are broken](https://wiki.creativecommons.org/wiki/Intergovernmental_Organizations#United_Nations). I'm worried to have this page outdated

[2017-08-28 16:47] little-wow opened #667 "Removed email popup on donate page"
Using condition ! on donate page, no more popup on the donate page. Making a ticket to track that this happened today. Any issues, get in touch:
![screen shot 2017-08-28 at 12 47 10 pm](https://user-images.githubusercontent.com/7093838/29783596-08aedb40-8bef-11e7-86fb-da15232c6928.png)

[2017-08-28 16:47] #667 closed

[2017-08-28 17:50] peterspdx commented on #666
While I didn't try all the links on that page, it does look like the links to the UN examples are broken. The content must have moved. Let me try to find better links and update the page. Will report back here.

[2017-08-28 17:57] peterspdx commented on #666
It looks like the UN consolidated everything at a single location: http://onlinelearning.unu.edu/en/

E.g., the reference to United Nations University OpenCourseWare - http://ocw.unu.edu/Courses_listing -- the link should now be to: http://onlinelearning.unu.edu/en/opencourseware/index.html

My suggestion is that we remove the examples on the wiki page under the United Nations and replace them wit

[2017-08-31 13:57] #500 closed

[2017-09-03 19:22] Yadanr commented on #650
issue

[2017-09-05 16:33] little-wow opened #668 "Mystery error when trying to post"
![screen shot 2017-09-05 at 12 28 59 pm](https://user-images.githubusercontent.com/7093838/30071745-eaf6557c-9235-11e7-86f7-25345e52796e.png)

I get this error frequently when trying to post to the blog and I'm not sure why.

[2017-09-05 19:10] robmyers commented on #668
There are some weird errors in the logs, I will investigate.

[2017-09-06 06:59] georgehari opened #669 "Create CC4 Russian branch"
Please create a cc4-ru-legalcode branch from master, with the purpose of staging the new license translation files.

[2017-09-06 21:54] robmyers commented on #669
I've created it here -

https://github.com/creativecommons/creativecommons.org/tree/cc4-ru-legalcode

And I will run the staging script manually now to make sure it works.

[2017-09-07 18:54] georgehari commented on #669
https://cc4-ru-legalcode.legal.creativecommons.org/licenses/by-nc-sa/4.0/legalcode.ru etc. were staged but they are not live.

[2017-09-09 07:33] georgehari opened #670 "Link to legal code in the 3.0 Dutch license"
In the page https://creativecommons.org/licenses/by-sa/3.0/nl/, the link from "licentie" should go to https://creativecommons.org/licenses/by-sa/3.0/legalcode.nl or https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode, not https://creativecommons.org/licenses/by-sa/3.0/nl/legalcode.nl.

The same for:
- by-nc
- by-nd
- by-nc-nd
- by-nc-sa

[2017-09-11 20:23] robmyers opened #671 "4.0 License Plain HTML is Broken"
The 4.0 plain html version of the legalcode is broken:

https://creativecommons.org/licenses/by/4.0/legalcode-plain

It should work like the functioning 3.0 version -

https://creativecommons.org/licenses/by/3.0/legalcode-plain

[2017-09-11 21:50] kldGmarketplace opened #672 "Creativecommons / creative"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-09-11 22:39] kldGmarketplace opened #673 "Creativecommons / creative co mo"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-09-12 06:46] #649 closed

[2017-09-13 15:25] mmoreshead opened #674 "adding search to chrome is broken"
If you're using Chrome on https://search.creativecommons.org/  and you click on "Add CC Search to your browser." nothing happens.  (Pop up works in FF)

This might be as simple as :

"Add CC Search to your browser (may not work in all browsers)" or whatever the best practice is for this kind of thing.  I dunno :)

Someone flagged in an info@ inquiry.

[2017-09-13 17:25] janeatcc commented on #666
Sounds good to me!

[2017-09-14 17:54] #673 closed

[2017-09-14 17:54] robmyers commented on #669
These are now serving.

[2017-09-14 17:54] #669 closed

[2017-09-20 11:42] georgehari opened #675 "How is a new language added in the footer of the deeds?"
A translator in Bengali asked me on Transifex when will Bengali (বাংলা) be added to the list of languages in the deeds, for example in https://creativecommons.org/licenses/by-nc-sa/4.0/, after "This page is available in the following languages". They translated the deeds&choosers by 63% and the search is fully translated.

I only know that the new translated strings are pushed live every Monday, b

[2017-09-22 12:29] ACEBASS commented on #469
That's all I need a if in my software 😑

[2017-09-22 14:54] sarahpearson commented on #675
It gets automatically included in the language list once they translate enough of the strings, which I think is about 85%.

[2017-09-22 17:04] little-wow opened #676 "Site for Open Access Week"
I'm building a site for open access week that I'm hoping can be published at action.creativecommons.org/open-access-week. Follow along here https://little-wow.github.io/open-in-action/

Repo: https://github.com/little-wow/open-in-action

Date of OA Week is October 23-27

[2017-09-22 21:03] robmyers commented on #676
Hey awesome!

I assume we're just serving that directory directly at the url on action.cc.org ?

Ping me the week before and we can get that set up (or sooner if needed, but after ITW :-) ).

On a purely technical level I would add a .gitignore file to the project that just contains the following line:

    .DS_Store

[2017-09-22 21:54] claudioruiz opened #677 "new mask email"
Please create ```members-support@creativecommons.org``` pointing to claudio@cc and diane@cc

thanks

[2017-09-22 22:25] robmyers commented on #677
I have created the group and sent a test email.

[2017-09-22 22:25] #677 closed

[2017-09-23 07:39] georgehari commented on #675
Thanks!

[2017-09-23 07:39] #675 closed

[2017-09-24 22:26] pyaephyoswe commented on #676
pyaephyoswe569@gmail.com

[2017-09-24 22:28] pyaephyoswe commented on #670
Good.
pyaephyoswe569@gmail.com

[2017-09-25 17:24] tvol commented on #676
@little-wow @robmyers i think the widget idea is cool, but do we need a separate site? can't it just be embedded into a blog post or a page on cc.org?

[2017-09-25 20:13] little-wow commented on #676
It should be a landing conversion page so that people can easily sign up for the email list. The page will sit at action.cc.org

[2017-09-26 20:01] claudioruiz opened #678 "replace the PDF of the Network Strategy"
Is it possible to replace [this PDF](https://creativecommons.org/wp-content/uploads/2017/05/GlobalNetworkStrategy-Final.pdf) with [this updated one](https://github.com/creativecommons/global-network-strategy/blob/master/docs/GlobalNetworkStrategy-Final.pdf)?

I couldn't find how

[2017-09-30 20:54] chatchay opened #679 "bot"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-10-01 00:27] chatchay opened #680 "bot"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-10-01 19:43] Chealer opened #681 ""Copy this code [...]" boxes: Selecting a fragment selects all"
If I go to https://creativecommons.org/choose/?lang=en and try selecting - for example - a URL in the "Copy this code to let your visitors know!" textarea, the actual selection becomes the whole textarea's content when I release the primary mouse button.

This happens at least in Microsoft Internet Explorer and Google Chrome 61.

[2017-10-03 11:26] chatchay opened #682 "bot"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-10-03 16:17] technologypt opened #683 "Inappropriate Image When Searching 'Geoff Herbach' Using CC Within Securly"
We would like to report that there's an inappropriate image that displays when you search 'Geoff Herbach' using Creative Commons via Securly on an iPad. After working with Securly on this issue they're telling us that it's on the Creative Commons side of things. Here's their response: 'I was able to reproduce scenario you see when typed Geoff Herbach and going to images I saw exact result you saw

[2017-10-04 18:08] robmyers opened #684 "HTTP -> HTTPS Redirection on es.creativecommons.org is broken"
Modern web browsers automatically redirect to https, but es.creativecommons.org only supports http.

The site is on vhosts.ibiblio.org, so I do not have admin access to fix this.

I'm not sure how to proceed. There isn't a quick fix in CloudFlare.

I am investigating.

[2017-10-04 21:15] little-wow commented on #682
Please stop spamming our Github

[2017-10-04 21:15] #682 closed

[2017-10-04 21:22] #680 closed

[2017-10-04 21:23] #679 closed

[2017-10-06 01:37] mrpaco85 opened #685 "Markdown displayed instead of link"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:  https://creativecommons.org/faq/#what-are-creative-commons-licenses

You can also attach a screenshot to this issue if you have a visual b

[2017-10-10 19:26] little-wow opened #686 "Image out of place on donate page"
<img width="879" alt="screen shot 2017-10-10 at 3 25 27 pm" src="https://user-images.githubusercontent.com/7093838/31406466-6d89c460-adcf-11e7-946b-73bff86a98c8.png">

[2017-10-13 20:14] little-wow opened #687 "Help people on the deeds sign up for the mailing list"
U know what I mean @robmyers

[2017-10-13 20:38] robmyers commented on #687
😉

[2017-10-16 17:18] little-wow opened #688 "Add unbounce to action.cc"
Using unbounce for conversion/ab testing for OA Week. Need to put it on the server. Ping me for details.

[2017-10-16 18:11] robmyers commented on #687
Something like the one that used to be on the front page?

[2017-10-16 18:20] robmyers commented on #688
Can we point the domain at unbounce or do we need to use the WordPress plugin? Action.cc isn't a WordPress site so this would be a lift and I'm pushed for time this week.

[2017-10-16 18:47] robmyers commented on #688
OK so I assume we will do this -

https://documentation.unbounce.com/hc/en-us/articles/203661044-Connecting-Your-Domain-to-Unbounce-with-CNAMEs

Email me the details and I will set up the cname? :-)

[2017-10-16 18:58] little-wow commented on #688
Will do

[2017-10-16 18:58] little-wow commented on #687
Remind me?

[2017-10-16 21:10] robmyers commented on #687
The "stay tuned to the commons" strip, it's still on Staging (halfway down the page) -

https://staging.creativecommons.org/

[2017-10-16 21:31] little-wow commented on #687
Aha, yeah, exactly, though maybe in a more match-y color We took that off because of popup, yes?

[2017-10-16 21:45] robmyers commented on #687
We did. I wonder if it is worth passing this to AB or if my efforts will be acceptable... :-)

[2017-10-16 21:49] little-wow commented on #687
We shall see!

[2017-10-18 17:54] robmyers commented on #688
I've added the cname, it will take a few hours to show up.

[2017-10-18 20:13] robmyers commented on #688
https://action.creativecommons.org/ now gives a 404.

@little-wow is this expected or is there some further setup either of us needs to do to fix it?

[2017-10-20 08:30] mzeinstra opened #689 "stats.creativecommons.org has a invalid SSL certifcate"
Hi,

stats.creativecommons.org has a invalid SSL certifcate causing a security error on the deed pages in the console on Chrome Version 61, MacOS 10.13 (when forcing SSL). This can cause your piwik not to track these users.

![stats cc](https://user-images.githubusercontent.com/5627431/31811787-2773f00e-b581-11e7-80a6-511cefa60a1c.png)

[2017-10-21 00:50] robmyers commented on #688
action.cc is not on wordpress. It just points at unbounce via the cname.

[2017-10-21 00:51] little-wow commented on #688
It's currently pointing at Unbounce but it says on the app that it's not working – a bit concerned our stats will be off. Would you mind taking a look at it?

[2017-10-21 01:00] robmyers opened #690 "Restore Ask Above Fold"
Persistent banner at the top of every main page or at least most of them and def the home page.

![image](https://user-images.githubusercontent.com/21746/31846423-5632f054-b5c0-11e7-8cea-87892bdf7736.png)

[2017-10-21 01:09] little-wow commented on #690
Was up in late September – mysteriously gone: https://web.archive.org/web/20170930231730/https://creativecommons.org/

[2017-10-21 17:22] DineshkumarAgrawal4 commented on #689
20

[2017-10-21 17:24] DineshkumarAgrawal4 commented on #689
DINESHKUMARAGRAWAL71@GMAIL.COM

[2017-10-22 14:08] little-wow commented on #688
Hi – CNAME is still not reading in Unbounce. Any reason why, you think?

[2017-10-22 18:23] robmyers commented on #688
I turned off the CloudFlare http proxy. Try now?

[2017-10-22 19:03] robmyers commented on #688
That seems to have disabled https. :-/

See here -

https://community.unbounce.com/t/how-do-i-use-ssl-on-a-cname-subdomain-redirect/4184/3

[2017-10-23 09:57] jvieille commented on #320
Seems again broken:
https://creativecommons.org/ is ok, but
https://api.creativecommons.org/ fails:

Error 503 Backend fetch failed
Backend fetch failed
Guru Meditation:
XID: 118303447
Varnish cache server

[2017-10-24 08:45] jvieille commented on #320
Back now. Thanks!

[2017-10-24 14:28] little-wow opened #691 "Donate page is showing Year End Image Metadata on Open Graph"
The featured image is the big green donate heart but it's pulling the YE campaign image from last year. Not sure why this is.
![screen shot 2017-10-24 at 10 27 38 am](https://user-images.githubusercontent.com/7093838/31948913-fef1059a-b8a5-11e7-813f-0cb698632dd7.png)
![screen shot 2017-10-24 at 10 28 00 am](https://user-images.githubusercontent.com/7093838/31948928-08ab1170-b8a6-11e7-8704-cd379fbf

[2017-10-24 15:00] #688 closed

[2017-10-24 15:13] mzeinstra opened #692 "Visual bug on deed page"
See attached image.

My browser is Chrome 62.0.3202.62 on mac 10.13.0 with adblocker and ghostery (tracking blocking).

![cc visual bug](https://user-images.githubusercontent.com/5627431/31951328-0dbb0b24-b8de-11e7-8364-12dde56d6c7d.png)

[2017-10-24 15:20] mzeinstra commented on #47
I can't reproduce this anymore. Closing for the sake of cleaning

[2017-10-24 15:20] #47 closed

[2017-10-24 15:23] #552 closed

[2017-10-24 16:39] ryanmerkley commented on #54
Hi Rob, would you have a look at this old bug? Thanks.

[2017-10-24 18:50] robmyers commented on #54
This is part of the more general problem caused by the fact that the change from localisation in 3.0 to translation in 4.0 is not represented in the translation strings in the deeds that we use to link to the legalcode. I believe we didn't want to change the deed language, which means we cannot currently fix this with different translation strings. It will require a modification to either the Pyth

[2017-10-24 21:33] ericsteuer opened #693 "icons download page missing the eps file for public domain mark"
https://creativecommons.org/about/downloads/

under "icons"

the public domain mark icon's eps file is missing

need it for a project

[2017-10-25 14:40] sarahpearson commented on #113
Just rediscovered this open issue when going through Github. @georgehari Is this something you can change in Transifex? If not, we can reassign to Rob.

[2017-10-25 14:41] #44 closed

[2017-10-25 14:43] #128 closed

[2017-10-25 23:07] robmyers commented on #54
I had to speak to Legal in two stages. :-)

The steps we will be following are:
1. We are gathering together the issue reports and documentation we have built up around this family of problems.
2. We will then produce a canonical document describing how the urls and links under /licenses/ are meant to work.
3. I will then modify the Python code to ensure that the urls and links behave as intended.

[2017-10-26 12:23] georgehari commented on #113
What Web page and/or translation does this refer to?

[2017-10-26 12:36] georgehari commented on #113
I made all changes on Transifex.com. For those with the status CHANGED, they shoould go live on the website next Monday, when the automatic script is scheduled to run.

(1) Czech (česky) should be changed to čeština - CHANGED
(2) Farsi (پارسی) should be changed to فارسی - ALREADY CHANGED
(3) Indonesia should be changed to Bahasa Indonesia - CHANGED
(4) Melayu should be changed to Bahasa Malaysia -

[2017-10-26 13:00] mzeinstra commented on #54
I ran a 404 checker on .org/licenses/ domain and found 128 links that fall into this family of issues:

Some of these are not caused by this issue but by having bad links elsewhere on creativecommons.org like https://creativecommons.org/licenses/cc/by/4.0 which appears on https://creativecommons.org/2017/01/23/german-4-0/ (license under image).

Others show probably other legacy issues like https:

[2017-10-26 13:09] mzeinstra opened #694 "'Back to deed link' on CC0 page is not working"
Go to:
https://creativecommons.org/licenses/zero/1.0/legalcode

Click on "« Back to Commons Deed" in the bottom of the page.

See that it redirects to "./" instead of a proper url. It redirects to http://licenses.productionwww.creativecommons.uk0.bigv.io/publicdomain/zero/1.0/

[2017-10-28 09:15] georgehari opened #695 "CC0 Lithuanian translation page not found (new branch created)"
The page at https://cc0-lt-legalcode.legal.creativecommons.org/publicdomain/zero/1.0/legalcode.lt is not found. It's the same bug when creating a new branch. This time, the branch is **cc0-lt-legalcode**.

[2017-10-28 10:43] fbfb016 opened #696 "update_catalog"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-10-31 00:08] robmyers commented on #668
This was a harbinger of disk issues, which were fixed.

[2017-10-31 00:08] #668 closed

[2017-10-31 15:43] mmoreshead opened #697 "Bad Redirect on license"
On this page https://creativecommons.org/licenses/by/2.5/ca/  if you click on "English" at the top of the page, you get a 404.

[2017-10-31 19:31] robmyers commented on #697
We're reviewing URLs as part of addressing the issues that cause #54 .

This is useful information for diagnosing that (and will be fixed as part of fixing it).

Thank you!

[2017-10-31 19:32] robmyers commented on #54
See also: https://github.com/creativecommons/creativecommons.org/issues/697

Which I think (as Mari says) is a bad redirect.

[2017-11-01 19:10] little-wow commented on #685
@mmoreshead

[2017-11-01 19:10] #676 closed

[2017-11-01 19:10] little-wow commented on #693
@robmyers IDK where this lives.

[2017-11-01 20:27] robmyers commented on #693
That is weird! We don't have EPS for everything. :-/

Inkscape and Illustrator can load and convert the SVG to EPS.

Attached is a quick conversion. We should probably add the missing ones to the mirror and to the page.

[publicdomain.zip](https://github.com/creativecommons/creativecommons.org/files/1435591/publicdomain.zip)

[2017-11-01 23:43] Psycho-Mg opened #700 "user"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-11-02 00:47] #700 closed

[2017-11-02 18:00] robmyers commented on #690
Code:
[code]

Add in a "Custom HTML" widget to the "Header Below" widgets area.

[2017-11-02 18:03] little-wow commented on #690
🙌

[2017-11-05 19:00] little-wow commented on #691
ping @robmyers can you help??

[2017-11-06 18:34] ericsteuer commented on #693
@little-wow would you mind adding the eps rob made to the cc site on the downloads page?

i should know how to do that myself, but i don't because i am very dumb!

https://creativecommons.org/about/downloads/

under "icons"

the public domain mark icon

[2017-11-06 19:00] little-wow commented on #693
done

[2017-11-06 19:00] #693 closed

[2017-11-06 19:01] robmyers commented on #691
Oh regarding still seeing 2015 utms, people have linked to /donate/ with them so that might explain it. e.g. - https://arakaliamogh.wordpress.com/copyright-all-rights-reserved/

[2017-11-06 19:05] little-wow commented on #691
@robmyers Not sure what you mean?

[2017-11-06 19:05] little-wow commented on #691
This is YE 2016

[2017-11-06 19:07] robmyers commented on #691
Unrelated comment on ticket. ;-)

[2017-11-06 19:11] robmyers commented on #691
See "Explicitly Tell Facebook To Use Thumbnail of Your Choice" here -

http://www.wpbeginner.com/wp-tutorials/how-to-fix-facebook-incorrect-thumbnail-issue-in-wordpress/

[2017-11-07 03:29] robmyers commented on #695
Gah it's worse than usual. :-( I probably need to upgrade Let's Encrypt. Looking...

[2017-11-07 22:53] little-wow opened #701 "Change donate page to have no header"
Based on what we're seeing on the donate page, I think we should remove the navigation on the page and bring the donate form up to the upper right hand "above the fold"

"We'd have to make a specific page template in the WordPress theme (create a php file) and modify the css for the form."

The goal is for the page to look more like this: https://act.350.org/donate/build/

Here's a wireframe of a

[2017-11-07 23:07] little-wow commented on #701
One last note on this is whether we can reemphasize paypal on the site!!

[2017-11-07 23:30] tvol opened #702 "only PDF link to GNC charter?"
@claudioruiz i think https://creativecommons.org/network/charter/ should just have the text as HTML, not only PDF link or link to github page. what do you think?

[2017-11-08 15:13] claudioruiz commented on #702
We discussed that with Diane and Rob. We have this page because it was important to legal to have one _canonical_ version of the Charter somewhere outside network.cc.org, considering we have the _source code_ on Github.
And we thought the best way to keep that canonical is with a PDF like that. It won't be complicated to put also an HTML version there, but I thought it might be totally lost under

[2017-11-11 06:27] oscaryaung7 opened #703 "manager"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-11-13 14:09] Anti-gravitry opened #704 "Cc"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1.
2.
3.

Please tell us a little bit about how you're accessing the site o

[2017-11-13 22:15] little-wow commented on #691
Fixed!

[2017-11-13 22:15] #691 closed

[2017-11-14 13:05] mzeinstra commented on #54
Can I get an update on this issue?

In a private message to @robmyers I shared my findings of 1279 bad links related to legal code pages.

Based this on creativecommons.org/licenses/index.rdf there should be 700 working legal code urls (meaning that we have 700 different licenses at the moment). over 1200 broken links seems excessive.

It could also be that the rdf needs an update. I found 24 brok

[2017-11-14 17:51] #704 closed

[2017-11-14 17:52] #703 closed

[2017-11-14 20:11] peterspdx commented on #54
This isn't my issue in the tech sense. We have many hundreds of license URLs that we have to maintain. Kinkade used to keep great track of them. But this isn't an assignment to me, other than my admonition that we keep stable all URLs to all licenses at all versions, even those deprecated, because like it or not there are works under those licenses.

Unsure who is the best to assign this to, but i

[2017-11-14 20:53] little-wow opened #705 "Optimizely code for testing donate site"
We're testing the donate site! Yay.

We're going to need to add some bespoke code from Optimizely. I'll ping you as needed, this is a placeholder ticket.

Thanks!

[2017-11-16 00:00] robmyers commented on #701
Support for this is in new-www-theme 41070b84f567b9c7e91d1a09e513f789da31a8aa , which has been deployed on staging and live.

This provides a layout that centres the content in a single div in the middle of the page, and some css classes to support the layout in the wireframe using flex layout.

To use this layout select "Floating Content Template" as the page template then set the image that you

[2017-11-16 06:38] janeatcc opened #706 "Version4 page is wonky"
https://creativecommons.org/share-your-work/licensing-considerations/version4/

[2017-11-16 07:47] robmyers commented on #706
Eek it was more widespread. I've fixed it. Thank you for reporting it.

@little-wow this resulted from the theme changes for the donate page. Hold off on that for now, I'll investigate further in the morning.

[2017-11-16 11:16] peterspdx commented on #706
Double eek. One serious problem is that there is a different, very important page that should be on the main website, not on the wiki where it is now, that should be linked to from the main licensing page. This is the real "before licensing considerations" page, that is linked to from the legal code of every translation 4.0: https://wiki.creativecommons.org/wiki/Considerations_for_licensors_and_li

[2017-11-16 15:39] little-wow commented on #706
Let me know how I can help this be rectified @peterspdx  – I am happy to put that page up.

The decisions with what's on the Wiki vs main site happened before my time, but the new site has a lot of the same basic structure as the old site, so some of those decisions may have been legacy decisions. If you can give me a list of pages to move over, I am happy to do it.

Rob – also let me know how I c

[2017-11-16 23:11] peterspdx commented on #54
Sending you a note, Maarten.

[2017-11-20 00:49] elopio opened #707 "The examples of CC-BY and CC BY-SA are inverted"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here: https://creativecommons.org/share-your-work/licensing-types-examples/licensing-examples/

Please tell us the steps to reproduce the problem

[2017-11-20 18:52] little-wow commented on #707
Hi @elopio! This has been fixed. Thanks for the report!

[2017-11-20 18:52] #707 closed

[2017-11-20 21:55] elopio commented on #707
Thanks @little-wow! I found a few more tiny errors in the text. Should I report them here, or is the code published somewhere so I can fix them myself?

[2017-11-20 22:15] little-wow commented on #707
Go ahead and report them here and we'll make the change. Thank you so much!

On Mon, Nov 20, 2017 at 4:55 PM, Leo Arias <notifications@github.com> wrote:

--
Jennie Rose Halperin
Communications Manager
Creative Commons
@little_wow
Invest in an open future. Support Creative Commons today:
http://bit.ly/19IjSKl

[2017-11-21 00:07] elopio opened #708 "Link to Public Domain Mark is wrong in the Licences and Examples page"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:
https://creativecommons.org/share-your-work/licensing-types-examples/licensing-examples/

Please tell us the steps to reproduce the problem

[2017-11-21 00:09] elopio opened #709 "Typo on the Brooklyn Museum example: license license"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:
https://creativecommons.org/share-your-work/licensing-types-examples/licensing-examples/#nc

Please tell us the steps to reproduce the prob

[2017-11-21 00:13] elopio opened #710 "Wrong link to the Jonathan Coulton case study in License and Examples"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

Please tell us the steps to reproduce the problem, if needed:

1. https://creativecommons.org/share-your-work/licensing-types-examples/lic

[2017-11-21 00:19] elopio opened #711 "There are two empty bullets in the Licenses and Examples page"
Thanks for reporting an issue, to help us file this efficiently we made this template. Feel free to ignore the template if you wish :)

If this is a bug or a problem with one of our websites or page on one of our sites, please put the URL or page address here:

https://creativecommons.org/share-your-work/licensing-types-examples/licensing-examples/#nc

and

https://creativecommons.org/share-your-w

[2017-11-21 16:00] little-wow commented on #709
fixed, thank you again :)

[2017-11-21 16:00] #709 closed

[2017-11-21 16:01] little-wow commented on #710
you're so great, thank you!

[2017-11-21 16:01] #710 closed

[2017-11-21 16:04] little-wow commented on #711
I couldn't reproduce that, but I saw where in the code it may have been caused. Let me know if you're still seeing it and I'll reopen the ticket, but it should be solved.

[2017-11-21 16:04] #711 closed

[2017-11-21 16:20] little-wow opened #712 "Deleted "Yes Please Subscribe me to CC newsletter" on Donate form"
This form gets a lot of spam and that form field doesn't actually work. Donors automatically get added to the mailing list.

Making a ticket so it's logged.

[2017-11-21 16:21] #712 closed

[2017-11-21 17:10] little-wow commented on #706
Just pinging on this ticket @peterspdx to ask what's needed!

[2017-11-21 17:31] peterspdx commented on #706
I worked through this with Rob late last week. It's not fatal at present,
but stuff got moved around with website changes and the links and content
aren't as they should ideally be. Prioritizing other work, but I'll send a
note with instructions.

Diane M. Peters
General Counsel, Creative Commons
Portland, Oregon
http://creativecommons.org/staff#dianepeters
13:00-21:00 UTC

On Tue, Nov 21, 2017 at

[2017-11-21 17:32] elopio commented on #711
Yeah, I don't see it anymore :/ Maybe it's because I'm using firefox nightly. Thanks for checking anyway!

[2017-11-21 17:34] little-wow commented on #705
Tabling this and probably removing the code because the donate site is borking the whole site.

[2017-11-21 17:34] elopio commented on #710
You are the ones doing all the hard work :) Thanks!

[2017-11-21 18:11] robmyers commented on #705
The live site??? How so?

[2017-11-21 18:19] robmyers opened #713 "Add git to required_packages.txt"
We'll need it for non-pip parts of the install.

[2017-11-21 18:41] little-wow commented on #705
sorry, no, the staging site. Don't think we'll get to switching up the donate page before YE and I don't want to bork live with this.

[2017-11-21 18:58] robmyers commented on #705
OK phew. I will look at staging.

[2017-11-23 11:27] #695 closed

[2017-11-27 22:00] little-wow opened #715 "Update copy on donate page for cc aCCelerators"
Found in YE comms overview

[2017-11-27 22:01] little-wow commented on #715
@robmyers do you know if this will all be done by AB?

[2017-11-28 18:45] robmyers commented on #715
I do not. @robinpuga is this a thing? :-)

[2017-11-28 19:49] ericsteuer opened #717 "quotation marks around templated tweet language after donation"
hi, i used the "tweet this" button on the cc donation page after i made a monthly donation and the resulting tweet has quotation marks around it:
https://twitter.com/ericsteuer/status/935595928047648769

[2017-11-28 19:56] little-wow commented on #717
fixed

[2017-11-28 19:56] #717 closed

[2017-11-28 21:58] mzeinstra opened #718 "Decommission Scraper tool"
The scraper tool that was designed to add additional metadata to a deed page from a referrer page can / needs to be scrapped (phun intended).

CC has moved to HTTPS only, which breaks this tool.

This ticket was created as a follow up on a cc developers discussion on Slack.

[2017-11-29 16:05] paul2keller commented on #718
I have no idea how widespread the use of this functionality was, but I know of at least two uses in the wild. Europeana used this for all of its 20+ million PD marked objects, and I used it on a demonstration website: http://www.voyantes.net/test/pdm.html my guess is that this was not widely used but I think as a responsible steward of the licenses CC should communicate when it retires functionali

[2017-11-29 17:37] little-wow opened #719 "Mailchimp workflow for donor onboarding is now date based"
Holder ticket to mark that on 11/29/17 I switched Mailchimp workflow for donor onboarding to be date and time based instead of instead of input based to deal with some issues in the flow and ensure that all donors get the welcome.

No need to take action, just want to make sure that it's documented.

[2017-11-29 17:38] #719 closed

[2017-11-29 22:15] little-wow opened #720 "Possible errors in the Arabic Translation"
https://twitter.com/aGharbeia/status/935826733596663808

[2017-11-29 23:54] #720 closed

[2017-11-30 01:14] robmyers commented on #718
Thank you for this!

That sounds good. I can make sure there's nothing that needs altering in the deed rendering code as a result (particularly anything that would affect security...). I'll talk to comms to see what we need to do but it's probably just a blog post. We should also update any references in the technical documentation on the Wiki that isn't part of a standard.

And we should dream up

[2017-11-30 08:01] paul2keller commented on #718
thanks @robmyers for getting back on this. A blogpost noting this changes was really all I had in mind. in a perfect world scenario there would also be a change-log where CC documents all changes of the tools/licenses but I don't know if that is realistic (something like: http://rightsstatements.org/en/documentation/changelog.html)

[2017-11-30 15:06] peterspdx commented on #718
+1. I was just noting that CC can do a better job documenting these same types of changes, and explaining rationales for doing so. E.g., the changes to our website, when the framing of the deeds changed, etc. Blog posts would be good for the bigger decisions, but at least a change log as Paul suggests would be great (as opposed to using Github -- something more central and available to everyone, n

[2017-11-30 16:11] little-wow opened #721 "Take down ToS Banner"
According to @sarahpearson it can be taken down in prep for our YE Campaign.

[2017-11-30 17:57] robmyers commented on #721
Done! I have removed the html for it from the "Header Below" widget.

The code was
[code]

[2017-11-30 17:57] #721 closed

[2017-12-01 18:05] #715 closed

[2017-12-01 18:05] little-wow opened #722 "Create new email alias for YE"

[2017-12-04 18:44] mmoreshead opened #723 "new mailing list for GS2018"
Hey @robmyers - could you set up mailing list for the summit scholarship evaluation committee and I'll populate it as admin?  Thank you!

[2017-12-04 19:01] mmoreshead commented on #723
Thank you!

[2017-12-04 19:02] robmyers commented on #723
You're welcome!

Sign-up is set to require the applicant to respond to an email and then you to approve them. We've had spammers recently...

[2017-12-06 17:49] robmyers commented on #722
Did we decide how to approach this?

[2017-12-06 21:48] little-wow commented on #722
Let's just scrap it, thanks for checking

[2017-12-06 21:48] #722 closed

[2017-12-07 14:20] little-wow opened #724 "Bengali output in Canadian CC0 encoding"
https://twitter.com/barretrennie/status/938630150823952384

[2017-12-07 18:10] little-wow opened #725 "Honeypot gravity forms"
I'd like to do an "abandoned cart" type of email for folks who don't make it through the donate form, but there's a lot of spam in the Gravity Forms instance.

Is there any way to eliminate the amount of spam that comes through with a honeypot? Thanks!

[2017-12-07 18:50] robmyers commented on #725
We should definitely ask Affinity Bridge about this.

This would be a field in the form that says something like <field hidden=true id="name">Don't fill me in if you're not a machine , which the form checks for and ignores any submissions that have it filled out in?

[2017-12-07 19:05] little-wow commented on #725
I'm thinking of more of an invisible Return Path type service, which will check all the emails inputted into the form against a send: https://www.senderscore.org/ not sure how much that costs though?

[2017-12-07 19:07] robmyers commented on #724
Someone translated the wrong strings on Transifex. :-)

I've reverted those translations on Transifex and re-deployed everything.

This is now fixed.

Much gratitude to the reporter!

[2017-12-07 19:07] #724 closed

[2017-12-07 19:33] EleanorCCarter commented on #725
Hi there, folks.

Happy to discuss this in detail on the phone - for now, our team are advising against the above, given that its peak giving season & we want to ensure that we're not increasing any risks of form breakage.

Thanks,
Eleanor

[2017-12-11 13:43] mmoreshead commented on #723
The scholarship evaluation committee would like one too if you can @robmyers ?

[2017-12-11 13:47] KrungthongPhueanchaimi commented on #723
tuckcable
เมื่อ 11 ธ.ค. 2017 20:43 "Mari Moreshead" <notifications@github.com>
เขียนว่า:

[2017-12-11 20:16] mattl opened #726 "If you're asking for $5 a month, make $5 a month a default"
Currently I see

<img width="614" alt="screen shot 2017-12-11 at 3 14 58 pm" src="https://user-images.githubusercontent.com/33296/33851784-144dc9ae-de86-11e7-8412-90630b5ca1bc.png">

Making $5 an option to match the banner would be nice.

[2017-12-11 20:16] mattl commented on #726
@little-wow

[2017-12-11 20:18] robmyers commented on #726
Thank you for reporting this @mattl !

@rebeccalendl @little-wow what is the correct amount on each page?

[2017-12-11 20:19] mmoreshead commented on #723
forget it, i see from TW that this was already created!

[2017-12-11 20:19] #723 closed

[2017-12-11 20:19] little-wow commented on #726
<img width="1153" alt="screen shot 2017-12-11 at 3 19 01 pm" src="https://user-images.githubusercontent.com/7093838/33851942-a9e633fc-de86-11e7-99d5-af6755924c02.png">

Is what I see on /donate. What Matt's reporting I've seen on staging but never on prod!

[2017-12-11 20:23] fmann commented on #726
The values that @mattl showed are the Monthly values.

Agreed that it'd be a smoother user experience if there where buttons on the donation form that matched the values in the buttons on the banner/overlay, which would be $5 Monthly and $75 One-Time.

[2017-12-11 20:28] little-wow commented on #726
Got it. Should be fixed. Thanks for reporting @mattl

[2017-12-11 20:28] #726 closed

[2017-12-11 20:41] little-wow opened #727 "/license/ gives a redirect to a blog post from 2015"
/license/ should probably not be picked up by Wordpress and default to a blog post from 2015. Is it possible to change the redirect over to the licenses? I know the URL is technically /licenses/, but is it possible to redirect to the licenses in case of typos?

Here's the post it redirects to: https://creativecommons.org/2015/08/05/4-0-bahasa-indonesia-translation-and-a-book/

[2017-12-12 02:12] mmoreshead opened #728 "Mailing list not working"
The summit program committee list messages aren't being sent. @cablegreen sent one today and no one got it. Can you check to see if they're having issues again?

[2017-12-12 02:28] robmyers commented on #728
Eek! Reported to email provider.

[2017-12-12 02:52] KrungthongPhueanchaimi commented on #726
Krungthongphueanchaimi@gmail.com

เมื่อ 12 ธ.ค. 2017 3:29 "Jennie Rose Halperin" <notifications@github.com>
เขียนว่า

[2017-12-12 16:23] mmoreshead commented on #728
Cable's came through this morning but there's another outstanding that TW sent.

[2017-12-12 16:56] mmoreshead commented on #728
and Terry's just came through now.

[2017-12-13 06:40] KrungthongPhueanchaimi commented on #723
เมื่อ 11 ธ.ค. 2017 20:43 "Mari Moreshead" <notifications@github.com>
เขียนว่า

@robmyers ?

[2017-12-13 15:40] #728 closed

[2017-12-13 19:38] peterspdx commented on #706
Sorted this out.

This Page here: https://creativecommons.org/share-your-work/licensing-considerations/version4/

Wrongly contains the content for What's New in 4.0! (see the side bar under In this section).

The page where the content for What's New in 4.0! should live here: https://creativecommons.org/Version4, as it did when we first launched that page in 2013; however, it now redirects to the

[2017-12-14 07:27] Leahey33 opened #729 "NONE OF YOUR PODCASTS ARE WORKING ON APPLE APP :("
Howdy Guys,

As someone who is trying to dominate the startup world of Silicon Valley I regret to inform you that most all of the lectures from your "Building A Business" podcast do not play on itunes or the Podcast apple app :(

https://podcasts.ox.ac.uk/series/building-business

I even tried listening to them directly from the website but when I click on many it just gives me an error and says t

[2017-12-14 19:43] mmoreshead commented on #729
Hi there, CC did not create and does not run any part of the site you've linked.  You will have to contact them directly to get this message to the people who do own it.

[2017-12-14 19:43] #729 closed

[2017-12-14 19:44] #697 closed

[2017-12-14 20:42] Leahey33 commented on #729
Oh ok! I saw your "CC" logo on on their podcast episodes hence why I
thought you guys are the media distributor?

On Thu, Dec 14, 2017 at 11:43 AM, Mari Moreshead <notifications@github.com>
wrote:

[2017-12-19 12:50] paul2keller commented on #718
@peterspdx @robmyers any news on this. We are working on a review of the Europeana data exchange agreement where we need to remove the obligation on Europeana to display the metadata use guidelines. This will be controversial and so we really need a public announcement by CC that this functionality does not exist anymore. We need tot by 10 January at the latest.

[2017-12-19 13:51] peterspdx commented on #718
Rob and I have a legal-tech check in today. This will be a point we'll discuss, then we'll be back to you.

[2017-12-19 22:24] peterspdx commented on #718
Rob's going to discuss further internally and will be back before the end of the year.

[2017-12-20 18:27] reckart opened #730 "Plain text versions of the CC 4.0 licenses are gone"
Looks like the plain text versions of the CC 4.0 licenses are gone? All these links are dead: https://creativecommons.org/2014/01/07/plaintext-versions-of-creative-commons-4-0-licenses/

[2017-12-21 02:02] robmyers commented on #718
OK we are going to officially decommission this on 5th January 2018.

I will get a blog post out about this.

[2017-12-21 04:15] peterspdx commented on #718
@robmyers We discussed, but it occurs to me that it's possible this breaks CC's non standard deeds. Can you please confirm that decommissioning this tool won't affect the IGO 3.0 deed, which points out key differences between the IGO 3.0 licenses and the international 3.0 licenses and other ports at that version level?

[2017-12-21 23:55] robmyers commented on #730
They are back. This was indeed a problem with the server configuration.

Thank you again for reporting this!

[2017-12-21 23:55] #730 closed

[2017-12-21 23:59] robmyers commented on #54
I've updated the Python code to work under Python 2.7 and Python 3, ready to implement fixes for how we handle urls. As the code hadn't been touched for some years this was necessary work, and took longer than simply updating a few library versions.

[2017-12-22 00:26] robmyers commented on #718
Yes I can confirm that. The "Notices" section is part of the deed text and is unaffected by the Scraper, which just adds attribution information.

[2018-01-05 14:41] little-wow opened #731 "Plaintext in multiple languages on the licenses"
Permit plaintext in other languages beside English: https://twitter.com/matti_sg/status/949150404662648832

[2018-01-05 14:53] peterspdx commented on #731
I'm fine with this so long as the plain text versions are limited to official translations of 4.0. We could rollout the plain text version every time we launch a new translation. I'd want to give more thought to doing this for pre-4.0 versions of the license. @little-wow @robmyers What do you think?

[2018-01-05 14:56] little-wow opened #732 "French Deeds 2.5 and 3.0 are 404ing"
Via Slack: https://creativecommons.org/licenses/by-nc/2.5/legalcode.fr
apparently this is happening with 5 out of 6 French licenses

[2018-01-05 15:07] peterspdx commented on #732
@robmyers @georgehari

Assigning to George in addition to Rob. Between them, they can get this fixed.

[2018-01-05 17:54] robmyers commented on #731
We should be able to extract the text with Pandoc. Then we'd have to double check that it matches the html. And after that we'd need to update the web server config to find and serve the files properly. So doing this for 4.0 first would allow us to make sure that this all works.

[2018-01-05 22:02] ArgyroNe7 commented on #732
Hello,
this is actually happening with all of the 6 French 2.5 licenses
and 5 of the 6 French 3.0 licenses (the only one working is the 3.0 BY).